[2018-10-05 10:58] Mike-EEE commented on #210
Whew!  Git can be a pain sometimes.  There is no "move" tag... you have to delete and then re-add.  But if it already exists on the remote it's a whole other command.  Anyways, it should be deploying now. 🤞

As for .NET Standard, that is intact and this doesn't affect it.  This is for .NET Core applications (`.netcoreapp2.0`), so `ExtendedXmlSeralizer.Tests` and `ExtendedXmlSerializer.Samples`. :)

[2018-10-05 11:12] Mike-EEE commented on #210
Bummer... doesn't look like it succeeded. :(  I am afraid you will have to take care of this deployment, @wojtpl2.  Let me know if I can assist further towards this.

[2018-10-08 10:44] bpaczkowski opened #211 "Ignore default value"
Is this behavior configurable? When I explicitly set a property to null, but it has a default value, the serialized XML does not include that property, and when deserializing the XML that property is no longer null and now has the default value instead.

[2018-10-08 11:12] Mike-EEE commented on #211
Indeed it is @bpaczkowski.  Check it out:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/a22caeee46a6876120ece21aad51f6e9e821b5ed/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue211Tests.cs#L24-L30

Making use of the `EmitBehaviors` configuration.

Please let me know if you have any questions around this or anything else for that matter.  Questions like these are basically filling in

[2018-10-08 11:37] Mike-EEE commented on #189
As a note/FWIW, in the meantime until we have proper documentation, we have a tag that can be used to filter documentation-type issues here:

https://github.com/wojtpl2/ExtendedXmlSerializer/issues?q=is%3Aissue+label%3ADocumentation

[2018-10-08 11:40] Mike-EEE commented on #211
Yikes!  Yeah please let me know if you can get a simple repo and I can take a look into it. 👍

[2018-10-08 15:00] bpaczkowski commented on #211
Something isn't right, I found 2 separate exceptions connected to `EmitBehavior.Assigned` (they don't occur with the default behavior):

- When `.EnableReferences()` is used, even the simplest class throws an exception. I tried the one from the test above and it threw an exception.
- Serializing this class also throws an exception, but different to the one mentioned above, and it throws even witho

[2018-10-08 16:05] Mike-EEE commented on #211
Alrighty, thank you for reporting these, @bpaczkowski.  I believe I have addressed the issue.  This is one of those murky areas where we have overlap between extensions and expected behavior in the default components.  Essentially, the philosophy has been to relegate the decision-making to the `IMemberConfiguration` (per member) whether something can be emitted.  This works fine until you get into

[2018-10-08 18:05] bpaczkowski commented on #211
I can confirm that both issues I was experiencing are now fixed, thanks for doing it so quickly!

[2018-10-08 18:21] Mike-EEE commented on #211
Woohoo!  That's good to hear.  Hopefully you won't experience too much more friction. 🤞  But if you do let me know and I will look into it for you. :)

I am going to see if upping the version can get a deployment out to nuget.  It didn't seem to like the last one we tried, but that might have been due to the tag already existing.  Here goes nothing. 😆

[2018-10-08 19:02] Mike-EEE commented on #211
Bummer... it didn't take.  Hopefully, we can get it addressed soon.  I will update this thread when it is.

[2018-10-10 12:49] ferzisdis opened #212 "Database members"
Hi!
I want to serialize types that contain objects from a database.
Serializing the following line using IConverted<DatabaseObject>:
            public string Format(DatabaseObject instance)
            {
                return instance.IdTable + "@" + instance.Guid;
            }

In the process of deserialization, I want to perform a Sql-request to the database in order to get the DatabaseObject

[2018-10-11 12:22] ferzisdis commented on #212
Hey @Mike-EEE,
Thanks for answer, Your option is amazing!!!

I adapted to myself, implemented a more versatile way. For processing all DatabaseObject members.

I create Method "SetValue" in class "Serializer". But this is not a very beautiful decision.
How can I set a property to an object using standard methods of your library?
[code]

[2018-10-11 13:36] Mike-EEE commented on #212
Cool!  I am surprised any of this works, @ferzisdis. 😆  You do bring up a good point... if you want to have a general way to access/set members we already have components that do that.  I have exposed these as well.  Check it out:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/baf57e0d14dcd7f2035e3618cea26a3b8dbd5373/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue212Tests.cs#L57-L128

[2018-10-11 15:00] ferzisdis commented on #212
Thanks for help, @Mike-EEE :3 ,
This is work perfect!
I really liked the architecture of your project.

[2018-10-11 16:49] Mike-EEE commented on #212
Great!  Glad to hear, @ferzisdis.  And thank you for the kind words.  That's why I do this. 😇

[2018-10-12 09:32] bpaczkowski commented on #211
I found another issue. Not sure if it belongs in a new issue or not, you can decide that.

When a property of abstract type is null, and EmitBehavior is Always (or the default value is other than null and EmitBehavior is Assigned) there is an exception when serializing. Example classes:

[code]

May I also add that the exceptions ExtendedXmlSerializer generates are cryptic at best? Debugging these

[2018-10-12 10:42] Mike-EEE opened #213 "Exception While Serializing Abstract Member"
Per https://github.com/wojtpl2/ExtendedXmlSerializer/issues/211#issuecomment-429265482

[2018-10-12 10:42] Mike-EEE opened #214 "Enable Exception Handling for Members"
per https://github.com/wojtpl2/ExtendedXmlSerializer/issues/211#issuecomment-429265482

[2018-10-12 10:48] Mike-EEE commented on #211
For sure keep feeding these issues and comments, I very much appreciate you taking the time to not only try out our project but also taking the further step when something goes wrong to report it.  Not a lot of developers do that so I would like to give you some props for doing so. 🎖🎉

Also. feel free to report them as separate issues so we can track thread/history.  I will look into the abstract

[2018-10-12 11:02] Mike-EEE commented on #213
Alright @bpaczkowski this was a simple one, thanks again for reporting it.  You can try the latest from the preview feed and see how it treats you.

Preview feed is here: https://www.myget.org/F/wojtpl2/api/v3/index.json

Please also recall that you may have to delete your local ExtendedXmlSerializer nuget folder due to #184.

I will see if I can get together an extension for exception handling me

[2018-10-12 11:23] bpaczkowski opened #215 "Issue parsing collapsed XML tags"
Test class:
[code]

Passing XML:
[code]

Troublesome XML:
[code]

Deserializing the first XML works fine. When deserializing the second however, Foo has an unexpected value of "\n  " (it should be an empty string), and Baz is also null.

[2018-10-12 11:49] Mike-EEE commented on #214
AND FOR MY NEXT TRICK 😆

You _should_ see better exception messages now with the following configuration, @bpaczkowski:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/feaac62d3c1876907fdf543db424468511a483f2/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue214Tests.cs#L17-L28

Hopefully you don't run into any further exceptions, however. 😇🤞

[2018-10-12 11:51] Mike-EEE commented on #213
Great!  Happy to hear.  I will wait until we get our deployments fixed before closing this thread (@wojtpl2  is busy this week with Real Life 🤓).  Please feel free to update with any pertinent information as well in the meantime.

[2018-10-12 12:43] Mike-EEE commented on #215
Ew yeah... tricky one.  I am not very happy with the `XmlReader` as it is fraught with conditions and this will add another one.  It *should* be fixed now on the latest preview.  I am not sure if utf-16 is supported, however.  It was not working on my machine so the XML that is currently passing is utf-8.  Please let me know if this is a problem and I can take a further look into it.

[2018-10-15 08:16] bpaczkowski commented on #215
UTF-16 seems to be working for me. As to the issue, it also seems to be fixed, thanks.

[2018-10-15 09:07] bpaczkowski opened #216 "Exception when Deserializing Empty List When Emit(Behavior) is Set"
Example class:

[code]

Baz does not have a setter. When trying do deserialize a serialized XML an exception occurs.

Also, somewhat related, but would it be possible to add an option for the serializer to ignore all properties without a setter?

[2018-10-15 10:53] Mike-EEE commented on #216
Ahhh this might be a configuration issue then as we do support read-only collection properties.  Check it out:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/ba89f35c591846c5ad7037593ab91e52123c6a94/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue216Tests.cs#L11-L23

As for ignoring properties, what you describe is our default behavior. :)  Are you encountering a problem with this som

[2018-10-15 10:54] Mike-EEE commented on #215
Woohoo!  good to hear. 👍 I am not sure what's going on with my utf-16, but if it works for you, then I do not dare to be concerned. 😁

[2018-10-15 19:31] bpaczkowski commented on #216
Here's a failing test:

[code]

Both these tests pass when EmitBehavior config is commented out.

The fact that a list is used here is relevant. A simple string seems to be working fine.

[2018-10-15 20:11] Mike-EEE commented on #216
Ahhhh... got it.  It's when it's an *empty* list.  Yes I see it now.  Looking into this.

[2018-10-16 06:46] Mike-EEE commented on #216
ARLIGHT... that was a rough one.  But a fix has been applied and it is ready to check out in our preview feed if you are so inclined, @bpaczkowski.  🤓

[2018-10-16 06:53] wojtpl2 commented on #216
You can try to publish a new version on Nuget. It should work well now.

[2018-10-16 07:24] cm4ker opened #217 "Serialize condition."
Hi guys!

Has the ExtendedXmlSerializer this function?

For example. I have this structures:

[code]

and then I try to serialize the ```ParentClass``` I want the xml result like this:

[code]
The element with ```NeedSerialize = false``` skiped during serialization.

If this function are present how I can goal this?

Thank you!

[2018-10-16 09:01] Mike-EEE commented on #216
Woohoo! I will give it a go right now!

[2018-10-16 09:09] Mike-EEE commented on #217
You betcha.  Check it out, @cm4ker:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/9c1343d28839c14eb982d4b4b8ed72689afab4dd/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue217Tests.cs#L12-L20

This results in the following output:

[code]

Please let me know if you have any additional questions here and I will do my best to answer them for you. 👍

[2018-10-16 09:11] Mike-EEE commented on #216
Bummer @wojtpl2 it still looks broken:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Still on `2.1.6`. :(

[2018-10-16 11:29] cm4ker commented on #217
Wow... This is realy ExtendedXml :) Great work! Have you guys any complete docs and features? I will close this issue.

[2018-10-16 11:29] #217 closed

[2018-10-16 13:04] Mike-EEE commented on #217
Thanks @cm4ker 	:)

You can see list of features here:
https://extendedxmlserializer.readthedocs.io/en/latest/

And we are working on additional documentation here in our issues:
https://github.com/wojtpl2/ExtendedXmlSerializer/issues?q=is%3Aissue+label%3ADocumentation+sort%3Aupdated-desc

[2018-10-16 18:02] cm4ker opened #218 "Serialization behavior"
I'm starting integrate ExtendedXmlSerializer to my pet project instead of standard System.Xml. And I have some troubles. Can you suggest how to be in the next situation:

Look at the small repro
[code]

I have class look like ```SerializedObject``` (it has the read-only custom list with generic argument property that have not parameter less constructor), but the collection instantiate during Seria

[2018-10-16 18:21] Mike-EEE commented on #218
Are you able to make that `MyListImpl<T>._owner` a public property instead, @cm4ker?

If so, you can use my favorite feature of EXS, parameterized content (which follows [protobuf serialization rules found here](https://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html)):

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/1056de9fa1faf9a1c43e37b7375555a741babd05/test/Ext

[2018-10-17 03:36] cm4ker commented on #218
Hi there, @Mike-EEE! Yea can make it public but I don't need the parent in out xml. I just want this look in xml like this then I seralize:

[code]

And restore the state after deserialization;

[2018-10-17 04:11] Mike-EEE commented on #218
Ah, the `Cycle` extension method is found in our testing library to cycle the objects under test to ensure that they are serialized properly.  It doesn't make much sense to do that outside of testing. :)

I'm afraid I do not understand what you mean in regards to the serialization.  Are you saying the current serialization is not as expected?

Taking your initial request/example:

https://github.c

[2018-10-17 05:54] cm4ker commented on #218
Yea this is exact what I want. Thank you!

[2018-10-17 08:16] Mike-EEE commented on #218
Cool.  If you have any additional/further questions, please feel free to ask. :)

[2018-10-23 19:13] faizanarif121 opened #219 "how to add same xml code Automatically in xml tags in kotlin?"
I want to add following xml code in my xml file, TextView tags automatically, how can I do that?

**code that I want to add after opening tag is:**

`com.mycompany.projectname.`

**Tag in which I want to insert above code is:**

[code]

**My expected output is as follow**

[code]

[2018-10-24 04:45] Mike-EEE commented on #219
Hi @faizanarif121 thanks for writing in.  Are you saying that you already have an XML file and you want to add additional XML to it?  If this is the case, I would use XSLT.  ExtendedXmlSerializer is better suited for object graph serialization/deserialization.  Please let me know if you have further questions around this and/or if I have anything misunderstood here.

[2018-10-24 04:48] Mike-EEE opened #220 "Fix NuGet Deployments"
Any luck with this @wojtpl2, by chance? Getting this its own issue now as it seems to be a stickler. :)

NuGet is still stuck on `2.1.6`:
https://www.nuget.org/packages/ExtendedXmlSerializer/

[2018-10-24 07:09] wojtpl2 commented on #220
Ok I'm trying to do it now.

[2018-10-24 07:32] wojtpl2 commented on #220
I did it 😃
https://www.nuget.org/packages/ExtendedXmlSerializer/2.1.13

[2018-10-24 08:07] #220 closed

[2018-10-24 11:07] Mike-EEE commented on #220
Woohoo!  Now I can close out some issues. 😎

[2018-10-24 11:10] Mike-EEE commented on #216
This has (finally 😆) been deployed to the public nuget feed.  Please let us know if you have any additional questions/problems around this and we'll take a look into it.  Closing for now.

[2018-10-24 11:10] #216 closed

[2018-10-24 11:11] Mike-EEE commented on #215
This has been deployed to the public nuget feed.  Please give it a try and let us know of any problems that you find.  Closing this issue for now.

[2018-10-24 11:11] #215 closed

[2018-10-24 11:12] Mike-EEE commented on #213
This has been addressed with the latest push to the public nuget feed.  Please let us know of any further problems you encounter and we will check it out.  Closing for now.

[2018-10-24 11:12] #213 closed

[2018-10-24 11:12] Mike-EEE commented on #214
This is now in the latest build deployed to our nuget feed.  Closing for now.

[2018-10-24 11:12] #214 closed

[2018-10-24 11:15] Mike-EEE commented on #211
I believe all issues identified here have been resolved and deployed to the public nuget feed in `2.1.13`.  Please let us know if this is not the case and we can revisit this.  Thanks again for being so proactive and identifying #AllTheBroken, @bpaczkowski!

[2018-10-24 11:15] #211 closed

[2018-10-24 11:16] Mike-EEE commented on #212
Alrighty, the code used here has been deployed to our public nuget feed as `v2.1.13`.  Please let us know if you encounter any further issues and we will check it out.  Closing for now.

[2018-10-24 11:16] #212 closed

[2018-10-24 11:17] Mike-EEE commented on #210
Addressed deployed in `v2.1.13`.  Closing for now.

[2018-10-24 11:17] #210 closed

[2018-10-24 11:18] Mike-EEE commented on #209
This has been deployed as `v2.1.13` to our public nuget feed.  Please let us know if you continue to experience any additional issues around this or in general and we will check it out.  Closing for now.

[2018-10-24 11:28] Mike-EEE commented on #184
I am thinking we should get into the habit of updating the version _after_ we deploy, and that should fix this problem.

So for now, we should update the `dir.props` file to `2.1.14` but do not tag until we are ready to deploy to nuget.  That way we have 2.1.13 on our public feed, and 2.1.14 on our private feed.  The different versions should keep this caching issue from occuring.

What do you thi

[2018-10-24 11:53] wojtpl2 commented on #184
I don't mind.
But I wonder how do this problem is solved by other libraries like BenchmarkDotNet.

[2018-10-24 14:19] Mike-EEE commented on #184
Good question. :)

Here's BDN's preview feed:
https://ci.appveyor.com/nuget/benchmarkdotnet

Currently, the version there is `0.11.1.815` and was released yesterday.

The public version is `0.11.1`.  So, I am thinking _any_ version that is higher than the public feed version will do the trick.

Are you able to modify build numbers with appveyor?  Otherwise I think a simple increment will do.  We'd

[2018-10-25 16:31] cm4ker commented on #218
@Mike-EEE

[2018-10-25 18:59] Mike-EEE commented on #218
You got me here, @cm4ker. :) What do you mean by not instantiate?  The property is instantiated by the class, or however the class is defined, so that is outside of ExtendedXmlSerializer's scope.

Are you saying you want to ignore it altogether?  FWIW, ExtendedXmlSerializer's default behavior is to add items to a read only collection.  Please let me know what I have misunderstood here, and/or feel

[2018-10-26 03:15] cm4ker commented on #218
I'm  add the test for this. This is throw the exception for now. I not add any assertion.

This is a original stack trace what I have
[code]

[2018-10-26 03:17] cm4ker commented on #218
This is strange. Why it looks on the constructor during serialization? We are already have the constructed object.

[2018-10-26 06:51] Mike-EEE opened #222 "Provide Better Exception Message When Serializer is Not Found for Parameterized Content"
This issue is for the case when a serializer is not found when parameterized content is enabled on the configuration container.

For reference/context, these default rules were borrowed from [this article](https://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html) when I originally developed this feature.  For completeness, the rules are:

- Each member must not already be m

[2018-10-26 07:50] Mike-EEE opened #223 "Use a Milestone and Link Release Notes to It"
Let's try using milestones since they contain all the issues automatically.

[2018-10-26 08:05] Mike-EEE commented on #223
Yeahar... looks pretty good.  What do you think, @wojtpl2?

![](https://i.imgur.com/QRHKjEK.png)

Our `dir.props` now looks like this:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/2c78d9a59d9f55570ba52df2b65949b65acfbed9/dir.props#L2-L19

[2018-10-26 08:07] #162 closed

[2018-10-26 12:00] cm4ker commented on #218
Oh. Now I see. The property is a argument which will pass then we construct object during deserialization.

I can't understand the logic. For example then we serialize member which is read only (has only public ```get``` method, has not public ```set```) we know what: the object initialize it by himself (or if we make it the ```internal``` by another object I think this is the same as private in t

[2018-10-26 13:35] Mike-EEE commented on #218
Unfortunately, I am having a bit of trouble understanding what you are meaning, @cm4ker.  This scenario that you are after (if I understand what I _think_ I understand 😆) is possible.  You just need to rename `_owner` to `owner` and make it `public` like the test demonstrates.

Whatever `owner` is will be serialized as well (if it abides by the parameterized content rules, that is).

If you can de

[2018-10-29 01:48] faizanarif121 commented on #219
Thankyou very much @Mike-EEE , Problem has been solved.

[2018-10-29 01:48] #219 closed

[2018-10-29 08:06] Mike-EEE commented on #222
Closing this as this in the current preview.

[2018-10-29 08:06] #222 closed

[2018-11-02 10:33] #218 closed

[2018-11-02 14:04] ferzisdis commented on #189
Hi!
How will v3 differ from v2?

[2018-11-06 15:24] zvrba opened #224 "Schema support?"
One advantage of the built-in `XmlSerializer` is that we can use `xsd.exe` to generate an XML schema (which I use later to generate Java classes for interop between Java and C# worlds). Does ExtendedXmlSerializer support schema generation from the classes?

[2018-11-06 17:10] Mike-EEE commented on #224
Hi @zvrba thanks for writing in with your question.  ExtendedXmlSerializer is focused on CLR/.NET object graph serialization while attempting to preserve most of the classic XML functionality.  The conceptual paradigm with this is that the C# class definition serves as the schema, eliminating the need for an xsd file or other schema mechanism altogether.  This simplifies the overall design as well

[2018-11-06 17:39] zvrba commented on #224
I have full control over my C# classes, and my current workflow is: C# classes -> assembly/dll -> xsd.exe -> XSD schema -> xjc -> Java source -> Java classes. With the built-in XmlSerializer, this works like a charm and exchanging schematic data between C# and Java is truly easy. But I guess I got my answer: not supported.

Thanks for replying.

[2018-11-06 21:52] Mike-EEE commented on #224
Ah indeed @zvrba this is more geared towards C#/.NET for sure at the moment.  If I were to be interoperable with Java (or even Javascript 😁), I would use a service boundary and have the contracts be created/generated from there somehow.

This is good to think about perhaps heading into our v3 efforts but it is currently not supported in the workflow you expect.  Thank you for sharing it, however.

[2018-11-07 04:48] Mike-EEE commented on #224
Actually... I've thought about this some more @zvrba and your scenario should still work as before, unless I am missing something very obvious.  The `xsd.exe` uses attributes from the `System.Xml` namespace but it doesn't use the `XmlSerializer` to produce its artifacts.  That is, I believe the schema that is produced is via a `XmlDocument` not the `XmlSerializer`.

You should be able to still app

[2018-11-07 07:03] zvrba commented on #224
Hi,

Yes, that "somehow" being xsd.exe and xjc :) Do you have any other suggestions?

(Note that I *must* have data in XML as well because I put the documents into SQLServer XML columns and query/update them later through SQLServer's built-in support for XML processing. Plus, schemas can be attached to XML columns which allows the server to optimize the queries.)

You're right, it should work, but

[2018-11-07 08:10] Mike-EEE commented on #224
I am assuming you are dealing with two application boundaries.  You could place the master/source (.NET) boundary behind an ASP.NET Core Service and customize the formatting to send to the Java client:

https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-2.1#configuring-formatters

That is, you would return the objects that you need to consume in your Java-base

[2018-11-07 08:43] zvrba commented on #224
Ok, more context: both C# and Java applications are desktop applications --  C# "backend" and a Java UI; there are no web services in the picture. They communicate asynchronously and *bidirectionally* using AMQP broker embedded on the Java side. (Bidirectional, session-based flow is not trivial to achieve with web services.) Each component in the C# app has its own AMQP session so the UI knows fro

[2018-11-07 10:17] Mike-EEE commented on #224
OK I _think_ I am onboard with your scenario.  Thank you for taking the time to explain it.

No doubt.  Now that I have a better understanding, the intention with the ASP.NET Core API magic is simply to produce your Java proxy classes.  Everything else would remain the same with the exception of perhaps using ExtendedXmlSerializer to serialize your objects into XML.

However, there is a new proble

[2018-11-07 15:19] zvrba commented on #224
Ha, that's a good point. I guess I have to stick with XmlSerializer. Thanks for your comments.

[2018-11-07 18:47] Mike-EEE commented on #224
Yeah... bummer.  Fun to think about, though.  We've had a major disruption in this space, with WSDL/SOAP/WCF being the "standard" but then somehow got hijacked into the cluster we have today. 😅  I have yet to build anything to use any of the new API magic, but I do intend to do so soon try to see how it can work with different scenarios when possible.

Alright, closing this again.  Feel free to co

[2018-11-07 18:47] #224 closed

[2018-11-08 07:12] zvrba commented on #224
Actually, now I'm looking with fresh mind on your suggestion about using ASP.NET Core magic... I will _eventually_ need XSD for SQLServer. But you're right, I don't need to have XSD if I can generate Java proxies in another way! :)

Can you explain me how would I coerce ASP.NET Core / Swagger into generating Java proxies based on XML attributes in C# (`[XmlType]`, `[XmlRoot]` et cetera).

[2018-11-08 08:51] Mike-EEE commented on #224
That's the spirit! 😆

So the idea here is that you are really leveraging the "JSON" serialization model, which is more robust than XML's and *should* get you all of your properties as you have them modeled out in C#.

The bad news on my end is that I have not yet to do this.  The idea is that you would:

- Create an ASP.NET Core API Project that references your C# model.
- Launch/host this API.  T

[2018-11-08 10:17] zvrba commented on #224
Thanks for your comments!

The very first point is the stumbling block: will ASP.NET Core understand XML annotations when building its model? And I'm less than happy for having to use crappy JSON due to it having only three primitive types (string, number, null). XSD/XML is 100 times more expressive, which is why I'm using it in the first place. :) (I have DateTime fields as well as Guids that Xml

[2018-11-08 12:53] Mike-EEE commented on #224
Here's some actual code, pretty much what I was thinking of... you pretty much just have to hold your nose around the JSON and keep in mind the end goal of generating your proxy classes:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-help-pages-using-swagger?view=aspnetcore-2.1

[2018-11-08 17:06] zvrba commented on #224
Yes, that's what I use. `[XmlElement]`, `[XmlAttribute]` et.al. from `System.Xml.Serialization` namespace. The data model has grown rather big and it's already being persisted to the database, so it's a no-go to convert it into something else.

---

Originally, my plan was to use Microsoft Bond to describe the data model. (Bond also uses C# attributes to describe serialization.) However, convertin

[2018-11-09 03:52] Mike-EEE commented on #224
Bummer...  yeah this is a tricky problem.  I myself absolutely despise the disparity between naming conventions, e.g. `propertyName` vs. `PropertyName`.  So you will have all sorts of metadata around your classes to compensate, thereby polluting your classes, etc.

So for the v3 serializer, I am attempting to do something similar with HTML output.  You describe your UI elements in XAML-esque compo

[2018-11-09 08:36] zvrba commented on #224
I have dug more into XmlSerializer and found two workarounds for "difficult" types like dictionaries: `IXmlSerializable` and https://docs.microsoft.com/en-us/dotnet/api/system.xml.serialization.xmlschemaproviderattribute?view=netcore-2.1 The first allows to do serialization manually, while the other allows to define the schema of custom serialization that `xsd.exe` will use for generating schemas.

[2018-11-23 13:56] MagicAndre1981 opened #225 "Enable SourceLink for easier debugging"
### Expected  behavior

Press F11 to step into code and debug the code

### Actual behavior

because no PDBs + source info are found, debugger steps over

### Solution:

[enable SourceLink](https://github.com/dotnet/sourcelink#using-sourcelink) + [pack PDBs inside the NuGet package](https://github.com/aspnet/Universe/issues/131#issuecomment-363269268) to [fetch the source from github](https://gith

[2018-11-25 04:35] Mike-EEE commented on #225
Boh!  Sorry about that, @wojtpl2 I think I stepped on your toes there since this is technically deployment-based stuff.  Yes, of course.  Please feel free to use whatever you like and to fix any changes I made. :)

[2018-11-26 07:18] MagicAndre1981 commented on #225
it works fine so far. I can easily step through the code of the lib during debugging 😍👍

[2018-11-26 08:45] wojtpl2 commented on #225
@Mike-EEE You did a great job and you can do with this repo whatever you want. I trust you ;)

I wrote that Nuget Symbol Server is a new technology but I don't know yet any props and cons yet.
https://blog.nuget.org/20181116/Improved-debugging-experience-with-the-NuGet-org-symbol-server-and-snupkg.html

[2018-11-26 08:46] wojtpl2 commented on #225
I think we can close this issue right now. 👍

[2018-11-26 08:46] #225 closed

[2018-11-26 08:46] wojtpl2 commented on #225
@MagicAndre1981 Thanks for help.

[2018-12-06 18:03] bpaczkowski opened #226 "Strategy for namespace migration"
Has anyone tried doing that? I have one migration behind me, and the way I did it was basically copy an old version of the library that contains the serialized objects, deserialize the XMLs, map them to the new version and serialize them back, but writing such a migrator is cumbersome and I have another migration ahead of me. Is there a better solution in ExtendedXmlSerializer for this?

[2018-12-07 07:56] Mike-EEE commented on #226
Ah that's a good one, @bpaczkowski ... I myself am not too familiar with the migration story, as it is more of a v1 feature.  We did port it to v2, but mostly for legacy reasons.  I believe the feeling was that we would flesh it out proper for v2 at some point, but you know how that goes. 😅

To make sure I understand the question, you're wanting to migrate an entire namespace, correct?

[2018-12-07 08:47] bpaczkowski commented on #226
Yes that is correct. The easiest way would be search and replace on the XML string itself, but that only works if a prefix on a namespace changes and the structure in the namespace itself doesn't, which isn't always the case.

[2018-12-11 22:20] bpaczkowski opened #227 "Exception on EnableReferences extension only when debugging"
I don't know how to exactly reproduce it as it happens in specific circumstances. But when those are met, the exception always happens, eg. some of our tests always fail when debugging.

XmlSerializer is defined as follows:
[code]

Full stacktrace:
[code]

Where the exception happens exactly:
![rider64_mvphh4donp](https://user-images.githubusercontent.com/1371800/49833879-2a864180-fd9b-11e8-86be-e

[2018-12-12 07:33] Mike-EEE commented on #227
Ah... I'm thinking threading issue, perhaps?  Are other tests running concurrently when you get this exception?  Sounds like you are debugging a single test.  Perhaps there might be another test (or functionality/context) that might be inadvertently running alongside for the ride.

That has been my experience, at least.  Might be worth putting a lock around it (in another initialization method) to

[2018-12-12 13:04] caetanopaulo opened #228 "More detail in case of a FormatException: Input string was not in a correct format"
Hi!

First of all great job with the lib.

Got a question regarding the exception we get when we try to parse with wrong type of argument:
We are seeing that the library will throw a 'FormatException: Input string was not in a correct format' with no information regarding which xml field is causing this problem. This is an issue with really long XMLs, let's say we are trying to parse an extensive

[2018-12-12 14:05] Mike-EEE commented on #227
Ah, OK... so maybe I am misunderstanding here.  Are you saying that it happens consistently or it happens periodically?  If you are able to make it happen consistently then that would be most helpful.

As far as threading, I got wrapped around.  It's actually _re-entry_ on a static field/property that leads to null exceptions which does not appear to be the case here, so please disregard.

It does

[2018-12-12 14:08] Mike-EEE commented on #228
Hey thanks for the kind words and for wriitng in, @caetanopaulo.  I believe we have what you are looking for here:

https://github.com/wojtpl2/ExtendedXmlSerializer/issues/214

Sample code is provided there, but the magic is using `ConfigurationContainer().EnableMemberExceptionHandling()`.  Please let me know how that treats you and if you have any other questions/issues that arise from this. 👍

[2018-12-12 14:09] Mike-EEE commented on #223
This is now deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

There are extra whitespace characters, but those have been attended to and should reflect in the next deployment.  Closing for now.

[2018-12-12 14:09] #223 closed

[2018-12-12 14:19] caetanopaulo commented on #228
That worked!
Thanks for the quick reply.
:)

[2018-12-12 14:19] #228 closed

[2018-12-12 16:39] bpaczkowski commented on #227
I'm not so sure anymore if this is actually a bug. When continuing after the exception the serializer works fine, so that exception must be caught somewhere. I'm only seeing it on my setup because I have "catch all exceptions" enabled in my IDE.

Here's a simple test case that causes this exception (if you have "catch all exceptions" enabled):
[code]
I tested older versions of the serializer and i

[2018-12-17 13:08] janvdpol opened #229 "Support XmlElementAttribute for usage within implicit list/array/etc."
Really like your ExtendedXmlSerializer library. It's doing great. I'm having one problem though. I found a difference in behavior with respect to the standard xmlSerializer. Problem is within usage of the XmlElement attribute. I try to use it for implicitly deserializing multiple objects into a list or array. I can't get it to work though

Attached you will find my unit test for it:

[XmlElementAt

[2018-12-20 22:55] aredshaw commented on #189
Is this a web API we are talking about? If so, I might be able to help.
Can you give me the following?
* The base path
* Endpoints
* All possible methods and parameters
* An API Key (If required)

[2018-12-21 12:40] bpaczkowski commented on #227
Seems ok, the exception is not thrown anymore for me.

[2018-12-28 08:17] Mike-EEE commented on #189
Hey @aredshaw thanks for the question and apologies for taking so long to answer it!  I am just now getting back from all the holiday cheer. 😁

So in this case, I believe the ask is to improve or even implement documentation around the public-facing API for the `ConfigurationContainer` and associated components.  I believe this would involve doing XML documentation (which I am not a fan of, hence

[2019-01-10 16:33] delfuria opened #230 "Deserialize into an existing object: feature request ?"
Hi, is it possibile to Deserialize into an existing object ??
What i mean is something like this:
I have a class like this
`    public class Person
    {
        public string LastName { get; set; }
        public string Department { get; set; }
    }`

and an existing object created in this way:
`var person = new Person() {LastName = "Delfo"};`

I would like to read an XML file with this content

[2019-01-11 05:52] Mike-EEE commented on #230
Hey thanks for writing in, @delfuria, and thanks for the suggestion.  I think this may be doable.  We could do something like:

[code]

Then the type is inferred from the passed-in instance.

I am currently rebuilding my development environment (long story, ugh), but should be able to do this some time next week.  Will update here when I have something to review. 👍

[2019-01-13 18:25] SuperJMN opened #231 "Implicit typing fails to serialize"
Hello!

I've created a very basic set of classes that I want to serialize.

**Problem:**
Upon calling to `Serialize`, it throws an `ArgumentException` with the following message

`The empty string '' is not a valid name.`

I'm attaching a project with a test method that reproduces the issue. I hope you
[TestEXS.zip](https://github.com/wojtpl2/ExtendedXmlSerializer/files/2753345/TestEXS.zip)

Is it

[2019-01-14 19:17] Mike-EEE commented on #231
Hey @SuperJMN!  Thanks for checking in with this.  Unfortunately, I am outside of a working environment ATM (setting up a new one) so will not be able to look into this for you for the next day or so.  I'm sort of working out of a briefcase right now and it sucks. :P   Anyways, I will let you know what I find when I can. 👍

[2019-01-18 08:07] SuperJMN commented on #231
Thanks Mike! I'm glad to spot some bugs to make EXS even better! Have you already reproduced the issue?

[2019-01-18 11:00] Mike-EEE commented on #231
Ah no I suck, sorry about this @SuperJMN.  I am so embarrassed to admit how much time I've spent on this, not to mention that I have several other projects/issues that I am juggling right now.  I have circled a "home base" contingency plan, however, and for sure will have myself back online over the weekend.

Can you put this on a repo somewhere, by chance?  I can eyeball it from here out of a tab

[2019-01-20 06:40] Mike-EEE commented on #231
OK!  The problem here is that a different kind of `XmlWriter` than what is used in the default framework is used here.

By default, EXS makes use of the `XmlWriter.Create` which has a default implementation that allows `null` to be passed into its `LookupPrefix` method.

`XmlTextWriter`, however, does a guard check on this and throws.

I have provided a way to override the implementation used to l

[2019-01-20 06:41] Mike-EEE commented on #230
FWIW my little adventures took way longer than expected.  I am back online now and should be able to get something for you to look at in the next day or so.

[2019-01-20 10:48] Mike-EEE commented on #230
OK @delfuria check this out when you have the chance.  I've introduced an `AllowExistingInstances` on the `ConfigurationContainer`:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/77fa8ace650cffb159292c6c875996e743a06ef4/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue230Tests.cs#L15-L29

You will need the package from our preview feed to use it:
https://www.myget.org/F/wojtpl2/api/v3/

[2019-01-30 16:35] TheColonel2688 opened #232 "Deserializer Can't find a Class Program-ClassA (Should be Program.ClassA)"
Running the below code results in the following error "ExtendedXmlSerializer.Core.Sprache.ParseException: 'An attempt was made to parse the identity 'clr-namespace:;assembly=StackTypeSerialization:Program-ClassA', but no type could be located with that name.'". using release 2.1.15 targeting .Net Core 2.1

[code]

![ctrls-sb-ben 2019-0130 11-35-05](https://user-images.githubusercontent.com/8753759

[2019-01-30 17:32] TheColonel2688 opened #233 "Deserialize<T> does not exist?"
In the readme, there is an example youing a  Deserialize<T>(reader) method. But this does not seem to exist.

![ctrls-sb-ben 2019-0130 12-28-00](https://user-images.githubusercontent.com/8753759/52000423-10a7d780-248b-11e9-9cb5-75082de89514.png)

[2019-01-30 19:36] wojtpl2 commented on #233
You have missing namespace.

śr., 30 sty 2019, 18:32: TheColonel2688 <notifications@github.com>
napisał(a):

[2019-01-30 19:51] TheColonel2688 commented on #233
Deserialize() exist, which namespace it deserializer<T>() in?

I have tried all of the ones in the nuget package
using ExtendedXmlSerializer.Configuration;
using ExtendedXmlSerializer.Core;
using ExtendedXmlSerializer.ReflectionModel;
using ExtendedXmlSerializer.ExtensionModel;
using ExtendedXmlSerializer.ContentModel;
using ExtendedXmlSerializer;

[2019-01-31 02:18] Mike-EEE commented on #233
Hey @TheColonel2688 thanks for reporting this.  Do you know where in the readme you found this?  The `Deserialize<T>` is the extension method but I do not believe we have one that accepts a `reader` object.  The method that accepts the `reader` object is the non-generic method.  If you can point out where in the readme where this is wrong I will check it out and address it for you. 👍

[2019-01-31 13:24] TheColonel2688 commented on #233
Under the "XML Settings" section.
I now understand what is going on now. An extension method is being used to write to a string instead of a XmlWriter and then the string is being used to deserialize instead of a XmlReader.

You may what to change the line
`var contents = serializer.Serialize(new XmlWriterSettings {Indent = true}, subject);`
to
`string contents = serializer.Serialize(new XmlWriter

[2019-01-31 16:32] Mike-EEE commented on #232
Ah ok, I have some Real Life priorities of my own through today and tomorrow that might interfere here.  I will do my best to assist, regardless. :)

Are you getting the same error if you make the classes non-nested?  My fear here is that the issue has to do with a weird inheritance chain bug.  If the classes work outside of a container class, that might point to another issue altogether.

[2019-01-31 16:38] Mike-EEE opened #235 "Under the "XML Settings" section."
Also do a review with readme/documentation code to ensure var is not used in favor of explicit typing instead (explict types are better used/understood in documentation contexts).

---

Under the "XML Settings" section.

You may what to change the line
`var contents = serializer.Serialize(new XmlWriterSettings {Indent = true}, subject);`
to
`string contents = serializer.Serialize(new XmlWriterSett

[2019-01-31 16:42] Mike-EEE commented on #233
Good point @TheColonel2688 ... I've created a new issue in #235 to track. 👍

[2019-02-01 16:57] TheColonel2688 commented on #232
@Mike-EEE

I was not 100% what you meant, but I tried the following. It is just creating a blank file, The first code sample seemed to correctly create the file it just wouldn't deserialize it.

[code]

[2019-02-01 17:07] TheColonel2688 commented on #232
So then I tried this.

This time I got an error messages that it could not find ClassB

[code]

[2019-02-01 17:07] TheColonel2688 commented on #232
```        InterfaceA InterfaceConcreteTypeB = new ClassB() { TestConcretePropertyB = "BlahB", TestInterfaceProperty = "Interface Blah" };        var serializer = new ConfigurationContainer().Create();        XmlWriterSettings settings = new XmlWriterSettings        {            Indent = true,            IndentChars = "\t"        };                using (XmlWriter writer = XmlWriter.Create("Test.x

[2019-02-01 19:14] Mike-EEE commented on #232
Ahh... sorry for the confusion here @TheColonel2688.  What I meant by "container class" was `Progam`.  That is, you have all the classes listed as nested classes under the container class of `Program`.  My suggestion/thought was that there was something funky going on there.

However, that does not appear to be the case here.

I _finally_ got some time to look at this, and was able to check in a b

[2019-02-01 19:23] Mike-EEE commented on #232
Welp, the mystery deepens, @TheColonel2688 	... I was able to copy/paste the code that you provided into a new .NET Core 2.1 csproj, and landed on the casting exception that we discussed:

![](https://i.imgur.com/WKXfeNN.png)

This is my csproj, FWIW:

[code]

[2019-02-01 19:40] TheColonel2688 commented on #232
I just tried this using the extension method that serializes to a string. I got the same result. (Note I have moved my tests classes out of the Program class in this example.

[code]

[2019-02-01 19:40] TheColonel2688 commented on #232
My .csproj is the same
[code]

[2019-02-04 12:52] TheColonel2688 commented on #232
So I tried the same thing with .net 4.5. Same result.

Then I tried moving all of the classes to their own file. GUESS WHAT???!!!???! it worked....... this does not make ANY SENSE. whould should not matter what file they are in.

Then I thought, wait a minute there is no enclosing namespace {} in the main program.cs file.... So I added one and it worked........

![qwbz74a](https://user-images.gith

[2019-02-04 13:52] Mike-EEE commented on #232
OMG that is hysterical!  So happy THAT was the problem!  I'll take those all day. 😂

Although, I probably shouldn't get too excited just yet.  Can you verify that everything works as expected now when you use the settings and also with the `XmlWriter.Create`/`XmlReader.Create`?

[2019-02-04 15:15] TheColonel2688 commented on #232
Yep it all works now even with the reader and writer.

[2019-02-04 15:21] Mike-EEE commented on #232
Woohoo!  That makes me very happy as `XmlWriter` and `XmlReader` are not very good friends of mine. 😅  That was going to suck if I had to stick my hands in there again.

What a weird error though... it must have been resorting to or loading a previous compile, and/or secretly failing without telling you.

I am not going to worry about it, though. :P  Please let us know if you find any additional p

[2019-02-04 15:21] #232 closed

[2019-02-04 18:22] TheColonel2688 commented on #232
for posterity, this is complete working code

I am not sure what you mean by "secretly failing without telling me", it was definitely throwing an error on deserialize.

[code]

[2019-02-04 18:57] SOHODeveloper opened #236 "Question about not using ConfigurationContainer"
I have just started working on a project that has ExtendedXmlSerializer included. The file version of the .dll is 1.5.0.0 and it has a date of 08/17/2017 (could have been copied with date changing methods).

The serialization code is simply (no references to ConfigurationContainer anywhere in the project)
`
           ExtendedXmlSerializer serializer = new ExtendedXmlSerializer();
            Stri

[2019-02-04 19:37] Mike-EEE commented on #236
Hey there, thanks for checking in here.  The version you have is indeed "1.x" (1.5 obviously), which was the version available before the current version, "2.x" (or 2.1 to be more precise).

The primary features of 1.x were carried over to 2.x, via the new extension model that we created.

If you are looking at the built-in, traditional .NET serialization, the primary scenario and use case that yo

[2019-02-04 20:16] SOHODeveloper commented on #236
What I am trying to understand, is did the ConfigurationContainer exist in 1.5 and if so, since we are not using it, what 'extras' do we get from ExtendedXmlSerializer.  If it did not exist, there must have been some similar 'thing' to enable/disable serialization features.  We are only doing serialization, no deserialization.  At this point, we do not have the time or inclination to do an upgrade

[2019-02-07 07:39] kawec0 opened #237 "Exception on serializing for an array with a null value."
Hello,

I have a problem with serialization null array. This is connected with Emit(EmitBehaviors.Always).
Below I attached a snippet of code with tests and exception.

    [TestClass]
	public class Test
	{
		private class Foo
		{
			public int[] Array { get; } = null;
		}

		private static readonly IExtendedXmlSerializer _Serializer = new ConfigurationContainer()
			.Emit(EmitBehaviors.Always)

[2019-02-07 11:06] Mike-EEE commented on #237
Boh... looks like you found an edge case, @kawec0 ... I know that we have accounted for nulls in arrays, but not the case for all possible emit behaviors.

Unfortunately, I am tied up today, but should be able to attend to this tomorrow (and if not, over the weekend definitely). 👍

[2019-02-08 07:48] Mike-EEE commented on #237
Alright @kawec0 I have checked in a fix.  Please try the latest from our preview feed and see how it treats you:

https://www.myget.org/F/wojtpl2/api/v3/index.json

If it works for you we will then push it out to main.

[2019-02-08 12:07] kawec0 commented on #237
@Mike-EEE
I've checked your solution. It works for me - serializing and deserializing is correct. Thank you!

[2019-02-08 12:58] Mike-EEE commented on #237
Great!  I will work towards getting a deployment to NuGet either sometime today or tomorrow and let you know here when it is available. 👍

[2019-02-09 16:48] Mike-EEE opened #238 "Replace ITypeConfiguration<T>.Member with ITypeConfiguration<T>.MemberBy (Extension Method)"
As per discussion with #234, we should remove the `Member` extension method as it returns an `ITypeConfiguration` rather than a `IMemberConfiguration`, making it rather useless and it's probably why it is not used anywhere in the code.

Nonetheless, it is a public API method and should be handled appropriately.  We will `[Obsolete]` `Member` and point users to `MemberBy` which returns `IMemberConf

[2019-02-09 17:14] Mike-EEE commented on #237
FWIW we have a API change (in #238) that we will also include in this release and want to give it a few days so others can provide feedback.  We'll aim for a Tuesday release due to this.

[2019-02-11 11:31] SuricateCan commented on #238
This looks good. You have my support. :)

[2019-02-12 18:08] Mike-EEE commented on #238
Great!  Thank you for your input and approval.  I should be able to get to this by EOD today or early tomorrow.  I will update this thread upon deployment.

[2019-02-13 06:30] Mike-EEE commented on #237
This has been deployed to `2.1.16`:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Thank you for reporting this!  Closing for now.

[2019-02-13 06:31] Mike-EEE commented on #238
This has been deployed to `2.1.16`:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Thanks again for your interest and participation, @SuricateCan!

[2019-02-13 06:31] #238 closed

[2019-02-13 06:32] #231 closed

[2019-02-13 07:02] Mike-EEE commented on #235
All variables in the sample project have been switched to explicit types and formatted accordingly.

[2019-02-13 07:02] #235 closed

[2019-02-13 09:35] SuricateCan commented on #238
NP

[2019-02-26 20:53] gabrielfetz opened #239 "Default/Null properties values on deserialization"
Hi!
First of all, thank you for this library! It helped me a lot to clean my POCO classes and solved my problem with namespaces!

I have this xml file as an example:
[code]

And these POCO classes also:

[code]

[code]

[code]
In this example, the problem happens when I deserialize a xml file and the final object contains a collection property, as seen in the class "FirstClass". The created object

[2019-02-27 04:42] Mike-EEE opened #240 "Default Content for Lists and Implicit Collection-based Child Element Support via XmlElementAttribute"
This has popped up now several times with #229 and #239 and is becoming a bit of a headache as it is not an easy fix.  Essentially, we differ from the classic serializer when the `XmlElement` is applied to a property.  The problem is that we do not have any easy way of establishing a property context when an unexpected property name is encountered.

Well, actually, the real problem is that I have

[2019-02-27 04:49] Mike-EEE commented on #239
Hey @gabrielfetz thanks for writing in.  You are indeed running into a known issue for our v2 serializer here and one that I have officially captured in #240.

Essentially we do differ from the classic serializer currently in this regard.  If you want to succsessfully deserialize the above, you will need to provide an explicit property there as shown here:

https://github.com/wojtpl2/ExtendedXmlSe

[2019-02-27 11:22] gabrielfetz commented on #239
Hi Mike!
I changed the structure of my xml file as you suggested and it worked like a charm!
For now, I'll try to adapt it at runtime and you can close this issue if you want.
Thanks for your help and best regards!

[2019-02-27 11:35] Mike-EEE commented on #239
Cool!  Glad it can get you unblocked.  I believe there have been a few times where the incoming XML is outside of the control of the user so it left them having to use the classic serializer.

It's a tough problem and I am still not sure of a good way of tackling it as we still need to be able to serialize an entire subgraph while making it work for the currently deserialized context.

In any case

[2019-02-27 11:35] #239 closed

[2019-02-28 12:06] gabrielfetz opened #241 "NullReferenceException on deserializing inherited classes"
Hello!
There's a specific situation in our project where we use inheritance to deal with different versions of layouts from the received xml files. We create new classes in a different namespace that inherits from the "old version" classes, then we do the properly modifications on them to support the newer layouts of the xml file. I'm getting a NullReferenceException when deserializing these class

[2019-02-28 13:12] Mike-EEE commented on #241
Oh man... yeah you found a bug @gabrielfetz NICE WORK. 😅  FWIW it doesn't appear to be due to implicit typing but something with how the lists are resolved with inheritance.

I am looking into this now.

[2019-02-28 13:51] gabrielfetz commented on #241
Hi mike!
Thanks again for your fast response!
Actually, i made a terrible mistake. 😒
I totally forgot to change some references on the new classes! Now i fixed that and looks like it's working. I'll make some more tests, commit the changes on Github and keep you informed as well.

[2019-02-28 14:01] Mike-EEE commented on #241
Ah, good!  There is still a very big bug here and the reason why we haven't seen it until now is because of how we do unit tests.

We of course isolate unit tests and subject classes within the test classes.  What that does is create root elements such as `<Issue241Tests-ClassName />`.

However, the problem is that if the property name (`DmDev`) is the same name as the class name (`DmDev`), then t

[2019-02-28 15:26] Mike-EEE commented on #241
Ewwww... yeah, that was a really bad one.  Basically, we have to check if the member name is the same as its collection type name (if it is a collection type) and then emit a special attribute for it.  Not ideal at all but there is little choice here, as this is only for a special condition.

While it doesn't really impact emitting/writing much, it does hit us with the reading (deserialization) as

[2019-02-28 17:24] gabrielfetz commented on #241
Thanks for all your effort on this issue!
I said before that I made it work by fixing my reference mistake in "NewVersion.EvtDeslig", but I also deleted two classes: "NewVersion.DmDev" and "NewVersion,VerbasResc". Turns out that what made it work wasn't the reference fix, but the exclusion of "NewVersion.DmDev" class. When I created it again to execute more tests, the problem came back too.

I upd

[2019-02-28 17:39] Mike-EEE commented on #241
Ah!  Yes I forgot to mention that.  You will need to update your data files to make use of this new attribute.  I got the PoCXML working with the following XML:

[code]

Hopefully it works for you. 🤞

Also make note of the `exs:type` attributes as well.  One thing you can try doing is create a temp model of what you expect and call `Serialize` on that to get the generated XML from EXS, and then co

[2019-02-28 17:54] gabrielfetz commented on #241
Hey Mike!
It worked really fine now! Thank you for your time and help!!
Best regards!

[2019-03-05 13:09] ddrdoubled opened #242 "XmlTextAttribute not supported"
Hi there,

is the XmlTextAttribute currenty not supported? Or is there any other kind of possibility to serialize Element Property into Text?

like:
public class IdentifiedDate {
[XmlAttribute(DataType = "ID")]
public string id {get; set;}
[XmlText(DataType = "date")]
public DateTime Value {get; set;}
}

which should serialize for a property of IdentifiedDate like:
<unadjustedDate id="Value Date">

[2019-03-05 15:19] Mike-EEE commented on #242
hey @ddrdoubled thanks for writing in here with your question.

We do support `XmlTextAttribute` but it is very brittle.  I should say that ExtendedXmlSerializer v2 was made with POCO serialization in mind from the outset, with an eye on legacy/classic serialization, but not a focus.

If you are simply interested in serializing a date property without the time, you can use a custom converter and s

[2019-03-12 18:17] Mike-EEE commented on #241
Derp!  I *totally* forgot about this.  Deploying `2.1.17` now!

[2019-03-12 18:35] Mike-EEE commented on #241
Woohoo... it works, @wojtpl2:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Alright @gabrielfetz you should be good to go now if you get from the public nuget.  Sorry for the delay!  Please let us know if you have any further issues.  Closing for now.

[2019-03-12 18:35] #241 closed

[2019-03-12 18:37] Mike-EEE commented on #242
We have not heard anything further so we will close this issue for now.  Please feel free to ask any additional questions you might have and we will be happy to re-open and discuss further.  Thanks again for writing in!

[2019-03-12 18:38] Mike-EEE commented on #236
Paging @wojtpl2  :)

[2019-03-13 07:04] ddrdoubled commented on #242
Hi Mike, sorry i don't get it, the XmlTextAttribute has nothing to do with DateTime, it means that the property of a parent object is serialized as a string attribute for the parent object,
see for example:
https://stackoverflow.com/questions/6168961/how-to-deserialize-an-xml-node-with-a-value-and-an-attribute-using-asp-net-seria

[2019-03-13 08:50] Mike-EEE commented on #242
Ahh correct, @ddrdoubled ... what I was focused on was the `DataType = "date"` which as you denoted in your original post (surprisingly)  emits a different date-time format than the default formatting.  My impression was that you were looking for a way to format the date in a particular way, so that appears to be wrong.

If what you are asking is if we support the `XmlTextAttribute` as utilized in

[2019-03-13 12:10] wojtpl2 commented on #236
@SOHODeveloper `ConfigurationContainer` didn't exist in 1.5 version. But you don't have to configure anything to have extra features. E.g. ExtendedXmlSerializer can serialize Dictionary, properties which are an interface type.
You should try to use standard XmlSerializer. If XmlSerializer can serialize and deserialize your model then you do not need ExtendedXmlSerizlizer.

[2019-03-18 13:34] wojtpl2 commented on #236
@SOHODeveloper Hi I'm going to close this issue right now. If you have more questions or if my answer is not enough for you, please let me know. Please feel free to re-open this issue or create a new one.

[2019-03-18 13:34] #236 closed

[2019-04-17 08:19] martin211 opened #243 "Deserialize collection of elements"
Hi,

I want to deserialze a collection. My XML structure
[code]
My class structure
[code]

I've tried different configuration, but it's not working.
`
var serializer = new ConfigurationContainer()
    .EnableImplicitTyping(typeof(MediaContainer), typeof(List<MediaItem>), typeof(MediaItem))
    .Type<List<MediaItem>>()
    .Create();
`
 I got exception:
[code]
How I can configure container to deser

[2019-04-17 10:22] wojtpl2 commented on #243
@Mike-EEE You are really fast! I'm impressed.

[2019-04-17 10:28] Mike-EEE commented on #243
Hehe thanks... good timing. :D I got back from working out to see the question and was able to do it quickly.

Supporting this project is definitely a priority. I don't want to leave you in a lurch with the mountain of code I left in your repo. 😆

[2019-04-17 19:23] martin211 commented on #243
@Mike-EEE Unfortunately your example did not help me. I cannot change the structure of source xml. I gets it from Api. It seems like you library required that all collection items should be wrapped by some root node.

[2019-04-17 19:32] Mike-EEE commented on #243
Ah, that's too bad @martin211.   You have hit the Achilles heel of v2 as captured and described in #240.  FWIW, EXSv2's intent was to be a POCO serializer first and foremost while being able to retain as much legacy/classic functionality as possible along the way.  Unfortunately, this one issue has been a stickler and would take a bit of work to address, most likely introducing a breaking change.

[2019-04-17 19:35] martin211 commented on #243
@Mike-EEE Hmm... XSLT... you just gave me a good idea!!!

[2019-04-17 19:40] Mike-EEE commented on #243
Cool. :)  XSLT is one of the very many reasons why I prefer XML over JSON, and it is meant for scenarios exactly as this where data doesn't quite match up as desired between application boundaries.

Unfortunately, it is well underutilized and misunderstood, so we get things like JSON created instead. 😁

Please let me know if you run into any issues and/or need any further assistance in your pursui

[2019-05-13 12:55] bpaczkowski opened #244 "ExcludeFromCodeCoverageAttribute conflict"
This attribute is for some reason included in the library with the original namespace which causes conflicts with the real assembly which includes this attribute.

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/05adb69c4d2d32006ea013238b3b67066e12bf58/src/ExtendedXmlSerializer/Core/LightInject/LightInject.cs#L42

[2019-05-13 13:52] Mike-EEE commented on #244
Weird!  I think this is due to moving things over to .NET Standard 2.0 back in the day and there were some compilation issues between .NET Framework and .NET Core.

In any case, I've committed a fix and is available on our preview feed:
https://www.myget.org/F/wojtpl2/api/v3/index.json

I will also kick out a version to nuget since this is the only issue we've had in a while (and I'm not complaini

[2019-05-13 13:55] Mike-EEE commented on #243
Closing this issue now as it seems to be resolved.  Please let us know if you have any further questions around our product.

[2019-05-13 13:55] #243 closed

[2019-05-13 13:55] Mike-EEE commented on #242
Closing this issue for now.  Please let us know if you have any further questions around this issue or any others and we will do our best to assist.

[2019-05-13 13:55] #242 closed

[2019-05-13 14:00] Mike-EEE commented on #244
Alrighty, `2.1.18` is available.  Please let us know if you run into any troubles.

https://www.nuget.org/packages/ExtendedXmlSerializer/

Closing for now.

[2019-05-13 14:00] #244 closed

[2019-05-13 15:28] bpaczkowski commented on #244
Thanks for the quick fix as always 😃

[2019-06-11 14:21] drmcclelland opened #245 "XmlIgnore for Nullable"
I have generated C# classes using the XmlSchemaClassGenerator, including its support for nullable properties using the approach described here:

https://github.com/mganss/XmlSchemaClassGenerator#nullables

Unfortunately, the combination of an "xxxSpecified" boolean property with XmlIgnore/XmlElement (which works with the XmlSerializer) does not seem to work with the ExtendedXmlSerializer.  Am I do

[2019-06-11 16:52] Mike-EEE commented on #245
This is a really nice find, @drmcclelland, thank you for finding it.  It would appear that the reason that `IdValue` (aliased as `Id`) is not being emitted is due to a magic convention in the classic serializer.  If you create a corresponding property with the suffix `Specified` to it, the classic serializer will use that to determine whether to serialize the value or not.

More information can be

[2019-06-11 17:07] Mike-EEE commented on #245
While we do support some features of the classic serializer, we tried to steer clear of those such as these that promote hidden magic, especially when we offer a more discoverable alternative exists.  I have committed an example of how to do this with ExtendedXmlSerializer here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/5311b05041404ec7b59d34eeabc038a6cbcbb6a1/test/ExtendedXmlSerializ

[2019-06-11 17:32] drmcclelland commented on #245
Yes, it is [Deep Magic](https://narnia.fandom.com/wiki/The_Deep_Magic)   :smile:

Thanks for such a quick response, as well as the example of how to workaround this!

[2019-06-11 17:32] #245 closed

[2019-06-12 14:25] drmcclelland opened #246 "EmitBehaviors and Empty tags and Empty strings"
I have a 2-part question:

1)  How would I configure to have `<Name />` emitted instead of `<Name></Name>` ?

2)  What configuration should I use to have the `<Name>` tag not even get emitted in the case that the Name property is an **empty string**?  I would actually like to configure this for all string properties (not just the Name).

I have tried all 4 variants of the EmitBehaviors (Always, No

[2019-06-12 15:24] Mike-EEE commented on #246
Alright, these are good questions.  To start, `Emit` is used for more of a global rule for emitting values.  This does not impact the format.  In order to do this would require an extension, which I put together for you here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/9011d884a08066e09af7c90d1ef10559d2a780ea/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue246Tests.cs#L38-L114

Tha

[2019-06-12 15:29] Mike-EEE commented on #246
Oh, I thought of another way to keep your `<Name />` from being emitted while also retaining its value when it is `string.Empty`:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/41742952f9f7f514c45622fd7a323fe4672f9c7a/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue246Tests.cs#L38-L56

[2019-06-12 19:56] drmcclelland commented on #246
Thanks so much!  Good sample code, and super-helpful-and-FAST   ⚡️   I understand what you're saying about null vs empty string - I'm just trying to keep my XML as concise as possible by sending only the elements/values needed by the other system.

[2019-06-12 19:56] #246 closed

[2019-06-12 19:57] Mike-EEE commented on #246
Cool, happy to help!  👍

[2019-06-19 06:47] Mike-EEE opened #247 "Introduce UsingKnownTypesFrom for Better Security"
Something to consider for v3:

https://www.alphabot.com/security/blog/2017/net/How-to-configure-Json.NET-to-create-a-vulnerable-web-API.html

Essentially, we want to constrict allowable types by default.  The problem with the approach taken by `DataContractSerializer` and `XmlSerializer` with their "known type" approaches is that they are cumbersome to use.

v2 uses an `InspectingTypes` approach f

[2019-06-19 14:01] aspektxxx opened #248 "Interfaces, inheritance and generics"
Serialized XML with class inheriting from generic base class that's implementing interface cannot be deserialized.

Given the:
[code]

Output of
[code]

is

[code]

I would expect it to be:
[code]

[2019-06-19 17:15] Mike-EEE commented on #248
Wow @aspektxxx I am amazed that _any_ of this works at all. 😆

You actually uncovered two bugs.  One was due to unused code in how we select serializers at run time (easy) but the other has to do with how .NET Framework 4.x resolves types in this special case (ugly).

I have fixed both and this is ready for you to try now on our preview feed, which you can find here:

https://www.myget.org/F/wojtp

[2019-06-19 18:15] aspektxxx commented on #248
@Mike-EEE Thank you for quick response. Your fix is working great, you can push it to release feed.
Also, you are right with the `Context` tag, I missed that when extracting the example.

[2019-06-19 18:54] Mike-EEE commented on #248
Cool!  Glad it helped.  The package has posted here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let us know if you run into any further trouble and we'll look into it for you. Closing for now.

[2019-06-19 18:54] #248 closed

[2019-06-24 13:54] aspektxxx opened #249 "types with static ctor cannot be deserialized"
Class with static constructor cannot be deserialized when EnableAllConstructors() is active.
System.MemberAccessException: 'Type initializer was not callable.' is thrown.

[code]

[2019-06-24 15:48] Mike-EEE commented on #249
Whoa, guess that is kind of obvious. 😁  Thanks for reporting it, @aspektxxx ... I've committed a fix that you can try out from our preview feed here:

https://www.myget.org/F/wojtpl2/api/v3/index.json

Let us know how it treats you and we'll post it to NuGet... but probably in a few days based on how quickly you're finding these. 😆

Thanks for helping to improve the quality of ExtendedXmlSerialize

[2019-06-25 15:37] aspektxxx commented on #249
@Mike-EEE thank you for quick fix. Its working as expected 👍. You can wait with releasing new verison, I've probably found a new bug. However, I have some troubles extracting the sample to easily reproduce, so it will take some time.

PS: I tried to fix both of reported issues, but unfortunately got lost in the implementation :(. Anyway, thanks for your work, this serializer is really great!

[2019-06-25 15:58] Mike-EEE commented on #249
Hehe no worries and thank you for your kind words, @aspektxxx ... if you can fix it, great.  If not, report away and maybe you can learn from my commit.  Assuming I can fix it, that is. 😁

[2019-06-26 07:54] aspektxxx opened #250 "EnableParameterizedContent option returning empty objects"
Given the sample below when EnableParameterizedContent() option is applied, the serializer returns just object with default values even though the deserialization occurs.

[code]

[2019-06-26 11:03] Mike-EEE commented on #250
Good find, @aspektxxx ... I have posted a fix to the preview feed.

https://www.myget.org/F/wojtpl2/api/v3/index.json

This extension (`EnableParameterizedContent`) was a last-minute addition and has turned into one of the most powerful aspects of EXS.  Unfortunately, it has proven a challenge as some bugs have turned out around it and each change has made it more brittle.  Oh well, we'll dodge bu

[2019-06-26 14:35] aspektxxx commented on #250
Sorry, still not working on more complex example. I'm working on isolating small piece of code to reproduce, will get back to it on Monday.

[2019-06-27 06:10] MagicAndre1981 opened #251 "Installing ExtendedXmlSerializer into Android part of Xamarin.Forms app adds unneeded nuget packages"
Installing ExtendedXmlSerializer into Android part of Xamarin.Forms app, adds unneeded nuget packages.

I use .net standard 2.0 dll as shared codebase for Xamarin apps (Android, UWP 16299). And System.Xml.XmlSerializer is already part of [.net standard 2.0 and Xamarin.Android](https://docs.microsoft.com/en-US/dotnet/api/system.xml.serialization.xmlserializer?view=netstandard-2.0#applies-to), so wh

[2019-06-27 06:23] MagicAndre1981 commented on #251
[System.ComponentModel](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/src/ExtendedXmlSerializer/ExtendedXmlSerializer.csproj#L67) is also already part of [.net standard 2.0](https://apisof.net/catalog/System.ComponentModel)

[2019-06-27 06:33] Mike-EEE commented on #251
Hey good points @MagicAndre1981 ... to be sure, we started v2 before .NET Standard 2.0 was a thing. :)  So this is leftover from 1.x and it hasn't been looked at until now.

Do note that we are also supporting .NET Framework 4.5+, so I am not sure of the deployment implications here.  However, I did omit those references if the current build is .NET Standard 2.0.

I am not too familiar with the de

[2019-06-27 08:59] MagicAndre1981 commented on #251
For for full .net framework, they are already buildin for years and need no nugets. They were released to help users to migrate from .net framework to .net core.

ok, the major issue is now System.Reflection.Emit.Lightweight which is supposed to have no dependencies for MonoAndroid, but Nuget thinks it is .net standard 1.0 and install all other things into packages.config that are later not used i

[2019-06-27 10:43] Mike-EEE commented on #251
WOW... so you get the actual ref assemblies rather than the runtime assemblies?  That sounds like something that should never ever happen. :P  If I understand correctly you are using VS2017 as well so that puts another wrinkle in your scenario.

I did look into `System.Reflection.Emit.Lightweight` and thought I was able to work around it with `System.Memory` instead, but it appears that LightInjec

[2019-06-28 06:50] MagicAndre1981 commented on #251
Last year I was using VS2017 15.7 with PackageReference Include, but the ASP Net Core SignalR package only worked since 15.8 for Xamarin, so I installed the 15.8 preview in a new VM and app worked, later updated from 15.7.x to 15.8 final, but app crashed when compiled with final 15.8 at start due to PackageReference Include bug I linked. So I have to stay at packages.config.

I played now for seve

[2019-06-28 07:52] Mike-EEE commented on #251
Ahhh sounds like you're running into legacy Nuget issues then in VS2017, if I understand correctly.  I have yet to build an Android app, despite trying 2-3 times.  Each time I attempt to install Visual Studio (for an entire day 😆) and never get past odd warnings and errors when I compile.

So, you're having better luck than I do. 😁

That said, am I understanding that you have fixed this issue when

[2019-06-28 10:33] MagicAndre1981 commented on #251
this is correct. Before install ExtendedXmlSerializer , install System.Collections.Immutable, System.Interactive and System.Reflection.Emit.Lightweight and the issue with the many useless added packages is gone.

Maybe add this information to the readme

[2019-07-01 08:51] MagicAndre1981 commented on #251
btw, can you release the previews on nuget directly with beta suffix to avoid compile issue? I always get package downgrade from .20 to .19 and can't compile anything. And when .20 goes live, I need to delete the already cached one, otherwise I would not get the final bits. using the beta fixes this conflict

[2019-07-01 10:04] Mike-EEE commented on #251
Ahhh @MagicAndre1981 that's a good question.  We are actually using this scheme currently as preview feed users were getting errors/wrong packages on the other direction: e.g. on .20 preview feed they would get errors/inaccurate versioning because they had already installed .20 on the public feed.

Deployment is actually not my domain as I do not own the repo, and the automation is outside of my c

[2019-07-01 12:41] aspektxxx commented on #250
So its look like that regular public properties are ignored when parametrized constructor is used. As they are serialized, they should be also deserialized.

[code]

[2019-07-01 13:56] Mike-EEE commented on #250
Ah yes, indeed this is a limitation of the current design.  It's intended to be exclusively for immutable object serialization and we're following the rules established with protobuf-net:

https://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html

We do have another issue open in regards to this with #207 that is tagged as a help-wanted enhancement.  I personally have a prob

[2019-07-02 06:52] MagicAndre1981 commented on #251
I also tried it in VS2019 Update 2 Preview 3 and same happens. So this is a NuGet issue with the old packages which were created before .net standard 2.0 was out.

I checked and saw that there are pre Release versions 4.6.0-preview6.19303.8 which includes monodroid and .net standard 2.0 definitions and doesn't install garbage.

The name indicates that Microsoft will release them as stable when .ne

[2019-07-02 07:07] Mike-EEE commented on #251
Ok cool!  Sounds like this problem will [eventually take care of itself](https://youtu.be/zqjQDP9KX6E). 😆

I wasn't clear enough in my description of my decision/process there, apologies.  I was attempting to fix a problem without the use of beta/preview monikers, as deployment is configured by repo owners and I am but a contributor for this repo.  So, making best with the resources/powers availab

[2019-07-02 09:41] aspektxxx commented on #250
In that case we can close this issue.

PS: As to requested help, I see a huge problem in missing documentation for developers. There should be at least high level description of the architecture and its modularity. Currently, anyone willing to help gets easily discouraged by the code complexity.

[2019-07-02 12:57] Mike-EEE commented on #250
Valuable, accurate, and well-deserved feedback, @aspektxxx and is also captured in #189.  Sort of the problem we have here is that v3 is in development, so we wanted to put v2 into maintenance mode, or not really support its API (or documentation) too much as v3 might lead to breaking changes.  But then there's the risk that v3 might never get completed, so... 🤷‍♂️

We do the best we can with the

[2019-07-02 12:57] #250 closed

[2019-07-04 07:47] johanvergeer opened #253 "How can I serialize `Encoding` properties"
I have a class that contains a `System.Text.Encoding` property

[code]

And a test to serialize this class:

[code]

An exception is thrown when I try to serialize this class:

[code]

Since 'System.Text.SBCSCodePageEncoding' is `internal` I can't create a, `IExtendedXmlCustomSerializer` directly, so I did the next best thing I could come up with and use `System.Text.Encoding`, which is the superc

[2019-07-04 09:53] Mike-EEE commented on #253
Hey good question @johanvergeer ... thank you for writing in and asking.  In the process of answering your question I found a bug so that's always a plus.

As for your line of thinking, you were close.  You can make a custom serializer as such:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/f7526ce6eb599828779f98347945cee63a8399d5/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue253Tes

[2019-07-04 11:24] johanvergeer commented on #253
Hi @Mike-EEE ,

I just made the changes you suggested. I updated the NuGet package to v2.1.20, and created the serializer.

It looks like the serialization passed, but when deserializing I get this exception:

[code]

[2019-07-04 11:29] johanvergeer opened #254 "Testing ExtendedXmlSerializer configurations"
I noticed you used a `ForTesting()` extension method.

In `ExtendedXmlSerializer.Tests.csproj` it shows `<PackageId>ExtendedXmlSerializer.Tests</PackageId>` but I can't find it under this name in NuGet.

Can we use this or is there another way we can test ExtendedXmlSerializer configurations?

[2019-07-04 12:53] Mike-EEE commented on #253
Weird.  Can you post the XML that is generated?  Also, full stacktrace would be helpful as well.

[2019-07-04 12:57] Mike-EEE commented on #254
Correct, that is a utility extension method in our testing project to ensure objects are being serialized then deserialized as expected.

You would probably be best off copying [this file](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/Support/SerializationSupport.cs) and [this file](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/Ex

[2019-07-04 13:53] johanvergeer commented on #253
Sure. Here is the generated XML:

This is generated from the class above, which works.

[code]

This is generated from another (and bigger) class, which doesn't deserialize.

[code]

This is the full output from testrunner when I created the second xml snippet:

[code]

[2019-07-04 14:21] johanvergeer opened #255 "How can I configure the serializer for a collection property with backing field?"
When I have a class which contains a collection property with a backing field, how can I serialize that?

For example: when I have this class...

[code]

... and this test with a serializer ...

[code]

... then the `Values` collection of the deserialized object is empty.

[2019-07-04 14:36] Mike-EEE commented on #253
Bummer @johanvergeer I am having trouble reproducing this.  I did create a new test with the provided XML but it looks like I am missing something here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/d937c74567adb36442391f56aff62fd1c3bbd2c2/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue253Tests.cs#L51-L64

Apologies for not being exact with my ask, but are you able to provide a simp

[2019-07-04 14:37] Mike-EEE commented on #253
Oh, the other aspect I forgot to ask about: is there any further configuration that you are applying to the `ConfigurationContainer`?  That might be worth knowing, too.

[2019-07-04 15:30] Mike-EEE commented on #255
While we haven't really made it a focus to carry over the classic functionality of the `XmlSerializer`, this is one scenario where we did.  You can make use of the `XmlElementAttribute` as demonstrated here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/2a820ece4eccc4810240229315141d7607291106/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue255Tests.cs#L15-L40

[2019-07-04 16:05] Mike-EEE commented on #207
Good news here, @aspektxxx has submitted a PR that enables settable properties via the `EnableParameterizedContentWithPropertyAssignments` call as demonstrated here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue207Tests.cs#L12-L27

This is available from the preview feed found here:
https://www.myget.org/F/wojtpl2/api/v3/index.j

[2019-07-05 12:40] johanvergeer commented on #253
I have not been able to reproduce it either. Very weird,
I did restart my computer, though.

[2019-07-05 12:46] Mike-EEE commented on #253
Cool!  It may be due to a caching issue, unfortunately.  We use the same moniker for both preview and public releases, and up the preview by one more than what has been published on the public feed (e.g. .20 on preview when public is .19 -- as it is now).

This seems to have addressed a lot of issues, but apparently there are some lurking issues still.  I might re-add this to the list of "things t

[2019-07-08 06:27] johanvergeer opened #256 "Show warning when an element is in XML that is not in the model"
I noticed that serialization just stops when an element is seen that is not recognized by the configuration.

Is it possible to continue serialization, and show a warning or error when an unknown element is found in the XML? I do think that it should continue deserializing. This might occur when a user, or another program, inserts an element (or attribute) that is not recognized by the serializer.

[2019-07-08 08:07] Mike-EEE commented on #256
Yeah this is a good question, @johanvergeer.   I looked into this, and we're fighting a couple issues here.

Primarily, XML reader suffers from a lot of issues.  The native XML reader is pretty difficult to work with, and as a result, our own reader suffers.  I didn't help it any by introducing my own set of issues on top of that, either.

Further, a couple considerations here.  First is that whil

[2019-07-08 08:15] #249 closed

[2019-07-08 09:05] MagicAndre1981 commented on #251
ok. @wojtpl2 can you please release the .20 with the implemented dependency fix as stable to nuget?

[2019-07-08 10:20] Mike-EEE commented on #251
Ah, apologies for the confusion, @MagicAndre1981 ...  @wojtpl2 would be needed for a preview/beta moniker.  I can take care of regular/public deployments.  I was going to do .20 over the weekend, but Real Life. 😆  I will take care of this now.

[2019-07-08 10:48] Mike-EEE commented on #251
OK @MagicAndre1981 2.1.20 is now available for you:
https://www.nuget.org/packages/ExtendedXmlSerializer/

[2019-07-08 10:56] Mike-EEE commented on #256
I talked myself right into that solution, @johanvergeer. 😆  Check it out:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/27502f21daf96c8c7c20887f6b7acef625e4dd13/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue256Tests.cs#L14-L29

Available from our preview feed:
https://www.myget.org/F/wojtpl2/api/v3/index.json

Please note that we updated our preview feed to .21, which may or may no

[2019-07-08 10:57] MagicAndre1981 commented on #251
thanks, now I can disable your preview feed in nuget.

I'll leave it open until .net 3.0 is RTM/RTW/GA to see how dependencies are organized in final bits.

[2019-07-08 10:57] Mike-EEE commented on #253
This has been deployed to Nuget:
https://www.nuget.org/packages/ExtendedXmlSerializer/

If you run into any additional problems please feel free to open a new issue.

Closing for now.

[2019-07-08 10:57] #253 closed

[2019-07-08 10:58] Mike-EEE commented on #207
This has been deployed to Nuget:
https://www.nuget.org/packages/ExtendedXmlSerializer/

If you run into any additional problems please feel free to open a new issue.

Closing for now.

[2019-07-08 10:58] #207 closed

[2019-07-08 10:59] Mike-EEE commented on #251
Sounds good to me, @MagicAndre1981.  Pretty much what I was thinking. 😊

[2019-07-08 11:00] Mike-EEE commented on #255
As it appears that this question was answered, I am going to close it for now.  Please feel free to add another comment and/or re-open if you have any additional comments/question around this issue.

[2019-07-08 11:00] #255 closed

[2019-07-08 11:01] Mike-EEE commented on #254
Closing this issue as it appears the question has been answered.  Please feel free to add a comment and/or re-open if you have any further questions/comments.

[2019-07-08 11:01] #254 closed

[2019-07-08 11:01] Mike-EEE commented on #247
Closing this now as it's mostly meant for me and I am aware of it. 😁

[2019-07-08 11:02] #247 closed

[2019-07-08 13:28] johanvergeer commented on #256
Hi @Mike-EEE,

This looks useful, but not really what I was looking for. I'll explain with an example:

[code]

[code]

When I run this, `subject.Foo` is `null` instead of `"Hello, Foo!"`. But when I remove the `<Bar>` element from xml, or when I put it after the `<Foo>` element, the test passes.

What would be nice is something like:

[code]

And when we would like to get some feedback:

- I woul

[2019-07-08 15:23] Mike-EEE commented on #256
Ah, so keeping in mind the messiness with how the reader is, we're restricted in how we can accomplish what you're after.

However, everything that you are looking for is currently available if you call the `EnableReaderContext` method:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/d3d5c30632c7ff9128fb2d14d21e3a80f00a4941/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue256Tests.cs#L3

[2019-07-10 08:12] johanvergeer opened #257 "Token StartAttribute in state Element Content would result in an invalid XML document."
When an element contains both an attribute and an element the exception `Token StartAttribute in state Element Content would result in an invalid XML document.` is thrown. This seems to have something to do with `EnableMemberExceptionHandling()`.

For this sample I have the following classes:

[code]

# Tests

## Test 1

- Without `EnableMemberExceptionHandling()`
- `RootElement` has an attribute

[2019-07-10 09:41] Mike-EEE commented on #257
Nice catch @johanvergeer and thank you for the thorough description and test scenarios.  It made it easier to track down.  I have committed a fix into the preview feed.  Please give it a try and let me know if you run into any further issues around this.

https://www.myget.org/F/wojtpl2/api/v3/index.json

(Note: If you do run into issues, it may be a caching problem with Nuget and how we version o

[2019-07-10 10:03] johanvergeer commented on #257
Hi @Mike-EEE ,

I just downloaded the latest 2.1.21 version (after deleting the cache), but the error still shows.

[2019-07-10 10:13] Mike-EEE commented on #257
Boh.  Are you by chance able to successfully duplicate on your end the following test that was committed as part of the fix?

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/bf198270a37e400139014ba31db1b525fbd1df8a/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue257Tests.cs#L13-L34

If that test fails for you then we can be sure it's a caching issue.

If I recall correctly, you had a ca

[2019-07-10 10:17] Mike-EEE commented on #257
Oh, I know.  Perhaps try cleaning your solution as well in addition to clearing your nuget cache.  It's probably doing a comparison on version and not copying it over because the version is the same and it's already in your `bin` folder.

@wojtpl2 we really need to have the continuous deployment on myget kick off a new version with each commit. 😁

[2019-07-10 11:12] johanvergeer commented on #257
This seems to be fixed.

Thanks

[2019-07-10 11:12] johanvergeer commented on #257
That would be awesome

[2019-07-10 12:23] Mike-EEE commented on #257
Cool!  Glad we got that one.  I will circle deploying .21 next Tuesday to account for any other issues that might pop up during that time. 👍

[2019-07-11 06:37] MagicAndre1981 commented on #251
ok, for normal .net framework 4.8 the unneeded `System.ComponentModel` and `System.Xml.XmlSerializer` are also added

When you look at `packages\System.ComponentModel.4.3.0\lib\net45` you see it is [empty placeholder](https://github.com/aspnet/AspNetCore/issues/744#issuecomment-123411563) `_._`

Your [fix causing it](https://github.com/wojtpl2/ExtendedXmlSerializer/commit/cfb6e02fc213208ce9b29bf5c

[2019-07-11 07:27] MagicAndre1981 commented on #251
I think you can simply remove both dependencies. They are part of .net standard 2.0 and full .net framework.

[2019-07-11 07:38] johanvergeer opened #258 "Issue with `EnableMissingMemberHandling` and `List`"
I use `EnableMissingMemberHandling` with a `Command` object.

[code]

A simple Foo class:

[code]

And a serializer:

[code]

## Test without list

[code]

test passes

## Test with list but without .EnableMissingMemberHandling(command.Execute)

I remove `.EnableMissingMemberHandling(command.Execute)` from the `ConfigurationContainer`

[code]

Test passes

## Test with list and .EnableMissingMembe

[2019-07-11 07:50] Mike-EEE opened #259 "Introduce Unique Version for Each AppVeyor Deployment"
Currently the version for each preview deployment on myget is the same.  This is leading to caching issues when developers get the latest version.

For example, the current version on myget is `2.1.21`.  What it needs to be is something like `2.1.21.{time}` where `{time}` is the current timestamp, so something like `2.1.21.2019071100000001`.

Here is a page with more information:

https://www.appv

[2019-07-11 08:25] Mike-EEE commented on #258
Ah yes indeed @johanvergeer this is what I was talking about with the different tricky scenarios with having to differentiate between member, list elements, and lists with members.

[You sunk my battleship](https://youtu.be/xJo1WVTjaB0). 😆

Now that you are taking control of the reading process, you will have to determine when to progress or not which is leading to your issue here.  The magic is h

[2019-07-11 13:17] Mike-EEE commented on #258
I've thought about it further, @johanvergeer. 😁

Luckily, we haven't deployed this to public nuget yet, so we can introduce some breaking changes.  I did some spelunking through all the pieces here, and all of them were internal, so I was able to make some changes to get a better implementation.  Although, it's not by much.  This area of the serializer is still pretty difficult to work with.

The

[2019-07-11 13:37] Mike-EEE commented on #251
Weird, @MagicAndre1981!  I remember encountering build errors by not having those references present, but they appear to be working now.  Might have been due to wonky project system state issues, which have been pretty prevalent since its release.

I've made a commit with those removed.  Please continue letting me know of anything further that you find. 👍

[2019-07-15 10:36] MagicAndre1981 commented on #98
I also get this ExtendedXmlSerializer.ExtensionModel.References.CircularReferencesDetectedException even when I create it this way: `var serializer = new ConfigurationContainer().EnableReferences().Create();`

This is happens with EF6 data model where class foo has `public virtual bar Bar { get; set; }` and class bar has `public virtual ICollection<foo> Foo { get; set; }`.

With Json needed to ign

[2019-07-15 12:31] Mike-EEE commented on #98
Can you provide a reproducible test, @MagicAndre1981?  I tried using your schema above and it seems to pass:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/363b584f1a4a62ef764bf70a782bab95ab23fe51/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue98Tests.cs#L11-L40

[2019-07-15 12:34] Mike-EEE opened #260 "Remove Variable Type Member Check for Reference Walker"
Found a bug while creating a test for #98.  It's simple to fix, but will incur a performance hit when `EnableReferences` is used.  This shouldn't be a problem, however, as graphs involving circular references aren't expected to be fast (e.g. not used often if at all for API calls, etc.).

[2019-07-15 12:40] Mike-EEE commented on #260
For additional context, the performance consideration was attempting to save walking the class in the case of `sealed` (or other non-variable) types, but as demonstrated in the fixing test, this can still lead to references that need to be captured.  So, it's best to remove this check as we want to ensure the feature works and doesn't lead to infinite recursion.

[2019-07-15 13:03] MagicAndre1981 commented on #98
not really. I'm already playing with a console demo, but here it works with the Employee database of Firebird. btw EF6 uses new `HashSet<Foo>()`, so I have no idea if this makes a difference.

[2019-07-15 13:32] Mike-EEE commented on #98
Ah OK.  Sounds like the failure is occurring on EF6's end, if I understand correctly. A quick test of `Hashset` on our end seems to work as expected.  If you do find a reproducible failure, please let us know and we'll take a look at it. 👍

[2019-07-16 07:46] MagicAndre1981 commented on #98
I still don't understand this message. From Callstack I can see that I the CircularReferenceEnabledSerialization is used.

I want to serialize a `list<foo>` to save it with [Application.Current.Properties](https://docs.microsoft.com/en-US/xamarin/xamarin-forms/app-fundamentals/application-class#properties-dictionary)  which has several of those virtual entries which are used by EF for Foreign Key

[2019-07-16 08:07] Mike-EEE commented on #98
Looks to be working here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/34ca6295e3a182670e9269ae002bdf8cf30c0efb/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue98Tests.cs#L32-L51

Sorry @MagicAndre1981, English just gets in the way. 😂  You are going to need to create a simple hello world example (Console application) and post it in your GitHub somewhere.

I can then take a look at it

[2019-07-17 07:02] Mike-EEE commented on #240
Gah, this is such a brutal item.  I've been taking a look around this one for the past several days -- what feels like a week 😆 -- and still have no idea of the best way to tackle it.  The work done on #192 is actually a good blueprint.  Maybe I will be able to work with it.

I hate that this is really the only item that we haven't been able to resolve.  So, time to resolve it. :P

[2019-07-17 07:10] Mike-EEE commented on #260
Deployed in `2.1.21`: https://www.nuget.org/packages/ExtendedXmlSerializer/

[2019-07-17 07:10] #260 closed

[2019-07-17 07:12] Mike-EEE commented on #258
This has been deployed in `2.1.21`: https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let us know if you encounter any further issues/questions/concerns around this and we will do our best to assist you.

Closing for now. 👍

[2019-07-17 07:12] #258 closed

[2019-07-17 07:12] Mike-EEE commented on #257
This has been deployed to `2.1.21`: https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let us know if you encounter any further issues/questions/concerns around this and we will do our best to assist you.

Closing for now. 👍

[2019-07-17 07:12] #257 closed

[2019-07-17 07:13] Mike-EEE commented on #256
This has been deployed to `2.1.21`: https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let us know if you encounter any further issues/questions/concerns around this and we will do our best to assist you.

Closing for now. 👍

[2019-07-17 07:13] #256 closed

[2019-07-17 08:22] MagicAndre1981 commented on #98
ok, the code stops because I [configured VS to stop at this exception](https://docs.microsoft.com/en-us/visualstudio/debugger/managing-exceptions-with-the-debugger?view=vs-2017#tell-the-debugger-to-break-when-an-exception-is-thrown). I see the code works and generates XML and deserialized objects include the references again.

I see you catch the exception and ignore it by still writing the conten

[2019-07-17 09:45] Mike-EEE commented on #98
Ah!  So it seems like a development environment-specific issue then, @MagicAndre1981?  And one that occurs on exit?

FWIW, indeed we check for that exception on a container configured with `EnableReferences` and continue writing instead.  That is, we handle the exception in this case whereas the default behavior is to throw.

[2019-07-17 09:58] Mike-EEE commented on #240
Hah... actually, it's kinda funny as I just now realized that the `EnableXmlText` (#192) does pretty much everything required to make this work.  I can't believe I didn't see this earlier.  I really checked out of this issue. 😆

I _should_ have this addressed sometime today or tomorrow. 👍  Let's see how I do. :P

[2019-07-18 09:01] Mike-EEE commented on #240
Egads, what a mess.

I was able to get this working somewhat.  If the object being serialized contains the list being serialized/deserialized, and that those list items are the last elements in the document, then this works.

Example:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/3b3288983b511ff20d5ed3306ffb2d06e3471cf1/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue240Tests.cs#L27-L

[2019-07-18 09:01] #240 closed

[2019-07-18 09:04] Mike-EEE commented on #259
Removing milestone as this technically isn't tied to one, but rather is intended to accomplish ASAP/whenever. 😁

[2019-07-22 06:12] MagicAndre1981 commented on #98
this confused me. So the app was not crashing because of this, but something else, but last exception was the `CircularReferencesDetectedException` and I configured VS to stop at `CircularReferencesDetectedException` and wondered why it gets thrown when I already called `EnableReferences()`

[2019-07-22 08:44] Mike-EEE commented on #98
That's a good point, @MagicAndre1981.  Try/Catch incurs a performance hit as well, so it might be better to maybe put that in a handler of some sort and use that instead.  The default handler throws the exception and a container configured with `EnableReferences` will handle it instead.

Something to carry forward with v3. :)

[2019-07-22 09:48] MagicAndre1981 commented on #98
should I open a new issue on this or will you do this?

[2019-07-22 10:36] Mike-EEE commented on #98
v3 it's an unofficial project at the moment, and I probably shouldn't have mentioned it.  Trying to pump myself into it. 😆

For some context, the _plan_ is to create [a new serializer as a separate project that supports numerous formats](https://github.com/SuperDotNet/Super.NET/issues/15) and then have ExtendedXmlSerializer be the XML version (along with classical support).

I emphasize _plan_ as

[2019-07-24 08:51] MagicAndre1981 commented on #98
ok, I notice that the performance is bad. Serialization of a List<foo> with the references to other classes and around 1 items takes several seconds (4-5).

Are there any plans for logging (ETW EventSource based) that would help pinpoint slow parts?

[2019-07-24 16:43] Mike-EEE commented on #98
Ah, is this in debug mode, by chance @MagicAndre1981?  If an exception occurs in debug mode, there is a performance hit for sure (especially if you are emitting them in debug/console window), but in release mode it should operate more along expectations.

[2019-07-26 09:35] MagicAndre1981 commented on #98
happens in both (debug and release, where release is only a bit faster)

[2019-07-26 09:56] Mike-EEE commented on #98
Bummer.  If you can provide a simple repro/object graph in a new issue I will take a look at it to see if there is an obvious issue at play.

[2019-07-29 12:46] MagicAndre1981 commented on #98
Here is what happens when I serialize the list:

![image](https://user-images.githubusercontent.com/8274816/62049418-793ff900-b20f-11e9-9584-d286f3714155.png)

Do you see anything to improve it?

[2019-07-29 13:27] Mike-EEE commented on #98
Looks like something isn't getting cached correctly.  If you are able to create a simple hello world repro in a new issue, I can take a look into it. 👍

[2019-08-02 08:13] MagicAndre1981 commented on #98
ok, I have now a small demo with Employee database of Firebird where a list of 42 items take 1.3s to serialize. Is this slow enough? What are expected times such serializing should take?

[2019-08-02 08:30] Mike-EEE commented on #98
Ah, I am a bit confused on what you mean by Firebird/database, @MagicAndre1981.  Ideally, a simple Hello World demo is using ExtendedXmlSerializer exclusively without any other components such as a database or other APIs.  Then we know for certain it is our library without others being the culprit, if that makes sense.

My concern here is that your object graph is exposing a bug on our end that ha

[2019-08-02 09:12] MagicAndre1981 commented on #98
the data come from databases all time, to avoid network calls I currently use JSON to serialize them, but without references, when I use the cached data again, I need to do more network calls to fetch the reference data.

The graphic only show calls which occur during serializing in your lib, no other code.

If you don't want a demo with database calls I'm out here and can't help.

[2019-08-02 09:47] Mike-EEE commented on #98
Ah, OK @MagicAndre1981.  What I would need to assist you is a simple Hello World .NET Core Console application hosted on your GitHub somewhere that demonstrates the issue.  Once you make that available I can further investigate to see if there is something obvious in your object graph that is causing the performance issue (or if there is one).

By the looks of the dotTrace graphic above, it would

[2019-08-26 08:40] StuYarrow opened #261 "Compatibility with XmlSerializer xsi:type attribute"
Hi,

My project currently relies on XmlSerializer to load/save a tree of model objects.  All the model classes inherit from a base class (imaginatively named Entity), and the root object is of type Project.  For reasons now long forgotten, Entity is decorated with an XmlTypeAttribute mapping it to the ModelObject element, which causes XmlSerializer to record the actual type in an xsi:type attribut

[2019-08-26 15:00] wexman opened #262 "Question: XmlArrayItemAttribute support?"
Hi there,

I have used the framework default XmlSerializer in the past but am running into problems when porting to .net core, so I'm currently trying to find out if ExtendedXmlSerializer can jump in.

I have made excessive use of the XmlArrayItemAttribute (for using it's Type member to serialize DerivedTypes in generic lists). I have already found this to be dead easy using ExtendedXmlSerializer,

[2019-08-26 15:22] RodrigoRodriguesX10 opened #263 "Updated from 1.5.0 to 2.1.21 Deserializer doesn't work"
I'm getting: An attempt was made to load a type with the fully qualified name of 'FooBar', but no type could be located with that name. When I try to deserialize an object.

I have a legacy project with .NET Framework 4.5 and I want to migrate to .NET Core 2.1. So, all funcionalities will be migrated.

Legacy project has ExtendedXmlSerializer v1.5.0, I want that new project has the latest version

[2019-08-28 09:46] StuYarrow commented on #261
Hi @Mike-EEE, thanks very much - so it should be possible to do this through the extensions mechanism, and that code gives me a great starting point.

I'm a bit confused about the implicit collections, as I did not think the children collection was handled implicitly.  Certainly there is no special treatment of the `Entity.Children` property; it is serialized in the default way by XmlSerializer an

[2019-08-29 11:10] StuYarrow commented on #261
OK, that appears to work!  Now it is descending through the tree correctly, but something is causing the deserialisation to terminate early.  ...I have some tracing to do to find out where this is happening, and if it is related to this issue.

Thanks again!

[2019-08-29 11:53] Mike-EEE commented on #261
Cool!  Glad to hear it works, no matter the capacity. 😁  Do let us know if there's anything further.

[2019-08-29 11:56] Mike-EEE commented on #263
Upon further "reflection" (pun intended 😆), I believe the problem you are encountering is from [auto-generated classes as described here](https://stackoverflow.com/questions/16349560/reflection-and-autogenerated-types).

I have added a new check within our implicit type extension to filter these out, so you _should_ be able to use `EnableImplicitTypingFromAll` now without error (or at least _that_

[2019-08-30 14:42] aspektxxx opened #264 "Enable Monitoring (Callbacks) of Serialization Pipeline"
A callback on deserialization for particular object would be very useful (e.g. events hooking). Could be easily achieved by either object implementing specific interface or by decorating method by attribute (e.g. OnDeserializedAttribute like in DataContractSerializer implementation)

[2019-09-01 05:10] Mike-EEE commented on #264
Funny enough, @aspektxxx this is one of the first concepts I wanted out of a serializer.  Specifically, I wanted to be able to have callbacks for every item that was serialized/deserialized, as well as every property within.

Ironically, of course, I have put every feature _but_ this. 😆  I will see what it will take to do so.

[2019-09-03 14:02] wexman commented on #262
Hi Mike,
thanks for getting back to me. While I don't like the idea of XSLT transforming the data, it is an idea nevertheless!
I've run into several other problems with the default XmlSerializer in the meantime regarding .net standard (things not working there which were working fine under .net framework but ms won't fix it for obscure reasons), so it's quite likely this'll be the way to go.
Be pr

[2019-09-03 14:56] Mike-EEE commented on #262
Cool @wexman you can always give it a whirl to see how far you can get. 😁

One thing that sticks out to me is that `type="ClassLibrary1.DerivedClass, ClassLibrary1"` and others like it.  I was not aware that the traditional serializer handles typing in this regard.  Further, it would seem that the attribute is not fully qualified (with a namespace), so that for sure will be a problem.

[2019-09-03 15:02] wexman commented on #262
No, that part is the result of using the SerializationHelper<of T> I mentioned in the example, which would allow me (at least when run under .net framework) to serialize derived types *without* specifying an XmlInclude attribute. Those having a non-fully qualified name is actually on purpose ;-)

[2019-09-03 16:08] Mike-EEE commented on #262
Ah!  We of course handle this with our own `exs:type=""` attribute.  A thought does occur to me that if you get this loading (deserialized) via the traditional serializer, you could then write it out with an instance of our serializer, if that makes sense.

So:

1) Load XML and deserializer with `System.Xml.XmlSerializer`.
2) Serialize object into new XML with ExtendedXmlSerializer.

[2019-09-07 05:57] wexman commented on #262
Yes, that would be a possibility. I'm now kind of redesigning the whole thing so it would let us use all kinds of different serializers where we're now just using System.Xml.XmlSerializer, for example there'll be an ExtendedXmlSerializer, a NewtonsoftJsonSerializer, a ProtobufSerializer or whatever.
Should have done this from the very beginning...

[2019-09-14 15:59] Mike-EEE commented on #262
Ok cool... sounds like we got you on the right track here.  If you run into any additional problems and/or have another question, please feel free to open another issue or to comment on this one and we can reopen and explore. 👍  Closing for now.

[2019-09-14 15:59] #262 closed

[2019-09-14 16:01] Mike-EEE commented on #263
This has been deployed to the public nuget feed.  If you have any further questions/issues with the feature please let us know either here in the comments or in a new issue and we'll take a look at it for you. Closing this issue for now.

[2019-09-14 16:01] #263 closed

[2019-09-14 16:02] Mike-EEE commented on #261
The code committed earlier here has been pushed out to the public NuGet.  Please let us know if you have any further issues/questions around this and we'll do our best to help you out.  Closing for now.

[2019-09-14 16:02] #261 closed

[2019-09-14 16:09] Mike-EEE commented on #264
Alright @aspektxxx I have a rough draft of this feature put in place.  Check it out:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/0d4e90b767738c693655196a500d2f916e5d6c23/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue264Tests.cs#L13-L39

Essentially, you can register what I call a composer which can then use the decorator pattern to wrap the original calling serializer with your o

[2019-09-18 14:49] aspektxxx commented on #264
@Mike-EEE Thank you for looking into it. However, your proposal is not able to entirely[OnDeserializing] attribute. It is not possible for object to hookup to events of its properties down the tree. I need to hookup collection changed events, process them somehow and fire new events. This way I would need public method on each such object and go down the tree after deserialization.

[2019-09-19 05:05] Mike-EEE commented on #264
Ah got it @aspektxxx ...  I have some further ideas around this but will not be able to get to them until next week.  Will check in around that time and see if we can further flesh this out.

[2019-09-23 16:18] MagicAndre1981 commented on #251
[.net core 3.0 is now out](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0/). Update the dependencies to latest versions and provide a test build so see how it looks now.

[2019-09-23 19:45] Mike-EEE commented on #251
Ok cool!  I have been swamped with Real Life™ lately... Will try to see if I can get something going tomorrow, and if not, on Wednesday for sure.

[2019-09-25 14:53] Mike-EEE commented on #251
Alright @MagicAndre1981 check out our preview feed now:
https://www.myget.org/F/wojtpl2/api/v3/index.json

See if that helps this issue any.  Not sure if the build on the server needs to be updated to 3.0 or anything.  If it does, that complicates this as I do not have access to it.

The other gotcha here is that I am in the middle of a feature with #264 and cannot release to public nugets until I

[2019-09-26 05:18] MagicAndre1981 commented on #251
I don't see an update in myget feed. Have you forgotten to increase version number from .22 to .23?

[2019-09-26 06:01] Mike-EEE commented on #251
hah... maybe. 😁😇  I have posted a new commit that does so.  You should see it available in a few minutes or so.

[2019-09-26 07:19] leryss opened #265 "Any way to serialize private members?"
Title

[2019-09-26 08:58] MagicAndre1981 commented on #251
works fine  🥳   💪

I no longer get the old .net core 1.x packages offered. Only the real required packages in packages.config:

[code]

But only update [System.Interactive to 4.0](https://www.nuget.org/packages/System.Interactive/4.0.0) which was released today and has .net standard 2.0 dependency metadata

[2019-09-26 14:04] Mike-EEE commented on #251
Woohoo!  That was a better result than I was expecting. 😆  I've gone ahead and updated `System.Interactive` as well.

The kicker here now is that I still need to finish #264 before I can publish this to the public feed.  The kicker's kicker is that I am leaving on vacation next week for a couple weeks and not sure if I will be able to get it in a state where it can be "done" but we'll see...

[2019-09-26 14:33] MagicAndre1981 commented on #251
you can make a new brunch which only includes the nuget updates and ignores the other changes and release those bits until the other thing is ready.

[2019-09-26 14:39] Mike-EEE commented on #265
Hey, @leryss thanks for writing in.  Amazingly, we do not ATM, but I believe we can make it happen.  Are you wanting to serialize _all_ private members or those that are marked with `XmlElementAttribute` (or `XmlAttributeAttribute`)?

[2019-09-26 14:47] leryss commented on #265
I would like to serialize all fields regardless of access level or annotations.

[2019-09-26 18:08] Mike-EEE commented on #251
Yeah I thought of that... problem is my Git isn't too good and we deploy from `master`.  So it would mean creating a new branch called `Issue-264` or some such and moving the commits made around that (that are already in `master`) over to it.  Sounds like a lot of work. 😉

[2019-09-27 07:49] MagicAndre1981 commented on #251
ok, I did this and only [reverted this 1 commit](https://github.com/MagicAndre1981/ExtendedXmlSerializer/commit/0d4e90b767738c693655196a500d2f916e5d6c23) from master and moved this commit [into its own brunch](https://github.com/MagicAndre1981/ExtendedXmlSerializer/tree/Issue264) and merged the nuget changes from master.

Took me about 10 minutes with TortoiseGit

[2019-09-27 13:48] Mike-EEE commented on #251
Cool... thanks for the inspiration, @MagicAndre1981. 😁  I use GitExtensions myself, and I looked into the revert.  What I did was:

- Revert 0d4e90b767738c693655196a500d2f916e5d6c23 as commit df1eebebf9e27081efdd625037b19af2739724c9
- Tag as `2.1.23` and push (This should create a NuGet)
- Bump to `2.1.24`
- Revert df1eebebf9e27081efdd625037b19af2739724c9 (essentially re-committing 0d4e90b767738c6

[2019-09-27 14:32] MagicAndre1981 commented on #251
thanks, I'll check this on monday

[2019-09-30 08:02] MagicAndre1981 commented on #251
works fine. Now only the real required packages are added and no longer all the .net core 1.x packages. I'll close the issue now.

[2019-09-30 08:02] #251 closed

[2019-09-30 10:38] Mike-EEE commented on #251
Woohoo!  Good to hear.  Thank you for your contribution to improve the quality and developer experience of this project, @MagicAndre1981!

[2019-10-12 08:33] zatherz opened #266 "Ridiculous "This exists for static type-checking purposes only" error message"
Version 2.1.23.
[code]

Code that causes the issue:
[code]

[2019-10-12 11:13] Mike-EEE commented on #266
Hey @zatherz thanks for writing in.  I agree... this error is **_SO_** ridiculous that I can't even reproduce it. 😆  I've created a passing test with your provided code here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/8fd479a1045cc9191ff3480024913f1fd0d6fbdc/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue266Tests.cs#L10-L21

Perhaps this might be a caching issue?  Try deleting yo

[2019-10-12 11:14] Mike-EEE commented on #265
Alright... sorry for the delay here I have been out of town and have been settling back in.  I've got this on the radar for either today or tomorrow. 👍

[2019-10-12 11:16] Mike-EEE commented on #264
Apologies for the delay on this.  I've got this on my radar for this weekend and next if needbe. 👍

[2019-10-16 05:52] Mike-EEE commented on #265
Boh... I was incorrect, @leryss.  It does look like we have support already via the classic attribute model.  Here is example code:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/d609197f9bb3d61de838cb43d826c00798bd2256/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue265Tests.cs#L11-L32

So, utilizing `System.Xml.Serialization.XmlElementAttribute` (and/or System.Xml.Serialization.XmlA

[2019-10-16 17:26] Mike-EEE commented on #264
Alright, @aspektxxx sketching this out further.  I've introduced `IDeserializationAware`:

https://github.com/WojciechNagorski/ExtendedXmlSerializer/blob/363b3a25227068c5411defe8eee99531363c2493/src/ExtendedXmlSerializer/ExtensionModel/Instances/IDeserializationAware.cs#L29-L36

You can see that it has three callbacks:

- `OnActivating`: for when the instance has not been activated yet, and only t

[2019-10-16 17:28] Mike-EEE commented on #264
Oh, one thing to note is that `OnActivated` does not have a `IFormatReader reader` parameter.  Unfortunately due to the workflow it is not possible to pass this in without a lot of work, so I wanted to post here for feedback before going down that road.

[2019-10-19 05:41] Mike-EEE commented on #264
Alright, I am feeling pretty good about this feature now.  I have essentially removed `IDeserializationAware` and have replaced it with `ISerializationMonitor`:

https://github.com/WojciechNagorski/ExtendedXmlSerializer/blob/544afa542d0721b9a832091e0c766a93b9e38ec1/src/ExtendedXmlSerializer/ExtensionModel/Instances/ISerializationMonitor.cs#L29-L44

- `OnSerializing`: Called when the serialization

[2019-10-23 07:27] Mike-EEE commented on #266
Since we have not heard a reply, closing this issue for now.  Please feel free to comment if any questions remain.

[2019-10-23 07:27] #266 closed

[2019-10-23 14:01] aspektxxx commented on #264
@Mike-EEE I did a quick testing today and it looks great! However, I'm getting the `OnDeserialized` callback twice for some objects. Not where is the issue. Will take a look at it tomorrow and let you know.

[2019-10-23 16:40] Mike-EEE commented on #264
Cool!  Glad to hear that, @aspektxxx. Yeah it's a rough draft so it's expected to be, uh, rough in some areas. 😆  It's probably related to your object graph/model which is undoubtedly more involved than the tests that I have constructed.  If you can provide a quick reproduction with some code it would be greatly appreciated. 👍

[2019-11-04 20:57] marcodiniz commented on #265
I have almost the same needs.

But my private field is on the base class. The XmlElementAttribute only works if the field is on the concret class being des/serialized

[2019-11-04 22:02] Mike-EEE commented on #265
Ah good point, @marcodiniz.  I have made an adjustment to pull from runtime fields instead, which include inherited fields.

However, after implementing this, of course, I realized it wasn't exactly the same as what you're after. 😞  I will have to add this tomorrow when I have more time.

If you are able to make your fields `protected` you can use the adjustment I just committed, though.  I have a

[2019-11-05 08:23] Mike-EEE commented on #265
Actually now thinking about this, this might be by design.  Consider the following graph:

[code]

When `_message` is serialized, which one will it be?  I suppose that we could do both, but that would involve applying namespaces to fields, which would involve a lot of effort at this point, unfortunately.  Especially for such a unique scenario.

I'm open to further thoughts around this.

[2019-11-06 13:46] sand721 opened #268 "How can I serialize object type of DataTable ?"
I've got error when try to serialize an object type of DataTable:
 (non-abstract) class to activate.
"The serializer for type 'System.Globalization.CultureInfo' could not be found."

[2019-11-06 16:23] Mike-EEE commented on #268
Ah this is a good one, @sand721 thank you for checking in and asking.

Unfortunately we do not have anything available for this specific type yet.  However, I do see that it implements `ISerializable` so one thought I have is to create a new extension method off of types that implement this interface as such:

[code]

And what this would do behind the scenes is use a classic `System.Xml.XmlSeriali

[2019-11-06 16:47] gr001 opened #269 "System.PlatformNotSupportedException with UWP and .Net Native"
Hello,
I would like to use the serializer in a UWP application but when I compile with .Net Native turned on I get **"System.PlatformNotSupportedException: 'Dynamic code generation is not supported on this platform.'"**. Do you think it could be fixed or it means major changes in the serializer. I also attached a sample project. Just hit the 'Test' button.
[TestSerializer.zip](https://github.com/W

[2019-11-06 17:21] Mike-EEE commented on #269
Doh, sorry about that @gr001!  Looks like this is an issue with `LightInject` in how it is composing a dynamic method.  Indeed, dynamic content is not allowed in UWP, which is one of many many reasons why I stay away from it. 😆

I have opened an issue on LightInject's board.  Feel free to follow along here:
https://github.com/seesharper/LightInject/issues/516

[2019-11-06 18:15] StuYarrow opened #270 "Deserialize existing XML where member name is the same as member type name"
Hi,

I am trying to set up ExtendedXmlSerializer so that it can deserialise existing XML files created by XmlSerializer.  I found that ExtendedXmlSerializer throws an exception (MWE below) if I try to deserialise a collection member whose name is the same as the name of its content type.  I think this may be a known limitation and is related to #241.

When generating its own XML, ExtendedXmlSerial

[2019-11-06 18:42] Mike-EEE commented on #270
Yeah, I am not happy with that at all, @StuYarrow. 😆

EXS was never intended to work with documents produced with the classic `XmlSerializer`, although we've done our best here to try to make as many scenarios work as possible.

In this case, for migrating existing XML into a format that EXS is happy with, I would suggest running it through XSLT to create the files first, and then from there, load

[2019-11-06 20:34] StuYarrow commented on #270
Thanks for clarifying, I thought that might be the case.  I think this should be easy enough to work around on my end.

[2019-11-06 21:11] StuYarrow opened #271 "Deserialisation terminates silently at element for property marked with XmlIgnoreAttribute"
This is the last of my questions about deserialising legacy documents, I promise! ;-)

I am finding that `ExtendedXmlSerializer.Deserialize()` stops processing the document if it encounters an element that corresponds to a property that is marked with `XmlIgnoreAttribute`.  Small example below.  You can see that in each case, the document is deserialised correctly, up until the first occurrence of

[2019-11-06 22:12] Mike-EEE commented on #271
Hah!  No worries, @StuYarrow ... like I said we try to get these squared away where we can.  This one sounds like a bug, however, and I will look into it and let you know. 👍

[2019-11-07 08:31] Mike-EEE commented on #271
OK I found the problem here @StuYarrow ... the issue is the EXS `XmlReader` which is easily the biggest sore that I created in this codebase, namely how it interacts with the native `System.Xml.XmlReader`.  I have done a lot to work around it, but there are still a lot of rough spots.

In this case, the reader is encountering an invalid element and simply stops.  Originally when we designed this w

[2019-11-07 09:20] Mike-EEE commented on #271
Alright @StuYarrow I have posted some code demonstrating the new usage here:
https://github.com/WojciechNagorski/ExtendedXmlSerializer/blob/afbafd6acc6a09ed620ce0acfdf67b89dc4d6132/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue256Tests.cs#L18-L57

Unfortunately, it seems our preview feed is no longer being propagated.  I will discuss this with @WojciechNagorski and let you know of any updat

[2019-11-07 09:24] StuYarrow commented on #271
Many thanks!  I have the EXS project in my solution for debugging at the moment, so its easy to pull in those changes.

[2019-11-07 09:52] StuYarrow commented on #270
Adding for future reference: this issue appears to occur whenever a member name is the same as the name of a serialized type.  It is not limited to members with the same name as their type.

[2019-11-07 10:28] Mike-EEE commented on #271
Cool!  That works even better. 😁

[2019-11-07 11:20] Mike-EEE commented on #268
Alright @sand721 I have a rough draft of this feature with a passing test here:

https://github.com/WojciechNagorski/ExtendedXmlSerializer/blob/e69d0f3f29b599e9b3f53e6f55c51173473697cc/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue268Tests.cs#L39-L65

Unfortunately, we are in the middle of re-configuring our preview feed so it's not yet available from a nuget perspective.  You are welcome t

[2019-11-08 10:37] Mike-EEE commented on #189
Alrighty... going to see if I can take a stab at this issue, finally.  I am simplifying this issue to focus on the `ConfigurationContianer` extension methods.  You know it's bad when the author of said methods uses them a year later only to result in confusion and perplexity. 😆

[2019-11-08 15:55] Mike-EEE commented on #264
This has _finally_ been deployed to nuget:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let us know if you run into any issues by opening a new ticket as this is the feature issue.  Closing for now.

[2019-11-08 15:55] #264 closed

[2019-11-08 15:58] Mike-EEE commented on #270
Sounds like this question was answered satisfactorily.  Please do feel free to re-open with a new comment or a new issue altogether if it makes sense to do so.  Closing for now.

[2019-11-08 15:58] #270 closed

[2019-11-08 16:07] Mike-EEE commented on #268
FWIW this now available on our preview feed:

https://www.myget.org/F/wojtpl2/api/v3/index.json

[2019-11-08 16:08] Mike-EEE commented on #271
FWIW our preview feed is back:

https://www.myget.org/F/wojtpl2/api/v3/index.json

[2019-11-08 16:35] Mike-EEE commented on #259
Opened a new forum post here for discussion:

https://help.appveyor.com/discussions/questions/43573-modify-nuget-build-for-different-feeds

[2019-11-08 21:43] Mike-EEE commented on #259
OK... fixed this sucker.  It's not perfect, but it will do for now.

First, we were using MyGet, and it turns out that AppVeyor provides a feed for you already.  It is here:

https://ci.appveyor.com/nuget/extendedxmlserializer-preview

Secondly, our preview feed now provides build numbers for each build, as such: `2.1.25.432-preview`.

When we deploy to nuget, the build will be `2.1.25.433`.  Idea

[2019-11-08 21:43] #259 closed

[2019-11-09 07:38] Mike-EEE opened #272 "Housekeeping"
Going to go through some issues that have accumulated over time.

- [x] Simplify solution
- [x] Removed unused projects
- [x] Move `Samples` and `Performance` into their own solutions
- [x] Update repository URL
- [x] Solution warnings
- [x] Convert .rst files to .md files
- [x] Remove source files and replace with Nuget dependencies
- [x] Wiki

[2019-11-09 07:52] Mike-EEE commented on #269
Alright @gr001 I took advantage of our new repo here to update our dependency to `LightInject` rather than `LightInject.Source`.  That should properly load all its UWP functionality and rule out anything on our side that might be causing it.

You can get the latest version from our new preview feed here:

https://ci.appveyor.com/nuget/extendedxmlserializer-preview

(Please be sure to enable `Inclu

[2019-11-09 08:38] Mike-EEE opened #273 "Breaking Change Disscussion: .NET 4.5 Support"
Currently ExtendedXmlSerializer supports .NET Framework 4.5.

This is not ideal as it essentially forces two builds for every release: .NET 4.5 and everything else.

I wanted to start a discussion around this if anyone is still using .NET 4.5 and if this is used in any capacity with ExtendedXmlSerializer.

The idea is that we could bump the ExtendedXmlSerializer package to `2.2.x` and make Extende

[2019-11-09 08:42] Mike-EEE commented on #273
Looks like 4.5.1 and below is unsupported, so this is really about any projects that use 4.5.2 and 4.6:

https://github.com/Microsoft/dotnet/blob/master/releases/README.md

[2019-11-09 13:44] gr001 commented on #269
Uau. It was fast!. Thanks a lot. I will give it a try asap.

Jiri

From: Mike-EEE <notifications@github.com>
Sent: Saturday, November 9, 2019 8:52 AM
To: ExtendedXmlSerializer/ExtendedXmlSerializer <ExtendedXmlSerializer@noreply.github.com>
Cc: JK <jkralik74@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ExtendedXmlSerializer/ExtendedXmlSerializer] System.PlatformNotSupportedExce

[2019-11-09 17:21] #272 closed

[2019-11-09 18:43] WojciechNagorski commented on #273
I'm going to send some information next week. It is not so easy because of the issue in Full dotnet.

[2019-11-09 18:47] WojciechNagorski commented on #272
I am impressed how many changes you have done. It was a great decision to make you an owner.

I realised that I have to give you more access. For example MyGet and access to article on the code project.

[2019-11-09 18:50] Mike-EEE commented on #272
Hah!  Yeah, I didn't want to seem like I was stepping on your toes or anything before, @WojciechNagorski. 😁  Making it "official" was the right way to go.

BTW, we do not need MyGet because AppVeyor has one already, and you can name it!

https://ci.appveyor.com/nuget/extendedxmlserializer-preview

(Please be sure to enable `Include prerelease` in Nuget explorer.)

[2019-11-09 19:04] Mike-EEE commented on #273
Yeah?  I guess I would have to see it.  I was able to remove it without any problems, all tests pass here:

https://github.com/Mike-EEE/ExtendedXmlSerializer/tree/dotnet461

It's basically removing the `net45` from the `ExtendedXmlSerializer`

https://github.com/Mike-EEE/ExtendedXmlSerializer/blob/dotnet461/src/ExtendedXmlSerializer/ExtendedXmlSerializer.csproj#L8

and replacing `net45` with `net4

[2019-11-10 03:11] WojciechNagorski commented on #273
https://weblog.west-wind.com/posts/2019/Feb/19/Using-NET-Standard-with-Full-Framework-NET

[2019-11-10 07:12] WojciechNagorski commented on #273
https://github.com/dotnet/standard/issues/514

[2019-11-10 07:49] Mike-EEE commented on #273
OK, so it seems like additional DLLs in the output folder is the primary inconvenience for .NET Framework 4.7.1 and below.

So, a hassle with extra assemblies, but still works.  I understand how that can be annoying to someone who is being mindful of disk space and utilized overhead.

That stated, as time goes on, the greater the chance a 4.7.1 and lower SLN incorporating a .NET Standard project o

[2019-11-10 16:47] Mike-EEE opened #274 "Consolidate All Extension Methods to Root"
Along with #272 and #189, I noticed that we now have THIRTEEN different extension methods classes.  This can result to up to as many namespace declarations in a given file.

I believe we attempted to fix this near the release of v2, however we didn't have a good solution to it, and obviously we have added more.

BUT... there IS a good solution to this: Partial Classes. 😁  We can put all the extens

[2019-11-10 18:39] WojciechNagorski commented on #274
good idea. It was rather our mistake in designing.

[2019-11-10 22:06] gr001 commented on #269
If you are refering to the version 2.1.24 then I am still getting the same PlatformNotSupportedException with the same callstack. I cannot see any other available version even when I check 'include prerelease' in VS.

[2019-11-10 22:35] Mike-EEE commented on #269
Ugh, you're right @gr001 sorry about that! We've been doing a bunch of housecleaning and catching up with our deployments.  Fixing some things and breaking others.

I will look into the nuget, but for now you can download the current `v2.1.25.488` nupkg directly here:

https://ci.appveyor.com/api/buildjobs/kh9tnynudj5ecd2o/artifacts/artifacts%2FExtendedXmlSerializer.2.1.25.488-preview.nupkg

If fo

[2019-11-11 09:47] Mike-EEE commented on #269
Looking into this now.  There will be further deployments so I am attaching `2.1.25.488-preview` to this post.

[ExtendedXmlSerializer.2.1.25.488-preview.zip](https://github.com/ExtendedXmlSerializer/ExtendedXmlSerializer/files/3830676/ExtendedXmlSerializer.2.1.25.488-preview.zip)

You can also monitor the following for the latest, as well:

https://ci.appveyor.com/project/ExtendedXmlSerializer/ex

[2019-11-11 09:51] Mike-EEE opened #275 "Fix Preview Feed"
Fix one thing, break another. 😆

The new preview feed *was* working... and now it's not.  The interesting thing is that all the packages are visible in XML here:

https://ci.appveyor.com/nuget/extendedxmlserializer-preview/packages

[2019-11-11 10:08] Mike-EEE commented on #275
NM, user error. :P

![](https://i.imgur.com/lpZeYIy.png)

[2019-11-11 10:08] #275 closed

[2019-11-11 10:10] Mike-EEE commented on #269
Boh @gr001 in my case the issue was simple.  I had `Updates` tab selected and not `Browse`:

![](https://i.imgur.com/lpZeYIy.png)

Let me know if you still cannot see the package after accounting for the above.

[2019-11-11 15:37] WojciechNagorski commented on #273
Disk space is not the biggest problem. Let's imagine that someone has a program in full .net framework with an installer. After installing ExtendedXmlSerializer, the installer will have additional MB more. Quest what he will do? He will uninstall ExtendedXmlSerializer and he solves the problem in a different way.

[2019-11-11 15:46] Mike-EEE commented on #273
Yeah?  I would still classify that as a disk space problem.  The more time that passes, the more common this will be, so those who use 4.5-4.6.1 will encounter this more and more (with other packages not ExtendedXmlSerializer), and eventually will migrate to 4.6.2 (especially if they are on 4.6.1!) to reduce the number of redundant dependencies on disk.

Is my hunch. 😁

I still say we wait a year

[2019-11-12 08:16] WojciechNagorski commented on #273
It is not only a local disk space problem. Programs are built on some CI server so, they are saved on a shared disk. These installers are sent over the network, so there is also a network issue. The next problem is the time of sending.

Some people want to have also a clean bin directory. After installing .Net Standard in .Net Framework library you will get https://weblog.west-wind.com/images/2019

[2019-11-12 09:11] Mike-EEE commented on #273
I understand that.  I am one of them. 😁  Or at least, I understand the unnecessary .dlls.  That image was my takeaway from that blog article when you shared it earlier, too.  It's quite striking!

Technically this is the right thing to do as `net45` is officially no longer supported by MSFT.  However, this leaves us in the same spot as we are now of having to support two versions of ExtendedXmlSer

[2019-11-12 09:14] Mike-EEE opened #276 "Bump net45 to net452"
Based on our discussion with #273, let's bump our `net45` build to `net452` as `net45` is no longer supported by MSFT:

https://dotnet.microsoft.com/download/dotnet-framework

[2019-11-13 09:11] gr001 commented on #269
I have tried this preview version. The good thing is that I can create a serializer in UWP with .Net Native turned on and I do not get a platform not supported exception. The bad thing is when I try to serialize a simple class I get 'System.InvalidOperationException' in System.Private.Reflection.Core.dll.

Thanks again.

J

Exception callstack:

   at System.Reflection.Runtime.PropertyInfos.Native

[2019-11-13 09:20] Mike-EEE commented on #269
BOOOOOOOOOOOOO. :P  I HATE UWPPPPPPPPPPPPPPPPPPPP lololol.

Looks like it's having problems with the metadata token.  What does the error message say?

I'm really trying to stay away from having to spend half of my day installing UWP to try to figure this out. :P

[2019-11-13 09:22] gr001 commented on #269
The exception message is ‘There is no metadata token available for the given member.’

J

From: Mike-EEE <notifications@github.com>
Sent: Wednesday, November 13, 2019 10:21 AM
To: ExtendedXmlSerializer/ExtendedXmlSerializer <ExtendedXmlSerializer@noreply.github.com>
Cc: JK <jkralik74@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [ExtendedXmlSerializer/ExtendedXmlSerializer] Syste

[2019-11-13 09:31] Mike-EEE commented on #269
What on earth... are you using the latest version of UWP? 😁

A search on that error message turns up nothing.  In fact, the only thing I can find is its resource registration:
https://github.com/nguerrera/corefx/blob/34a8a4dd31fb9889b0acbb73bb1a3c8fb22cfd6d/src/System.Reflection.TypeExtensions/src/Resources/Strings.resx#L121

What about the class you are serializing?  Are you able to paste it here

[2019-11-13 09:53] Mike-EEE commented on #269
Oh, the other recommendation I have is to call `EnableMemberExceptionHandling` on the `ConfigurationContainer`. It should tell you the member it is occurring on.

[2019-11-13 10:04] gr001 commented on #269
Still the same. EnableMemberExceptionHandling did not have any effect.

I am using the latest VS + targeting Windows 1903 which should be ok. I also enabled ‘dynamic code generation’ in the application manifest. But still nothing…

I am attaching the updated project where I do a serialization of a simple class to a memory stream.

Thanks.

J

From: Mike-EEE <notifications@github.com>
Sent: Wednesd

[2019-11-13 10:28] Mike-EEE commented on #269
Ah to be sure, `EnableMemberExceptionHandling` doesn't hide the error, but rather provides more information about the error -- in particular, the member name that it is occurring on.

Also, I don't seem to see the attachment, unfortunately.  Also, feel free to post it as a repo under your account here on GitHub and I can take a look there as well.  Repos are preferred as .zip files can contain sec

[2019-11-13 12:05] Mike-EEE commented on #273
Thinking about this more, let's table this discussion until we see how .NET 5 and the new tooling fares out.  Maybe they might find a way to get around the dll include hell for .NET Framework which makes this a non-issue.

One can hope. 😆

[2019-11-13 12:05] #273 closed

[2019-11-13 13:01] Mike-EEE commented on #274
And by "our" you mean _my_ designing. 😆  We actually did try to do this at one point, but I hate long files and it would have been too much.  Separating them out into partial classes is the winning ticket here.

Anyways, closing for now as they are in there. 👍

[2019-11-13 13:01] #274 closed

[2019-11-13 13:08] Mike-EEE commented on #276
Hey @WojciechNagorski I think we should make `2.1.26` the `2.2.0` release instead... what do you think?  It will include:

- Documentation (!)
- Fluent API adjustments (I've been having to do a few and in turn obsolete some calls -- examples [here](https://github.com/ExtendedXmlSerializer/ExtendedXmlSerializer/blob/master/src/ExtendedXmlSerializer/ExtensionMethods.Content.cs#L233-L235) and [here](

[2019-11-13 13:27] WojciechNagorski commented on #276
@Mike-EEE It is a good idea. 👍

[2019-11-14 10:14] WojciechNagorski opened #279 "Performance tests"
I wanted to upgrade BenchmarkDotNet to 0.12.0 version but I don't see `ExtendedXmlSerializer.Tests.Performance` in solution.

I think that we should have performance tests and we have to add in documentation results of these benchmarks.

[2019-11-14 10:56] Mike-EEE commented on #175
So... _finally_ adding documentation here and encountered the `InspectingType` method just now and landed on this thread.  I re-read your comment @rbigbie and realized that indeed there was an oversight in how identities are resolved with this method.  Essentially, there can be a "cross-over" scenario where one attribute has the namespace and another attribute has the namespace (or vice versa).

I

[2019-11-14 11:03] WojciechNagorski commented on #279
@Mike-EEE What do you think?

[2019-11-14 12:09] Mike-EEE commented on #279
Ah, I updated the build script to only build `ExtendedXmlSerializer.sln` and it only contains projects that are used in the build (for test and packaging).  Conveniently, they also contain the projects used to primarily develop. 😁

I also created an SLN specifically for performance here:

https://github.com/ExtendedXmlSerializer/ExtendedXmlSerializer/blob/master/ExtendedXmlSerializer%20Performance

[2019-11-14 22:14] Mike-EEE opened #282 "Improve Documentation Resources"
After documenting the major use case (actually -- _all_ of them) extension methods, there's a few items to do on the wiki.

New Content:

- [x] API Overview:
	- [x] ConfigurationContainer
		- [x] ConfigurationProfiles
	- [x] TypeConfiguration
	- [x] MemberConfiguration
	- [x] ISerializer
	- [x] IElement
	- [x] IContents
	- [x] IConverter
	- [x] ISerializerExtension
- [x] Add basic extension to [Ex

[2019-11-14 22:24] Mike-EEE commented on #189
WHEW!  What a project!  That took a _lot_ of work, but I gotta tell you, it's worth it.  I guess that's part of the draw with documentation: it's quite literally a second effort on the already Herculean effort involved in writing code.

In any case, all the major extension methods have been identified and organized into the main root namespace now courtesy of #274.  That will clear up a lot of unn

[2019-11-16 09:23] Mike-EEE opened #284 "Investigate and Implement DocFX"
There's an entire document-generating component made by the .NET team!  I had no idea:
https://dotnet.github.io/docfx/

And it wasn't obvious when searching.

It supports AppVeyor, too:
https://dotnet.github.io/docfx/tutorial/docfx_getting_started.html#41-steps

Sample AppVeyor configuration:
https://github.com/docascode/docfx-seed/blob/master/appveyor.yml

The idea is:

- Clear out `/docs/` so th

[2019-11-16 20:26] Mike-EEE commented on #284
Yeah buddy!

I got a little preview going on here:
https://mike-eee.github.io/ExtendedXmlSerializer/?t=123

DocFX in action. :)

Unfortunately, there are a lot of problems with using projects with `<TargetFrameworks />` (https://github.com/dotnet/docfx/issues/3067 especially) so we can really only use framework at the moment to serve as API documentation.  So for now I have selected `netstandard2.

[2019-11-17 16:22] Mike-EEE opened #285 "Clean Up Root Serializer Model"
In performing documentation for #283, I encountered a bit of a mindsore at the root of the source project.

I have decided to clean this up, and it will introduce breaking changes _but only if you are an extension developer using one of the dependencies in your extension_.  This does not impact the Configuration API at all and casual users will not (should not 😁) be impacted.

## What Happened?

A

[2019-11-17 16:31] Mike-EEE opened #286 "Make ExtendedXmlSerializer.Tests.ReportedIssues Project"
While addressing #285, I made note that the provided extension used in the sample code for the passing test was an internal class.  So, if someone wanted to make sure of that code, they would try it with their own `ExendedXmlSerializer` package and it would break because they do not have access to that internal class.

This should be caught faster.

The idea here is:

- [x] Create `ExtendedXmlSeri

[2019-11-17 21:38] Mike-EEE commented on #285
I'm removing the `breaking change` tag as it turns out the dependencies I was concerned about are internal, anyways.

The other change here is that `IExtendedXmlSerializer` has moved from `ExtendedXmlSeralizer.ExtensionModel.Xml.IExtendedXmlSerializer` to `ExtendedXmlSeralizer.IExtendedXmlSerializer`.  This is a namespace change like the extension methods that is not a breaking change.

[2019-11-18 13:24] Mike-EEE opened #289 "Potential Breaking Changes for 3.0.0"
For `v3.0.0` we've made a lot of effort to add documentation to our project.  In the effort of doing so, we streamlined a few elements of our library.  This issue serves to capture these changes.

## Minimum .NET Framework Moved from 4.5 to 4.5.2 #276

We increased the minimum supported version of .NET Framework from 4.5 (which is no longer supported by MSFT) to 4.5.2 (the lowest supported version

[2019-11-18 14:29] Mike-EEE commented on #286
Resolved via #290

[2019-11-18 14:29] #286 closed

[2019-11-18 14:29] Mike-EEE commented on #285
Resolved via #287

[2019-11-18 14:29] #285 closed

[2019-11-18 18:13] Mike-EEE commented on #284
Looking good!

https://extendedxmlserializer.github.io/ExtendedXmlSerializer/reference/index.html

Need to style it, flesh out placeholder content, and get AppVeyor working, but it's a nice first attempt.

[2019-11-19 14:06] Mike-EEE opened #293 "New Repository Structure"
Currently we have the following repositories now that #284 is starting to take shape:

https://github.com/ExtendedXmlSerializer/
- `ExtendedXmlSerializer`
- `documentation`
- `extendedxmlserializer.github.io`

Now that we have our own dedicated "organization" of (`ExtendedXmlSerializer`), I think we should do this:

https://github.com/ExtendedXmlSerializer/
- `home` (less redundant, more descripti

[2019-11-19 16:28] Mike-EEE opened #295 "Style and Finish Documentation Site"
With #284 complete, finish work on getting the styling improved, and apply the mathew theme, tackling an issue discovered in https://github.com/MathewSachin/docfx-tmpl/issues/2#issuecomment-555551367

[2019-11-19 16:31] Mike-EEE commented on #284
So happy with this!

We now have an automated deployment that kicks out documentation to our new repository on every release.  You can see a preview here:
https://extendedxmlserializer.github.io/documentation

Still have to clean up some issues but they are captured in #295.

[2019-11-19 16:31] #284 closed

[2019-11-20 12:12] Mike-EEE opened #297 "Adjust Documentation Location"
Now that documentation sits at https://github.com/ExtendedXmlSerializer/documentation/tree/gh-pages we can:

- Remove `docs` in this repository.
- Rename `content` to `documentation`
- Update wiki submodule to point to the new location

[2019-11-20 12:32] #297 closed

[2019-11-20 18:35] Mike-EEE opened #300 "Adjust Build Configuration Location"
See if `appveyor.yml` can exist in `.build/appveyor.yml` instead.

[2019-11-20 18:52] #300 closed

[2019-11-20 19:56] Mike-EEE opened #302 "Configure create-issue-branch"
https://github.com/robvanderleek/create-issue-branch

[2019-11-20 20:12] #302 closed

[2019-11-20 20:13] Mike-EEE opened #304 "Configure AppVeyor for GitHub Releases"

[2019-11-21 07:56] Mike-EEE opened #308 "Configure Release Drafter"
Checkin' this out:
https://github.com/toolmantim/release-drafter

[2019-11-21 08:07] WojciechNagorski commented on #308
It looks ok. I wish I could read your article about configuration of open source project. Or even whole series.

[2019-11-21 09:20] #308 closed

[2019-11-21 09:43] Mike-EEE commented on #308
Yeah that's a good idea @WojciechNagorski ... I can add it to my ever-expanding list of `TODO`s. 😆

Problem is that it's a bit of a hybrid.  I really like AppVeyor... it's awesome!  But these other newer workflows like PR Labeler are GitHub Actions, which look great but AppVeyor is mature and tested.

[2019-11-21 11:28] WojciechNagorski commented on #308
It is a normal thing that projects have more builds. Please take a look at the BenchmarkDotNet:
![image](https://user-images.githubusercontent.com/17333903/69333980-080ed080-0c5a-11ea-978c-7b7d6c3c5a52.png)
I wanted to add Travis-ci with lin and mac. It is as simple as AppVeyor.
There is an article about this topic:
https://andrewlock.net/adding-travis-ci-to-a-net-core-app/

[2019-11-21 13:49] #304 closed

[2019-11-22 07:34] Mike-EEE opened #313 "Improve Release Workflow and Introduce CHANGELOG.md"
Up until this point we have been using `git push --tags` to post a new version.

After some research, it turns out we can use GitHub Releases instead.  When you post [a new release to Releases](https://github.com/ExtendedXmlSerializer/ExtendedXmlSerializer/releases), a tag is created for you and applied to the most recent commit.

Pretty cool. :)

So we will use releases instead.  There's this nif

[2019-11-22 14:08] Mike-EEE commented on #313
Kinda cool:
https://github.com/ExtendedXmlSerializer/NextRelease/releases

[2019-11-27 16:23] #313 closed

[2019-11-27 16:35] Mike-EEE opened #315 "Simplify Nuget Packaging"
Improve description and release notes fields.

[2019-11-27 17:01] #315 closed

[2019-11-27 17:06] Mike-EEE commented on #293
This has been done.  Please update your git links to:

https://github.com/ExtendedXmlSerializer/home.git

[2019-11-27 17:06] #293 closed

[2019-11-28 06:47] #295 closed

[2019-11-28 10:12] Mike-EEE opened #318 "System.Reflection.Emit.Lightweight Makes UWP Grumpy"
Of course, UWP is a big grump all around. 😉

https://twitter.com/SuperJMN/status/1199987218733060096

[2019-11-28 13:00] SuperJMN commented on #269
Does this help in any way?

This is compiling in Release mode over the x64 platform:

![image](https://user-images.githubusercontent.com/3109851/69808272-6fdb9300-11e7-11ea-921f-f7d1570070d1.png)

[2019-11-28 13:08] Mike-EEE commented on #269
Yeah this seems like an UWP-specific issue when building in `Release` mode.  Perhaps there is a build optimization occurring?

Confirming that we are able to run this in `Debug` mode without any issues.

[2019-11-28 13:10] SuperJMN commented on #318
Removal of that dependency didn't make UWP much happier :(

# Repro steps:

1. Clone https://github.com/SuperJMN/SuppaDesigner.git
2. Checkout the 'exs' branch
3. Set 'Designer' as startup project
4. Select Release configuration and x64 platform
5. Run (build+run)
6. Upen startup, the app will throw:

![image](https://user-images.githubusercontent.com/3109851/69808796-b1207280-11e8-11ea-9b1e-a51bf

[2019-11-28 13:13] Mike-EEE commented on #318
Yeah the kicker here is `Release` mode in UWP.  This does not occur in `Debug`.  There's either a setting for compiler optimizations or we've found a bug. :|

[2019-11-28 13:26] Mike-EEE commented on #269
Interesting to note that this resource states that a `MissingMetadataException` is thrown, but in this case we are running into an `InvalidOperationException`.

https://docs.microsoft.com/en-us/dotnet/framework/net-native/reflection-and-net-native

[2019-11-28 14:04] Mike-EEE commented on #269
OK @gr001 and @SuperJMN check out the following:

https://github.com/ExtendedXmlSerializer/home/pull/319#issuecomment-559505540

And see if it fixes your issue.

[2019-11-30 08:46] Mike-EEE commented on #282
Whew.  So glad to be done with this. :P

[2019-11-30 08:46] #282 closed

[2019-11-30 08:46] Mike-EEE commented on #282
Our new wiki:

https://github.com/ExtendedXmlSerializer/home/wiki

[2019-11-30 10:06] Mike-EEE commented on #276
After some serious consideration over this, since this does introduce a breaking change (along with #285 and #189), it's better to version this to `v3.0.0` to be compliant with semantic versioning.

I know we had set "v3" to be a big re-write, but we'll have to adjust because of these changes.  I think it might be best to put that in a different repository in our new ExtendedXmlSerializer Organiza

[2019-11-30 11:04] #276 closed

[2019-11-30 11:53] #279 closed

[2019-11-30 11:54] Mike-EEE commented on #279
Alright, I reverted the solution back to `ExtendedXmlSerializer.sln` and made a new `ExtendedXmlSerializer Development.sln` for what I had in mind.  I also updated the nuget references to the latest.

This is in now via #332. 👍

[2019-12-03 06:03] #318 closed

[2019-12-03 08:10] Mike-EEE commented on #289
v3.0.0 has been released.  Closing this (but keeping it pinned for) now.

[2019-12-03 08:10] #289 closed

[2019-12-03 08:15] Mike-EEE commented on #265
This has been released in the latest version which can be found here:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Further details on the release can be found here:

https://github.com/ExtendedXmlSerializer/home/releases/tag/3.0.0

If you run into any problems or have further questions, please feel free to open a new issue and we'll take a look.  Thank you for improving ExtendedXmlSeria

[2019-12-03 08:15] #265 closed

[2019-12-03 08:16] Mike-EEE commented on #268
This has been released in the latest version which can be found here:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Further details on the release can be found here:

https://github.com/ExtendedXmlSerializer/home/releases/tag/3.0.0

If you run into any problems or have further questions, please feel free to open a new issue and we'll take a look.  Thank you for improving ExtendedXmlSeria

[2019-12-03 08:16] #268 closed

[2019-12-03 08:17] Mike-EEE commented on #271
This has been released in the latest version which can be found here:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Further details on the release can be found here:

https://github.com/ExtendedXmlSerializer/home/releases/tag/3.0.0

If you run into any problems or have further questions, please feel free to open a new issue and we'll take a look.  Thank you for improving ExtendedXmlSeria

[2019-12-03 08:17] #271 closed

[2019-12-03 08:21] Mike-EEE commented on #189
Alright, much appreciation for this issue.  TBH I was tempted to be a wimp and "stale" it BUT I FOUGHT THROUGH AND NOW WE HAVE DOCUMENTATION. 😅

This has been released in the latest version which can be found here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

In addition to XML Documentation in code we have a generated site based on that XML notation which can be found here:
https://exte

[2019-12-03 08:21] #189 closed

[2019-12-03 08:23] Mike-EEE commented on #269
Alright, this has been deployed to the latest nugetz here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Further details of the release can be found here:
https://github.com/ExtendedXmlSerializer/home/releases/tag/3.0.0

If you run into any additional problems please open a new issue and we'll take a look into it.  Thank you for your contributions towards improving ExtendedXmlSerializer!

[2019-12-03 08:23] #269 closed

[2019-12-03 08:33] Mike-EEE opened #333 "Fix Deployment Issues"
- Nuget Formatting
- Documentation version reference

[2019-12-03 08:54] #333 closed

[2019-12-03 21:18] MattWhilden commented on #269
I'm a little late to the party and this seems like it's been resolved... ? I'm happy to take a look at UWP stuff (I work on the .NET team) if you see more stuff like this. Let me know.

[2019-12-03 21:24] gr001 commented on #269
I have just upgraded to the latest version and it looks promissing. Thanks a lot for this fix. We rely on this serializer as a replacement of MS serializer which has some crucial limitations when used in UWP.

[2019-12-04 06:09] MagicAndre1981 commented on #269
@MattWhilden  why does [AppX/UWP not support Assembly.Load()](https://github.com/AndreiMisiukevich/HotReload/issues/92#issuecomment-528259373) at least for non store releases/sideloading? This raises NotSupportedException.

[2019-12-04 06:36] Mike-EEE commented on #269
Hey @MattWhilden...

![](https://media.giphy.com/media/FOfe8iGdAiODS/giphy.gif)

Too obvious? 😁  Thank you for stopping by.  We appreciate any and all assistance and guidance you can lend, of course.  It is much appreciated!

@gr001 That really means a lot, thank you.  I did not know of UWP's difficulties with default .NET functionality but I am not surprised.  I am actually amazed anything works

[2019-12-04 07:35] MagicAndre1981 commented on #269
yes, I know it was offtopic, but this is first time a .NET people was here.

[2019-12-04 19:42] MattWhilden commented on #269
@MagicAndre1981 Actually had to go digging for the answer to this one. I'm glad I did because the checks were originally introduced in 2011 during the development work for what would become .NET Framework 4.5 for Windows 8 (.NET Core shares a lot with this codebase). The goal was to help better support Windows Store apps (nee Metro at the time) and in particular, deliver on various guarantees arou

[2019-12-05 08:11] MagicAndre1981 opened #335 "NuGet updates from .Net Core 3.1 release"
With release of .Net Core 3.1 some dependencies needs update:

System.Collections.Immutable from 1.6.0 to 1.7.0
System.ComponentModel.Annotations from 4.6.0 to 4.7.0
System.Runtime.CompilerServices.Unsafe from 4.6.0 to 4.7.0

[2019-12-05 08:55] Mike-EEE commented on #335
Good point, @MagicAndre1981.  Thank you for keeping on top of this!  I will attend to these now.

I am not sure of our next release.  I want to wait a bit before others start reporting issues if anything.  I guess most of our work in `3.0.0` was the documentation, but you never know.  Keeping the "major" release major. 😆

Right now I'm putting this in a `3.0.2` milestone which is slated for the 24

[2019-12-05 09:03] Mike-EEE commented on #335
Working on a bot that does this automatically. 😁

But preview feed information for this issue has been posted here:
https://github.com/ExtendedXmlSerializer/home/pull/336#issuecomment-562035894

[2019-12-05 11:16] Mike-EEE commented on #269
Thank you for taking the time to investigate, @MattWhilden.  I, like @MagicAndre1981, am honored, a bit surprised, and maybe even a little excited to see someone from the .NET team stop by. 👍

I recently saw the announcement for [WinUI 3.0 Alpha](https://github.com/microsoft/microsoft-ui-xaml/issues/1531).  Sounds like they have some serious energy and will behind the initiative, which is super en

[2019-12-05 19:06] MattWhilden commented on #269
My pleasure. Always fun to go crawling through older repositories. Certainly let me know if there's other UWP oddities. I don't always have time to dig in but I often cannot help myself.

[2019-12-05 19:46] MagicAndre1981 commented on #269
ok, thanks, I see [this PR](https://github.com/dotnet/coreclr/pull/27356/files#diff-ab08932c10f914421e9cfd958f5743d7L208) deleted the checks. Hopefully we can get the changed code in UWP at some time.

[2019-12-06 08:03] MagicAndre1981 commented on #335
I noticed this yesterday when I checked for nuget updates and remembered the dependency issues here.

[2019-12-06 11:27] Mike-EEE commented on #335
Yeah I didn't realize it until it was too late of course that 3.1 was launched.  Didn't connect the dots in time.

Anyways, now I am thinking that if no other issues are reported by next Tuesday the 10th I will send this out then.  I hate having so many releases bundled together (and forcing subsequent downloads on the developer side), but whatevs. 😏

[2019-12-09 10:45] Levi--G opened #337 "Using EmitBehaviors.WhenModified with null Arrays causes NullReferenceException"
Repro on v3.0.1/Master:
[code]
I think this is because the array gets compared with System.Linq.Enumerable.SequenceEqual which ofcourse does not accept null arrays.

Thank you for the great library!

[2019-12-09 12:35] Mike-EEE commented on #337
Cool... thank you for the kind words, @Levi--G.  Just for that, I fixed your bug. 😆

If you'd like to try it, you can check out the details here:
https://github.com/ExtendedXmlSerializer/home/pull/338#issuecomment-563217803

If everything looks OK to you, I will get that merged into `master` for the deployment tomorrow.

[2019-12-09 17:09] Levi--G commented on #337
Thanks!
<2h fix 😲 Must be the best support i received in years! :D
I will test/close tomorrow, altho there is no doubt this will have fixed the issue.
Keep up the good work! 👍

[2019-12-09 18:18] Mike-EEE commented on #337
Thank you @Levi--G that means a lot!  I will update this thread upon deployment. 👍

[2019-12-10 06:59] Levi--G commented on #337
Confirmed 100% working!
Thanks for the quick fix!

[2019-12-10 06:59] #337 closed

[2019-12-10 08:03] MagicAndre1981 commented on #269
ok, looks like Microsoft [kills now all platform specifics](https://github.com/dotnet/corefx/issues/29644#issuecomment-543284950) and use same implementation for all platforms:

This may also help you @Mike-EEE in future to simplify code even more when .NET 5 is out.

[2019-12-10 08:05] #335 closed

[2019-12-10 08:39] Mike-EEE commented on #337
Sweeet... it has now been deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Thank you for improving ExtendedXmlSerializer, @Levi--G!

[2019-12-10 08:40] Mike-EEE commented on #335
Alright, this has been deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let us know if you find any additional problems.  Thank you for improving ExtendedXmlSerializer with your contributions, @MagicAndre1981. 👍

[2019-12-10 20:11] Mike-EEE opened #340 "Ensure Support for Enumerable Parameters for Immutable Classes"
Want to make sure that `IEnumerable<T>` is supported for parameters of immutable classes.

[2019-12-10 23:07] SuperJMN opened #341 "EnableReferences might be causing incorrect deserialization"
I have created a `ConfigurationContainer` configured like this:

[code]

I have decided to "enable references" because my model potentially has circular references, but doing so makes deserialization act weird (results in empty object)

To see the problem, please, reproduce the issue with the step below:

1. Clone this repo: https://github.com/SuperJMN/Velcro-Designer.git
2. Run the application na

[2019-12-11 06:41] Mike-EEE commented on #341
Cool!  Thank you for the information and for providing the code, @SuperJMN.  I am looking into this now. 👍

[2019-12-11 09:30] Mike-EEE commented on #341
Alright @SuperJMN check it out:

https://github.com/ExtendedXmlSerializer/home/pull/342#issuecomment-564454665

Try that out to see if that works better for you.  The issue we ran into here was that the references extension was attempting to apply references to attribute values, which is not supposed to happen.  Shocking that we haven't seen that until now. 😁

Anyways, that *should* be fixed... le

[2019-12-11 10:43] SuperJMN commented on #341
It's working now. Big thanks! I'll test extensively the Circular References feature these days. I'll provide feedback in case it's not working as expected :)

[2019-12-11 10:43] #341 closed

[2019-12-11 21:11] #340 closed

[2019-12-11 21:17] Mike-EEE commented on #340
Hey @SuperJMN check it out.  You should be able to use this now.

[code]

Some sample code for you:

https://github.com/ExtendedXmlSerializer/home/blob/9a0c85e236c91f9a64f9e526d030eb38d1b47a8f/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue340Tests.cs#L36-L46

[2019-12-13 13:15] BacchusD opened #345 "Hot to set empty worspace on write xml?"
.Net  XmlSerializer.Serialize has parameter XmlSerializerNamespaces namespaces.
But ExtendedXmlSerializer can't do this.

[2019-12-13 13:37] BacchusD opened #346 "How to custom root element on custom serialize?"
I have some class and need write his property on attribute.
But custom serializer create root element without customize.
And I can't rename root node name!

I need use POCO  i can't use XmlRootAttribute.
 For example:
[code]

On use ExtendedXmlSerializer serialize with MyClassSerializer will be created this xml :
[code]

But I need MyClassNodeName as root node!

[2019-12-13 14:00] Mike-EEE commented on #346
Hi @BacchusD thanks for writing in... I have read your question a few times now and I am trying to understand.  When you say "I have xml:" do you mean you already have XML created and you need to deserialize with ExtendedXmlSerializer?  Or are you saying that is the generated XML by ExtendedXmlSerializer?

The use of `IExtendedXmlCustomSerializer` is more of a v1 serializer.  You should be using `

[2019-12-13 14:03] Mike-EEE commented on #345
Ah yes indeed @BacchusD we do not provide any mechanism for specifying namespaces as these are handled throughout the serialization process.  If you are working with existing XML there are some configurations that can be applied that will allow the serializer to read from classic XML serialization metadata, if required.

If you can provide more details around your scenario I can try my best to get

[2019-12-13 14:15] BacchusD commented on #345
Okey, I can't specifying namespaces.
Can I create xml with empty namespace with ExtendedXmlSerializer?

[2019-12-13 14:15] MagicAndre1981 commented on #335
Please also update NReco.LambdaParser to version 1.0.11, the [1.0.10 failed to install to Xamarin projects](https://github.com/nreco/lambdaparser/issues/20#issuecomment-565433123) which results in install failure of ExtendedXmlSerializer.

[2019-12-13 14:22] Mike-EEE commented on #345
So when you say empty namespace, are you meaning this?

`<MyClass xmlns="" />`

Or this?

`<MyClass />`

👆 If you want this, you can use implicit namespaces [as shown here](https://github.com/ExtendedXmlSerializer/home/wiki/Features#implicit-namespacestyping).

If you are wanting `xmlns=""`, I am not sure how we could go about that... I'd have to think about it. :)

[2019-12-13 14:26] BacchusD commented on #346
I can't found documentetion by IFormatWriter and IFormatReader.
How to write attribute and child node with IFormatWriter ???

[2019-12-13 14:39] Mike-EEE commented on #346
Ah good point, before we get into `IFormatReader` and `IFormatWriter`... I am trying to understand if you are working with existing XML and if you are running into problems with using ExtendedXmlSerializer serializing your object graph as-is.

You should be able to serialize and deserialize without having to use a custom serializer.

[2019-12-13 14:42] Mike-EEE commented on #335
Yeahh... check it out, @MagicAndre1981:

https://github.com/ExtendedXmlSerializer/home/pull/347#issuecomment-565461460

[2019-12-13 14:52] MagicAndre1981 commented on #335
thanks, the new version installs fine

[2019-12-13 14:53] Mike-EEE commented on #346
Here you go @BacchusD, I've added a passing test to show you, using your `MyClass` above:

https://github.com/ExtendedXmlSerializer/home/blob/a4b27ce46887e245140359b77aefcac0f61a28dc/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue346Tests.cs#L11-L43

Please let me know if you have any questions around this.  The serializer _should_ "just work". :)

[2019-12-13 15:01] BacchusD commented on #346
I have  two diffent program and need serialize DTO to xml and send to other program in some xml structure.

[code]
I need xml in format:

[code]

XmlSerializer can't serialize A.Name to attribute. So i find ExtendedXmlSerializer.

If I set configuration via fluent API a can't configure attribute.
When I use IExtendedXmlCustomSerializer I can't custom root node.
When I use ISerializer<T> i can't us

[2019-12-13 15:08] Mike-EEE commented on #346
OK!  yes that will require a custom serializer of some sort.  I was wanting to make sure you weren't making it more difficult than it needs to be. :)

Let me see if I can get something working for you.

[2019-12-13 16:05] Mike-EEE commented on #346
OK @BacchusD here you go.  In this case I would recommend using a content composer:

https://github.com/ExtendedXmlSerializer/home/blob/c65c94ce82b74dbefb28239fa7f3818458ee0ddb/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue346Tests_Custom.cs#L14-L101

Essentially this allows you to intercept the serialization.  I've provided two examples for you, one that makes use of `UseAutoFormatting` (l

[2019-12-13 16:37] Mike-EEE opened #349 "Improve Content Composition"
From #346 there are some improvements that can be made around content composition:

- Since these are registrations, move to the `TypeRegistrationContext`.
- Add an activation options (`Of<T> where T : ISerializerComposer`).
- Obsolete current `RegisterContentComposition` methods and redirect to new ones.

[2019-12-13 20:01] #349 closed

[2019-12-13 20:06] Mike-EEE commented on #346
FWIW I took some time to improve the API around this @BacchusD and have a better implementation for you here:

https://github.com/ExtendedXmlSerializer/home/blob/34500c36638023b9c60d6960f52b6aca29e8e6a4/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue349Tests.cs#L15-L88

It will require you to use a preview version of our package which you can use by following the directions seen here:

https

[2019-12-13 20:50] Mike-EEE commented on #346
OK did some further improvements:

https://github.com/ExtendedXmlSerializer/home/blob/b8566a7f1a9cfb3795d48e4ef268fc3986207c19/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue349Tests.cs#L15-L87

Install directions here:
https://github.com/ExtendedXmlSerializer/home/pull/351#issuecomment-565603428

FINAL ANSWER. 😆

[2020-01-14 03:18] DancingCorpse opened #352 "Meet a bug seems type inference error"
Hi, I meet an "InvalidCastException" when deserializing the serialized content to my data model, it seems that there is incorrect type inference, this is the details of the exception:

  HResult=0x80004002
  Message=Unable to cast object of type 'ExtendedXmlSerializerTest.Backend' to type 'ExtendedXmlSerializerTest.WorkerBackend'.
  Source=<Cannot evaluate the exception source>
  StackTrace:
<Cann

[2020-01-14 03:28] DancingCorpse commented on #352
The version I used is:

[2020-01-14 04:16] Mike-EEE commented on #345
Seems like this question was answered.  Please let us know if you have any further questions and we will do our best to answer you. 👍  Closing for now.

[2020-01-14 04:16] #345 closed

[2020-01-14 04:18] #346 closed

[2020-01-14 04:26] Mike-EEE commented on #352
Hi @DancingCorpse (LOL nice name 😁) thanks for writing in.

I did take a look at your scenario, and everything seems to be working as expected as demonstrated by this passing test here:

https://github.com/ExtendedXmlSerializer/home/blob/2a7f7effd9f02d797918655026d6547582524866/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue352Tests.cs#L12-L50

Have you had the opportunity to try out version

[2020-01-14 06:08] DancingCorpse commented on #352
Hi @Mike-EEE, thanks for the quick response.
The issue still exists when using the version 3.0.2.
I modified the definition of the data model "Worker" to
[code]
and it works fine, so I think the serializer maybe mixed up the model "Backend" and "WorkerBackend", one of them is used by "Portal" and the other is used by "Worker".

[2020-01-14 09:26] Mike-EEE commented on #352
Hm weird @DancingCorpse ... are you able to provide what the generated XML looks like so I can take a look into this further for you?

[2020-01-14 09:33] Mike-EEE commented on #352
Also, if you can create a repository that reproduces this error I can grab it and take a look into it.

The tricky part about using `File.Save` and `File.Load` is that it adds a lot of complexity to testing so we do not use it if we can help it.

[2020-01-14 09:35] DancingCorpse commented on #352
Hi @Mike-EEE, the generated XML file content is
[code]

I ran your unit test case and it did works, I'm not sure what's the difference.

[2020-01-14 09:39] Mike-EEE commented on #352
Yeah let's see if you can get a `csproj` posted to a repository here on GitHub with the above code failing and I will look into it further for you @DancingCorpse. 👍

[2020-01-14 09:50] DancingCorpse commented on #352
Hi @Mike-EEE, I created a test repo "https://github.com/DancingCorpse/ExtendedXmlSerializerTest.git" on which you can try it, thanks very much.

[2020-01-14 10:04] Mike-EEE commented on #352
Yes indeed... looks like there's something going on with the type resolution.  In our tests we usually put the model classes under test as nested classes, which is probably the differentiating factor here.  Taking a look into this now.

[2020-01-14 11:14] Mike-EEE commented on #352
Boo... this is not pretty.  Our reader situation is not the greatest.  We have a special attribute in place for members to delineate between type members and for when a child element is actually a list element, as classes can be a collection with properties as well.

Anyways, I had to extend this dubious practice to fix this issue.  Essentially, we were getting a conflict for members with the same

[2020-01-15 02:23] DancingCorpse commented on #352
Hi @Mike-EEE, the package of version 3.0.2.8-qcjowwvf works well, one problem still exists is that my original serialized XML content still can not be deserialized successfully, but it's not a big problem and I can handle it I think, really appreciate for your help.

[2020-01-15 04:41] Mike-EEE commented on #352
Ahhh you mean now because of the new `exs:member=""` tag?  Yeah I am not sure what to say here, it's ugly.  Our XmlReader needs a rewrite and my time is limited these days. :(

One thing you can do is to consider using XSLT to put in that tag before sending it to ExtendedXmlSerializer.

[2020-01-17 07:07] Lux44 opened #355 "MemberConfiguration.Order / Attribute Order"
Hi, I would like to specify the Order of the attributes using Profiles, like:
.Member(x => x.C).Name("Cc").Order(0).
.Member(x => x.B).Name("Bb").Order(1)

For some reason it doesn't work for parent element, but it does work for child elements. I'm sure I'm missing something obvious. The whole code is here:
https://gist.github.com/Lux44/265d485c04a707fe72f853a0d8cda8bb

Desired xml:
[code]

Actual

[2020-01-17 16:20] Mike-EEE commented on #355
Wow @Lux44 there are some days that I wonder how any of this manages to actually work at all... THIS IS ONE OF THOSE DAYS. 😆

I am not feeling too good about #352 either which is a really bad solution to that problem.  Seems like things like this would (should!) have popped up wayyyyyy sooner.

Ok, diatribe and whining aside, I am looking at this now. 😁

[2020-01-17 18:38] Mike-EEE commented on #355
Alright @Lux44 this was actually pretty straight forward: we were simply not ordering members in the case of parameterized content.  This has been fixed and can be tried out by following the details here:

https://github.com/ExtendedXmlSerializer/home/pull/356#issuecomment-575742944

Please let me know if you have any questions and I'll do my best to help you out. 👍

[2020-01-17 19:16] Lux44 commented on #355
Works as expected, thank you very much!

[2020-01-17 20:07] Mike-EEE commented on #355
Great!  I will push out a new version this weekend and update here accordingly.

[2020-01-18 05:55] #355 closed

[2020-01-18 06:34] Mike-EEE commented on #352
Alright I totally hate this "fix" but again it will have to do for now.  Someday when I have a billion years to devote to rewriting this project I can gut out this reader and make it good.  Or someone can submit a PR and do it for me. 😆

Anyways, this is now available on NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

[2020-01-18 06:34] #352 closed

[2020-01-18 06:34] Mike-EEE commented on #355
This is now available on NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

[2020-01-19 01:45] DancingCorpse commented on #352
@Mike-EEE  Really appreciate it.

[2020-01-23 08:45] aspektxxx opened #358 "struct serialization"
When using version 2.0.24, given `var serializer = new ConfigurationContainer()
                                            .EnableParameterizedContentWithPropertyAssignments()
                                            .EnableReferences()
                                            .Create();` when root object for graph to serialize is struct `var v = new vector(new length(11), new length(13));`

[2020-01-23 10:41] Mike-EEE commented on #358
Nice grab, @aspektxxx!  That's a good point.  If we're serializing structures as the root instance then capturing references doesn't make sense.

Although structures can technically have references, with ExtendedXmlSerializer references are intended to be captured and monitored in the context of a parent/root (class) reference that serves as the start of the object/reference graph.

I have disable

[2020-01-23 10:59] Mike-EEE commented on #358
Doh... looks like there's also an issue altogether with using `EnableReferences` with `EnableParameterizedContent`* ... looking into this now.

[2020-01-23 11:39] Mike-E-wins opened #360 "Fatality: Combining EnableReferences with EnableParameterizedContent* is Not Supported"
Per #358 ...

Looks like this is an unsupported scenario, meaning that if you use it, it will break.

Combining any flavor of `EnableParameterizedContent` with `EnableReferences` produces an unaccounted-for scenario, and will break.  I poked around to see if it is easily fixable, but alas it is not.  Capturing this here for those who might be running into this issue.

Unfortunately my time to devo

[2020-01-23 11:43] Mike-EEE commented on #358
Boo @aspektxxx you sunk my battleship. 😆  While I can dodge the bullet with the structure root reference, combining `EnableReferences` with `EnableParameterizedContent`* leads to very bad things.  I have captured this in #360.

[2020-01-23 12:31] aspektxxx commented on #358
Well @Mike-EEE the fix is working great. You can merge it.
PS: sorry for sinking your project. 🥇

[2020-01-23 12:32] aspektxxx commented on #360
@Mike-EEE can you please elaborate on the issue? I'm using it on pretty big project to serialize project data. Its working without issues, at least for now. However, I would like to know possible drawbacks :)

[2020-01-23 13:06] Mike-EEE commented on #360
Each one of these features works pretty good on their own.  It's combining them that is the problem.  For `EnableParameterizedContent` we do not instantiate an object but rather capture it in an `ActivationContext` object (basically a dictionary) and then instantiate the object once all the properties (constructor parameters) are captured.

Pairing this with references... when we capture a referen

[2020-01-23 13:06] #358 closed

[2020-01-23 16:23] Mike-EEE commented on #360
For clarity @aspektxxx this test fails:

[code]

Note that `vector` has been made a `class` and that the same reference is sent to the constructor of `vector`:

[code]

If you are _not_ doing the above then it does work.  However if you use references with parameterized content as demonstrated above then it does throw an exception.

[2020-01-27 14:47] aspektxxx opened #361 "circular references are detected for types with custom serializer"
Given complex type containing circular reference and custom serializer for that type `IExtendedXmlCustomSerializer<MyType>`, you get an exception that circular references are detected.

I belive types with custom serializer implemented should not be checked for references.

[2020-01-27 14:50] aspektxxx commented on #360
@Mike-EEE thanks for explanation. This got me thinking about my project and I found bug where type with custom serializer is checked for references: [361](https://github.com/ExtendedXmlSerializer/home/issues/361)

[2020-01-27 19:07] Mike-EEE commented on #361
Ah are you saying you are handling the circular references with your custom serializer?  The problem here is that not every custom serializer will handle circular references.  So, is it a matter of enabling per-serializer?

I guess the better question is... is the exception keeping you from using a custom serializer altogether?  Providing some sample code would assist in helping determine a resolu

[2020-01-27 21:47] aspektxxx commented on #361
Well, kind of. Maybe I was not clear enough by generalizing the problem. In my scenario, images are part of the data model I need to serialize. However, they also contain some metadata about that particular image. In that metadata, circular references may occur and they are beyond my control. The thing is, I don't want to store that image (that can potentially be up to 64k x 64k pixels) as Base64

[2020-01-27 21:48] aspektxxx commented on #361
Example:

[code]

[2020-01-27 21:50] aspektxxx commented on #361
I would expect that the example above will work without issues and the exception would be thrown only when custom serializer is not registered

[2020-01-28 11:34] Mike-EEE commented on #361
Yep, thinking this over and I agree with you @aspektxxx ... if the user is overriding the serialization that means they are assuming and given full control of it all.  They are, of course, agreeing to dive into the depths of XML document structures and the like.  So, they should be able to deal with circular references.

The next step, of course, is seeing if we can avoid the error.  I will look i

[2020-01-28 12:21] Mike-EEE commented on #361
Alright here you go for your review, @aspektxxx: https://github.com/ExtendedXmlSerializer/home/pull/362#issuecomment-579217518

[2020-01-29 09:25] aspektxxx commented on #361
@Mike-EEE well, its working only if the type with custom serializer is the root object. If I change the example above to:
[code]
its still throwing an exception. :(

[2020-01-29 10:31] Mike-EEE commented on #361
That's a good point @aspektxxx. 😁  Your use case is a good one as well as the type being detected as having multiple references is `length` and not `AdornedImage`.  The reference detection is very basic for performance reasons as this is running on (what is considered) the hot path.

As such, we report that multiple references are detected, but not the containing type in which these instances are

[2020-01-29 17:04] aspektxxx commented on #361
Okey @Mike-EEE, I got it working. Please look at it and tell me what you think :)

https://github.com/ExtendedXmlSerializer/home/pull/363

[2020-01-29 18:47] Mike-EEE commented on #361
Dang, you are BRAVE @aspektxxx! 😆  I am slammed for today but I will take a look first thing tomorrow for you. 👍

[2020-01-30 09:17] Mike-EEE commented on #361
Alright @aspektxxx [after a bit of a detour](https://github.com/gitextensions/gitextensions/issues/7706) I did manage to see your changes.  However, I am now a bit confused as the (currently) passing test `VerifyCustomSerialization_CircularReferenceOfRoot_DoesThrow` throws when above you state (and my understanding is) that you do _not_ want to throw in the case that a custom serializer is registe

[2020-01-30 09:41] Mike-EEE commented on #361
FWIW I put the above question where it belongs, @aspektxxx. :P

https://github.com/ExtendedXmlSerializer/home/pull/363/files#r372844908

[2020-01-30 15:21] #361 closed

[2020-01-30 15:43] Mike-EEE commented on #361
OK!  I got this shipped out for you, @aspektxxx ... thanks again for your patience and contributions here.  They are very much appreciated in light of my limited time of late.  Also, I got you in the [release notes](https://github.com/ExtendedXmlSerializer/home/releases/tag/3.1.1) and [CHANGELOG](https://github.com/ExtendedXmlSerializer/home/blob/master/CHANGELOG.md). 👍

3.1.1 can be found here:
h

[2020-02-06 18:38] jhranac opened #366 "Question: Is Singleton serializer configured during app-start supported?"
Hello,

We're having problems when using the serializer as a singleton - initialized once during application startup. Is this a supported scenario or should the serializer be created every time it's used?

See https://github.com/jhranac/XmlSerializerTest for minimum repro-repo

**The issue**
When we create the serializer some DLLs are still not loaded. The [AssemblyLoader](https://github.com/Exten

[2020-02-06 19:29] Mike-EEE commented on #366
Hi @jhranac thank you for writing in... that does sound like an interesting, unexpected problem.  Thank you for providing a repo.  I will look into this now.

[2020-02-06 19:42] Mike-EEE commented on #366
Alright I can indeed reproduce this on my end here @jhranac.  I will see if I can get this fixed for you. 👍

[2020-02-06 20:27] Mike-EEE commented on #366
OK @jhranac got a preview for you to try.  Installation instructions can be found here:
https://github.com/ExtendedXmlSerializer/home/pull/367#issuecomment-583094417

Please let me know if you run into any problems and/or have any additional issue/questions.

[2020-02-07 08:08] jhranac commented on #366
Hi @Mike-EEE ! Looking good. It loads the correct assembly from GAC now.
Any estimate when we can expect this fix in the release version?

[2020-02-07 09:46] Mike-EEE commented on #366
Great!  Let's see if I can fire something off now.  I will post here with any updates.

[2020-02-07 09:47] #366 closed

[2020-02-07 10:12] Mike-EEE commented on #366
Alright @jhranac see if this works for you and let me know of any problems you find:
https://www.nuget.org/packages/ExtendedXmlSerializer/

[2020-02-14 18:36] scarryjerry opened #371 "Getting this message : Not sure what needs to be done ?"
An attempt was made to load a type with the fully qualified name of 'SyncAgents', but no type could be located with that name.'

I have a very complex class with embedded and cascading classes

class SyncAgents
   string value1
   string value2
   class class1
   class class2[]
       class class3[]
       string value  3
etc......

class2 is a embedded class in class1, and class3 is a embedded cl

[2020-02-14 19:59] Mike-EEE commented on #371
Hi @scarryjerry thanks for writing in... this sounds like the namespace is not being emitted correctly or that it doesn't exist in the document.  Are you creating the XML with ExtendedXmlSerializer or does it already exist and written by another xml serializer?

[2020-02-14 22:21] scarryjerry commented on #371
The xml file already exists On Feb 14, 2020 2:59 PM, Mike-EEE <notifications@github.com> wrote:Hi @scarryjerry thanks for writing in... this sounds like the namespace is not being emitted correctly or that it doesn't exist in the document.  Are you creating the XML with ExtendedXmlSerializer or does it already exist and written by another xml serializer?

—You are receiving this because you were m

[2020-02-15 06:59] Mike-EEE commented on #371
In that case you will have to do a little bit of work.  ExtendedXmlSerializer works best if it generates the document, but should be able to handle legacy documents.  Try using the `EnableImplicitTyping` call:

[code]

And see if that helps you out.  Let me know of any further issues you run into and I will do my best to assist you with them.

[2020-03-05 11:12] Mike-EEE commented on #371
Closing this now as there has not been any activity with this question.  Please feel free to respond with any additional questions or comments with this issue, however, and I will do my best to assist you. 👍

[2020-03-05 11:12] #371 closed

[2020-03-09 14:23] QianMoXi opened #372 "KeyValuePair Serialization Error"
Just like this:
` var serializer = new ConfigurationContainer() .UseOptimizedNamespaces() .Create();
            var document = serializer.Serialize(new XmlWriterSettings(){Indent = true},
                                                new KeyValuePair<string, object>("123", "123"));`

Key and Value are not included in the results:
`<KeyValuePair xmlns:exs="https://extendedxmlserializer.github.io

[2020-03-09 15:10] Mike-EEE commented on #372
Hey @QianMoXi thanks for writing in.  I thought for sure you found a bug but this is actually intended behavior.  If you look at `KeyValuePair.Key` and `KeyValuePair.Value` they are both get-only and do not have writable setters.

In order to serialize these objects, you will have to make use of the `EnableParameterizedContent` call.  I have demonstrated this in the form of a passing test here:

h

[2020-03-10 01:28] QianMoXi commented on #372
This is very useful to me.
Sorry, I don't look at the document carefully.

[2020-03-10 01:28] #372 closed

[2020-03-10 07:44] Mike-EEE commented on #372
Glad to hear, @QianMoXi!  Thanks for stopping by. 😊

[2020-03-11 09:49] bugproof opened #374 "System.InvalidOperationException: An attempt was made to load a type with the fully qualified name of 'x'"
Hey,

I generated classes from xml schema with https://github.com/mganss/XmlSchemaClassGenerator

The XML has attribute on the root element like `xmlns:tns="http://jpk.mf.gov.pl/wzor/2017/11/13/1113/"` but somehow ExtendedXmlSerializer can't swallow it :(. Normal XmlSerializer can but it's kinda old and would love to switch to ExtendedXmlSerializer.

This is the schema I generated class from: http

[2020-03-11 10:15] Mike-EEE commented on #374
Hi @bugproof thanks for writing in.  ExtendedXmlSerializer *should* be able to handle this, let's see. 😁

Try making use of the `InspectingType` method [as demonstrated in these tests](https://github.com/ExtendedXmlSerializer/home/blob/master/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue175Tests.cs) and see how that treats you. 🤞

[2020-03-11 10:18] bugproof commented on #374
InspectingType gets rid of that exception but now deserialized object is empty

[2020-03-11 10:32] Mike-EEE commented on #374
Doh!  I was afraid of that. Do note that EXS's primary use case is to [serialize/deserialize .NET object graphs and not to preserve legacy functionality](https://github.com/ExtendedXmlSerializer/home/wiki/FAQs#systemxmlserializer-vs-extendedxmlserializer).

My time these days is a bit limited for this project, unfortunately, but I will look into this and see if it's something obvious/simple to fix

[2020-03-11 10:46] bugproof commented on #374
Tried serializing as well but it doesn't serialize everything for some reason. Looks like it won't be as easy as just swapping `XmlSerializer`.

[2020-03-11 11:07] Mike-EEE commented on #374
Wow really... so am I understanding correctly that you're getting more data emitted with ExtendedXmlSerializer, but it's not the full graph?  That should definitely not be happening as it _should_ be able to serialize pretty much anything you throw at it, especially if it is a simple graph that is serialized by the classic serializer.

Are you able to say which properties are not serializing and/o

[2020-03-11 11:11] bugproof commented on #374
The collection isn't serializing
[code]

[2020-03-11 12:15] Mike-EEE commented on #374
Ah! OK @bugproof the problem we're running into is that `SprzedazWiersz` doesn't have a public setter.  Are you able to make that public in your generation?

Also, we do support `readonly` collection getters but it's dependent on the property not having a setter at all.  I was able to get the collection to emit by doing:

[code]

(And removing the initializer from the constructor).

[2020-03-11 12:17] Mike-EEE commented on #374
I guess the other "fix" we can employ here is to add a check to the `readonly` collection getter for a private setter (in addition to no setter).

[2020-03-11 13:46] aspektxxx opened #375 "Performace issue"
Hi @Mike-EEE, I'm experiencing a performance issue when trying to serialize pretty complex object with few dozens of items with custom serializer in list. Currently I'm unable to pinpoint it to the root cause and prepare the repro sample. However, profiler show a 25% time is spend in  `SetterFactory:39 lambda.Compile();`

the serialize is created with
[code]
Any idea what could be root cause?

[2020-03-11 14:36] bugproof commented on #374
Don't think it's possible to generate with public setters:
https://github.com/mganss/XmlSchemaClassGenerator/issues/9

[2020-03-11 17:22] Mike-EEE commented on #374
Alright @bugproof after poking around at this I found another issue #200 that was similar and has a solution that involves adjustments to the extensions that are passed into the `ConfigurationContainer` constructor.  Check it out:

https://github.com/ExtendedXmlSerializer/home/blob/97f458c56de54f7993ba521484eda9d220be8730/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue374Tests.cs#L18-L47

Si

[2020-03-11 17:34] Mike-EEE commented on #375
Wow yes @aspektxxx lambda compile time is expensive and it should be caching this.  Are you able to reduce the possible culprits by removing some of the configurations above?  Or are you saying the above configurations for sure cause the performance pain you are experiencing?

[2020-03-11 17:35] Mike-EEE commented on #375
Also I am glad to hear you are using a complex scenario and it isn't exploding at first sight. 😁😆

[2020-03-12 00:15] bugproof commented on #374
Should be fine to solve that serialization problem, XML in .NET is a tough topic. Probably because everyone moved on to other formats.

[2020-03-12 00:17] #374 closed

[2020-03-12 07:53] Mike-EEE commented on #374
Yeah I took on the challenge of developing it, mostly to try to replicate [System.Xaml which seemed to be being deprecated at the time](https://github.com/dotnet/runtime/issues/16243). I didn't realize it also came along with the challenge of _supporting_ it, which is far far greater -- many many days now and still counting. 😆  Good learning lesson. 😁  I make this a consideration now when acceptin

[2020-03-13 11:31] aspektxxx commented on #375
@Mike-EEE well, that's the problem, I'm unable to reduce it as its too complex. Till now I was unable to prepare repro steps as all simpler examples works like a charm. I was hoping that you might have some clue what can be possible root cause. I will look more thoroughly into it next week and try to prepare repro.

[2020-03-16 15:21] aspektxxx opened #377 "collections initialized in constructor are not cleared on deserialization"
Given test
[code]
where
[code]
I get

"contains 3 item(s) more than"
"{"data4", "data5", "data6"}.

I would expect collection to contain only items 4 to 5.

[2020-03-16 15:24] aspektxxx opened #378 "modified array cannot be deserialized"
Given test
[code]
where
[code]
I get

I would expect this can be correctly deserialized

[2020-03-16 15:43] aspektxxx opened #379 "some collection types are not serialized"
In the current contract in order to serialize collection, an ICollection IFace must be implemented and it must be possible to activate that type. I believe that collections should not be created by activator if created in constructor (e.g. ReadOnlyCollection). Also more general collections like IReadOnlyCollection or IEnumerable should be supported. In this case I propose they should be optionally

[2020-03-17 07:24] Mike-EEE commented on #378
This looks weird and definitely a bug, @aspektxxx thank you for reporting it.  Looking into this now.

[2020-03-17 07:27] Mike-EEE commented on #379
There's always the choice of leveraging the extension model if a particular type is not supported, @aspektxxx. :)

[2020-03-17 07:30] Mike-EEE commented on #377
This is a good catch, @aspektxxx ... we do capture this with basic values/references via the `EmitBehaviors.WhenModified` behavior, but I do not think it works for collections/lists.  I will look into this one but it might be more involved than a simple fix.

[2020-03-17 08:36] Mike-EEE commented on #378
Ah!  Details, @aspektxxx. 😁  This is operating as expected on a read-only collection property (I was thinking it was writable).

However, it's expecting something like:

[code]

So this is unsupported although it would be nicer to get a better experience (exception message) to say so.  Would that suffice for your purposes here?

[2020-03-17 08:38] Mike-EEE commented on #378
I guess the other thing we could do is add another `MemberAccessor`... something like `ReadOnlyArrayMemberAccessor`.  It would be cool to get that in an extension.  I am not sure if member accessors are really that, erm, accessible (irony 😏) to being extended, however.

[2020-03-17 09:27] aspektxxx commented on #378
@Mike-EEE well, I don't think it works as expected. Its not read only array (collection) so it can be modified. Its also being emitted into xml. I don't see why it should not be possible to deserialize. The fact that the property itself is read only is IMHO irrelevant.
Anyway, this is not a real issue for me. I came across it when testing how it behaves with collections. I believe current implemen

[2020-03-17 09:29] aspektxxx commented on #379
@Mike-EEE I would like to extend it myself, but I find it almost impossible without help. The implementation model is IMHO hard to grasp, as the names of methods, variables and even classes are too generic.

[2020-03-17 09:30] Mike-EEE commented on #378
Yeah I agree @aspektxxx I have been looking further into it.  The problem is that we enumerate through values currently and do not have a notion of an indexer.  It would involve some work.  Luckily the member accessor components are all internal so it won't (or shouldn't) introduce breaking changes.

[2020-03-17 10:27] Mike-EEE commented on #377
Yeah checking this one out @aspektxxx I am not sure the best way of supporting it.  The constructor is being called which is like calling a method on an object with initialization functionality being performed on it.  You're not going to get away from that and IMO it is bad practice for exactly these kind of scenarios.

FWIW I only use constructors to assign my internal `readonly` fields. :)  Any

[2020-03-17 10:31] Mike-EEE commented on #379
Yeah I hear that @aspektxxx ... the extension model sort of "just happened" over time and it was me developing it without much documentation over several years.  I took a whack at it several months ago but as with anything it can always use improvement.

The best suggestion I have if you are patient enough is to go through the tests to see how they are used there, or anything implementing `ISerial

[2020-03-17 13:25] jhranac commented on #375
Facing the same (very similar) issue.

We've got a list of very complex objects. There are custom serializers defined for their types - so I'd expect the XML serializer to not care about the contents of the objects. But even with the custom serializers configured the XML serializer is scanning everything.

Based on the stack-trace there was no caching on the way that could prevent this. While addi

[2020-03-17 14:52] aspektxxx commented on #377
@Mike-EEE Yeah, generally I agree. But! I have a very special case of a collection of fixed size that is modeling state of some old HW design and having init method on it is impractical at best.
Anyway, I agree that doing general fix might not be easy if possible at all. Maybe checking if that type is ICollection<T> and clearing if so. But that's still not generally usable. Thinking about it, what

[2020-03-17 15:04] Mike-EEE commented on #375
OK thank you for the additional information @jhranac.  Just so we remove one element here... I would like to verify how the serializer is being created and how the serializer is being used.

The serializer should be a singleton (or scoped) object that is created once (where all the setup and caching occurs), and then its `Serialize`/`Deserialize` methods called many times (with the first being the

[2020-03-17 15:16] Mike-EEE commented on #377
The first thought is that you might be able to take advantage of the serialization pipeline monitor here:

https://github.com/ExtendedXmlSerializer/home/wiki/Example-Scenarios#monitor-serialization-pipeline

When an object of a certain type is instantiated you can further perform actions upon it.  In this case you could clear the collection (or do whatever you need to do) when an object is activat

[2020-03-17 16:46] jhranac commented on #375
We're using 3 instances of the serializer in the whole application (they have slightly different configuration based on usage). All of them are singletons and live for the whole lifetime of the application, never to be disposed/re-created. They do not cross-reference each other or use custom serializers to mix the usage. Always using just the one for the job.

[2020-03-17 18:16] Mike-EEE commented on #375
ALRIGHT... crossing that off my list here.  The next checkdown I spy is the use of `UseOptimizedNamespaces()` ... there might be something funny/unexpected there that we are not accounting for in the caching.  I will see if I can carve some time out for this.

Are you able to perhaps try a quick scenario without the use of `UseOptimizedNamespaces()` and see if that impacts your overhead at all, @j

[2020-03-18 05:20] Mike-EEE commented on #375
Doh... we indeed have some funny business going on here.  It looks like caching simply is not working at all. :|  Looking into this now.

[2020-03-18 07:15] Mike-EEE commented on #375
Alright there was a place where indeed lambda compilation was occurring twice.  I am not convinced this addresses the full problem but it's a start.  Please find the build details here:

https://github.com/ExtendedXmlSerializer/home/pull/381#issuecomment-600459644

We'll see how that does as a first step. 🤞

[2020-03-18 08:32] Mike-E-angelo opened #382 "Serialize Expressions"
@SuperJMN asks: IS THIS POSSIBLE????

https://twitter.com/SuperJMN/status/1240035891520954372

[2020-03-18 09:17] VitaliyMF commented on #382
LambdaParser is about formula-like expressions; it doesn't support constructions like for/foreach or anonymous functions. It's primary purpose is to handle expressions with dynamic (run-time) types harmonization, this is especially useful if these expressions may be entered by the end-users.

I don't think that LambdaParser is a right component for .NET Expression trees serialization/deserializati

[2020-03-18 09:32] Mike-EEE opened #383 "Notice of Support Availability and Expectations"
Wow, as I write this I see that we have acquired 160 stars here in the ExtendedXmlSerializer.  As [I recently regaled](https://twitter.com/MikeTripleE/status/1239823209593266176), 150 stars isn't really anything, but it's not nothing, either.  Thank you so much to everyone who has supported and contributed to this project!

With that said, I wanted to make a bit of a status update about where I am