[2020-03-18 09:37] Mike-EEE commented on #382
Wow cool!  A direct answer.  Thank you @VitaliyMF for taking the effort to let us know.  We will put some additional cycles towards figuring this out.

The interesting thing is that you can call `ToString` on an `Expression` and it will emit exactly as defined.  So it would seem serialization is spoken for and already available.  Are you aware of any expression parsers out there that would deseria

[2020-03-18 09:48] VitaliyMF commented on #382
`Expression.ToString` internally uses https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/src/System/Linq/Expressions/ExpressionStringBuilder.cs

From the first sight, it doesn't look that `Expression.ToString()` always produces a valid C# syntax; if this is true parser that can convert this string back to Expression for all possible outputs is not possible, however for some s

[2020-03-18 09:49] jhranac commented on #375
We're using the optimized namespaces - which in retrospect makes no sense in some of the cases so I'll remove that. That should fix some of the performance issues for us.

Performance times - 100 iterations run to get an average. Times format: [serialize 1 element in array] / [serialize 100 elements in array] in milliseconds

Version | Optimized namespaces | Disabled properties | Optimized namespa

[2020-03-18 12:33] Mike-EEE commented on #375
WOW!  That is some decent feedback and information @jhranac thank you for providing it.  Good to see.  I am getting the feeling there is another #361 that is lurking in here.  Let me see if I can find it.

[2020-03-18 12:51] Mike-EEE commented on #382
Yeah that is a good point @VitaliyMF I have only tried simple expressions and nothing too involved.  Of course, having to write our own parsers is exactly what we're trying to avoid if it's already been done somewhere. 😁

[2020-03-19 05:38] Mike-EEE commented on #375
OK @jhranac I *think* I got it. 😁

https://github.com/ExtendedXmlSerializer/home/pull/381#issuecomment-600997511

I removed the check for type members if a custom serializer is present.  All tests still pass, so... let's see.

[2020-03-19 12:23] jhranac commented on #375
The timings look much better now!

Version | Optimized namespaces | Disabled properties | Optimized namespaces;     disabled properties | NOT optimized namespaces;     properties enabled
-- | -- | -- | -- | --
3.1.2.3-rywdiqno | 56 / 213 | 42 / 192 | 45 / 198 | 45 / 196

I'm happy with those results. Good job!

[2020-03-19 14:24] Mike-EEE commented on #375
SWEET!  It's the little things in life ATM. 😅  I will merge this in and then shoot for next Tuesday for a release to NuGet. 👍

[2020-03-25 13:08] Mike-E-angelo commented on #375
Welp, tried to deploy this but we are having a little trouble with GitHub Actions:
https://github.com/ExtendedXmlSerializer/home/runs/533449304

I have a ping out to support, we'll see what's up.

[2020-03-26 04:55] Mike-E-angelo commented on #375
Alright, looks like the issue is with a dependency having to deal with PowerShell 7, which for some reason was auto-updated without confirmation in GitHub Action images. 🤷‍♂️

They are aware of it and looking into it:
https://github.com/baldator/Poshstache/issues/10

We'll proceed once there's a fix.  Sit tight with the preview feeds in the meantime. 👍

[2020-03-26 07:41] Mike-E-angelo commented on #375
Also being tracked here:
https://github.com/actions/runner/issues/387

[2020-03-30 03:44] Mike-E-angelo commented on #375
FINALLY... got this sucker out:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if you run into any problems.  Thank you for your efforts towards improving ExtendedXmlSerializer. 👍

[2020-03-30 03:44] #375 closed

[2020-03-30 03:46] Mike-E-angelo commented on #382
Closing this as it will be bigger commitment than what I can attend to at the moment... will open up if someone would like to take a look into it.  Thanks again for assisting in ascertaining scope, @VitaliyMF!

[2020-03-30 03:46] #382 closed

[2020-03-30 03:47] Mike-E-angelo commented on #377
I wanted to check in with this issue, @aspektxxx ... was the pipeline monitor able to help you out?

[2020-04-03 20:50] jamesquox opened #385 "How to control reference naming and remove namespaces?"
First of all a thank you for spending your time to create this masterpiece.
I have two questions/issues that I can't wrap my head around and hopefully you can tell me that it can't be done and I can move on =)

1. I've tried many ways to get access to the naming used for the identity and reference attributes, but don't see a way of overriding them?
2. I'm only serialising my model and would like t

[2020-04-04 03:51] Mike-E-angelo commented on #385
Hi @jamesquox thanks for writing in.  You will be able to remove a

To address your questions here:

1. Unfortunately these are considered critical/essential attributes so they cannot be removed without breaking functionality with expected ExtendedXmlSerializer syntax.
1. You can get a little more out of removing unwanted namespaces by adding `List<Person>` to your `EnableImplicitTyping` call, so:

[2020-04-04 03:54] Mike-E-angelo commented on #377
I have adjusted this to a question as it seems existing functionality can assist you in your requirements here.  Please let me know if that is not the case and we can re-open and adjust accordingly. 👍

[2020-04-04 03:54] #377 closed

[2020-04-07 17:07] jamesquox commented on #385
Cheers Mike for the confirmation👍

[2020-04-17 16:17] #385 closed

[2020-04-20 14:02] jhranac opened #386 "Flags enums are not serialized when multiple flags are set"
Hi,

I've encountered an issue with Flags enums. When multiple flags are set the enum value is serialized as null. Works fine with only one flag.

Code to repro:
[code]

Given the above example, the code:
[code]
produces incorrectly
[code]

while this snippet works
[code]
[code]

[2020-04-20 16:17] Mike-E-wins commented on #386
Ah!  Indeed, @jhranac ... nice find.  I've committed a fix that (hopefully 😁) addresses this issue.

Here are the instructions to try it out:

https://github.com/ExtendedXmlSerializer/home/pull/387#issuecomment-616658240

Please let me know of any issues that you find and/or questions you might have and I'll do my best to help you out. 👍

[2020-04-21 06:46] jhranac commented on #386
With the new version I'm getting another type of an issue:
[code]
I've just found out that the enum we're using does not have int as a base type (it's referenced from a different library). It uses uint which can't be typecasted to int without loss of data.

I'd suggest utilizing
[code]
to get specific enum value-type. The only type you have to check should be the ulong/UInt64. Everthing else can b

[2020-04-21 07:58] Mike-E-wins commented on #386
Weird @jhranac it would seem there's something wrong with the versioning here.  The callstack points to a converter class that was in the first release but removed in the 2nd release yesterday.

I have created a new release with a passing test on an `uint` enumeration type.  You can find that here:
https://github.com/ExtendedXmlSerializer/home/pull/387#issuecomment-617018114

Let's see if that tre

[2020-04-21 13:56] jhranac commented on #386
Yup, this works! Thanks for the quick fix.

[2020-04-21 17:47] Mike-E-wins commented on #386
Sweet!  I'll merge this in and see if we can get this posted to NuGet in the next week or so, depending on if other issues are reported.  In the meantime feel free to use the preview build. I will update once posted. 👍

[2020-04-28 06:49] Mike-E-wins commented on #386
Welp, tried to post but have run into yet another GitHub Actions issue:

https://github.community/t5/GitHub-Actions/Yet-Another-Broken-Build/m-p/56016#M9717

"Brittle" is my impression of this tech.  Should have simply stuck with AppVeyor.  Waiting to hear back to resume.  Please stick with the preview build for now.

[2020-04-29 17:30] yan-oreshchenkov opened #388 "Doesn't even start"
I'm trying to use in my UnitTests (netcore 3.1):
[code]

and getting `Sprache.ParseException: 'Parsing failure: unexpected '<'; expected letter (Line 1, Column 1); recently consumed: `. What I do wrong?

I tried different options with `ConfigurationContainer` with the same result. I don't believe that it doesn't work at all.

[2020-04-29 20:22] Mike-E-wins commented on #388
Hi @yan-oreshchenkov thank you for writing in... I will have to look into this but I do not believe we support `dynamic` objects as I believe you are attempting to do here.  It looks like it got far enough to serialize it, and even that is remarkable to me. 😆

I will see if I can poke around with this sometime tomorrow when I have more time but I am pretty sure this is an unsupported scenario.  Ho

[2020-04-30 05:10] Mike-E-wins commented on #388
Alrighty... I looked into this and this is definitely not a supported scenario at the moment.  We can improve the developer experience by providing a better exception message, but outside of that it will require additional work which is outside the limits of my time, unfortunately.

[2020-04-30 06:08] #388 closed

[2020-05-01 07:10] Mike-E-wins commented on #386
Alrighty!  We are live.  Thank you for contributing and improving the quality of ExtendedXmlSerializer!

https://www.nuget.org/packages/ExtendedXmlSerializer/

[2020-05-01 07:10] #386 closed

[2020-05-07 14:46] Lakistein opened #391 "XmlText not assigning parsed value to the property and its throwing exception"
Hi,

I have an issue with XmlText, I tried few things but I cannot make it work. Maybe I'm missing something.

I have this class:

[code]

and this XML

[code]

This is the code:

[code]

Basically the deserialization works fine, apart from Text property, which is null when "EnableXmlText()" is not used, and it throws exception when it is.

The exception thrown is "XmlException: Value cannot be nu

[2020-05-07 15:15] Mike-E-wins commented on #391
Heya @Lakistein thanks for writing in.  Unfortunately `XmlTextAttribute` is not supported well with our API.  You can see more of this on #192 and #242.  It is also mentioned in our FAQ FWIW (I know I know who reads those?! 😅):

https://github.com/ExtendedXmlSerializer/home/wiki/FAQs#systemxmlserializer-vs-extendedxmlserializer

Unfortunately, I made things worse by _attempting_ to add support wit

[2020-05-07 15:23] Lakistein commented on #391
Hi @Mike-E-wins , thanks for the quick reply :)

I actually did read FAQ and few issues related to XmlText, but I was hoping that there is more to it :(

That being said, is there any other way to read "SomeInnerText" and store it in Text property ? Because I can still see it being parsed by the reader ?

[2020-05-07 15:52] Mike-E-wins commented on #391
Yeah, unfortunately, it is a good learning lesson for me personally in trying to please everyone.  Actually, I say that, but I feel I have done a pretty good job here.
 But for some reason, `XmlText` has been a stickler in my side, doh.

As for workarounds, if you have non-EXS XML and want to serialize it into EXS and back, my recommendation would be to look into XSLT as that is what it is designe

[2020-05-10 17:24] LPeter1997 opened #392 "Startup time (creating an `IExtendedXmlSerializer`) is incredibly slow"
I've noticed that serializing doesn't take too long, but the configuration, even just for trivial cases takes waaaay too long. Running this:

[code]

Yields around 1.5 seconds, which is very annoying, when my app used to start up in less than a hundredth of this. Why does this take so long?

Does this mean I have to cache my serializer and not even attempt to construct one as I need?

[2020-05-10 18:48] sbeaudoin opened #393 "Partial deserialization."
With v3.1.4, I receive the following XML from an external web source:

[code]
the provided class for it is:
[code]
I instantiate the serializer and deserialize with the following.  This is a piece of the method who except a generic TReturn type.  In this case, a Pin class.

[code]
Every property of the resulting class is populated correctly, except AuthToken who is always empty.  Is it a bug, or s

[2020-05-10 19:13] sbeaudoin commented on #393
It works correctly if I add this to the Pin class:
[code]
If I remove the UserID and Trusted properties, it still don't work.  Does it means I must absolutely have a property for each element of the xml?  If so, it would be a good idea to either be able to receive an exception, telling me it can't complete, or else, have a mode where I can deserialize a partial class.

[2020-05-10 19:18] sbeaudoin commented on #393
Last note.  If I remove the AuthToken2 property, it still works.

[2020-05-11 05:59] Mike-E-wins commented on #392
Yikes!  That does sound bad, @LPeter1997.  Thank you for reporting it.  When we first created v2 performance was a focus but it has not been one for some time now.  We have indeed focused on runtime but not configuration/startup time.

I will poke around and see if there is anything obvious that we can tackle and update here. 👍

[2020-05-11 06:25] Mike-E-wins commented on #393
Hi @sbeaudoin thanks for writing in. I took some time to look at this and you are correct the serializer is having problems with unknown content.  We probably show throw by default but that would be a breaking change.  In the meantime, we do have control over this, via the `WithUnknownContent` configuration:

[code]

Using your provided XML with the above configured container I get the following e

[2020-05-11 06:43] Mike-E-wins commented on #392
OK I have created a simple test that emits startup times.  Locally I get:

[code]

This is not outstanding but not a concern either and seems within expected range.

[In our build](https://ci.appveyor.com/project/ExtendedXmlSerializer/extendedxmlserializer/builds/32784293/tests) (search for `ExtendedXmlSerializer.Tests.ReportedIssues.Issue392Tests.Verify`) these also appear to be nominal however I

[2020-05-11 13:47] sbeaudoin commented on #393
Thank you for the fast answer.  I sincerely tried to find this "switch" myself for a few hours.  Even now, if I search WithUnknownContent in the API reference, nothing come in the result.  I will try this library a little longer, in evaluation mode this time, hoping the documentation will be updated soon.  The main reason I use it is for the support of Enums, particularly,  I am hoping it support

[2020-05-11 14:40] Mike-E-wins commented on #393
Yeah it actually gets better, @sbeaudoin.  `WithUnknownContent().Continue()` (not to be confused with ABORT which is what happens without any configuration) does exactly what you are looking for:

https://github.com/ExtendedXmlSerializer/home/blob/35b82c89667fef7f46356b4df247ce19a3691f4e/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue393Tests.cs#L12-L40

As for the documentation we made a bi

[2020-05-11 14:55] Mike-E-wins commented on #393
Alright I have added a new section to our wiki here, for your review:

https://github.com/ExtendedXmlSerializer/home/wiki/Example-Scenarios#unknown-content

[2020-05-11 15:21] LPeter1997 commented on #392
I've tried to add the library with NuGet in a new console app, even tried to clone the source and reference directly that. No difference here, still around one and a half seconds just to create a serializer in a .NET Core project.

[2020-05-11 17:44] Mike-E-wins commented on #392
Boo.  I am stumped for ideas, then.  Do you have an older computer?  Maybe another computer to try things out on to see how it fares?  I myself am on a Ryzen 2700x system, so not exactly new but not old either, around 4Ghz.  We are basically seeing a 6x difference between environments so this would imply that you have a processor that is 6x slower, so want to verify if possible as a basic sanity c

[2020-05-13 07:41] feO2x opened #396 "List<T> with complex objects (referential integrity, parameterized content) is not deserialized properly"
Hey guys,
thanks for ExtendedXmlSerializer and the love and effort you put into it, I really think it's a great XML serializer.

I'm currently testing if ExtendedXmlSerializer is able to handle a complex object graph for a new project. This project uses a node graph that can be cyclic. Each node has a list of all linked nodes, and these links can either be unidirectional (if only one of two nodes

[2020-05-13 08:22] feO2x commented on #396
I've tested  a further scenario and when `EnableParameterizedContentWithPropertyAssignments` is not configured on the XML serializer, it works flawlessly.

[code]

[2020-05-13 12:58] Mike-E-wins commented on #396
Wow!  Thank you for your detailed report and kind words, @feO2x!  It is much appreciated.

To be honest, I am amazed that _anything_ worked at all for you. 😆  Combining these two features has been identified as an incompatible feature combination with details provided in #360.

This is one of those inevitable gotchas with building an extensible system.  Well, rather, the v1 version of such (that i

[2020-05-13 13:53] feO2x commented on #396
Credit where credit is due. I've read a few issues in your repo and the way you handle them as a maintainer is very friendly and exemplary.

BTW, I realized that you can even turn `EnableParameterizedContentWithPropertyAssignments` on and it would **not** have any negative consequences as long as the serialized instances that require referential integrity are mutable.

So I will leave my model mut

[2020-05-13 16:05] Mike-E-wins commented on #396
Ahh thank you @feO2x that means a lot!  Happy to get this resolved, one way or another. :)  Thanks for stopping by and let us know if you run into any additional problems, particularly if they are easy to fix. 😁

[2020-06-06 20:54] gmkado opened #397 "EnableImplicitTypingFromAll breaks EnableReferences"
I'm new to this library so still playing around with how ConfigurationContainer works.  Apologies if this is the intended behavior.

Here's a simplified version of my data structures:
[code]

And here is my container
[code]
I would expect all `SubDTO` objects in `MainDTO` to be different objects that hold a reference to the same `SubSubDTO` object.

Here is the output
[code]
This looks right, at l

[2020-06-06 21:06] gmkado opened #398 "How to configure all subtypes of a base class"
Should inheritance be observed in the `ConfigurationContainer`?

Say I have the following setup:
[code]
Is there a way to configure all subclasses to i.e. ignore `AllowableCommandTypes`?
I tried

[code]

But it seems I have to type this out for all child classes to get it to work:
[code]

[2020-06-07 07:03] Mike-E-wins commented on #398
Ah, good point @gmkado thank you for reporting this.  I believe we have locations in play that account for types, but members might be overlooked somewhere.  I will look into this to see if it's an easy fix.

[2020-06-07 07:05] Mike-E-wins commented on #397
Doh, `EnableReferences` is already on notice with #360.  I will look into this one and see if it can be salvaged. 👍

[2020-06-07 10:13] Mike-E-wins commented on #398
Alright good news bad news with this one.  Good news is I was able to provide a solution.  Bad news is that it's not entirely elegant. 😞

It basically involves overriding the default extensions used and returning a modified `IAllowedMembersExtension` (which I introduced).

You can find a passing test demonstrating this behavior here:

https://github.com/ExtendedXmlSerializer/home/blob/issues/other

[2020-06-07 10:57] Mike-E-wins commented on #397
A quick note here that I have been able to reproduce this with your provided code.  Thank you for providing it.  It appears that the object graph gets serialized properly, but in reading it in something gets grumpy.  I will attempt to look further into this but this appears to be another ugly one. 😬

[2020-06-07 13:23] Mike-E-wins commented on #397
Alright tracked this one down.  The issue stems from work done to fix #341 which had problems with references being applied to attribute values, which made no sense.  So what I did was make a quick check for an identifier being used, which signifies an element node and not an attribute node.

Unless 😅 you are using an extensible formatting system that allows you to have implicit typing for particu

[2020-06-07 16:50] Mike-E-wins commented on #397
Unfortunately the solution I had in mind won't work.  This actually isn't an attribute/node problem but a context/scoping problem, which fundamentally is caused by our inner-content reader which has always posed some challenges.  As I mentioned, we're doing (or I _thought_ we were doing) some checking to see if the node is in an "attribute node" but really what it's doing is checking the current "

[2020-06-07 18:53] gmkado commented on #398
@Mike-E-wins thanks for the quick response!  Just tested your fix and it works for me.

[2020-06-07 19:16] gmkado commented on #397
Hmm can't say I really grasp the underlying issue here, but is there a way to `EnableImplicitTypingFromAll` for all types **except** my `MainDTO` object?

I'd like to keep the namespaces to a minimum to declutter the document, and this would allow me to not have to specify all types in my call to `EnableImplicitTyping`

[2020-06-08 06:14] Mike-E-wins commented on #398
Sweet!  We'll see if we can get #397 working and aim for a release next Tuesday to NuGet. 👍

[2020-06-08 06:25] Mike-E-wins commented on #397
Yeah, the underlying issue is that we have an extensible system that has trouble with its different parts playing nicely with each other. 😁

You could enable implicit typing for everything but `MainDTO`, however with your object graph as provided that doesn't do too much.  What this will do is emit a `xmlns` attribute at your root and provide the document a default identifier whenever it probes an

[2020-06-08 06:54] Mike-E-wins commented on #397
Good news, @gmkado!  Turns out I was actually super close yesterday but had overlooked a condition that was previously applied.  In reviewing the files I saw my oversight and was able to better apply the check for attributes.  So now everything should work better for you.  You can try it out here:

https://github.com/ExtendedXmlSerializer/home/pull/400#issuecomment-640404900

[2020-06-08 16:06] gmkado commented on #397
Thanks @Mike-E-wins , that fix worked for me as well.  You are awesome!

Two questions for you:
1. My xml now looks like this:
[code]
Is there any way to get rid of the `xmlns:exs` namespaces, or at least pull that definition up to the `MainDTO` element?

2. I notice sometimes the references use `exs:entity=id` and other times they use `exs:member="" exs:reference="#"`.  Curious what the differenc

[2020-06-08 16:28] Mike-E-wins opened #401 "EnableReferences + UseOptimizedNamespaces"
As per https://github.com/ExtendedXmlSerializer/home/issues/397#issuecomment-640723339, `exs` namespace should be pulled up to the root and appear only once in the document if `UseOptimizedNamespaces` is utilized.

[2020-06-08 16:31] Mike-E-wins commented on #397
Great!  Glad to hear we got something working after all.  As for your questions:

1. Unfortunately `exs` is a required attribute and cannot be removed.  However, you are correct in that it ideally should be pulled up to the root node if `OptimizeNamespaces` is utilized.  I will look into this with #401.
2. The difference between these two approaches is if the key location is utilized.  If you call

[2020-06-08 16:38] Mike-E-wins commented on #397
Nope, I had it backwards, @gmkado ... looks like `EnableReferences(x => x.Key)` results in `entity`.  We do have this in documentation, but it needs more detail around the two modes:

https://github.com/ExtendedXmlSerializer/home/wiki/Features#object-reference-and-circular-reference

[2020-06-08 17:31] Mike-E-wins commented on #397
Actually @gmkado don't listen to me. 😆  I am looking into #401 now and I am seeing `identity` where I would expect `entity`.  I will get a grasp around this again (it's been a few years) and get a write-up made for documentation and let you know. 👍

[2020-06-09 08:10] Mike-E-wins opened #403 "Document References Attributes"
As per https://github.com/ExtendedXmlSerializer/home/issues/397#issuecomment-640723339 this should be captured in the documentation.

[2020-06-09 08:12] Mike-E-wins commented on #397
Alright @gmkado check out this build:
https://github.com/ExtendedXmlSerializer/home/pull/402#issuecomment-641110145

That should have all the fixes for all the items that you have identified in this issue, the latest being the `exs` reference-based attributes when `UseOptimizedNamespaces` is applied.

I will wait a week in case anything else comes up and then shoot for next Tuesday for a release t

[2020-06-09 09:32] Mike-E-wins commented on #403
Alright, got this in there with the following section now:
https://github.com/ExtendedXmlSerializer/home/wiki/Example-Scenarios#references

[2020-06-09 09:32] #403 closed

[2020-06-09 09:34] Mike-E-wins commented on #397
OK got some further documentation for you @gmkado:
https://github.com/ExtendedXmlSerializer/home/wiki/Example-Scenarios#references

I believe that covers everything but `exs:member` which is not related to references.  `exs:member` is a marker attribute used to differentiate members from classes with the same name.  It's a bit of a hack and something I am not happy with, but alas it's what we have

[2020-06-09 12:36] Mike-E-wins commented on #393
Sounds like this issue/question was addressed and answer.  If I am wrong please feel free to comment and we'll further look into this for you.  Closing for now.

[2020-06-09 12:36] #393 closed

[2020-06-09 12:38] Mike-E-wins commented on #392
There hasn't been any activity on this issue for nearly a month now.  Please feel free to comment/reply and we can take it from there.  Closing for now.

[2020-06-09 12:38] #392 closed

[2020-06-09 12:41] Mike-E-wins commented on #391
Sounds like we've attended to this issue as much as we can.  `XmlText` isn't a fully-supported legacy feature and is captured as such in the documentation.  If you have any further questions/comments around this please do not hesitate to share and we can certainly revisit this in greater depth.  Hopefully, this issue will help others running into this problem in the future as well.  Closing this i

[2020-06-09 12:41] #391 closed

[2020-06-09 12:44] Mike-E-wins commented on #378
Looking over issues here and this has been open for nearly 3 months.  As per #383 my time for supporting involved issues are limited.  If someone wants to submit a PR I am more than happy to re-open this issue.  We can also revisit this if someone else opens up a similar issue.  As always, please feel free to post any additional thoughts/comments and we can certainly take it from there.  Closing f

[2020-06-09 12:44] #378 closed

[2020-06-09 12:46] Mike-E-wins commented on #379
There hasn't been a lot of movement on this issue so I am channeling my inner Stale-bot (😅) and closing it for now.  I, of course, welcome any additional thoughts/comments around it so feel free to provide them, and we can take it from there.  👍

[2020-06-09 12:46] #379 closed

[2020-06-16 07:37] Mike-E-wins commented on #397
The fixes here have been deployed to v3.2.0 on NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Here's hoping we didn't break anything else. 😆  Thank you for helping to make ExtendedXmlSerializer a better product!

[2020-06-16 07:38] Mike-E-wins commented on #398
v3.2.0 has been deployed:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let us/me know if you run into any additional issues and I will look into them for you. 👍

[2020-06-16 07:38] #398 closed

[2020-06-16 07:39] Mike-E-wins commented on #401
This has been deployed to v3.2.0:

https://www.nuget.org/packages/ExtendedXmlSerializer/

[2020-06-16 07:39] #401 closed

[2020-06-18 07:47] xsoheilalizadeh commented on #383
Hi @Mike-E-wins, thanks for spending your valuable time on this amazing library, I appreciate it and I hope you to be a success in your next project.

[2020-06-18 10:12] Mike-E-wins commented on #383
Thank you so much for that @xsoheilalizadeh!  That really made my day. 👍

[2020-06-21 15:15] deRightDirection opened #406 "how to deserialize this xml?"
i have the following xml.

[code]
how do i deserialize it now? I can't find anything in the documentation about how to handle with namespaces.

[2020-06-21 18:47] Mike-E-wins commented on #406
Hi @deRightDirection thanks for writing in.  As you've read the documentation, I'm sure you've seen [the section regarding classic serialization vs. POCO-graph serialization](https://github.com/ExtendedXmlSerializer/home/wiki/FAQs#systemxmlserializer-vs-extendedxmlserializer), which is the intended focus of ExtendedXmlSerializer.

If you are looking to deserialize a POCO that is based on a special

[2020-06-22 11:18] ondrasvoboda opened #407 "Broken references deserialization"
Hi,
after updating to the latest version 3.2.0 I'm unable to deserialize correctly XML created with .EnableReferences() option.

Fragment of my XML file:
[code]

After deserialization I get PathogenType with Code and Description null, instead of "f" and "Fungus".  It works in 3.1.4. I've seen some changes regarding references in the last version, so am I missing something or is it a bug?

Thanks!

[2020-06-22 13:11] Mike-E-wins commented on #407
Boo... I was afraid of something like this.  Thank you for taking the time to report.
 Yes, we did do some work with `3.2.0` around references to change how references work in the case of attributes.  Although, I am not sure why that would impact you as you do not seem to be using attributes and everything is an element.

Is the above a list?  I will attempt to create the object graph and see if I

[2020-06-22 13:20] ondrasvoboda commented on #407
Yes, it is a list of lookuptables and each has list of values in Models property. A value sometimes reference value from another lookup table - like in this case Pathogen reference PathogenType which is another lookuptable.
Thanks for looking into it.

[2020-06-22 13:24] Mike-E-wins commented on #407
OK cool thank you for the context, @ondrasvoboda.  To be sure, your referenced XML above does not have a closing `</Models>` tag so want to be sure that's due to removing additional data and not a malformed document.

[2020-06-22 13:26] ondrasvoboda commented on #407
Yes, that's due to removing additional data.

[2020-06-22 13:57] Mike-E-wins commented on #407
Alright @ondrasvoboda unfortunately I am not having any luck reproducing this.  I am eyeballing the model so there might be something fundamental that I am overlooking here.  This is what I have and seems to be passing OK:

https://github.com/ExtendedXmlSerializer/home/blob/3d0c314e395e73708444c65cd4b4bc99f0d35227/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue407Tests.cs#L12-L67

Is there a

[2020-06-22 14:11] Mike-E-wins commented on #407
Boom... figured it out.  It's our good friend the `member=""` hack.  This does not look promising but I will look into this.  Hang tight with `3.1.4` in the meantime.

[2020-06-22 14:27] Mike-E-wins commented on #407
Alright @ondrasvoboda check out the instructions here:
https://github.com/ExtendedXmlSerializer/home/pull/408#issuecomment-647553497

And see if that treats you better.  If it does, I will release this to NuGet ASAP since this will no doubt break others.

[2020-06-22 14:42] ondrasvoboda commented on #407
Works great, thanks!

[2020-06-22 14:45] #407 closed

[2020-06-22 14:59] Mike-E-wins commented on #407
Awesome!  Good news is that as easier than I expected, but bad news is that it involved adding another boolean check to the code which makes it feel hackier.  I am very much hoping `exs:member=""` doesn't make any more appearances, in any case.

Anyways, v3.2.1 is here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Not complaining about that version number, either! 😆

[2020-06-26 00:12] gmkado commented on #397
Hi @Mike-E-wins I think v3.2.1 broke the references in v3.2.0 somehow.  My reference Ids aren't being read in properly anymore, instead they are being set to a new GUID every time.

I don't have time to dig into it right now, but I can lightswitch the issue by switching back and forth between the two versions.

[2020-06-26 07:23] Mike-E-wins commented on #397
Pressing this one here right now:
http://www.nooooooooooooooo.com/

😝

[2020-06-26 07:32] Mike-E-wins commented on #397
Sort of a bummer/surprise because we have passing tests around this.  I'm becoming nervous around this issue as it can cause breaking changes with deployed code, as already demonstrated by #407, which kind of freaked me out. 😆

When I first approached this issue, I tried to fix it by addressing it with extensions.  We might end up doing this and reverting the changes here if it continues to cause

[2020-07-02 18:50] gmkado opened #410 "Custom ISerializerExtension is throwing "Recursive dependency detected" exceptions"
I'm trying to resolve my own references to get more flexibility on how I resolve them (i.e. some of the references come from other documents).

I'm having a hard time getting a custom ISerializerExtension working.  I was able to get the example case to work but when I tried replacing ISerializer<int> with ISerializer<Subject> I got a LightInject "Recursive dependency" error.

I thought it might be

[2020-07-03 08:14] Mike-E-wins commented on #410
Ah, yes indeed @gmkado the call to `ISerializers.Get` while in the constructor will result in a recursion.  You want to defer that into the body of the `Get` as such:

[code]

Note that the result of this operation is cached so instantiating a new instance of `ResolveReferenceSerializer` is a one-time allocation per type which is then stored in a dictionary.

As for `ISerializers` vs. `IContents`:

[2020-07-06 08:37] gmkado commented on #410
Thanks for the clarification, that makes sense regarding the dependency injection, I didn't realize it was cached.

Regarding ISerializers vs IContents, can you give an example of when to use one vs the other?  As far as I can tell, I can use `DecorateContentsWith` + `IContents` or `Decorate` + `ISerializers` and get the same outcome.

[2020-07-06 08:40] gmkado commented on #398
I didn't realize that this only fixes the inheritance issue for the `Ignore`  member configuration.  Is there a quick and easy way to modify the extension to work with e.g. `EmitWhen`?

[2020-07-06 09:03] gmkado commented on #397
Hey @Mike-E-wins  I'm doing my own reference resolving after deserialization, so I likely won't come back to this.  Just FYI in case you want to close the issue.

[2020-07-06 09:37] Mike-E-wins opened #411 "Apply `MemberComparer` to `AllowedMemberValuesExtension` (`EmitWhen`)"
As per https://github.com/ExtendedXmlSerializer/home/issues/398#issuecomment-654098772 the same expectation should be applied to `EmitWhen` calls.

[2020-07-06 09:38] Mike-E-wins commented on #398
Ahhh good point @gmkado that's a different extension so it has its own set of rules/implementations.  I am not sure about quick/easy but I will find out. 😁  Captured in #411.  Please be sure to let me know of any others you find as well.

[2020-07-06 09:41] Mike-E-wins commented on #397
OK cool @gmkado I was wondering about that!  If you do run into any issues again for sure let me know and I will look into it for you.  Having context/test/code would be ideal as well. 👍  Thanks for the update!

[2020-07-06 09:41] #397 closed

[2020-07-06 09:46] Mike-E-wins commented on #410
Sure @gmkado let me think about this and see if I can get some sample code for you here to delineate the two scenarios.

[2020-07-06 10:30] Mike-E-wins commented on #411
Alright, see how this treats you, @gmkado:

https://github.com/ExtendedXmlSerializer/home/pull/412#issuecomment-654151254

🤞

[2020-07-06 16:10] Mike-E-wins commented on #410
Alright @gmkado I looked into this some more.  You are correct in that the approaches you mention are similar.  I would say the following about the two:

- `ISerializers` returns the "external" or "container" serializer of a type.
- `IContents` returns the "internal" or "content" serializer of a type.

Worth noting that the serializer returned from `ISerializers` has a reference to the serializer

[2020-07-06 16:15] Mike-E-wins commented on #410
Doh, I guess I said I was going to provide some code, but got distracted with traveling through the codebase and looking at existing implementations.  I figured I would use them instead as they do a better job anyways as, you know, working code. 😅  Hopefully those links provided will help assist in providing some further context and meet the intended effect.  Please let me know if that's not the c

[2020-07-06 16:41] gmkado commented on #411
Thanks @Mike-E-wins  that did the trick!

[2020-07-06 16:52] gmkado commented on #410
@Mike-E-wins Thanks as always for the quick and detailed response.  I'm new to coding in general so digging through the codebase has been very helpful in learning how to write decoupled code.

That being said, I'm finding it a bit tricky to follow whats going on behind the scenes (I guess those go hand in hand).   So this bit was particularly helpful for me:

Is the process of how IContents and IS

[2020-07-06 17:15] Mike-E-wins commented on #410
Ah so we're actually really in uncharted territory I'm afraid, @gmkado.  Earlier in the year (or late last year) we took a pass at improving the documentation and even though we (I) spent a ton of time addressing conceptual concerns I wasn't able to make it into the customization/extension model.

The thinking -- besides there being limited time to spend on such matters -- is that the extension mo

[2020-07-07 07:51] Mike-E-wins commented on #411
Welp, tried to sneak out a quick release, but that didn't go so well:

https://help.appveyor.com/discussions/problems/27700-release-assets-404-not-found

Hang tight with the preview build until we get this sorted.

[2020-07-07 07:52] Mike-E-wins commented on #406
There hasn't been any activity here for a few weeks on this issue so will close for now.  Please let me know if you have any further questions and I will do my best to answer them for you. 👍

[2020-07-07 07:52] #406 closed

[2020-07-07 15:18] Mike-E-wins commented on #411
Simply re-running the build made it magically go through. 🤷‍♂️

This is now deployed on NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if you run into any further problems with this issue and I will take a look into it for you.  Thanks again for improving the quality of ExtendedXmlSerializer!

[2020-07-07 15:18] #411 closed

[2020-07-07 17:13] gmkado commented on #410
Thanks @Mike-E-wins .  I do feel like the true power of this library comes from the extensibility, so it would be nice if that were a little more accessible.  I wonder if you could have a "dumbed down" version of the ISerializerExtension that could decorate a type's serializer without the dependency injection boilerplate.  Ideally I just want to write the ISerializer and register it with its type

[2020-07-07 18:16] Mike-E-wins commented on #410
Oh man, what you are after here @gmkado is default content, which is something of a sore topic with me, mainly because I have not been able to figure out a way to do it myself.  This has been captured in #240.  I have given it a go several times now and it's failed due to the design of the reader.  The reader needs a rewrite, pure and simple.

As for `IFormatReader` and `IFormatWriter`, you're rig

[2020-07-08 06:53] Mike-E-wins commented on #410
Looking into this now @gmkado ... one thing I did notice that I wanted to share is that there's this notion of composing serializer, which you can use to essentially intercept the serializer creation pipeline and then further use to decorate created serializers.  Here's some code demonstrating that for you:

https://github.com/ExtendedXmlSerializer/home/blob/master/test/ExtendedXmlSerializer.Tests

[2020-07-15 14:22] imperiobadgo opened #414 "ArgumentNullException when Deserializing Inherit Class with empty Migration"
I've found an Issue in my Project with deserializing via a Migration. I've created the following Example to reproduce the behaviour:

[code]

The Key-Elements are the inherit class inside the container object and the empty migration which changes something. If you remove the namespace "AnotherNameSpace", another exception appears. The whole thing has something to do with namespaces. In the followi

[2020-07-15 19:00] Mike-E-wins commented on #414
Thank you for reporting this @imperiobadgo.  I am a little slammed today but should be able to look into this for you tomorrow.  I will update you with any findings then. 👍

[2020-07-16 06:27] Mike-E-wins commented on #414
Alright @imperiobadgo I have managed to successfully reproduce this issue on my end.  Note that this appears to occur when applying a migration to a base type.  I was able to reproduce this with having both types in the same namespace.

I am looking into this now but from the outset it looks like an ugly one so I am not sure if I will be able to fix it with time constraints per #383.

In the meant

[2020-07-16 06:49] Mike-E-wins commented on #414
FWIW we are most definitely in "viewing code you wrote four years ago and WTF WERE YOU THINKING" territory now.

😂😂😂

[2020-07-16 07:32] Mike-E-wins commented on #414
Good news @imperiobadgo... I have a possible fix for you.  Please try the build out here:

https://github.com/ExtendedXmlSerializer/home/pull/415#issuecomment-659217094

And let me know if that treats you any better. 🤞

[2020-07-16 07:35] imperiobadgo commented on #414
Thank you so much for taking care of this problem. This serializer helps me to cover all kinds of special scenarios very elegantly, which otherwise would be very complicated to solve. And I am very grateful for your hard work.

I've already found another workaround: If I serialize the "inherit" object inside a list with only one entry, it works just fine.

[2020-07-16 07:53] imperiobadgo commented on #414
Thank you very much, it throws no exception anymore. I am still testing if old saves can be migrated and loaded.

[2020-07-16 08:08] Mike-E-wins commented on #414
Woohoo!  Glad to hear.  Please let me know if you encounter any further issues.  I will slate the fix release for next Tuesday and update here when available on Nuget.  Please use the preview builds until then. 👍

[2020-07-16 08:28] imperiobadgo commented on #414
I works just perfect. Older save can still be migrated and desirialized!

[2020-07-20 09:38] gmkado opened #416 "Type configuration being applied to all derived types of the abstract class that implements the member"
Hi @Mike-E-wins not sure if this is a bug but I'm seeing somewhat the opposite of issue #398 where I configure the member of a derived type, but all types deriving from the base where the member is defined receive that configuration.  I tried both with and without the custom extension from #398

Here's myrepro:
[code]

Output is:
[code]

I would have thought it would only ignore `Signature` on Sub

[2020-07-20 12:18] Mike-E-wins commented on #416
Doh!  That doesn't look right.  Thank you for reporting this, @gmkado.  I appreciate your efforts here as I unfortunately do not have the time to thoroughly test as much as I should these days -- clearly! 😅

Looking into this now.

[2020-07-20 12:59] Mike-E-wins commented on #416
Alright see if this fixes it for you, @gmkado:

https://github.com/ExtendedXmlSerializer/home/pull/417#issuecomment-661022091

If so I will get it into the release tomorrow.  Here's hoping it didn't break anything new. 😁

For some background, when we first started working on v2, there wasn't a `MemberInfo.ReflectedType` in the .NET Standard, so we were using `MemberInfo.DeclaredType`, which was le

[2020-07-20 13:03] Mike-E-wins commented on #416
I should mention there was 1 test that did fail, but it was using the `MemberComparer` when in fact we're using the `InheritedMemberComparer` which first checks directly for the provided (reflected) member metadata, then for the inherited/base/declared version.

I've added a matrix that tests these different scenarios here:

https://github.com/ExtendedXmlSerializer/home/blob/issues/fix/i416/test/E

[2020-07-20 16:50] gmkado commented on #416
@Mike-E-wins your response time continues to amaze me.

This fixed my simplified test scenario, but I think there might be some nuances to my actual model that is causing issues.  For one, the custom extension from #398 causes this to fail.  I removed it and am seeing inconsistent behavior for members defined in abstract classes vs interfaces.

I reworked my test to demonstrate this:
[code]

Outpu

[2020-07-20 18:28] Mike-E-wins commented on #416
Ah you are correct, @gmkado.  You will have to update the `MemberComparer` that you use in your extension to also use `ReflectedType`:

[code]

I've also got this added as a passing test here:

https://github.com/ExtendedXmlSerializer/home/blob/a83cc99bf64394fac8e1bd40f89270e9e086eb5b/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue416Tests_Extended.cs#L77-L174

Hopefully that addresses your

[2020-07-21 10:19] SuperJMN opened #418 "EnableReferences use case"
I'm trying to understand the usage of the `EnableReferences`. I've created this sample to wrap my head around the concept and I'm getting an unexpected result.

Basically, I have a BookStore with Books (with all the books) and Genres that have references to the books.

## Expected
The resulting XML of the Genres section should hold references to each book.

## Actual result
The resulting XML holds

[2020-07-21 12:34] Mike-E-wins commented on #418
Thank you for reporting this, @SuperJMN!  My first thought was to attempt `EnableReferences` on the entire container, but there appears to be an issue that is like #360 when using arrays.  This *should* work, however.  Let me see if this is salvageable. 🤞

[2020-07-21 12:48] Mike-E-wins commented on #418
I should also note that the reason why you are having issues with references is that you are configuring `Type<Book>()` and the reference that you are wanting to serialize is `Type<Book[]>()` (or `Type<IEnumerable<Book>>()`.  However, all of that fails due to the above issue.

Also, `Type<Book>(b => b.EnableReferences())` works just like `Type<Book>().EnableReferences()` and is just another way of

[2020-07-21 14:28] Mike-E-wins commented on #414
Alright! v3.2.3 is now available on NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Thank you for improving the quality of ExtendedXmlSerializer.  Please let us know if you have any further issues and we will look into them for you. 👍  Closing for now.

[2020-07-21 14:28] #414 closed

[2020-07-21 16:22] Mike-E-wins commented on #418
Alright @SuperJMN check out the following build and let me know how it treats you:

https://github.com/ExtendedXmlSerializer/home/pull/420#issuecomment-661956577

[2020-07-21 16:23] Mike-E-wins commented on #418
"Super" happy to report that this fixes #360, too! 🎉

😁

[2020-07-21 16:24] Mike-E-wins commented on #360
Good news... I was able to track this down with another issue #418.

You can check out a preview build here:

https://github.com/ExtendedXmlSerializer/home/pull/420#issuecomment-661956577

[2020-07-21 16:50] SuperJMN commented on #418
Wow.
FASTER THAN FAST!

I've reviewed the changes you did to fix this and the test even uses the very same example I used to report the issue.

Thank you so much for the time and effort you've put into this!

[2020-07-21 17:11] Mike-E-wins commented on #396
Hey there @feO2x ... good news!  I managed to figure out what is wrong here and have your test above passing in our suite now:

https://github.com/ExtendedXmlSerializer/home/blob/f3e47dae82f76e1a73ddb9de3d14a1feefed4176/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue396Tests.cs#L12-L32

If interested, you can check out the build here:

https://github.com/ExtendedXmlSerializer/home/pull/421#i

[2020-07-21 17:13] Mike-E-wins commented on #396
I am actually astounded to see this work, considering the complexity of the graph! 😅  From first sight I definitely think "yep that should _totally_ break." 😂

[2020-07-21 17:37] Mike-E-wins commented on #360
Closing this as it was opened by me.

[2020-07-21 17:37] #360 closed

[2020-07-21 17:58] Mike-E-wins commented on #396
Guess I didn't need to really re-open this, but in any case, the fix has been deployed to NuGet here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

If you encounter any further issues please let me know and I will take a look into it for you.  Closing (again) for now.

[2020-07-21 17:58] #396 closed

[2020-07-21 17:59] Mike-E-wins commented on #418
I have deployed this to NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do give it a whirl and let me know if you find any issues. 👍

Closing this for now.

[2020-07-21 17:59] #418 closed

[2020-07-21 18:00] Mike-E-wins commented on #416
The above fix has been pushed to NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know of any further issues you find around this or any other area and I will take a look into it for you.

Closing this for now.

[2020-07-21 18:00] #416 closed

[2020-07-21 18:02] Mike-E-wins commented on #410
I believe we have addressed this issue as much as possible.  Ideally we should have some advanced documentation but my time is fully spent in fixing bugs with this project.  If, however, you manage to get comfortable around the topic and have something to add, I would be more than happy to accept a pull request. :)

In any case, please do let me know if there is any further assistance you require

[2020-07-21 18:02] #410 closed

[2020-07-21 18:21] feO2x commented on #396
Thanks for your efforts, I will take a look at it tomorrow!

[2020-07-22 12:12] SuperJMN commented on #418
Hello! I've tried the fixed code with another (more complex) use case and it's failing on me.

If you try this code:

[code]

You will get this XML:

[code]

I expected to get a `<UserQuery-Book exs:identity="1" />` inside the AllBooks section. It's skipping item 1 and the first Genre is using "identity" where it should use "reference" like the rest of the genres.

Is is a bug or I'm misunderstand

[2020-07-22 13:45] Mike-E-angelo commented on #418
Ah, ok!  When you say it's failing for you, are you experiencing an error?

FWIW I used the code you provided above (thank you!) and made a passing test here:
https://github.com/ExtendedXmlSerializer/home/blob/e8abfa35a96d5db90f6f3471f3545a1aa6a3be6a/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue418Tests_Extended.cs#L12-L68

If you are concerned with the `identity="1"` seeming out of place,

[2020-07-22 13:50] Mike-E-angelo commented on #418
I guess a possible issue here is that references are being applied to `Book[]` when you have only specified them to `Book`.  That is what is grabbing the first reference increment count and is offsetting the XML in subsequent `Book` encounters.

[2020-07-22 14:04] Mike-E-angelo commented on #418
DOH @SuperJMN I apologize for the confusion here.  You are giving me quite the memory workout! 😅  It turns out there are two ways of enabling references:

`EnableReferences()` : Enables references to the entire container.
`Type<T>().EnableReferences(x => x.Id)` : Enables references specifically for the type, with the provided member being the identity member.

Unfortunately, despite my best wishes

[2020-07-22 22:03] SuperJMN commented on #418
Yay! I've just tried adding an Id to the Book class and it works as expected!

This is the code with the workaround

[code]

The need for an `id` is a minor annoyance. I'd like to be fully automagic, but I think I'm asking for too much this time :)

Big, big thanks for your valuable help, Mike!

[2020-07-23 05:33] Mike-E-angelo commented on #418
Cool!  Yeah I am surprised that it is implemented container-wide rather than type-specific.  If some brave soul out there wants to submit a PR to enable such functionality I will not complain. :)

In any case, glad you got sorted out.  Please let me know if you have any further questions/issues, and I will do my best to assist you. 👍

[2020-07-24 19:17] gmkado commented on #416
Thanks @Mike-E-angelo !

[2020-08-11 15:50] maxkoshevoi opened #423 "Dictionary inside list serialization error"
I have following code structure:

![image](https://user-images.githubusercontent.com/6609929/89908102-2b1d4e00-dbf6-11ea-9e44-7d65373354da.png)

And when serializing it this error occurs: `System.ArgumentNullException: 'Value cannot be null. Parameter name: key'`
Stack:
```  at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at ExtendedXmlSerializer.ExtensionModel.Xml.XmlWriter.Crea

[2020-08-11 16:09] Mike-E-angelo commented on #423
Thanks for reporting this, @maxkoshevoi.  Unfortunately I was not able to reproduce this by eyeballing your schema.  I may have overlooked something though.  Here is the passing test in our suite:

https://github.com/ExtendedXmlSerializer/home/blob/147e8a80acc67b0fd50ce383c3ab5d850402abe0/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue423Tests.cs

Could I bother you to get a minimal repro wi

[2020-08-11 16:16] Mike-E-angelo commented on #423
FWIW I did have an inaccuracy, in that I was not using multiple dictionaries within each instance.  I have addressed this and updated the test here:

https://github.com/ExtendedXmlSerializer/home/blob/744f3e628116cfad4460401fb41710b0d6c2b72e/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue423Tests.cs

It still passes, and I am actually entirely surprised that it does. 😅

[2020-08-11 17:03] maxkoshevoi commented on #423
Thanks for quick response! Here is console app that reproduces the issue: https://github.com/maxkoshevoi/ExtendedXmlSerializer-423

![image](https://user-images.githubusercontent.com/6609929/89926386-7bec7100-dc0d-11ea-98b7-e8bf32a37640.png)

[2020-08-11 18:24] Mike-E-angelo commented on #423
OK great, thank you for that.  Looks like the issue is with `EnableImplicitTypingFromNamespace`.  If I remove that it appears to work OK.  I will dig around and see if this can be patched up.

[2020-08-11 18:28] Mike-E-angelo commented on #423
Ah, to be more specific it has to do with combining several extensions.  I am able to reproduce this with the following configuration:

[code]

[2020-08-11 18:51] maxkoshevoi commented on #423
Yeah, I have `EnableImplicitTypingFromNamespace` cause as you can see I have several models that extend each other (more than in the provided sample) and I need to serialize and deserialize list of all of them. And `UseOptimizedNamespaces` is kink of a best practice, right?

[2020-08-11 19:15] Mike-E-angelo commented on #423
Yes you are correct.  There shouldn't be a problem with combining these extensions and this all _should_ work.

Looking into it further, it's a very specific set of conditions:

- `UseOptimizedNamespaces`
- `EnableImplicitTyping*`
- Use of read-only list/dictionary property.
- Root instance of `T[]`.

I have been able to reproduce it with this as a minimum:

[code]

Note that if I do the following

[2020-08-11 19:22] maxkoshevoi commented on #423
I used array instead of list, case List serializes with capacity info. So there is excess data in serialized XML and I think users can break serialization by changing it (or by not changing it and adding elements to the list).
This issue is not super urgent, it can wait a couple of days. I will revert to using list if there wouldn't be a fix by then.
Thank you for such quick troubleshooting and wo

[2020-08-11 19:28] Mike-E-angelo commented on #423
Yep, I hear you on the `Capacity`.  You can configure to ignore it but it's a bit of a hassle.

FWIW I found another workaround for you that allows you to use `Array`.  You have to add it as an implicit type.  You can do the following:

[code]

That _seems_ to work, but would be interested in knowing on your side if there are any further issues you find with it.

[2020-08-11 20:16] maxkoshevoi commented on #423
Looks solid. I think I'll use that one for the meanwhile.
Thank you, I'll reach out if there will be any issues.

[2020-08-11 20:21] Mike-E-angelo commented on #423
Cool!  Yeah, this looks like a tricky one so it might be a bit before I get a fix in.  I should be able to dedicate some time tomorrow and will update here with any news. 👍

[2020-08-11 20:47] Mike-E-angelo commented on #423
Alright, good news @maxkoshevoi I managed to figure out a fix:
https://github.com/ExtendedXmlSerializer/home/pull/424#issuecomment-672267042

That's the good news.  The bad news is that the fix is in the core `XmlWriter` component which is used by everything.  All our tests pass but even at 1200+ passing tests, it makes me nervous to publish and possibly break someone else out there.  Oh well, suc

[2020-08-14 09:42] Intelligence4 opened #425 "Signed assemblies"
In some development scenarios, i.e. COM add-ins for Office, all assemblies must be signed. Up until now I have been able to sign your assembly myself. However, new changes to how nuget works and store packages does not allow that possibility anymore. Would it be possible to provide your ExtendedXmlSerializer as a signed assembly?

[2020-08-14 09:59] Mike-E-angelo commented on #425
Oh man, @Intelligence4 that's a good one.  I recall v1 was signed, but when we looked into signing v2 assemblies (discussed in #52), it unveiled some complications.  Primarily, it was discovered that signing assemblies was really no longer [a recommendation for .NET packages](https://github.com/dotnet/corefx/blob/c02d33b18398199f6acc17d375dab154e9a1df66/Documentation/project-docs/strong-name-signi

[2020-08-14 10:45] Intelligence4 commented on #425
Hi Mike-E

The assumption that you have made about no longer signing assemblies is for the new net core world and not the old world. COM add-in development for office automatically generates assembly key files (i.e. signing) and requires a signed assembly for the “security” model that Office implements. I am really not sure that, beyond signing the assembly, anything more has to be done on your si

[2020-08-14 13:34] Mike-E-angelo commented on #425
Yeah I hear you @Intelligence4 this would be nice to have.  The trick though is that the least amount of work for you means a good amount of work for me. 😁

I took a preliminary look into it.  There are several issues with some notes:

- I would have to find out how to create another `nupkg`: `ExtendedXmlSerializer.Signed`.  The trick here is leveraging the existing `ExtendedXmlSerializer.csproj`

[2020-08-14 15:25] Mike-E-angelo commented on #425
OK @Intelligence4 I poked around this some more and figured something out.  Not sure if it will work, but might be promising.

Looks like AppVeyor detects the nupkg just fine and adds it to the artifacts.  Please check out the nupkg that contains the signed assembly here:

https://ci.appveyor.com/project/ExtendedXmlSerializer/extendedxmlserializer/builds/34662089/artifacts

Note that during the bu

[2020-08-14 19:53] maxkoshevoi opened #427 "Properties are not filled in despite EnableParameterizedContentWithPropertyAssignments"
Hi again =)

So now I'm facing denationalization issue. Type has parameterized constructor, it serializes fine, and on deserialization constructor is called, but no other properties are filled in:

![image](https://user-images.githubusercontent.com/6609929/90287432-8e221580-de80-11ea-9e86-8f3d7ec20537.png)

Updated repository, so it contains repro code for this issue: https://github.com/maxkoshevo

[2020-08-14 20:11] Mike-E-angelo commented on #427
Hey! 😅  Thank you for taking the time to report these issues. 👍

To start, are you sure this is using the latest preview? (https://github.com/ExtendedXmlSerializer/home/pull/424#issuecomment-672267042)

I did try reproducing it but I have a passing test here:

https://github.com/ExtendedXmlSerializer/home/blob/c560a2a0d90e3b76af395c4bcf15d6de286176f3/test/ExtendedXmlSerializer.Tests.ReportedIssues

[2020-08-14 20:15] maxkoshevoi commented on #427
It's not latest preview. It's latest stable (3.2.4). Can you try downloading provided repository and executing it?

[2020-08-14 20:16] maxkoshevoi commented on #427
Oh, regarding the test. Your array type is wrong. It should be `NewTypeInfo` (base class of `NewFieldInfo`)

[2020-08-15 08:25] Mike-E-angelo commented on #427
OK!  I see it now.  This is actually an issue with both `EnableParameterizedContent*` extensions.  Nice find. Tricky. :)  It also looks involved, so it might take a while.  I'll see if I can carve up some time this weekend to investigate further.  In the meantime, please do use arrays aligned with the same element type if you can manage.

[2020-08-15 09:56] Mike-E-angelo commented on #427
Goodness, I gotta say that whenever a new issue is reported here now part of me freaks out as I have to dig through code I wrote over 3 years ago and get acclimated with how I was thinking back then which is NOTHING LIKE WOULD DO NOW. 😅

Anyways, this was a tricky one but I think I got it situated for you:
https://github.com/ExtendedXmlSerializer/home/pull/428#issuecomment-674376741

[2020-08-16 18:35] maxkoshevoi commented on #427
Thank you so much for (in no particular order) fixing this so quickly and maintaining your 3-year-old repository.
If it wasn't for this NuGet, I don't know how would I do xml serialization.

So, fix for this and previous issues are releasing this Thursday, right? Or should I use pre-release version for now. I need to store child classes in base class array.

[2020-08-16 19:13] Mike-E-angelo commented on #427
Thank you for the kind words, @maxkoshevoi 🙏

Indeed, you should use the preview version for now until Tuesday, at which point I will release to NuGet.  Please let me know if you encounter any other/additional issues between now and then and I will look into them for you. 👍

[2020-08-16 19:19] Mike-E-angelo commented on #427
I have merged in this PR so the main feed for the preview source should be used:

[code]

Unfortunately, AppVeyor doesn't provide notifications on PR merges, only commits so I have to provide this manually.  The above should work, let me know if it doesn't otherwise.

[2020-08-17 10:02] Intelligence4 commented on #425
Hi

Sorry about taking so long to get back in touch. I am not sure that producing a signed version is going to be that easy given that you seem to having the same type of problems we are currently having. I think that it would be better for you to shelf this development at the moment as I am not sure as to our decision regarding the options mentioned earlier.

BTW when one assembly in the chain re

[2020-08-17 14:42] Mike-E-angelo commented on #425
That was my concern and understanding, hoping to be proven wrong.  Well, we gave it a shot and got as far as we could.  This may also prove valuable for someone else who wants to have a signed version, too.  Well, at least they will get to the bad news quicker. 😭

Alright, thanks for bringing this up and too bad we couldn't get it to happen.  Please do let me know of any other questions/concerns/i

[2020-08-17 14:42] #425 closed

[2020-08-18 07:36] Mike-E-angelo commented on #423
This has been deployed to NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know of any problems you find and I will investigate.  Thank you for improving the quality of ExtendedXmlSerializer!  Closing this issue for now.

[2020-08-18 07:36] #423 closed

[2020-08-18 07:37] Mike-E-angelo commented on #427
This fix has been deployed to NuGet and can be found here:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Thanks again for reporting and providing code towards discovering, diagnosing, and ultimately fixing this issue.  Please do let me know of any issues you find around this or any other issue and I will take a look into it for you.  Closing this issue for now.

[2020-08-18 07:37] #427 closed

[2020-08-20 13:35] Mike-E-angelo opened #431 "Ensure Null Namespaces Can Be Deserialized"
Per #430 it would seem that `null` namespaces do not deserialize as expected for custom/non-system assembly types.

[2020-08-27 11:05] jhranac opened #433 "Serialization of references"
Hello,

Got a question/issue with reference serialization:

[code]
So my questions / issues are:

1. Why does it think there is a circular reference when there isn't one?
2. Can the serializer write XML in this case for both X and Y ? - I'd expect to have two objects instead of one on deserialization, that's ok.

EDIT:
I do have a custom serializer created for `SomeValue`. So it looks like https:/

[2020-08-27 12:48] Mike-E-angelo commented on #433
Hey, thanks for writing in with the question @jhranac.  You bring up a good point.  The issue is not that it's circular, but that there are multiple instances of the same reference in the graph.  The messaging is misleading in your exact scenario but still closely related to a circular reference condition, as we store encountered references and ensure they are only written once per graph.

If you

[2020-08-28 09:19] feO2x opened #434 "Endless recursion when same serializer instance is reused (referential integrity is enabled)"
Hey guys,

I've used ExtendedXmlSerializer successfully in one of our projects, but came across an endless recursion yesterday. **Just to be clear, this bug can be easily circumvented by not reusing the same serializer instance on different calls to serialize.** So the priority of this issue should be low.

I can provide a minimal, complete, verifiable example (MCVE) that reproduces the issue whic

[2020-08-28 10:07] Mike-E-angelo commented on #434
Yikes @feO2x it looks like we have some sort of errant caching going on with the references.  I was able to reproduce it by reducing it to the following:

[code]

It would seem that after the first serialization, the object graph is stored somehow, and it is not being recompiled on the 2nd serialization, thus leading to the infinite recursion of doom.  Creating a new serializer starts with a new c

[2020-08-28 11:58] feO2x commented on #434
Thanks for your quick reply. Just take as much time as you need, this isn't a show-stopper. And again, thank you for all your efforts!

[2020-08-28 13:17] Mike-E-angelo commented on #434
OK good news bad news @feO2x.  Good news is that I was able to easily address the recursion.  The bad news is that when you read this back in, the objects are not at all what is expected.  So there seems to be a bug here that is reminiscent of #396 and tracking that down now.  Have you only been serializing and not deserializing? Can you confirm on your end that you are seeing the object graph des

[2020-08-28 14:45] WojciechNagorski opened #435 "Range<int>"
I got email:

[2020-08-28 16:07] Mike-E-angelo commented on #435
Greetings!  Hopefully Till can meet us on here.  I will also reply to the email.

The first issue here is that I understand you are only able to use 2.0.0.  Obviously we are on v3 now and so much has happened since v2.

However, you should be able to serialize the `Range` object by making use of the `EnableParameterizedContent` method.  I have created a passing test in our suite to demonstrate thi

[2020-08-28 16:15] Mike-E-angelo commented on #434
Alright it seems that indeed there is yet another issue here with `EnableParameterizedContent*` + references that has to do with cyclical references.  I have managed to reproduce it with the following:

[code]

The above fails when using `EnableParameterizedContent*` but if I take out the parameterized constructors and make the `Id` writable, it serializes as expected.

I will have to dig further

[2020-08-28 18:31] feO2x commented on #434
You are correct, in our project, we don't use parameterized constructors and everything works fine there.

[2020-08-28 19:29] Mike-E-angelo commented on #434
WHEW... ok good to know.  I will put the bad news into another issue and get this PR'd for you to review, then.

[2020-08-28 19:31] Mike-E-angelo opened #438 "`EnableParameterizedContent*` + `EnableReferences` Are Incompatible"
As per #434 there is a baddie hanging out when using both of these extensions.  Will try to fish this out, but it's not looking too good ATM.

[2020-08-28 19:34] Mike-E-angelo commented on #434
Alright @feO2x here you go. 🤞

https://github.com/ExtendedXmlSerializer/home/pull/437#issuecomment-683107700

[2020-08-29 05:13] Mike-E-angelo commented on #438
Yeah, this is actually #360.  While certain aspects were addressed with #420, there is still a fundamental issue with applying dependencies that are circular in nature.  Attending to this would be incredibly disruptive and would exceed my limits defined in #383.

So, unfortunately, I will not be able to address this in my own time and resources.

I will continue to think about this, however.  Mayb

[2020-08-31 08:06] ubik80 commented on #435
Thank You very much for your quick help! It solved our problem.

It works with .EnableParameterizedContent() in combination with EnableImplicitTyping().

... .Type<List<int>>().Name("ListInt").EnableImplicitTyping(typeof(List<int>)).EnableParameterizedContent();

(List instead of Range, but issue was the same)

[2020-08-31 08:43] Mike-E-angelo commented on #435
Woohoo!  Great to hear.  These are the kind of problems I like. :)  Please feel free to ask any additional questions you might have here on GitHub and I can do my best to get you situated.  Even though we are on v3 now there is still a lot of functionality that is shared with v2, so we might be able to help you out.  Open a new issue here and we'll see how we do. 👍  Closing this for now.

[2020-08-31 08:43] #435 closed

[2020-09-01 09:07] Mike-E-angelo commented on #434
This has been deployed to NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if you encounter any further problems with this or any other aspect of ExtendedXmlSerializer and I will take a look into it for you.  Closing this for now.

[2020-09-01 09:07] #434 closed

[2020-09-01 09:08] Mike-E-angelo commented on #433
Sounds like we got this question answered for you.  Please do let me know if that is the case and we can take it from there.  Closing this issue for now.

[2020-09-01 09:08] #433 closed

[2020-09-01 09:09] Mike-E-angelo commented on #431
Deployed to NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Let's hope we didn't break something else. 🤞😆😭

[2020-09-01 09:09] #431 closed

[2020-09-04 14:05] taxophobia opened #440 "Delegate instantiation of interfaces"
As far as I understood ExtendedXmlSerializer de/serializes interface properties by emitting/reading the actual implementation type from/to an xmlattribute. I don't want this behaviour because I want the implementing types to be independent on both sides of the wire. That means they implement the same interface but are not related otherwise. Instead I would rather like to instruct ExtendedXmlSerial

[2020-09-04 15:35] Mike-E-angelo commented on #440
Wow that is an interesting and powerful scenario, @taxophobia!  Thank you for writing in and asking about it.

For some context with ExtendedXmlSerializer, it was primarily meant for application state, for games, or really other applications that needed some internal memory easily stored as an object graph in the XML format.  Data exchange over the wire while (hopefully 😁) supported was not a focu

[2020-09-09 16:30] taxophobia commented on #440
Thank you very much for the example. It works for the usecase of serializing/deserializing a single instance without nested properties. For nested properties I think i should be able to adopt the  example of the AnswerToEverything extension from the wiki. Basically doing the instantiation and then relying on the default serializer to handle the properties. I will tinker a bit more and post code or

[2020-09-10 09:11] ms0815user opened #442 "Deserialization stops on empty CDATA element"
I have just encountered this bug when deserializing a document consisting mostly of CDATA elements. Some elements were empty and this is where the process would stop. All subsequent elements are ignored.

Excerpt from XML file:
[code]

This is the class I have previously serialized to the above XML.
[code]

I have dug through the code and in `XmlReader.cs` method `Content()`. I have changed the fo

[2020-09-10 09:23] Goz3rr opened #443 "Deserializing mixed content"
Hey,

I'm trying to convert some XDocument code to deserialize some mixed XML content to use ExtendedXmlSerializer to greatly simplify the code. I started with the plain old XmlSerializer, but quickly ran into issues where I had to serialize an attribute that could either be a decimal or hexadecimal string which was easily solved with a custom converter but now I've run into the next issue which I

[2020-09-10 13:29] Mike-E-angelo commented on #442
Thanks for writing in with this @ms0815user as well as providing the schema/data to test with.  Also, your kind words are appreciated, as well. 😊

I was able to get a passing test with the code you provided.  It also seems to work with all tests in the suite as they all seem to pass with the change and I was able to get a package for you to test.  You can find that here:

https://github.com/Extend

[2020-09-10 13:49] Mike-E-angelo commented on #443
Hi @Goz3rr thank you for taking the time to try out ExtendedXmlSerializer and for writing in with your question.  Unfortunately, you won't like the answer. 😞  `XmlTextAttribute` and inner content is not supported very well if at all by ExtendedXmlSerializer.  In fact, what support we do have for `XmlTextAttribute` should be removed at a later version as it really doesn't do its job well with what

[2020-09-11 01:28] ms0815user commented on #442
I have reviewed the PR. It's all good 👍. I also found out why #271 fails on my end. It's a localisation issue because I ran it on a German system.
[code]

[2020-09-11 01:28] #442 closed

[2020-09-11 05:52] Mike-E-angelo commented on #442
Hah, that would do it!  OK cool one less anomaly to worry about (I was fearing it might be some weird latent threading issue somehow).

Glad everything is to your liking.  I will deploy this to NuGet next Tuesday and update here when it's available.  Please continue using the preview-build until that time.

[2020-09-11 11:29] Goz3rr commented on #443
Thanks for the quick reply,

I've indeed managed to do what I want by getting the XmlReader, after which the reader is on the next node in the tree. The strange thing however is that when my serializer returns, it seems the library just completely bails on parsing the rest of the document. No exceptions are thrown (`.WithUnknownContent().Throw()` is added), it just stops after the serializer and r

[2020-09-11 16:50] Mike-E-angelo commented on #443
Yeah, we're sort of in uncharted territory here, @Goz3rr.  Or rather, off the beaten path.  You might have to ensure the reader is on an element node to properly continue.  There is the `IFormatReader.Set` method you could try.

If not, and you can provide some further code on what you're working with, I could take a peek and see if I can further assist.

[2020-09-11 18:24] Goz3rr commented on #443
I tried to make a small repro but can't seem to trigger the same issue, I'll get back to you on Monday when I can look at my code that doesn't work

[2020-09-13 19:49] hostar opened #445 "Empty tag deserialization"
Hello,

I am having following problem with deserialization.

When I try to deserialize empty element like this, it works:
`<LastName></LastName>`

but when the empty element look like this, it does not work:
`<LastName/>`

This is how I create serializer instance:
`var serializer = new ConfigurationContainer().EnableImplicitTyping(typeof(SampleModel)).Create();`

Is there any way how to configure

[2020-09-14 05:13] Mike-E-angelo commented on #445
Hello @hostar, thank you for writing in with this.  This appears to be an issue with the use of `XmlTextReader`. If I use `XmlReader.Create(stream)` this seems to work as expected.  I have provided a passing test of this for your review here:

https://github.com/ExtendedXmlSerializer/home/blob/ff303d4e991fab007fa245a119975d3abb7c373d/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue445Tests.cs

[2020-09-14 08:03] Goz3rr commented on #443
Here's a small program that reproduces my issue, when setting a breakpoint inside the `StringFormatSerializer.Get` method it is only called once and an incomplete object is returned by `serializer.Deserialize` right after.

[code]

While trying to reproduce it I found out the key here seems to be the `XmlReaderSettings` having `IgnoreWhitespace` set to true. If I omit this the program suddenly see

[2020-09-14 10:24] hostar commented on #445
Thank you very much, that was it. It did not even occur to me that could be a problem.
The specific reason for this behavior is the `XmlTextReader` is returning `CanReadValueChunk` as `false` in case of empty element:

https://github.com/ExtendedXmlSerializer/home/blob/ec86d89cdd2e03c1fd6ee5cbef60e5420c00550e/src/ExtendedXmlSerializer/ExtensionModel/Xml/XmlReader.cs#L50

Even though I would be pro

[2020-09-14 11:23] #445 closed

[2020-09-14 13:30] Mike-E-angelo commented on #445
Oh wow weird.  Yeah, it is saying in the comments of `XmlTextReader.CanReadValueChunk` that it is unsupported.  Probably not a robust solution, but you could override `XmlTextReader` and force it to be `true`.  I provided an example test of this for you here:

https://github.com/ExtendedXmlSerializer/home/blob/23186442fdc12245384779648cf1da6825b7f17b/test/ExtendedXmlSerializer.Tests.ReportedIssues

[2020-09-14 15:32] Mike-E-angelo commented on #443
OK great, thank you for the code @Goz3rr, I'm digging into this now and at first glance, I share your baffle-affinity. 😆  To be sure, the reader is the one area that has a lot of sore spots, so it's a little fragile here.  In this case, we're dealing with nested properties and it seems the state isn't persisted correctly after calling `XmlReader.ReadOuterXml`.  As written only one `TestItem` gets

[2020-09-15 06:50] ms0815user opened #447 "Cannot deserialize consecutive CDATA elements"
There is an issue deserializing consecutive CDATA elements. I stumbled across this after serializing some text containing CDATA tags. While serializing closing ']]>' is correctly replaced with ']]]]><![CDATA[>' which were not treated properly in the deserialization process.
I could fix the bug in the XmlReader's `Content()` method as of below.

[code]

And here is the test:
[code]
All other tests

[2020-09-15 11:59] Mike-E-angelo commented on #447
Hah!  Good catch, @ms0815user.  Thank you for reporting it.  I didn't even know this was possible. 😁  I will take a look at this and see if I can get it in for today's release. 👍

[2020-09-15 13:18] Mike-E-angelo commented on #447
Alright @ms0815user you can try out this build here:
https://github.com/ExtendedXmlSerializer/home/pull/448#issuecomment-692705093

I _mostly_ went with your implementation, and did another check before creating the `StringBuilder` to avoid a  hotpath allocation unless necessary.  I did look into more performant solutions but they were either incomplete and/or required unsafe code.  Since this is

[2020-09-15 13:35] Mike-E-angelo commented on #447
Alright, this has been posted to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know of any further questions/issues you encounter regarding this issue and I will reopen to take a look.  Closing for now.

[2020-09-15 13:35] #447 closed

[2020-09-15 13:37] Mike-E-angelo commented on #442
FWIW this has been deployed to NuGet here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Thank you for improving the quality of ExtendedXmlSerializer. 🙏👍

[2020-09-15 13:39] Mike-E-angelo commented on #440
Cool... good to hear you found a direction, @taxophobia.  [A new release was posted to NuGet today](https://www.nuget.org/packages/ExtendedXmlSerializer/) so going through the issues here.  Sounds like this is sufficiently resolved for now.  If you do find that you have another question around this issue please do post a comment and I will re-open to further explore it with you.  Closing for now.

[2020-09-15 13:39] #440 closed

[2020-09-16 07:23] Mike-E-angelo commented on #443
Alright @Goz3rr I've spent some time looking into this and have found the explanation for this.  Unfortunately I do not see an easy fix for it.

The issue is around how the reader keeps track of state during reading, more specifically the `System.Xml.XmlReader.Depth` property:

https://github.com/ExtendedXmlSerializer/home/blob/acab951fe5dc1e5082ee9aadcae2eb5ee7155b18/src/ExtendedXmlSerializer/Ext

[2020-09-16 07:46] #443 closed

[2020-09-18 17:22] netaques opened #451 "Custom type resolver"
Is it possible to control a creation of objects during deserialization? I have a class to be deserialized that does not has a default constructor because I need inject dependencies into it. Ideally I would like to find a place where ExtendedXmlSerializer tell me: "Here is a type, give me an instance of that". I think that Extend method and ISerializerExtension might be a way but I really do not kn

[2020-09-19 08:53] Mike-E-angelo commented on #451
Thanks for writing in @netaques and for the feedback.  I am in agreement that the documentation could be better.  It could _always_ be better. 😁  I have given it a few tries now and there seems to always be a few areas that could see more love.  Unfortunately, my time is limited these days (#383) so we will have to lean on perhaps some contributions from the community if we can get to that point.

[2020-09-21 06:28] netaques commented on #451
@Mike-E-angelo thank you very much for fast reaction. This feature is precisely what I am looking for. Maybe a non generic version would be nice (using `Type` instead of type variables). Overall it looks really useful for me and I hope that I am no alone with that. However, I wanted to test my simplified scenario and ran into stack overflow exception. Please check out following code. The Activatin

[2020-09-21 07:49] Mike-E-angelo commented on #451
OK great @netaques thank you for the sample code I have reproduced it on my end and am looking into this now.

I will also add support for `ISerializationInterceptor` which I believe you are looking for, a non-generic, `object`-based implementation.

[2020-09-21 16:26] Mike-E-angelo commented on #451
Alright @netaques check this build out here:

https://github.com/ExtendedXmlSerializer/home/pull/452#issuecomment-695997247

I have also added your test to the suite.  Additionally, I have added support for a generalized/non-generic interceptor by way of a `SerializationActivator` base class:

https://github.com/ExtendedXmlSerializer/home/blob/a00f7af862cb7081164d25075f5d3cf4358d1636/test/Extended

[2020-09-21 18:13] netaques commented on #451
Thank you very much, @Mike-E-angelo.  I really appreciate so fast reaction. I can confirm that with your latest commit everything works like a charm. I believe this feature will help to other developers as well.

[2020-09-22 06:18] Mike-E-angelo commented on #451
Great!  Good to hear the good news, @netaques.  I have posted this to NuGet as `v3.3.0`:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Thank you for improving ExtendedXmlSerializer!  Please do let me know of any additional issues you find around this by posting a comment here and I will look into it for you.  Closing for now.

[2020-09-22 06:18] #451 closed

[2020-09-28 05:06] gmkado opened #454 "How are exs:identity numbers assigned?"
I am running into an issue when I enable references in my configuration.

In my application I determine whether a data object requires saving to file by comparing it's md5 hash to a previously saved hash value stored separately.  For some reason my unchanged objects that had references were always requiring a resave.

I tracked it down to the exs:identity and exs:reference numbers being incremente

[2020-09-28 09:18] Mike-E-angelo commented on #454
Good find, @gmkado!  I am thinking that when I originally made this I was attempting to impact performance so that the generated id for each object in memory would only be calculated once per container/domain.  As you denote, however, that results in unexpected IDs for subsequent serializations.  I am in agreement that subsequent serializations of the same entity graph should produce the same XML

[2020-09-28 16:14] gmkado commented on #454
Works for me, thanks!

[2020-10-02 19:14] aspektxxx opened #458 "EnableParameterizedContentWithPropertyAssignments combined with UseOptimizedNamespaces crawls properties of object with custom serialir"
Given
[code]
the test
[code]
throws exception.

The correct behavior should be not to inspect properties inside object with custom serializer defined.

[2020-10-05 20:35] rogerfar commented on #345
@Mike-E-angelo sorry for kicking this back up, but my issue is similar so didn't want to open a new issue.

My XML has to look like this:

[code]

So I used to serialize like this:
[code]

Is there a way to achieve the same behaviour?

[2020-10-06 18:39] blakecodes opened #461 "`XmlElementAttribute` Does Not Have 100% Fidelity with Classic Serializer"
I seem to be running into an issue deserializing from an XML HTTP GET response. Could someone provide some clarity on how I could resolve this?

Configuration:
`var serializer = new ConfigurationContainer().EnableImplicitTyping(typeof(Rss)).Create();`

Class:
[code]

XML Content:
[code]

[2020-10-06 18:39] blakecodes opened #462 "Multiple same key issue"
I seem to be running into an issue deserializing from an XML HTTP GET response. Could someone provide some clarity on how I could resolve this?

Configuration:
`var serializer = new ConfigurationContainer().EnableImplicitTyping(typeof(Rss)).Create();`

Class:
`[XmlRoot(ElementName="link", Namespace="http://www.w3.org/2005/Atom")]
	public class Link {
		[XmlAttribute(AttributeName="href")]
		public

[2020-10-06 18:40] #462 closed

[2020-10-07 02:32] binary1230 opened #463 "question: how to instantiate a different type during serializing (or, is IDictionary<k,v> bugged?)"
First: HI! This library is amazing. Thank you for working on it.

I -think- I have a likely a documentation/understanding question, but, there's a small chance this might be a bug.

If I use a regular ```Dictionary<somekey,somevalue>``` class, serialization works great.

ISSUE:
When I tried to use a third-party dictionary class, I was seeing exceptions with an invalid attempt to cast to ```IDictio

[2020-10-07 02:36] binary1230 commented on #463
👍  issue-label-bot. you done good.

[2020-10-10 13:58] Mike-E-angelo commented on #458
Cool @aspektxxx thank you for reporting this.  The fix is not as elegant as I would prefer, but it will do for now.  Please try out this build and see if it works better for you:

https://github.com/ExtendedXmlSerializer/home/pull/464#issuecomment-706553189

[2020-10-10 14:12] Mike-E-angelo commented on #463
Hey @binary1230 thank you for writing in with the kind words and for all the great detail!  From the outset I would say we are indeed running into a limitation of how ExtendedXmlSerializer views dictionaries.  I will look into this, however, and see if there is an easy fix for this (or perhaps a workaround with an extension).

As for your question on querying generic types, you have for sure run i

[2020-10-10 14:29] binary1230 commented on #463
Cool! thanks for looking at it, I really appreciate it.

The project I'm using this for is over here, I actually did end up figuring out how to build a self-registering system for generic types though.... it's probably too hacky for real use.  However, it's a neat proof of concept: https://github.com/binary1230/DiztinGUIsh/blob/master/Diz.Core/util/ObservableDictionaryAdaptor.cs#L18

The key being

[2020-10-10 14:51] Mike-E-angelo commented on #461
Thank you for writing in with this, @blakecodes.  I took a look at this, and while we do have some basic support for classic serialization scenarios, there appears to be a problem here with how we're interpreting the `List<T>` member definitions.  As a more specific example, the `Channel.Link` member from your provided model is of type `List<string>` and that is throwing us for a loop.

ExtendedXm

[2020-10-10 16:41] Mike-E-angelo commented on #463
Wow!  Very cool @binary1230.  It's a little humbling to see how others are using this library and how they are integrating with it.  Hopefully someone will be able to utilize your work in their own way as well.  I think it would be cool to create a library at some point, maybe `ExtendedXmlSerializer.Extensions` with useful contributions like this.  It would have to be _totally_ community-driven, h

[2020-10-10 18:24] blakecodes commented on #461
Thanks @Mike-E-angelo, I'll take a look to see if I can create a fix for it. We've got a few use cases for a deserializer and this seems to be closest to what we want to use.

[2020-10-11 14:44] binary1230 commented on #463
YESSSS.   that does the trick really nicely. thank you so much!

I've integrated it into https://github.com/Dotsarecool/DiztinGUIsh/pull/18 and was able to rip out the wrapper stuff. it all seems to be working great!

Thanks again!

[2020-10-11 15:18] Mike-E-angelo commented on #463
Cool!  Very glad to hear that, @binary1230.  I will get this merged and then pushed out to NuGet this Tuesday (our usual deployment time).  I will update here when it is ready.

[2020-10-13 03:15] Mike-E-angelo opened #467 "Fix Build"
Appears there are several issues here.  Attempting to fix.

[2020-10-13 03:34] #467 closed

[2020-10-13 03:36] Mike-E-angelo commented on #463
This is now available in NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know of any issues you encounter and I will take a look into it for you. 👍  Closing for now.

[2020-10-13 03:36] #463 closed

[2020-10-13 03:37] Mike-E-angelo commented on #458
This is now available for your use in NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if you encounter any unexpected behavior and I will look into it for you.  Closing for now.

[2020-10-13 03:37] #458 closed

[2020-10-13 03:38] Mike-E-angelo commented on #454
Alrighty, this is now deployed and published in NuGet for you:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if you having any further problems and I will investigate.  Closing for now.

[2020-10-13 03:38] #454 closed

[2020-10-30 18:26] pmwoodrow opened #470 "Sprache.ParseException for async lambda inside of a method"
I stumbled upon what appears to be a bug, that can be reproduced with the following code. I am using version 3.4.1 in a netcoreapp3.1 application:

[code]

When the line

[code]

is used, the following error is generated:

[code]

The error is NOT thrown if the line is changed to:

[code]

Why is the serializer attempting to serialize a method of the class? I am not aware of any attributes that wo

[2020-10-30 20:22] Mike-E-angelo commented on #470
Doh, @pmwoodrow thank you for writing in and reporting this.  I can confirm that this occurs with a test that I have created using the code you have provided.  It appears that we are running into a problem with the type resolution code on container startup/initialization.  I agree that this seems odd and totally unexpected that it is throwing on a method.  I will see if I can get this situated and

[2020-10-30 20:25] Mike-E-angelo commented on #470
FWIW it appears we can remove the interface and reduce it to the following:

[code]

[2020-10-31 00:20] pmwoodrow commented on #470
@Mike-E-angelo, thanks for the quick response on this. I had a feeling that the interface was not important, given my testing identified the presence of the async/await to be the tipping point. I just wanted to make sure it was captured in the original post in case it had any bearing at all.

[2020-10-31 06:50] Mike-E-angelo commented on #470
Alright @pmwoodrow looks like this is due to how the asynchronous state machine componentry is generated.  We were already doing a check for the `CompilerGeneratedAttribute` but apparently this is not applied to the asynchronous bits when it is generated by the compiler. 🤷‍♂️

So now we do a further, subsequent check for "[unspeakable](https://stackoverflow.com/a/9256695/10340424)" types.

A build

[2020-11-02 14:23] pmwoodrow commented on #470
@Mike-E-angelo, thanks for the quick turn on a dev build. I can confirm that it resolves the issue in my application that was exhibiting issues with previous builds. Looks good to deploy to NuGet.

[2020-11-03 06:12] Mike-E-angelo commented on #470
Alrighty, this has been deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know if you encounter any issues with this build and I will take a look into it for you.  Thank you for improving ExtendedXmlSerializer!  Closing for now.

[2020-11-03 06:12] #470 closed

[2020-11-03 14:07] netaques opened #473 "`WithUnknownContent` Does Not Support List Members"
Hello and thank you very much for the EXS library. I would like to ask about the way how unknown elements are deserialized into array/list items. Please consider following example. Currently extended serializer creates an instance of animal per each inner element of `Animals` node even for cases that element name is not `Animal`. Is there a way to configure EXS not do so and skip these unknown ele

[2020-11-03 16:59] Mike-E-angelo commented on #473
Hey @netaques thanks for writing in and for the kind words.  I did take a look at your sample code, and it looks like you found the method that deals with this area, `WithUnknownContent`.

Unfortunately, it looks like there are a few issues here with your scenario.  It seems that if unknown content is encountered in a list element context, it does continue but it still creates an element of the cu

[2020-11-03 19:33] Mike-E-angelo commented on #473
Alright, @netaques I've taken a look into this, and it's not pretty.  I was correct in my earlier assumption that `WithUnknownContent` is only supported by properties, and not list elements.

We're facing some challenges here, in that the list element reader/activator doesn't actually read the element names to create the type.  It will only read the element for an `exs:type` tag to instantiate a t

[2020-11-04 09:05] michalsznajder opened #474 "How to drop "exs:type" when serializing derived types"
This is not an issue but rather question for help.

I have following object structure:

    class Container
    {
        public string Common { get; set; } = "Common";
        public IBody Body { get; set; }
    }

    interface IBody
    {
        string BodyType { get; set; }
    }

    class A : IBody
    {
        public string BodyType { get; set; } = "A";
        public string FieldX { get;

[2020-11-04 12:37] Mike-E-angelo commented on #474
Hi @michalsznajder thank you for writing in and for the question.  Unfortunately, this is not possible.  Interestingly enough, I got involved with ExtendedXmlSerializer when I learned that the classic `System.Xml.Serlialization.XmlSerializer` does not handle/serialize interfaces.  Since this is considered a breaking/unsupported scenario for the classic serializer, we went the route of utilizing a

[2020-11-05 07:52] michalsznajder commented on #474
O thanks. It would be nice to have it but I understand. Anyway - great project.

As for my case I resorted for second best thing after XSLT - regex 😃  I will leave it for reference here for future :
[code]

BTW would you accept PR that adds option to disable namespace generation?

[2020-11-05 08:21] Mike-E-angelo commented on #474
hah!  Good ol' `RegEx`.  Yes, I can understand having to go that route as using Xslt seems like you have to relearn it each time.  The same thing with RegEx but you encounter it more often than Xslt so less relearning involved, so to speak. 😁

As for a PR, sure... if the extension can read back in the same document without throwing an exception and producing the equivalent object graph that was se

[2020-11-05 11:01] Ganit20 opened #475 "Ignore property"
Hi i've started to use this serializator and my question is. Is there any way to ignore property in serialization?
I've got a lot of read only properties and i do not need to serialize them.

[2020-11-05 12:49] Mike-E-angelo commented on #475
Hey @Ganit20 welcome aboard and thanks for writing in.  You can indeed ignore properties.  Here is how to do this:

https://github.com/ExtendedXmlSerializer/home/blob/de270eb5706b5cabf761ea0037ab737ca02e0acb/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue475Tests.cs#L10-L28

As far as read-only properties are concerned, those shouldn't get serialized by default unless they are list propertie

[2020-11-08 20:10] michalsznajder commented on #474
My particular case needs only creation so I am not interested in reading data back. So second issue is not a problem in my case 😄 .

During XML creation I think there should be a way to turn off namespaces. Or rather provide extension point to specify you own typing way.

As for deserialization of XML. Maybe some way to leave part of document as unparsed so library user could decide on type and la

[2020-11-09 07:33] Mike-E-angelo commented on #474
Hehe yeah, I am not sure how common this scenario will be, but I certainly appreciate the appeal.  It seems odd to create a feature that only works one way but then essentially breaks it on the other.  Something that has been suggested in the past was to create a new library, something like `ExtendedXmlSerializer.Extensions` that is a culmination/collaboration/compilation of community-produced ext

[2020-11-20 12:05] feO2x opened #477 "Nullable readonly structs are not deserialized with the corresponding constructor call"
We've successfully used ExtendedXmlSerializer in one of our projects with quite a complicated object graph. During testing, I found another issue that might be a bug. Please consider the following minimal, complete, verifiable example (MCVE):

[code]

In the example above, `Point` is implemented as an immutable struct. When I use this struct as a regular property in a class (as can be seen in clas

[2020-11-20 13:47] Mike-E-angelo commented on #477
WOW @feO2x I am astounded that this doesn't work as expected!  Actually I am not sure what is more astounding, the fact that this doesn't work, or that it's taken someone this long to point it out. 😅

I will look into this now and see if I can track down what is going on.  Thank you for reporting it. 👍

[2020-11-20 14:24] Mike-E-angelo commented on #477
Looks like the `EnableParameterizedContent*` serializer is emitting more than it should:

Current:

[code]

Expected:

[code]

[2020-11-20 16:03] Mike-E-angelo commented on #477
Gosh, I have been spending more time trying to figure out how we could have missed this issue up until this point than actually seeing what's wrong.

It looks like we cover:

- Nullable primitives.
- Structures (e.g. writable `Point`)

But we do not cover:

- Nullable Structures.

To further summarize, this is what we have tests against:

[code]

But we do not have something like this:

[code]

Or

[2020-11-20 16:41] Mike-E-angelo commented on #477
I should also add that the above is based on the default serializer, without any extensions applied to it.  The reason why this class works in the provided issue:

[code]

Is that the `Point` class just so happens to abide by the rules for `EnableParameterizedContent*` and gets picked up there.  Otherwise, it would fail much like the `public sealed class B` does.

Sorry, it's _seriously_ tripping

[2020-11-20 16:44] feO2x commented on #477
No worries! I'm very happy that ExtendedXmlSerializer actually supports these scenarios that we have. Most other serializers don't, and that's why there is a lot of programming against dumb DTOs.

[2020-11-21 08:20] Mike-E-angelo commented on #477
Alrighty @feO2x check out this build:

https://github.com/ExtendedXmlSerializer/home/pull/478#issuecomment-731527036

If it works for you we'll get this deployed to NuGet on Tuesday.  Otherwise please let me know of any issues you find and I will look into them for you. 👍

[2020-11-21 08:26] Mike-E-angelo commented on #473
FWIW marking this issue as `helpwanted/won't fix` as it unfortunately falls outside of the allotted/due-diligence time I have per #383.  I will leave it open for the community to take a look at for a while and then archive it if no one takes up the challenge.

[2020-11-21 08:27] Mike-E-angelo commented on #461
FWIW marking this issue as `helpwanted/won't fix` as it unfortunately falls outside of the allotted/due-diligence time I have per #383.  I will leave it open for the community to take a look at for a while and then archive it if no one takes up the challenge.

[2020-11-21 08:28] Mike-E-angelo commented on #475
Looks like I have answered the question here so closing this issue for now.  Please do let me know if you have any further questions around this or anything ExtendedXmlSerializer-related and I will do my best to answer them for you.

[2020-11-21 08:28] #475 closed

[2020-11-21 08:31] Mike-E-angelo commented on #474
Looks like this issue is as resolved as much as possible at the moment.  If you do find the motivation/courage to create a contribution, please submit a PR and we can take it from there.  In any case, thank you for your interest and considerations with ExtendedXmlSerializer. 👍  Closing for now.

[2020-11-21 08:31] #474 closed

[2020-11-21 08:40] Mike-E-angelo commented on #438
Marking this as a `known issue` made discoverable through our README here:

https://github.com/ExtendedXmlSerializer/home/blob/master/README.md#known-issues

[2020-11-21 08:40] #438 closed

[2020-11-21 09:41] feO2x commented on #477
Thanks for the quick fix of the problem. On a side note, I tried to install this package into a fresh project, but I did get the following error:

![Error on Package Install](https://user-images.githubusercontent.com/7884158/99874192-fd2caa00-2be5-11eb-9adb-d2f456fc71ff.png)

Do I need to use a specific project type?

It's not that important, I can also wait until Tuesday for the official update o

[2020-11-21 09:58] Mike-E-angelo commented on #477
Doh @feO2x looks like you are running into a known issue here?

https://github.com/NuGet/Home/issues/7189

I've had transient problems with that command as well.  Sometimes it works, sometimes it doesn't.  🤷‍♂️  I'll update the template with the above issue.

[2020-11-21 09:59] feO2x commented on #477
Well then, no worries. I updated the NuGet issue. Thanks for your help!

[2020-11-21 10:04] Mike-E-angelo opened #479 "Test CI Template Message"
Make sure message directs to known issue for transitive source error.

[2020-11-21 10:17] #479 closed

[2020-11-21 13:06] Mike-E-angelo commented on #477
OK cool... I wanted to verify here that you were able to get to the preview build.  If the Package Manager Console command doesn't work, you can put in the preview feed manually in the NuGet interface and that should work for you.

My motivation here is that, if possible, I would prefer to get confirmation from you with the preview build before deploying it to NuGet. :)

[2020-11-22 21:17] ensisnoctis commented on #477
I wanna throw my three cents here.

I have my serializer set up like this, because I need a specific date format:

[code]

But while serializing a class like below I found disappointing result when using nullables:

[code]

I thought "Okay, this is probably my fault, this library might be very type-strict and I need to define a serializer for _nullable_ `DateTime` as well". So I did:

[code]

And

[2020-11-22 21:33] Mike-E-angelo commented on #477
Doh are you saying this is occurring with the preview build @ensisnoctis or is this from using the current NuGet release (3.4.2)?  We do not provide any sophisticated registration but that error does seem suspicious.  I will look into it for you.

[2020-11-23 07:38] feO2x commented on #477
@Mike-E-angelo I can now confirm that version 3.4.2.1-xufywhoa is fixing this issue.

[2020-11-23 08:03] Mike-E-angelo commented on #477
Great, thank you for the update, @feO2x!

@ensisnoctis I took a look into your scenario and with the preview build above I was able to confirm that it works as expected with the following test:

https://github.com/ExtendedXmlSerializer/home/blob/431c00ec030e465fbef5db7c63c2127615a4e7da/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue477Tests_Extended.cs#L11-L39

Do note that I had to modify y

[2020-11-24 06:25] Mike-E-angelo commented on #477
Alrighty, this has been deployed to NuGet:

https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know of any further issues you encounter and I will take a look into it for you.  Closing this issue for now.

[2020-11-24 06:25] #477 closed

[2020-12-02 20:23] thomasjoscht opened #483 "AddMigration extension method for non-generic ITypeConfiguration"
Hey,

I try to manage my own MigrationSystem for registering migrations by XML model versions for my types. Therefore I've a Dictionary with type as key and a List of Migrations (classes based on `IEnumerable<Action<XElement>>`) as value.

My problem is applying this migrations directly on `ConfigurationContainer` is not possible because I don't have generic `ITypeConfiguration` objects. My algori

[2020-12-03 06:39] Mike-E-angelo commented on #483
Hey @thomasjoscht thanks for writing in with your issue.  I took a look around this and while there were several options, they all involved exposing internal classes.  So, I took the lesser of all evils so to speak and simply exposed `MigrationsExtension` for you.  You can try this build out and see if it treats you better here:

https://github.com/ExtendedXmlSerializer/home/pull/484#issuecomment-

[2020-12-03 06:55] BSG-75 opened #485 "How can I serialize a System.Collections.Immutable.ImmutableList<T>?"
For example, the following code will cause an exception, saying

I suspect other immutable types won't work either...

[code]

[2020-12-03 08:28] netaques commented on #473
Hi @Mike-E-angelo, I took a look on this issue and tried to identify how it might be fixed. To be honest the reader code is not as clean as it could be, so that I am not pretty sure if my findings are on the right track or if it is totally out. I think I got the point where I know what and where should be done, but I would like to ask you how. I think that problem is in method `CollectionInnerCont

[2020-12-03 09:21] Mike-E-angelo commented on #485
Hey @BSG-75 thanks for writing in with the question and code.  We do have support for `ImmutableArray` and it was something we added at the outset of v2.  The thinking was that we'd wait until someone asked for other immutable types before adding more.  So here we are. 😁

I've added support for `InnutableList` and a build to try this out can be found here:
https://github.com/ExtendedXmlSerializer/

[2020-12-03 10:18] Mike-E-angelo commented on #473
That's putting it nicely. 😅  To be more succinct, the code is downright _terrible_. 😂😭  When I originally wrote that code, I was going through a phase, shall we say, of being a little too obsessed with performance.  I was learning quite a lot, but was still confused on a lot of things.  The result of which was that I was designing things unnecessarily terribly and putting performance before design

[2020-12-03 10:33] Mike-E-angelo opened #488 "Fix Tests"
We have an errant test that needs fixed and committed.

[2020-12-03 10:38] #488 closed

[2020-12-03 11:20] thomasjoscht commented on #483
Hey @Mike-E-angelo, thx a lot for your super fast change. I've tried use of MigrationsExtensions and it works perfectly on my small prototype scenario. I will now implement rest of my migration system concept.

Regards Thomas

As note: I'm forced to apply migrations before calling `EnableReferences`. Otherwise the following error will occur:
[code]

[2020-12-03 11:29] netaques commented on #473
Thank you Mike. I am glad to see that I was almost there. Yesterday I was just playing with that `UnknownContentHandlingExtension.Services` class but I did not know about the `IClassification` that does the magic. And regarding the design of code - to be honest, show me a good developer who never wanted to delete whole solution and start all over.

[2020-12-03 11:50] thomasjoscht commented on #483
As further suggestion: It should be possible to write an `AddMigration` method for non-generic version of `ITypeConfiguration` like this. Therefore MigrationExtension must not be exposed. What do you think?
[code]

[2020-12-03 13:24] Mike-E-angelo commented on #483
Oh my goodness @thomasjoscht I cannot believe I didn't think of that! 🤦‍♂️  Yes, that's a much better solution.  Let's do that instead.

Here is a build to try out with a non-generic version of `AddMigration`:
https://github.com/ExtendedXmlSerializer/home/pull/484#issuecomment-737991184

I guess my only concern is that there could be a resolution collision for the selected method now, since `IType

[2020-12-03 14:36] thomasjoscht commented on #483
Hey @Mike-E-angelo, thx a lot. My tests were successful. It think it should work with this new `AddMigration` methods. I'll let you know in case I need anything else in next few days. But for now my demand is covered 😊

[2020-12-03 18:15] Mike-E-angelo commented on #483
OK @thomasjoscht we'll go with what we got and hope for the best. 🤞  If someone runs into an issue here we'll take those methods and move them to another namespace.  I'll be sure to update here if that is the case.  In the meantime, we can expect this to be deployed to NuGet next Tuesday and will update here when it has done so. 👍

[2020-12-03 18:24] BSG-75 commented on #485
@Mike-E-angelo Thanks for the quick response! Now `ImmutableList` seems to be working well, but could you add support for `ImmutableDictionary` and `ImmutableSortedSet` too?

[2020-12-04 06:45] Mike-E-angelo commented on #485
![](https://media3.giphy.com/media/rmAxpa2ZCnRYs/giphy.gif?cid=ecf05e47ow4xtfvoic9lhg34lpu05xb44w3delbd02x1mnqw&rid=giphy.gif)

😁

I went ahead and added the whole gamut, why not:

- `ImmutableList`
- `ImmutableHashSet`
- `ImmutableSortedSet`
- `ImmutableDictionary`
- `ImmutableSortedDictionary`

Do note that since these would require additional checks for each type in a graph, I have put these no

[2020-12-05 08:51] BSG-75 commented on #485
@Mike-E-angelo Eventually I managed to survive and climbed to the top of hill again, to make some tests ;)

The serialization / deserialization of these collections are working by themselves, except one thing:
When these collections are empty, nothing will be written to the xml (as expected, this is also my desired behavior)
But when we are deserializing back from the xml, a `NullReferenceExceptio

[2020-12-05 11:44] Pival81 opened #490 "Asp.Net core"
How am I meant to use this with an aspnet core web api project?
Like, I want to return my objects in my controllers with the extendedxmlserializer with my custom options instead of the default one.
I saw there's a support package, but it's for an old version and doesn't work.

[2020-12-05 11:59] WojciechNagorski commented on #490
I can take care of it.

sob., 5 gru 2020, 12:45 użytkownik Valerio Pizzi <notifications@github.com>
napisał:

[2020-12-05 14:16] thomasjoscht opened #491 "Bug in WithUnknownContent for elements with attribute name"
Hey,

I've found a bug which drives me crazy. First of all I haven't known the Feature `WithUnknownContent`. After model change my object was partly null. After setting `WithUnknownContent().Continue()` this was gone. JM2C: Perhaps it will make the library more robust with `Continue` as default.

After setting WithUnknownContent in some cases the object still was partly null. The reason I've found

[2020-12-05 15:23] Mike-E-angelo commented on #485
Haha, to be certain, that was meant as a reference for me falling down the hill, as that is how I felt after digging through all my ghetto fabulous code from back in the day. 😆  It's a scene from The Princess Bride and I am sure I am entirely misappropriating it since it has been wayyyy too long ago since I have seen it.  It's the first thing I thought of, but I guess that is what I get for handli

[2020-12-05 17:25] Mike-E-angelo commented on #491
WHEW you are giving me a run for my money on this extension @thomasjoscht 😅  It is good though.  I will always try to put my time due diligence-wise to see if a bug can be squashed.  As I mentioned anything, involving the reader makes me want to curl up into fetal position and cry myself to sleep.  This was no exception as it has to do with guts (and I mean that in all meaning of the term!) of the

[2020-12-05 21:25] BSG-75 commented on #485
@Mike-E-angelo Now it's working perfectly, thanks a lot!
By the way looks like it will cause some issues when using together with `EnableParameterizedContentWithPropertyAssignments` (instead of `EnableParameterizedContent`(, but personally I don't use `PropertyAssignments` yet, so it's not a problem for me xD

[2020-12-06 05:22] Mike-E-angelo commented on #485
Good catch @BSG-75!  I have posted a fix for this here:
https://github.com/ExtendedXmlSerializer/home/pull/486#issuecomment-739456933

[2020-12-06 07:11] BSG-75 commented on #485
All right, I'll try it when I'm wake up ;)
By the way it _seems_ like that when encountering empty collections, ExtendedXmlSerializer will pass `null` instead of empty immutable container to the paramterized constructor during deserializing.
Right now I'm not able to verify if it's something wrong on my end, or it's a bug in ExtendedXmlSerializer, because I feel so much sleepy, I'll verify it when

[2020-12-06 10:03] Mike-E-angelo commented on #485
Interesting, @BSG-75 and by interesting I mean frightening. 😧  I did a quick sanity check on those tests in our suite and all 20 of them show that the objects being passed to the constructor are non-null and assigned.  If you do find the culprit on your end and can produce a test that demonstrates how to do so I can take a look into it for you.

[2020-12-06 10:31] thomasjoscht commented on #491
Hey @Mike-E-angelo, thx for your incredible good work! I've tested it with my application and it seems that bug is fixed. Everything runs nicely. I'm waiting for a new nuget release where this and #483 is integrated. I wish you have a nice advent.

[2020-12-06 18:13] BSG-75 commented on #485
@Mike-E-angelo Now I've checked it again, and it's not exactly what I've described before I fall asleep, but something more complicated 😅
I have a class member which is null, so it didn't appear in XML. But when deserializing, the member will still be created, but with everything set to their default value (`null` in the case of `ImmutableList`)
[code]

[2020-12-06 21:48] Mike-E-angelo commented on #485
Very good catch @BSG-75 ... another one! :D  I did have to do some changes with how default type values were resolved and this slipped through.  Now we have tests to make sure this works as expected.

Please try this version out and see if you have any better luck with running your above test:

https://github.com/ExtendedXmlSerializer/home/pull/486#issuecomment-739569622

[2020-12-07 07:05] BSG-75 commented on #485
Yeah, now everything works as expected!

[2020-12-08 04:24] Mike-E-angelo commented on #485
Alrighty, this has been deployed to NuGet here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know of any issues you find and I will take a look into them for you.  Closing for now.

[2020-12-08 04:24] #485 closed

[2020-12-08 04:25] Mike-E-angelo commented on #491
Thank you for the kind words @thomasjoscht.  You can find that NuGet package here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know of any issues you encounter and I will look into them for you.  Closing for now.

[2020-12-08 04:25] #491 closed

[2020-12-08 04:26] Mike-E-angelo commented on #483
This has been deployed to NuGet here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Closing for now.

[2020-12-08 04:26] #483 closed

[2020-12-08 04:29] Mike-E-angelo commented on #473
This has been deployed to NuGet and deployed here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Thanks again for your patience and collaboration with this issue.  It is very much appreciated!  I am glad we were able to track this down and it wouldn't have been possible without your sleuthing.

If you find any additional issues with this please do let me know and I will see if they can be

[2020-12-08 04:29] #473 closed

[2020-12-08 04:32] Mike-E-angelo commented on #490
I was thinking of this issue, and one thing to be aware of is that there have been quite a few changes since v1.  Most notably, we use our own custom namespace and attributes that other XML serializers will not recognize and/or handle in the same way.

If the consumer/client of your ASP.NET Core API is also using ExtendedXmlSerializer (yay 😁), this is not an issue.  However, if they are not, then

[2020-12-16 15:00] jhranac opened #497 "Question: Support for custom XmlIgnore attribute implementation"
Hello,

I'm looking into a way to serialize (and deserialize) properties based on them having an attribute assigned. But there are two scenarios  - and in one I want to serialize everything, in the other only the items (not) flagged with a custom attribute.

I tried the Member extension, but that does not seem to do the trick and the Emit extension works only with the instance of the object it's c

[2020-12-17 05:40] Mike-E-angelo commented on #497
Ah unfortunately our member selection is deficient in this regard, @jhranac.  The `Emit` and `EmitWhen` calls are actually based on instance values and not their metadata.  The best suggestion I have for you is to cycle through the types you know you are going to serialize and utilize the `Ignore` method.

I have provided a quick demonstration of how you might go about doing this here:

https://gi

[2020-12-17 07:46] jhranac commented on #497
Thanks. That is something I've wanted to avoid, but it looks like there is no way around it. Works ok.

[2020-12-17 07:46] #497 closed

[2021-01-07 17:52] martinscholz83 opened #499 "Deserialize attributes"
This is more a question than an issue. I have the following xml
[code]
Is it possible with ExtendedXMLSerializer to deserialize this into some class?

[2021-01-08 07:28] Mike-E-angelo commented on #499
Hey there @martinscholz83 thanks for writing in with this.  Unfortunately, ExtendedXmlSerializer will not be able to process this as-is.  My suggestion would be to utilize an XSLT stylesheet to run the above external document through it so that it is in a format that ExtendedXmlSerializer expects and understands.  First, however, you would need to serialize your .NET object via ExtendedXmlSerializ

[2021-01-08 07:52] martinscholz83 commented on #499
I already had in mind to transform the file or to create my own parser for it. But i got it running with the standard .NET XmlSerializer. It's a little bit messy, but it works for now.

[code]

[2021-02-23 18:25] EverPresent opened #500 "Issue deserializing partially mapped XML"
I've got several POCO classes that have been deserializing using the standard System.Xml deserializer.  The class map some, but not all of the available properties in the XML.  We're switching to this library for a variety of reasons, but I'm having a slight problem.  I've been able to reproduce the issue using the code/types available in the unit tests.  Is this a bug, or am I just missing some c

[2021-02-23 18:54] Mike-E-angelo commented on #500
Thanks for writing in with this, @EverPresent.  I will have to know the schema of `Foo` to help you further, but we do have some handling of unknown content via the `WithUnkownContent` method.

So, something like this for your scenario should get you unblocked:

[code]

Unfortunately, the serializer does indeed stop working when it hits unknown content.  That's been around since v2 and we should h

[2021-02-23 21:00] Mike-E-angelo commented on #499
Sounds like this issue/question was resolved for you.  If you have any other further questions please do feel free to open a new issue and I will look into it for you.  Closing for now.

[2021-02-23 21:00] #499 closed

[2021-02-23 21:01] Mike-E-angelo commented on #461
There hasn't been much activity here, so will be closing for now.  If something does change please feel free to leave a comment here and we'll take it from there. 👍

[2021-02-23 21:01] #461 closed

[2021-02-23 21:05] Mike-E-angelo commented on #490
Going once, going twice. :)  Checking in on this issue.  Has there been any activity around it?  Since it's been a couple of months now I am apt to stale it if no work is being done around it (or is planned to do so).  Please feel free to add any additional comments here.  Otherwise, I will give it some time and close if no further activity has been performed and/or is planned.

[2021-03-03 08:58] BianChengNan commented on #243
Does ExtendedXml|Serializer support serialize/deserialize such xml structures now? really need this feature.

[code]

[2021-03-03 09:01] BianChengNan opened #501 "Is Inner Implicit Child List Content Supported via `XmlElementAttribute`?"
As #243 has been closed. I think I'd better create a new one. sorry for interrupt.

Does ExtendedXml|Serializer support serialize/deserialize such xml structures now? really need this feature.

[code]

[2021-03-03 09:22] Mike-E-angelo commented on #501
Hi @BianChengNan thank you for writing in with your question here.  Unfortunately, this is related to a [known issue](https://github.com/ExtendedXmlSerializer/home/issues?q=label%3A%22known+issue%22+) specifically #461 which among other problems does not fully respect implicit inner content of an `XmlElementAttribute` for list items.

As this project is essentially in maintenance mode, the recomme

[2021-03-03 16:25] feO2x opened #502 "Deserialization State Exception When Reference Entity Has Attribute-based Property"
Hey folks,

### About the issue

I encountered a weird behavior with Extended XML serializer 3.6.0 yesterday: we have a pretty complex model where some entities reference each other, thus we enabled references in the ConfigurationContainer. More precisely, our model consists of a map that is the container object for several other entities like nodes, obstacles, storage rows, etc. Consequently, the

[2021-03-03 16:48] Mike-E-angelo commented on #502
Doh @feO2x sorry to hear about this!  I did try to quickly look at your solution for anything obvious, but unfortunately it is complaining about `SynSerilogExtensions`.  It does not appear in NuGet:

https://www.nuget.org/packages?q=SynSerilogExtensions

Any guesses on where I can find this?

As for the exceptions.  This appears to be related to unknown content, but adding a new property shouldn't

[2021-03-03 16:52] Mike-E-angelo commented on #502
Also, you can try to `Continue` which will basically ignore unknown content and see if that helps any:

[code]

[2021-03-03 20:22] feO2x commented on #502
Sorry for the inconvenience - I will update the solution first thing in the morning - I forgot that this Nuget package is only available on our internal server.

[2021-03-04 07:07] feO2x commented on #502
I have updated the repo - you should be able to build it now.

[2021-03-04 08:11] Mike-E-angelo commented on #502
Alrighty @feO2x thank you for that.

I am unclear on what is happening out of the gate, unfortunately.  It has to do something with how auto-formatting is being applied.  I will look into it further, but I was able to get all tests passing by configuring your container as such:

[code]

That forces your new property to serialize as an element, which for some reason works.  You can also remove `Use

[2021-03-04 08:13] feO2x commented on #502
Thank you for the quick help - I will try it out.

[2021-03-04 10:19] Mike-E-angelo commented on #502
OK I have tracked this down to how the deserializer is processing reference/entity attributes when the reader context is within an attribute.  This _may_ be salvageable, no promises yet tho.

[2021-03-04 14:01] Mike-E-angelo commented on #502
WHEW what a challenge. :)

Check out the following, @feO2x and let me know if it treats you better:
https://github.com/ExtendedXmlSerializer/home/pull/503#issuecomment-790637058

Please note that as part of that PR I have pulled in your tests/code from that repository and have made it a part of our test suite here going forward.  Please let me know if that is a problem and I can work with you on r

[2021-03-04 14:13] feO2x commented on #502
I've just checked it both on the MCVE as well as our total solution and it works successfully.

[2021-03-04 14:16] Mike-E-angelo commented on #502
Great!  I will get this deployed to NuGet on Tuesday, our typical day of deployment.  Please feel free to use the preview build until this time and do let me know of any additional issues you encounter. 👍

[2021-03-04 14:23] feO2x commented on #502
Is there any way I can sponsor you? You have been tremendously helpful, here as well as with other issues in the past. Couldn't find anything in this repo.

[2021-03-04 14:37] Mike-E-angelo commented on #502
Oh wow, thank you for that!  I did consider doing the sponsorship thing at one point but ultimately decided against it.  I might though if others do ask for it, although my feeling is that I do not want to encourage it as it really is no longer a primary focus in my life (sad to say in this regard but happy in another... more on that below).

I obviously do not do this for the money but more for t

[2021-03-05 05:34] BianChengNan commented on #501
copy that, thanks for your reply. really appreciate for your hard work and this excellent project.

[2021-03-05 06:54] Mike-E-angelo commented on #501
Thank you very much for the kind words, @BianChengNan.  It is much appreciated. 🙏  Please do let me know if you have any further questions (either posting here or a new issue) and I will do my best to assist.  Closing this issue for now.

[2021-03-05 06:54] #501 closed

[2021-03-09 16:42] Mike-E-angelo commented on #502
FWIW we are currently blocked on a release due to NextRelease issues.  They are looking into it and should have something here in the next day, I am hoping. 🤞  I will update here accordingly.

[2021-03-10 10:04] Mike-E-angelo opened #504 "Fix Build"
Looks like we have something like this going on:
https://github.com/peter-evans/create-pull-request/issues/690

[2021-03-10 10:33] Mike-E-angelo commented on #504
Dodging bullets. :)

[2021-03-10 10:33] #504 closed

[2021-03-10 10:35] Mike-E-angelo commented on #502
Alrighty, after brushing off the dust from our CI we now have this pushed out to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know of any issues you further encounter and I will take a look into it for you.  Closing for now.

[2021-03-10 10:35] #502 closed

[2021-03-10 10:36] Mike-E-angelo commented on #500
Looks like this question was answered as there has not been activity for a while here.  Please do let me know if you have any further questions by replying to this issue and I will do my best to assist.  Closing for now.

[2021-03-10 10:36] #500 closed

[2021-03-10 10:37] Mike-E-angelo commented on #490
Looks like there is no activity on this issue.  Unfortunately with my own [time constraints](https://github.com/ExtendedXmlSerializer/home/issues/383) I cannot look into this at depth.  If work is done on this at a later time please comment on this thread and we can take a further look into it.  Closing for now.

[2021-03-10 10:37] #490 closed

[2021-03-11 05:18] TheColonel2688 opened #507 "Question: Does ExtendedXMLSerializer provide better error messages than System.Xml?"
Does ExtendedXMLSerializer provide better error messages than System.Xml?

For example, will it tell me what the name of the Property/Field is that is throwing a parsing error? Will it actually give correct Row Numbers and Column positions for errors? (system.xml does neither of these things)

[2021-03-11 14:07] Mike-E-angelo commented on #507
Hey @TheColonel2688 thanks for writing in with your question.  I wouldn't know exactly about being _better_ than System.Xml, but we do offer some configurations that improve the handling of content.  Specifically, we have the `EnableMemberExceptionHandling()` and `WithUnknownContent().Throw()` methods while configuring the container.

For your review, I have added an example of this here that demo

[2021-03-21 16:12] binary1230 opened #509 "documentation question: applying config only to specific paths in the XML"
Hi, thanks again for this awesome library!

I had a question about applying configuration to specific paths in the XML. I decided to reach out to ask about this because I feel like I might just be missing something simple.

What I'm trying to do is serialize a specific dictionary in my app to serialize some ints as Hexedecimal in the XML. I wrote a converter that's fairly simple, but, I'm having t

[2021-03-22 07:05] Mike-E-angelo commented on #509
Not a problem @binary1230.  I'm actually amazed -- and yes, maybe even a little horrified 😅 -- to see people actually using software that I helped put together.

As far as your scenario, it is indeed quite advanced and unfortunately outside of the current capabilities of our existing API.  FWIW, I'm all for putting the magic in the serializer and keeping the domain model as "plain" as possible, bu

[2021-03-22 07:06] Mike-E-angelo commented on #507
There hasn't been activity here for some time so I will close this for now.  If you have any further/additional questions please leave a comment here and we can take a further look at it. 👍

[2021-03-22 07:06] #507 closed

[2021-03-22 14:34] binary1230 commented on #509
Wow! thanks for the example, and I think this approach is solid for what we're doing. I was thinking along those lines might be the way to go, don't mind changing the model a bit to fit the output.

I know the feeling regarding people using your software, it's happening to me upstream on the project I'm using this for and I'm flipping out a bit too : )

Digging into ExtendedXmlSerializer source ha

[2021-03-23 09:19] Mike-E-angelo commented on #509
Ah yeah... it's really predicated on the [decorator pattern](https://en.wikipedia.org/wiki/Decorator_pattern).  It's my BBQ sauce of software design -- it goes good with anything. 😆

In any case, glad to hear we got you in the right direction here.  Do let me know if you have any additional/further questions and I will take a look into it for you.  Closing this for now.

[2021-03-23 09:19] #509 closed

[2021-03-23 15:41] imperiobadgo opened #511 "Is there a way to use the serialiser in parallel tasks?"
First of all, thank you again for this brilliant project!

I was wondering if an object can be serialised faster if it is divided into smaller parts beforehand and serialised independently in parallel tasks. The resulting parts could then be integrated and saved in a zip archive with the info where they were positioned in the original object.

However, I have observed the following about this:
If

[2021-03-23 15:43] imperiobadgo commented on #511
`
using ExtendedXmlSerializer.Configuration;
using ExtendedXmlSerializer.ContentModel.Conversion;
using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.IO;
using System.Linq;
using System.Reflection;
using System.Threading.Tasks;
using System.Xml;
using System.Xml.Serialization;

namespace ExtendedXmlSerializer.Tests.Performance
{
  public static class ParallelPerf

[2021-03-23 20:17] Mike-E-angelo commented on #511
WOW @imperiobadgo thank you for the kind words and for the interesting question here.  From the outset, there isn't anything obvious that I can think of specifically about the ExtendedXmlSerializer that would impact the results you are seeing.  Except that perhaps we have never really considered this scenario. :)

Have you tried the same thing with other serializers, by chance?  I would be interes

[2021-03-23 20:35] imperiobadgo commented on #511
Thank's for the answer.
Is the assumption correct that the serializer caches a lot in static variables? Because in an older version the behavior was that the first pass took longer than the following ones.

[2021-03-24 04:26] Mike-E-angelo commented on #511
You're speaking all the right words here @imperiobadgo.  I'm OK with that line of reasoning. 😊

As for caching, we definitely do this, but instances are not statically stored.  They are rather stored per-`ConfigurationContainer`.  We may use "static" caching but instances/values are stored in `ConditionalWeakTable` so they get GC'd and released if no other instance is holding onto them.

[2021-03-24 06:37] imperiobadgo commented on #511
What exactly is being cashed? Object types or the actual objects?
I made another observation: In version 3.2.5 there was a huge runtime difference between the first and subsequent runs. Can you tell me what exactly changed after that and why? I found the following change, but I can't really understand the difference: #437

In this version, i found out that the runtime with parallel tasks was also

[2021-03-24 07:25] Mike-E-angelo commented on #511
Both. :)  We use `TypeInfo` and other `MemberInfo` instances as the caching key for various parts of the serialization/deserialization services.  We do not hold onto instances unless references are enabled, and in that case, we store via a dictionary that is weak-referenced to the `IFormatReader` being sent through the graph.  So, once that `IFormatReader` is released, so are all the instances.  O

[2021-03-24 07:37] imperiobadgo commented on #511
You're right, i'm not using `EnableReferences`. But it still makes a big difference. If I change the References class to the old status, I also get the following results with 4 runs each:

1774,3246 ms: Sequential 0
33,9535 ms: Sequential 1
26,7884 ms: Sequential 2
31,4104 ms: Sequential 3

13727,9436 ms: Extracted 0
43,861 ms: Extracted 1
43,8958 ms: Extracted 2
37,4565 ms: Extracted 3

7398,1325

[2021-03-24 07:59] Mike-E-angelo commented on #511
AH!  OK correct... brushing off the dust here. :)

References are applied in the case of types that _could_ have recursive references, which have to be checked hence the performance hit as the objects are not cached.

Try applying `sealed` to all of your classes in the test above and you will see better performance as those classes are eliminated as potential candidates.

Outside of that, I am ope

[2021-03-24 08:04] Mike-E-angelo commented on #511
We could possibly add a `ConfigurationContainer.ElideReferenceChecking()` (or `ConfigurationContainer.WithoutReferenceChecking()`) which could bypass the reference checking altogether, but this would be dangerous and incompatible with `EnableReferences`.  There is no extension compatibility checking so users would have to read the documentation of this new method and pray they understand the impli

[2021-03-24 08:15] imperiobadgo commented on #511
You are right! If I convert the classes into sealed classes, I get perfect performance results! 😊

291,6189 ms: Sequential 0
35,8574 ms: Sequential 1
39,2728 ms: Sequential 2
38,282 ms: Sequential 3

31,7169 ms: Extracted 0
34,7519 ms: Extracted 1
51,6593 ms: Extracted 2
55,7814 ms: Extracted 3

90,0111 ms: Parallel 0
54,7511 ms: Parallel 1
18,4012 ms: Parallel 2
27,2295 ms: Parallel 3

Would be p

[2021-03-24 08:38] Mike-E-angelo commented on #511
Alright, I will see if I can get this in there.  I'll be lazy and point to this issue for the documentation. :P

We'll go with `WithoutReferenceChecking`.

[2021-03-24 08:54] Mike-E-angelo commented on #511
Alrighty, renamed to `EnableStaticReferenceChecking` and have a sample of how to use it here:
https://github.com/ExtendedXmlSerializer/home/blob/fdae88ba69d4fdc09882aa8156bcc4003ccdec57/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue511Tests.cs#L10-L16

A build has been deployed for you to test out here:
https://github.com/ExtendedXmlSerializer/home/pull/512#issuecomment-805619787

If that w

[2021-03-24 08:59] imperiobadgo commented on #511
Thank you very much for this great support!!!
I will test it and then report back with the results.

[2021-03-24 16:45] imperiobadgo commented on #511
When I was testing, I very regularly had several threads trying to access the hash set in RecursionAwareContents at the same time:

   at System.Collections.Generic.HashSet`1.SetCapacity(Int32 newSize, Boolean forceNewHashCodes)
   at System.Collections.Generic.HashSet`1.IncreaseCapacity()
   at System.Collections.Generic.HashSet`1.AddIfNotPresent(T value)
   at System.Collections.Generic.HashSet`

[2021-03-24 16:49] imperiobadgo commented on #511
I would suggest this following change:

[code]

Could you make the change in the preview so that I can test whether this no longer occurs in my software?
It is quite difficult to provoke this error with the test classes, although I have managed to do this a few times. But this error occurs very regularly in my software...

[2021-03-24 17:11] Mike-E-angelo commented on #511
Yeah that's a good point, we do have the `new ConfigurationContainer().EnableThreadProtection()` method but that locks the entire instance, so I am not sure of the benefit in a `Parallel` scenario.  Currently we have no `lock` usages due to performance considerations.  However, we might be able to configure the `ISet<TypeInfo>` used.  Let me look into that.

[2021-03-24 17:32] imperiobadgo commented on #511
I have also observed this. How often are hashsets used otherwise?

[2021-03-24 18:16] Mike-E-angelo opened #513 "Add Support for Thread-aware Recursion Contents"
As per https://github.com/ExtendedXmlSerializer/home/issues/511#issuecomment-805984710

[2021-03-24 18:34] Mike-E-angelo commented on #511
Good question.  I believe that is the only place we're storing state like that.  I'd rather find a way not to do that as well as I am not a fan of it.

Regardless, I've added a new call `EnableThreadAwareRecursionContent` which you can see demonstrated here:
https://github.com/ExtendedXmlSerializer/home/blob/f7a61b878322146ab4b393676a4070cf53ccadf6/test/ExtendedXmlSerializer.Tests.ReportedIssues/I

[2021-03-24 18:37] imperiobadgo commented on #511
Thanks, I'll test it right away! 😅

[2021-03-24 19:11] imperiobadgo commented on #511
It just seems to work perfectly! Do you have a link for the design pattern, like the structure of the ExtendedXmlSerializer? I would be very interested to finally understand the processes in the background of the serialiser.

[2021-03-24 19:32] Mike-E-angelo commented on #511
Very glad to hear this. 😁

Oh man, not really.  I mean, there is one pattern I use extensively in all my development, and that is [the decorator pattern](https://en.wikipedia.org/wiki/Decorator_pattern).  FWIW, before I joined in with ExtendedXmlSerializer v2, I was working on a framework that had a lot of these key concepts, then I pared it down tremendously for ExtendedXmlSerializer (sorta like

[2021-03-24 19:48] imperiobadgo commented on #511
Thank's again for your help! I will take a look at the links.

[2021-03-25 12:29] imperiobadgo opened #515 "How to Ignore Specific Types?"
I have another question: How can I exclude certain class types from serialisation?
With the following you can ignore individual members of a class:
`myConfiguration.Type<MyClassWithExcludingMember>().Member(x => x.MemberToIgnore).Ignore();`

There is already the possibility to add the classes to `IgnoredReferenceTypes()`, but this is apparently not used.
I'm probably just missing something...

[2021-03-25 14:54] Mike-E-angelo commented on #515
You are indeed @imperiobadgo and it's the feature itself. 😆  Not sure how we didn't have something like that before.  I threw together a copy/paste of the member variant, so please let me know if you encounter any issues using it:
https://github.com/ExtendedXmlSerializer/home/pull/516#issuecomment-806883258

FWIW any additional functionality around this area such as `EmitWhen` etc is a little more

[2021-03-25 15:06] imperiobadgo commented on #515
It just works exactly the way I need it to! Your work is just phenomenal!!!
Thank you very much for your super fast and perfect processing of my questions.

[2021-03-26 09:04] imperiobadgo opened #517 "ArgumentNullException when Deserializing a Class in a Collection with an Interface and Migration"
Hello everyone, I have found a problem with Migrations again. This time it seems to be a very special scenario involving interfaces and different namespaces. My Issue Example:

[code]
I get following Stacktrace:

[code]

[2021-03-26 09:50] imperiobadgo commented on #517
When I use the `UseOptimizedNamespaces` Extension, the error is gone, but the runtime performance is also worse.

[2021-03-26 09:54] Mike-E-angelo commented on #517
Thank you for reporting this @imperiobadgo.  I did take a look into it and it appears the `ns1` is not being resolved somehow.  Looks like we both found the workaround in tandem. 😅  I will look further into this and see if I can find the root cause.

FWIW, `UseOptimizedNamespaces` does a reference walk through the entire graph so it knows which namespaces to emit at the root element, essentially s

[2021-03-26 15:12] Mike-E-angelo commented on #517
Alright I did take a look into this and unfortunately this is not an easy fix.  Keep in mind the migration story was a v1 feature that was ported to v2, as well as the entire `XElement/XmlReader` APIs are difficult to work with and were a motivating factor in making EXS in the first place.

The issue is with namespace resolution.  This is done by calling the `IXmlNamespaceResolver.LookupNamespace`

[2021-03-26 15:28] imperiobadgo commented on #517
Ok, I can look further and see if I can find any solutions. In any case, thank you very much for trying!

[2021-03-27 12:20] Mike-E-angelo commented on #517
Alright, I couldn't let this one go. 😅  To start, I got confused between `XmlNameTable` and `XmlNamespaceManager`.  `XmlNameTable` is the cache of string/name values, and not the namespaces (just the values of such).

Anyways, I was able to figure it out.  Finally. :p You can try this out here:
https://github.com/ExtendedXmlSerializer/home/pull/518#issuecomment-808724090

[2021-03-27 12:30] imperiobadgo commented on #517
You are just great! Now you haven't even given me the chance to find a solution myself 😅

I'll test the build and report my reults.

[2021-03-27 13:52] imperiobadgo commented on #517
Unfortunately, I have found another mistake. I get an InvalidOperationException when I execute the following function:

[code]

[2021-03-27 14:15] Mike-E-angelo commented on #517
Doh, forgot to check if the added attribute was already added.  Try this one:

https://github.com/ExtendedXmlSerializer/home/pull/518#issuecomment-808739734

[2021-03-27 15:32] imperiobadgo commented on #517
Seems to work perfectly now! Thank you very much!

[2021-03-30 03:32] #513 closed

[2021-03-30 03:34] Mike-E-angelo commented on #517
This has been posted to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if you run into any additional problems and I will take a look into it for you.  Closing for now.

[2021-03-30 03:34] #517 closed

[2021-03-30 03:35] Mike-E-angelo commented on #515
This has been released on NuGet in `v3.7.0`:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know if you encounter any additional questions around this issue or any others and I will look into it for you.  Thank you for improving ExtendedXmlSerializer!  Closing for now.

[2021-03-30 03:35] #515 closed

[2021-03-30 03:44] Mike-E-angelo commented on #511
Alrighty, this has been posted to the main package on NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Appreciate the efforts here to look into performance.  True story: when we first started it was a core focus, but then I got really caught up in performance anomalies that turned out to be JIT loop alignment issues.  It drove me absolutely crazy and actually almost burned me out.  To

[2021-03-30 03:44] #511 closed

[2021-04-14 08:20] wexman opened #520 "Question: how to best handle types moving from one assembly to another?"
I want to move a type from one assembly to another for reasons. So objects were serialized when the type was in the old assembly and are to be found in the new assembly on deserialization.
Is that doable somehow? And if so, how?

[2021-04-14 14:58] Mike-E-angelo commented on #520
Hi @wexman thanks for writing in with your question.  As you are probably aware we do have our [migrations extension](https://github.com/ExtendedXmlSerializer/home/wiki/Example-Scenarios#migrate-xml-based-on-older-class-model), but I do not think this will help in your scenario (I could be wrong, @WojciechNagorski?).

In your situation, I would recommend using XSLT to run the documents through a t

[2021-04-14 15:04] wexman commented on #520
Actually, I was NOT aware of the migrations extension, so thanks for pointing me to that. Looks interesting, but does indeed not seem to be helpful in my special case.

Regarding the XSLT approach: I was hoping to avoid such a solution, but that would of course be a possibility.

[2021-04-14 15:25] Mike-E-angelo commented on #520
Yeah the migrations is a v1 feature and as far as I understand it's for types that have had their schemas change.  In this case (if I understand correctly), the schemas are the same they just need to have the namespaces updated.

Actually, now thinking about it, you might be able to use the migrations extension to do a search for the `xmlns="<namespace>"` (and/or `xmlns:<prefix>="<namespace>"`) at

[2021-05-18 18:59] rummelsworth opened #521 "Deserialization using ".WithUnknownContent().Continue()" still silently aborts on unknown content."
Some code to repro:

[code]

Also, when `Call` is used instead of `Continue`, the delegate is only invoked for "Item1".

For what it's worth, I think I can see `Continue` partially working when deserializing my real XML, which is _much_ larger. It makes it past a few elements for which there's no matching property, then it inexplicably fails (i.e. silently aborts) when it reaches a certain unknown

[2021-05-19 06:59] Mike-E-angelo commented on #521
Thank you for reporting this @rummelsworth.  Looks like this is an issue with unknown complex content, or uknown content with additional content under it.  I will see if I can get this to essentially return to the current indent index before continuing to read content.

[2021-05-19 07:41] Mike-E-angelo commented on #521
Alright @rummelsworth check out the following when you can to see if it treats you better:
https://github.com/ExtendedXmlSerializer/home/pull/522#issuecomment-843831615

As for the issue you are experiencing with `WithUnknownContent.Call`, it too will have to account for complex content as well, calling [`XmlReader.Skip`](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlreader.skip?view=n

[2021-05-20 08:29] Mike-E-angelo commented on #520
Going through older issues here... looks like this one has been addressed/answered.  Please do let me know if you have any further questions around this issue by leaving a comment and we can discuss further.  Closing for now.

[2021-05-20 08:29] #520 closed

[2021-05-25 06:40] Mike-E-angelo commented on #521
This fix has been deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know if you encounter any issues around this and we can take it from there.  Closing for now.

[2021-05-25 06:40] #521 closed

[2021-05-25 23:16] rummelsworth commented on #521
@Mike-E-angelo Sorry for not following up earlier. I hadn't gotten around to trying it at that time due to a weirdness with nuget and installing the preview build, then I ended up figuring out what I was doing wrong in my original use of XmlSerializer (which had prompted me to investigate this package). After plunging ahead, I forgot to come back and try this out to confirm the fix on my end. Anyw

[2021-05-26 04:35] Mike-E-angelo commented on #521
No worries @rummelsworth!  I am glad it is working for you and we got this squared away. 👍

[2021-06-30 06:21] aGreefa opened #524 "How to create a Xml document with same class, different structures with C#?"
I have to create a XML structure but dont know how to do this. I have in one xml document two different structures with the same class. The first structure shows a structure that element is a List of . Also element is a list from itself.

The second structure shows that element Member also a List is from . These two structures must generated in one xml document. If I create a another class that is

[2021-06-30 06:36] Mike-E-angelo commented on #524
Hi @aGreefa thank you for writing in with your question.  I am a little confused however by what you mean by "Xml Generator".  Do you mean the serializer?  Can you verify you are using the classic XmlSerializer or ExtendedXmlSerializer?

Additionally, it appears the code you are using didn't make it all through and I had to edit your code sample.  Please ensure all code is available and I can furt

[2021-06-30 06:47] aGreefa commented on #524
Hi Mike-E-angelo. I am using the ExtendedXmlSerializer.  I mean the with Xml Generator the ExtendedXmlSerializer. This is the class code what I have for generating Xml. The Xml I sended, did I make by hand, that's what I need to have but dont know how to get the good Classes structure to get this output.

[2021-06-30 07:04] Mike-E-angelo commented on #524
OK @aGreefa thank you for the further and additional context.  If you are able to provide some sample XML along with a failing test/code sample of what you are experiencing I can take a look into it for you.

[2021-06-30 08:10] aGreefa commented on #524
Thanks for helping. I created the failing test code for this.
This is the Main program:

public class Program
  {
    static void Main(string[] args)
    {
      GenerateOutput();
    }

    static List<Section> fSections =
      new List<Section>
      {
        new Section("Static")
        {
          Members = new List<Member>
          {
            new Member("Section0", "Struct")

[2021-06-30 08:46] Mike-E-angelo commented on #524
OK great, thank you for all that information @aGreefa, and for taking the time to compile it.  I see now what you mean by Xml generator.  I thought that you might have been doing some legacy XSD/XML generation based on the attributes and wanted to be sure.

Now as far as your desired output, I am afraid we are running into a few [known issues](https://github.com/ExtendedXmlSerializer/home/issues?q

[2021-07-06 06:55] MagicAndre1981 commented on #273
[.NET Framework 4.5.2, 4.6, 4.6.1 will reach End of Support on April 26, 2022](https://devblogs.microsoft.com/dotnet/net-framework-4-5-2-4-6-4-6-1-will-reach-end-of-support-on-april-26-2022/), so end is near.

Your dependency Sprache will drop 4.5, too with their version 3.0.

[2021-07-06 13:23] Mike-E-angelo commented on #273
Dang, a better memory than I @MagicAndre1981!  So essentially we become a .NETStandard-only library at this time, I would take it.  I'm OK with this as it would greatly simplify our test suite.  Still feels a little wrong chopping it all away, though.

I guess technically that's a non-issue.  Conceivably, we would bump the major version (`4.0.0`), so those who still need to use .NET Framework can

[2021-08-01 21:03] germsen opened #526 "I get a exception"
Hi

I have a very large object contain several list of other objedcts etc when i try to serialize it then I get a exception. The class is to big to post here but the stack trace are :

[code]

Let me know if you need other information or I can do anything

[2021-08-02 08:51] Mike-E-angelo commented on #526
Hi @germsen thanks for writing in and reporting this.  Are you able to say if this occurs when data is not applied?  That is, if you try to serialize an empty (simply activated via `new`) instance, does this problem occur?

Unfortunately, it's not exactly possible to see what's happening via a stack trace, just that it's happening. If you are able to provide a simple reproduction with some basic c

[2021-08-02 11:18] germsen commented on #526
Hi

Thanks for the answer.

The object is very large with many sub objects there again have subobjects so its very difficult to say where it went wrong without use a lot of time on it which I don’t have.

When I serialize it then I use none parameter except from new.

I can also understand its difficult for you to address the problem so its OK. Thanks for your help

Fra: Mike-E ***@***.***>
Sendt:

[2021-08-02 15:18] Mike-E-angelo commented on #526
OK, no worries @germsen I am a bit slammed with time too, per #383.  However, if you do manage to somehow find time and are able to get a reproducible project/code at some point, I will do my best to see if I can help you. 👍

[2021-08-23 13:06] SwissMaWi opened #527 "Many fat dependencies"
This is the 2nd alternative to .Net XmLSerializer I am trying out.
All I need is get my POCO serialized to simple plain XML without Namespace and other overhead.
I am shocked by the many dependencies on fancy libraries this component has.
It gives me DLL versioning errors...
Cannot be true that something so simple as XML Serialization needs these dependencies.
So I cannot use it.
My suggestion is

[2021-08-23 14:31] Mike-E-angelo commented on #527
Sorry to hear of your troubles here @SwissMaWi.  Are you using Visual Studio 2019?  The last time I have had any sort of dependency problems was when I was using .NET Framework.  Since using .NETCore2.x+ along with the new NuGet packaging system this has really been a thing of the past for me.  If you can provide more detail on what you're experiencing I may be able to assist, but if you are in .N

[2021-08-25 16:07] Trhac opened #528 "Dictionary causing problems"
Hello,

in my project I need to store data in Dictionary<string,object>. I know this isn't the best idea ever, but that is the API I got. When I try to serialize class containing this dictionary and also a list of some other class, I get a NullReferenceException - Object reference not set to an instance of an object.

Here's a small class to demonstrate the issue.

[code]

I sincerely hope that th

[2021-08-26 08:31] imperiobadgo opened #530 "Serializing empty lists"
Thanks again for this great tool!

I noticed that the serializer treats empty lists the same as unassigned ones (containing null). In both cases, null is written to the property at desirialization.
Is this an intended behavior?
Is it possible to change this behavior by adjusting the configuration?

[2021-08-29 04:09] zvikara opened #532 "How to use converters for nullable types"
I have a backward compatibility requirement to serialize all enums and booleans as integer values.
So I need my xml to contain
[code]
instead of
[code]
Specifically I use nullable enum an boolean types in my entities.

I got it to work by registering IConverters for <int?> and <bool?>

[code]

This is working for me with version 3.4.2 but stopped working in version 3.4.3
My guess that with the int

[2021-08-29 11:08] Mike-E-angelo opened #533 "Housekeeping"
Got some warnings to attend to.

[2021-08-29 11:52] Mike-E-angelo commented on #532
DOH... sorry for breaking your code @zvikara and thank you for making me aware of this.  We should indeed be checking for registered converters.  Please check out this build and see if it treats you better:

https://github.com/ExtendedXmlSerializer/home/pull/534#issuecomment-907775464

Let me know if you have any further issues and I will look into them for you. 👍

[2021-08-29 12:03] Mike-E-angelo opened #535 "Upgrade tests to `netcoreapp3.1`"
netcoreapp2.1 is [no longer supported](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) and is generating warnings on compile.

[2021-08-29 12:30] Mike-E-angelo opened #538 "Ensure tests run in `netcoreapp3.1`"
Currently set to 2.1.

[2021-08-29 12:34] Mike-E-angelo commented on #524
Going through the issues here, and this appears to be addressed as much as we address it.  It has been added as a known issue for others to view when reading the README.  Please do let me know if you have any additional questions/issues and I will do my best to assist. Closing for now.

[2021-08-29 12:34] #524 closed

[2021-08-29 12:36] Mike-E-angelo commented on #526
Going through the issues here.  If you do manage to produce a project that reproduces the issue I can take a further look into this for you.  Closing this issue for now.

[2021-08-29 12:36] #526 closed

[2021-08-29 12:36] Mike-E-angelo commented on #527
Going through the issues here.  Please do let me know if you have further questions/issues and I can take a look into it/them for you.  Closing this issue for now.

[2021-08-29 12:36] #527 closed

[2021-08-29 12:37] #533 closed

[2021-08-29 12:37] #535 closed

[2021-08-29 12:44] #538 closed

[2021-08-29 12:44] zvikara commented on #532
Thanks very much for the very quick response!!!
I tested the fix with my code and it works!

[2021-08-29 13:03] Mike-E-angelo commented on #532
Great, @zvikara!  I will get this deployed to NuGet on Tuesday and will update here when it's ready.  Please feel free to use the preview build until then.

[2021-08-31 10:47] gsw945 opened #540 "XmlArray Deserialize failed"
xml (file `test.xml`) content:
[code]
core C# code:
[code]
the output is:
[code]

I want read all `logentry` into `obj.Entries`.

@Mike-E-angelo  need your help

[2021-08-31 11:15] Mike-E-angelo commented on #540
Hi @gsw945 thank you for writing in with this.  Unfortunately, this is a known issue with classic serialization, and can further be described in these issues for your review: #501, #461

I've tried my best to figure out a good way to solve this problem, but could not find a way to do it that involves rewriting the deserializer.

The best recommendation I can provide is to use XSLT to send the clas

[2021-08-31 12:30] Mike-E-angelo commented on #532
This has been deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Thank you for taking the time to report this and improving ExtendedXmlSerializer. 👍

[2021-08-31 12:30] #532 closed

[2021-08-31 12:31] Mike-E-angelo commented on #530
This fix has been deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

If you encounter any further issues please open a new issue and we'll take it from there.  Closing this for now.

[2021-08-31 12:31] #530 closed

[2021-08-31 12:32] Mike-E-angelo commented on #528
The fix for this has been published to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know if you encounter any additional issues by opening a new ticket and we'll take it from there.  Closing this issue for now.

[2021-08-31 12:32] #528 closed

[2021-08-31 18:11] ChristopherL-STCU opened #543 "Support for Azure Functions"
When I try using this in an Azure Function I receive the error:

Here's my sample code:
[code]

[code]

Is it possible for me to configure `ExtendedXmlSerializer` to be used with Azure Functions or is it possible for the library to be updated to be usable in an Azure Function?

[2021-08-31 19:09] Mike-E-angelo commented on #543
Hey there @ChristopherL-STCU thank you for writing in with this question.  I am glad to see that I am not the only one with struggles around Azure Functions. 😁  In fact, I encountered them so much I ended up using WebJobs as much as I could in its stead.

In any case, are you able to confirm if this occurs if you remove all ExtendedXmlSerializer code?  If so, I would start putting Information outp

[2021-08-31 20:06] ChristopherL-STCU commented on #543
Thanks @Mike-E-angelo. The error only occurs when I add `ExtendedXmlSerializer`. I noticed the GitHub issue you referenced when I was trying to figure it out as well. I also see [`fusion.dll` is used by `ExtendedXmlSerializer`](https://github.com/ExtendedXmlSerializer/home/blob/master/src/ExtendedXmlSerializer/ReflectionModel/AssemblyPath.cs#L40). I wonder if `fusion.dll` is not available from wit

[2021-08-31 21:08] Mike-E-angelo commented on #543
WOW... first off, thank you for having more interest in this area than I do, @ChristopherL-STCU. 😆  I appreciate you digging through and finding the culprit.  I was pretty amazed that we indeed had a dependency on this dll, and even more amazed that it somehow works cross-platform.

I believe that was added eons ago before there was a `netstandard2.0` call to `Assembly.Load/LoadWithPartialName`.

[2021-08-31 21:25] Mike-E-angelo commented on #543
Doh I may have mispoken here, @ChristopherL-STCU ... the logic appears to be related to #366 and is intended to retrieve from the GAC.

Can you confirm that you are using Azure Functions in .NETCore or .NET Framework?  And which version?

[2021-08-31 21:58] Mike-E-angelo commented on #543
Hi @ChristopherL-STCU if you are using .NET Core please try this build out:
https://github.com/ExtendedXmlSerializer/home/pull/544#issuecomment-909665170

If you are running .NET Framework then I am out of ideas.  That `fusion.dll` is a very native assembly and should be located for .NET Framework scenarios.  I cannot remove it as it is necessary for scenarios such as #366 where the GAC has an ass

[2021-08-31 23:23] ChristopherL-STCU commented on #543
Wow! Thanks for making the change so quickly!

It is using .Net Core, `<TargetFramework>netcoreapp3.1</TargetFramework>`. I grabbed the preview version you just built but I'm still experiencing the error. 😕 I decompiled the assembly and I do have the change you made. I'm not sure what's up. I'll continue to experiment and report back if I make any progress.

[2021-09-01 07:20] gsw945 commented on #540
I'm so sorry to give up **ExtendedXmlSerializer** temporary.
I could only to use `Newtonsoft.Json` and [quicktype](https://app.quicktype.io/):
[code]
quicktype usage screenshot as below:
![image](https://user-images.githubusercontent.com/6281968/131628506-fa14d07b-8148-46c9-9d19-dde6029117a9.png)

![image](https://user-images.githubusercontent.com/6281968/131628433-989eb73c-e028-415a-b209-06ace6eb

[2021-09-01 07:20] #540 closed

[2021-09-01 08:08] Mike-E-angelo commented on #543
Whoa so you are saying you can verify that the link to `fusion.dll` is removed and you're still getting a `fusion.dll` error?  That is wild.  It must be a caching issue.  Does this occur locally or deployed?

[2021-09-01 12:51] Trhac opened #545 "EnableImplicitTyping problem caused by issue #528"
Hello,

sorry for late reply, I had some problems with reproducing this issue. This is a new problem caused by your fix for [Issue 528](https://github.com/ExtendedXmlSerializer/home/issues/528).

Combining implicit and explicit types leads to deserialization problem. Please see the attached solution.

[SerializerTestsWithoutNamespaces.zip](https://github.com/ExtendedXmlSerializer/home/files/709113

[2021-09-01 13:38] Mike-E-angelo commented on #545
Doh... thank you for reporting this @Trhac.  Can you post the code to a repository, by chance?  It is far more preferred to a zip file.

[2021-09-01 13:49] Mike-E-angelo commented on #545
Actually @Trhac I was able to reproduce this simply by adding `EnableImplicitTyping` onto the test for #528.

Looking into this now.

[2021-09-01 14:42] Mike-E-angelo commented on #545
Alright @Trhac please try the following build:
https://github.com/ExtendedXmlSerializer/home/pull/546#issuecomment-910338669

If everything looks OK to you I will send this out probably in the next day or so as this might be an impacting change that others will be running into with `3.7.3`

[2021-09-01 15:55] Trhac commented on #545
Thanks Mike, your fix works great! So far no problems. Thank you.

[2021-09-01 15:55] #545 closed

[2021-09-01 16:05] Mike-E-angelo commented on #545
Woohoo... OK I am going to send this out ASAP.  Thank you for verifying, @Trhac!

[2021-09-01 16:12] Mike-E-angelo opened #548 "Add Test for Legacy XML #545"
Make sure previous XML is still read OK.

[2021-09-01 16:22] #548 closed

[2021-09-01 21:25] ChristopherL-STCU commented on #543
The problem appears to be because there is a hyphen in my project name, and so there is a hyphen in the generated assembly name. [The ExtendedXmlSerializer assembly parser does not include hyphen as a valid character](https://github.com/ExtendedXmlSerializer/home/blob/issues/fix/i543/src/ExtendedXmlSerializer/ContentModel/Reflection/AssemblyPathParser.cs#L11) when parsing the assembly name. This m

[2021-09-01 21:48] Mike-E-angelo commented on #543
Excellent work in tracking this down, @ChristopherL-STCU.  I am going to undo the work yesterday as I absolutely detest compiler definitions which is what I was using to make that work.

Please try this build which allows hyphens as allowed characters in assembly names and let me know if it treats you any better:
https://github.com/ExtendedXmlSerializer/home/pull/544#issuecomment-910798800

[2021-09-01 22:00] ChristopherL-STCU commented on #543
Yes, that works for me! 🎉 Thanks! ❤️

[2021-09-01 22:06] Mike-E-angelo commented on #543
Awesome!  Release days are typically on Tuesdays so I will get this launched out next Tuesday.  Please feel free to use the preview build until then and I will update here once it's deployed to NuGet. 👍

[2021-09-02 09:54] imperiobadgo commented on #530
I've only just managed to test your changes. But they work perfectly as expected! Thanks again!

[2021-09-02 10:51] Mike-E-angelo commented on #530
Woohoo... glad to hear @imperiobadgo.  Thank you for the confirmation. 👍

[2021-09-06 09:37] imperiobadgo opened #550 "NullReferenceException with UseAutoFormatting and nullable Structs"
Hello again ;)

I found a problem with the changes #531 regarding UseAutoFormatting after all. Nullable structs cannot be serialized. Here is my example code:

[code]

[2021-09-06 12:40] Mike-E-angelo commented on #550
Hah! No worries @imperiobadgo I very much appreciate you taking the time to make sure this sucker works as intended.  It's a bit daunting to see others use it so I want to make sure it doesn't break.

I was so focused on getting `UseAutoFormatting` to work with converters that I forgot to account for when a converter doesn't exist for a struct. 😥

I have a new build for you to test here:
https://g

[2021-09-06 14:32] imperiobadgo commented on #550
Thanks for the quick reply as always. Your solution works perfectly!

[2021-09-07 13:14] Mike-E-angelo commented on #543
This has been deployed to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please do let me know if you encounter any additional/further issues and I will look into them for you.

Closing this for now.

[2021-09-07 13:14] #543 closed

[2021-09-07 13:15] Mike-E-angelo commented on #550
This has been published to NuGet:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Thank you again for all your reports and efforts towards improving ExtendedXmlSerializer. 👍

[2021-09-07 13:15] #550 closed

[2021-10-07 09:50] jhranac opened #556 "Error diagnostics"
Hello,
Is there any way how to retrieve details about which XML fragment failed to deserialize?
When we're changing the XML structure and implement various converters to fix it so it's compatible from the legacy version it's hard to see which bits we have possibly missed. The de-serialization crashes with an exception that is extremely unhelpful.

[code]

[2021-10-20 21:43] Mike-E-angelo opened #558 "Confusing Developer Experience When Unknown Assemblies Are Encountered"
From this comment: https://github.com/ExtendedXmlSerializer/home/issues/543#issuecomment-948049560

Serializer still breaks when defaulting to fusion.dll.  In such cases we should default to `Assembly.LoadWithPartialName`.

[2021-10-20 21:47] SuperJMN commented on #543
Ouch. I've tried every package in that thread, but no dice.

[2021-10-20 22:40] Mike-E-angelo commented on #558
OK I lied... one more adjustment for tonight. 😁

I looked over your assembly list and the only ones that seem like they might cause trouble are these:

[code]

They _should_ work however, as `_` is an allowed character.  But who knows.

I've created a build that throws a more descriptive error message of the assembly causing problems here:
https://github.com/ExtendedXmlSerializer/home/pull/559#iss

[2021-10-21 08:20] Mike-E-angelo commented on #558
Hey @SuperJMN I am getting a 404 on your provided link. :(

[2021-10-21 09:43] SuperJMN commented on #558
I'm sorry! I forgot to make it public! Now it's fixed.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mike-E ***@***.***>
Sent: Thursday, October 21, 2021 10:20:54 AM
To: ExtendedXmlSerializer/home ***@***.***>
Cc: José Manuel Nieto ***@***.***>; Mention ***@***.***>
Subject: Re: [ExtendedXmlSerializer/home] `fusion.dll` - Breaks with Certain Assemblies/Env

[2021-10-21 10:32] SuperJMN commented on #558
Ouch, that’s right. The XML was an old version! Is it the reason of the issue?

De: ***@***.***>
Enviado: jueves, 21 de octubre de 2021 12:04
Para: ***@***.***>
CC: José Manuel ***@***.***>; ***@***.***>
Asunto: Re: [ExtendedXmlSerializer/home] `fusion.dll` - Breaks with Certain Assemblies/Environment (`net5.0`/Uno) (Issue #558)

OK looks like your XML makes reference to a Deployer.Core.Deployment

[2021-10-21 14:29] Mike-E-angelo commented on #558
Thank you @SuperJMN. Much appreciated. 🙏

[2021-10-26 08:52] #558 closed, assigned to Mike-E-angelo

[2021-10-26 09:17] #556 closed, assigned to nobody

[2021-11-02 12:48] flycast opened #561 "Issue with simple serialization/deserialization of a double"
I have been using the package for a while in this application. This seem to have been working. I moved from "standard" serialization to extended because I was having issues with serializing my dictionary.

Fair disclosure...Currently I have been working on other aspects of the project and I may not have noticed if things were not working properly with the serialization. Today I started having issu

[2021-11-02 15:14] Mike-E-angelo commented on #561
Hey there @flycast (cool name :)), thanks for writing in with this.  You gave me a scare, so I did a quick test and everything seems to work as expected here:
https://github.com/ExtendedXmlSerializer/home/blob/775a5c9e7a3cbe036c83ee7729654db0fed14462/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue561Tests.cs#L10-L17

So this might be due to a localized issue on your machine.  Are you using .

[2021-11-02 15:21] Mike-E-angelo commented on #561
Ah the other item of note that I spy is this call:

[code]

I am unclear on what that call does so it's sort of jumping out at me. :)  Have you tried directly feeding a `MemoryStream` instead and see if that works better for you?

[2021-11-02 17:28] flycast commented on #561
Thanks. @flycast from back in my fly fishing days.
You are right, it has to be something locally. I saved everything. restarted and restarted with a very, very basic serialization. I have progressively challenged it with more and more complex serializations.

Sorry for the scare.

.NET 4.8.

Everything looks good now. Sorry for the trouble.

By the way. Great response!!! Thanks for adding the test

[2021-11-02 17:28] #561 closed

[2021-11-02 17:42] Mike-E-angelo commented on #561
Yes!  A River Runs Through It is also one of my favorites.  Additionally, there used to be an ad agency by that name and it's how I earned my first "internet coin" (wayyyyyyy before there was anything like crypto) so I am a fan. 😅

Hah!  No worries.  If it helps, here's me doing a [faceplant of fail on the ASP.NET Core mothership](https://github.com/dotnet/aspnetcore/issues/36799) that was actuall

[2021-11-02 20:33] flycast opened #563 "Composite property is being wrongly identified as circular (I think)"
I have two properties:
[code]
I have a third property that is read only that is made of a combination of ParentKey and Id:
[code]

When I serialize I get the following exceptions:
[code]

If I use the attribute [XmlIgnore] the object serializes although without the Key property.
[code]

Are these really circular? They are related - 'Key' is made with 'ParentKey' and 'Id' but neither 'ParentKey' or

[2021-11-02 20:51] Mike-E-angelo commented on #563
Ah indeed @flycast since you have a reference/class-based property and a list of said property (or two of them), they can have the same reference occur within the same graph.  In order to proceed in this scenario, you can use `EnableReferences`.  Passing test with your described model here:

https://github.com/ExtendedXmlSerializer/home/blob/f848604e741e90d5a598efff89cf493c661ea79e/test/ExtendedXm

[2021-11-02 21:03] flycast commented on #563
Yes, helps immensely. Thanks.

[2021-11-02 22:32] flycast opened #565 "Dictionary<List<byte[]>, ICustomInterface> not serializing properly"
I have been building my skills today. Thank you so much for this extensive package.

I have a dictionary that uses a key of List<byte[]> and a value of my custom Interface so:
Dictionary<List<byte[]>, IDispenseEntity>

The interface is implemented by 7 or so classes that implement other interfaces as well.

I have successfully serialized a List of the keys and I have successfully serialized a list

[2021-11-02 22:39] Mike-E-angelo commented on #565
Haha yeah I have to say @flycast when I saw that you are using `byte[]` as keys/elements I get a little nervous.  A dictionary with a list of elements as the key.  If I understand correctly that would have to be keyed on reference rather than the equality?  I am unclear how that would work.  It's almost like you would be better converting that list of bytes to a string and use that as the key inst

[2021-11-03 12:10] flycast commented on #565
Yeah, it’s a code smell isn’t it? Thanks for mentioning it. I actually stubbed my toe on that issue a few weeks ago. This is an add in for Solidworks. SW uses an immutable array of bytes as their unique ID for entities in their software. I considered converting them to something else but in the end I just implemented IEqualityComparer<IDispenseEntity>:

        public bool Equals(IDispenseEntity x

[2021-11-03 14:27] Mike-E-angelo commented on #565
Cool glad to hear you got that figured out @flycast and good luck with those COM components. 😁

As for ignoring dictionary values, that is a tricky issue.  You can ignore the value but what about the key?  My recommendation is that if you can, serialize a list instead.  Here's a sketch:

https://github.com/ExtendedXmlSerializer/home/blob/6b3a62e9240e1b0f8136ef3ceb0768b66548444f/test/ExtendedXmlSer

[2021-11-03 14:43] flycast commented on #565
I really appreciate the thoughts and advice. Are you concerned about the List<byte[]> performance in ExtendedXMLSerialization or just in general? Are there issues I am not catching on to beyond impliminting IEqualityComparer<IDispenseEntity>? I ask for my own learning.

[2021-11-03 14:50] Mike-E-angelo opened #567 "Update Build Solution"
Getting build errors and hope it's due to older netcore versions.

[2021-11-03 14:55] Mike-E-angelo commented on #565
Sure thing.  The issue is not serialization but runtime performance.  I could be mistaken but I am under the impression that a string is essentially a computed hash for a set of bytes.  This hash is further stored as an integer which is its hashcode.  So doing a lookup on that vs. doing a `SequenceEquals` should be much faster.  Performance is a tricky thing however so I could be mistaken, but I a

[2021-11-03 15:21] #567 closed

[2021-11-03 16:53] flycast commented on #565
Yeah. Now that I am getting Serialize to work I am getting errors deserializing. "Same key already exists". I have not made changes to the key to make it a List<string> as that is some deeper surgery that might have some unintended consequences. I was hoping to avoid that if possible.

Here is the error:

[code]

Even though I wrote an equality comparer of my own to compare values rather than inst

[2021-11-03 17:39] Mike-E-angelo commented on #565
Ah indeed that's a tricky part as the `Comparer` property is a read-only property.  I would have to see the model to assist further, but if you are able to specify your own dictionary you can do something like this:

https://github.com/ExtendedXmlSerializer/home/blob/cdf14979034f523267968a0446f5f3d07390863a/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue565Tests_Extended.cs#L11-L38

[2021-11-03 18:15] flycast commented on #565
If it's not one thing it's another.
Now I am getting incomplete deserialization. The stream is writing to the Solidworks file on file save. I also (for troubleshooting) serialize and write to a text file. When I load the SW file at a certain point an event fires that tells me I can read from the third party storage in the file. That s a stream. When I read I am only getting 6140 bytes and the xml

[2021-11-03 20:33] flycast commented on #565
I have the issue narrowed down I believe.  When I was working with smaller datasets the complete xml was being saved. When it was deserialized it deserialized complete. Once I started getting larger datasets then the xml was truncated when saving. I know this because as I tried to save large datasets the final file size did not grow. When I started deserializing since the xml was truncated the xml

[2021-11-03 20:43] Mike-E-angelo commented on #565
That's a good question... I am not aware of any limits with ExtendedXmlSerializer as it does use the native `System.Xml.XmlReader/System.Xml.XmlWriter` to do its reading/writing.  I should also mention that in addition to the `Deserialize` extension method above there is a  complementing `public string Serialize` [extension method](https://github.com/ExtendedXmlSerializer/home/blob/master/src/Exte

[2021-11-12 22:12] flycast commented on #565
@Mike-E-angelo - I have learned a lot more. I hope I can be clear here.

I continue to have issues with my serializing. I was on a quest to see what the Solidworks file that I am serializing to has inside it after I serialize and save that file. When I did this I noticed the stream length is much larger than the data I am expecting so I read the stream byte by byte and appended it to a string with

[2021-11-12 22:19] Mike-E-angelo commented on #565
Hi @flycast I go back to using streams and how finicky they can be to use.  Are you sure you are flushing them properly?  Are you encountering this issue when you use the extension methods I mentioned earlier?  If you are encountering this issue with those extension methods I would say there is a bug worth further exploring here.  If you are not, then the problem is probably in how the streams are

[2021-11-12 23:22] flycast commented on #565
@Mike-E-angelo - Thanks for getting back to me so quick.

I thought I was using the extension method:

[code]

I started having a weird error that looked like it was coming from xCad. I set Visual Studio to decompile code not my own. The error was actually coming from this code in ExtendedXmlSerializer.ExtensionModel.Xml.InstanceFormatter:

public string Get(object parameter)
{
	Stream stream = _s

[2021-11-12 23:27] Mike-E-angelo commented on #565
No worries @flycast.  My hunch is that you have something going on with `_factory.Get(stream)`.  The extension method does not use streams and handles all of that for you.  You should be able to do something like:

[code]

If `content` has some funny business going on inside of it, then that means it's something in ExtendedXmlSerializer.  Otherwise it could be how the stream is handled.  Streams a

[2021-11-15 23:00] flycast commented on #565
OK @Mike-E-angelo .

At every step I confirmed what was being deserialized by deserializing to a string and examining the string. It looked exactly as expected with no garbage before or after the XML.

I have very carefully confirmed that the stream handling and storage in xCad with .Net XmlSerializer works by starting with serializing very simple string and working up to a test class that had a s

[2021-11-15 23:54] Mike-E-angelo commented on #565
Thank you for the additional context and information @flycast.  I took your provided code and made a test for our suite which seems to pass just fine.  You can see this here:

https://github.com/ExtendedXmlSerializer/home/blob/e7604b656b4955ed1819922e8b5da1eb4ee58d95/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue565Tests_Extended_II.cs#L13-L44

I upped the count to 2,000 elements just to be

[2021-11-16 08:59] wf-soft opened #570 "UseEncryptionAlgorithm It no worked"
[code]

[code]

[2021-11-16 09:02] wf-soft commented on #570
Once UseEncryptionAlgorithm is used, the data will not be encrypted

[2021-11-16 09:06] wf-soft commented on #570
Testing the second method again succeeded.. Close this issue

[2021-11-16 09:07] #570 closed

[2021-11-16 13:20] flycast commented on #565
@Mike-E-angelo - Thanks for your help as always.

I am writing third party data to SolidWorks files. SolidWorks has a very specific way they require you to do this. Solidworks was written starting in the early 90's so it's has been much, much easier to use the xCad add in - not only for the third party writing but for a lot of other reasons. I do see your point though - ExtendedXmlSerializer works

[2021-11-16 14:58] Mike-E-angelo commented on #565
No problem @flycast I am mostly concerned obviously with discerning if there is a problem here with ExtendedXmlSerializer and if there is something that needs to be addressed on our end.  As for the other integrations, I am afraid I cannot be of much assistance as I have never heard of them before until your post.

I will say that streams are tricky beasts.  I actually stay away from them as much

[2021-11-17 19:25] flycast commented on #565
@Mike-E-angelo - I missed your last post.
Thanks for the pointer to the Reddit SW community. Since we have legal licenses we use the official Dessault community for SolidWorks.

xCad can be found [here](https://github.com/xarial/xcad).

Perhaps I should start another issue on this:
I thought I had my issue all worked out by reading the stream as text and using the result to deserialize from. Every

[2021-11-17 20:06] Mike-E-angelo commented on #565
Sure @flycast if you can provide some more specific code here with just the ExtendedXmlSerializer-based code intact and the SolidWorks code removed, along with an example model class that you are using that reproduces the error I can take a further look into it for you.

[2021-11-17 20:24] Mike-E-angelo commented on #565
For reference @flycast I put together a simple test here based on your explanation and it cycles as expected with 6 items:

https://github.com/ExtendedXmlSerializer/home/blob/a4a8bf408867b1a29131d635f9c8079ea6b79b86/test/ExtendedXmlSerializer.Tests.ReportedIssues/Issue565Tests_Extended_III.cs#L13-L110

The only consideration is the `List<byte[]>` being used as a key and I have that resolving w/ a

[2021-11-17 22:14] flycast commented on #565
Some ~~days~~ ~~weeks~~ months I just want to give up programming. I created a minimum reproducible example and the problem did not happen. Went back to my project and had the issue. Out of sheer frustration I Restarted everything and the issue is gone. I'll close this and before I start another I will:

Reboot.
CReate a minimum reproducible example to test just writing/reading to a text file

If

[2021-11-17 22:14] #565 closed

[2021-11-17 22:20] Mike-E-angelo commented on #565
HA!  The ol' when-in-doubt-reboot!  I have not had to do that in a while, but seeing on how you are wrestling with code from a few decades ago I am not too surprised that did the trick. :)

No worries about the issues.  If you are able to limit something down to showcase a potential problem I will certainly take a look.  In any case, thank you for using ExtendedXmlSerializer. 👍

[2021-11-25 09:48] josdemmers opened #571 "Question: Deserializing with unknown content"
After reading the wiki at:
https://github.com/ExtendedXmlSerializer/home/wiki/Example-Scenarios#unknown-content

It does not look like it is working correctly for me.

I was testing the WithUnknownContent() option because an xml document changed and some fields are now deprecated.
Hopefully this can easily solve the problem without using Xslt.

But before I got there I noticed something strange wi

[2021-11-25 11:47] Mike-E-angelo commented on #571
Hi @josdemmers thank you for writing in with this.  Unfortunately, I will need a little more information to further diagnose/troubleshoot.  A simple model with the document content that reproduces what you are experiencing will suffice.

Also, it is a little unclear here with the use of `XmlReaderSettings`  but are you saying that the use of this also contributes to the issue that you are experien

[2021-11-25 12:26] josdemmers commented on #571
Ok I simplified the model as much as possible so it would still cause the same issue.

**XML**
[code]

**Relevant classes**
[code]

**Relevant code**
[code]

Regarding `XmlReaderSettings` that is only relevant because it is part of my `Deserialize` call.

**Issue**
Using configurationContainer I get a new InputModelExample that contains the Configuration and ModuleStates from the above mentioned X

[2021-11-25 21:13] Mike-E-angelo commented on #571
OK great @josdemmers thank you very much for the additional information and the quick reproduction.  It is very helpful.

I believe I see what you are encountering.  If I take the following:

[code]

And serialize it using `configurationContainer` , I get the following (whitespace/formatting added for readability):

[code]

You can see that `ModuleState` still requires a namespace.  If it isn't pr

[2021-11-26 14:19] josdemmers commented on #571
When expanding EnableImplicitTyping with `.EnableImplicitTyping(typeof(InputModelExample), typeof(ModuleState))`
Then the configurationContainer that uses WithUnknownContent works as well.
Thank you, now can I do some tests with xml files with deprecated properties.

Regarding the serializer, when I serialize it the xml does not contain any namespaces but that is probably because I used EnableImpl

[2021-11-26 15:04] josdemmers commented on #571
Just tested WithUnknownContent with some deprecated properties in my xml files, works perfect.
Deprecated properties are ignored and next elements are added without any problem!

[2021-11-26 16:14] Mike-E-angelo commented on #571
So very happy to hear it works as expected for you @josdemmers!

Indeed a very good reason: I wrote broken software. 😁  The default behavior starting in v2 and into v3 (unfortunately we did not catch it in time) is to essentially fail silently.  The deserialization "works" but you'll notice the list is empty, or even populated with one element that doesn't have its properties assigned.  I added a

[2021-11-27 16:11] josdemmers commented on #571
Thanks again, that answers my question.

[2021-11-27 16:11] #571 closed

[2022-01-07 19:51] fairking opened #573 "ArgumentException Stream was not readable."
I have the following example:
[code]

And it throws the follwing error:
[code]

Any idea why it's happening?

[2022-01-07 19:54] fairking commented on #573
Also I cannot understand why the method returns `string`. In case on a huge amount of data I thought the stream allows to write all data gradually without increasing memory pool.

[2022-01-07 22:14] Mike-E-angelo commented on #573
Hi @fairking thank you for writing in with your question here.  I will see if I can assist.

Indeed, it is related to your second concern here:

You are actually calling a convenience extension method that we use extensively to forego the use of streams.  If you would like to use a custom stream, try making use of the `XmlWriter.Create` method:

[code]

That _should_ get you closer to the results/

[2022-01-07 22:16] Mike-E-angelo commented on #573
FWIW @fairking here is the contract the `xmlSerializer` variable in the code you provided implements:

https://github.com/ExtendedXmlSerializer/home/blob/master/src/ExtendedXmlSerializer/ExtensionModel/Xml/ISerializer.cs

Note the use of `System.Xml.XmlWriter` and `System.Xml.XmlReader`, the same that the traditional `XmlSerializer` uses.

[2022-01-08 16:36] Mike-E-angelo commented on #563
Going through items here in this repository and I see that this is an open ticket that appears to be answered/solved.  If this is not the case, please do let me know by either commenting on this ticket or opening a new one, and I will do my best to assist. Closing for now.

[2022-01-08 16:36] #563 closed

[2022-02-23 09:18] Mike-E-angelo commented on #383
FWIW I announced the preview for this product yesterday:
https://blog.starbeam.one/2022/02/announcing-mvp-alpha-preview/

Note that ExtendedXmlSerializer can be seen here specifically for the Preview button functionality:
https://youtu.be/3OJ2VOCDqoQ?t=264

In this case, I had to serialize a DTO to send to the PreviewService, and this DTO used several inheriting classes.  In order to make this wor

[2022-04-20 09:26] iklougbo opened #574 "The prefix 'exs' cannot be expanded into a namespace URI by using the statically known namespaces"
Could anyone help with this exception? What does it mean.
I am trying to select nodes using xpath with your library and I get this error.

Thanks in advance

[2022-04-20 09:56] Mike-E-angelo commented on #574
Hi @iklougbo thank you for writing in.  Unfortunately, I am not sure ExtendedXmlSerializer is a good fit for your scenario here.  Note that while some legacy scenarios work with ExtendedXmlSerializer, its focus is more on serializing and deserializing complex object graphs via XML.  More information around this can be found here:
https://github.com/ExtendedXmlSerializer/home/wiki/FAQs#systemxmlser

[2022-04-20 09:57] Mike-E-angelo commented on #573
Looks like this issue was answered, and will close for now.  If you do have any further questions please do leave a comment and we can take it from there.

[2022-04-20 09:57] #573 closed

[2022-04-20 12:18] iklougbo commented on #574
Hello,
Thanks for your quick reaction. My object graph is also complex. I therefore had to use allow references.
However I also need to validate some xpath logics on it. Do you at least know what my exception message means?

[2022-04-20 14:07] Mike-E-angelo commented on #574
I am actually quite surprised you are able to use ExtendedXmlSerializer in this scenario at all, as it's really at the end of the day a wrapper around a `System.Xml.XmlWriter` and `System.Xml.XmlReader`.  XPath operations are done on an XmlDocument/XDocument if I am not mistaken.  It's been a very long time since I have had my nose in such subjects as you can hopefully tell. :)

Unfortunately, wit

[2022-04-20 14:23] iklougbo commented on #574
Here is the trace. Note there is not default namespace in my xml

Wmhelp.XPath2.XPath2Exception: The prefix 'exs' cannot be expanded into a namespace URI by using the statically known namespaces
   at Wmhelp.XPath2.QNameParser.Parse(String name, IXmlNamespaceResolver resolver, String defaultNamespace, XmlNameTable nameTable)
   at Wmhelp.XPath2.YYParser.yyparse(yyInput yyLex)
   at Wmhelp.XPath2.Y

[2022-04-20 14:35] Mike-E-angelo commented on #574
OK so the problem here is not in ExtendedXmlSerializer but in the documents that it is creating and/or how the `Wmhelp.XPath2.XPath2Expression` is configured.

Are you able to verify that `xmlns:exs="https://extendedxmlserializer.github.io/v2"` is in the document that is being parsed?  If so (and it should be), you might have to configure the `IXmlNamespaceResolver` that is being passed into `XPat

[2022-04-21 07:31] iklougbo commented on #574
Yeah I realized the problem is the Xpath 2.0 nuget package instead.
Yes the namespace exs is in the document.
Let me have a look at the how to go about that resolver.

Thanks for your time

[2022-05-12 10:31] CipValOut opened #575 "Serialized string dropped"
Hi,

I am trying to serialize data from my function, then data to be cached (due a formatting problem inside code tag I attach the code)

the not expecting behavior is the the serialized string is dropped, see attachment. Using AutoFormatter and Optimized options the string is shorter.

I have no errors serializing on debug, how can I help to track this issue?

[serializeOutput.txt](https://github

[2022-05-12 11:39] Mike-E-angelo commented on #575
Hi @CipValOut thank you for reporting this.  Are you able to see this problem without the Azure/Telerik components?  If you are able to provide a simple (or simpler 😁) reproduction I can take a look into this for you.

[2022-05-14 16:05] Mike-E-angelo commented on #574
I am going through older issues here and see that this was answered.  If you do have any further questions please feel free to reply to this thread or open a new one and I will look into it for you.  Closing for now.

[2022-05-14 16:05] #574 closed

[2022-05-20 22:44] CipValOut commented on #575
hi @Mike-E-angelo ,

I tried without success, I tried to rewrite with custom class like the telerik and azure but I had to give up.
I changed my code, removig Ref I didn't used the Serialize anymore.
I had to recode but I solved.

Thx

[2022-05-20 22:44] #575 closed

[2022-05-23 09:42] Mike-E-angelo commented on #575
OK @CipValOut thank you for the update.  If you encounter any further issues/problems please feel free to open a new issue and I can see if I can assist you. 👍

[2022-10-29 09:45] 0xced opened #580 "NullReferenceException when deserializing a simple XML document"
I'm trying to deserialize a very simple XML document with `ExtendedXmlSerializer` but I'm getting a `NullReferenceException`.

Here's what I'm doing.

**Issue580.csproj**
[code]

**Program.cs**
[code]

I'd expect the `ExtendedXmlSerializer` to deserialize the document but instead I'm getting this exception:
[code]

Note that deserializing with `XmlSerializer` works fine and prints `Name2` as expec

[2022-10-29 09:57] Mike-E-angelo commented on #580
Hi @0xced thank you for writing in.  Unfortunately, there are some incompatibilities with the traditional serializer and ExtendedXmlSerializer, and I believe this is captured in #461.

This is also listed in our known issues in our ReadMe:
https://github.com/ExtendedXmlSerializer/home#known-issues

However, if you feel this is a different issue from what is identified/listed above I can take a fur

[2022-11-09 10:56] jhranac opened #581 "Any way to allow Array.Empty<xxx> to pass the reference check?"
using Array.Empty as a default value for collections uses in the background the same array instance.
This fails the references check and the serializer throws an exception that there are two(or more) identical objects you are trying to serialize.

Is there a workaround for that without having to avoid using Array.Empty or allowing references ?

[2022-11-09 11:00] jhranac commented on #581
`configuration.AllowedReferenceTypes().Add(typeof(Array).GetTypeInfo());`

works, but that allows references for all arrays, not just the empty one.

[2022-11-09 11:06] Mike-E-angelo commented on #581
HI @jhranac thank you for writing in with this.  At first glance it appears we need to add an `AllowedReferences` method that works like `AllowedReferenceTypes` but with actual references.

As this is an enhancement rather than a bug fix I would be more apt to suggest a PR.  I may suggest a PR in any case going forward as my time for this project is considerably reduced these days.  Additionally,

[2022-11-09 11:21] jhranac commented on #581
I'll see what we have time for. No promises there.

For the meantime, is there a way to disable the references check and force the serializer to output the same object multiple times?

[2022-11-09 15:21] Mike-E-angelo commented on #581
Alright @jhranac I took a look into this a bit and the following works for me/passes:

[code]

Do you have code on what is failing so that I can further compare?

I'll see what we have time for. No promises there.

I have the following up above but am unsure if it works as it passes without issue ATM for me:

[code]

[2022-11-10 11:46] Mike-E-angelo commented on #580
This appears to have been answered.  Unfortunately, no further major work can be done on this project and it is essentially in maintenance mode.  I am more than open to exploring pull requests if you (or anyone reading this) so wish to do so.  If you have any further questions/comments, please reply, and we'll take it from there.  Closing this for now.

[2022-11-10 11:46] #580 closed

[2022-11-17 01:01] alexf2017 opened #582 "Is it possible to use the namespace optimizer on its own with standard .net fx xml attributes"
Hi,
I have types with standard xml attributes defining the namespaces and attributes and would like to get them outputted in the result document. I can't find a way to force your library to use those attributes. Is that possible somehow?

Thanks

[2022-11-17 10:42] Mike-E-angelo commented on #582
Hi @alexf2017 thank you for writing in and for your question.  If the document is being read into memory to instantiate a CLR object graph, when it is written out as a resulting XML document all attributes will be preserved accordingly w/ ExtendedXmlSerializer's own devices.  I am not sure if there is a way to preserve 1:1 of the input document's namespaces.

Note that ExtendedXmlSerializer's prim