[2017-09-15 11:54] FaustoNascimento opened #125 "Deserialize bug 2.0.0-alpha6"
Imagine the following class:

    public class Person
    {
        public string FirstName { get; set; }

        public string LastName { get; set; }

        public string Nationality { get; set; }

        public bool Married { get; set; }
    }

When serializing the following `Person` ...

    var person = new Person{ FirstName = "John", LastName = "Doe" };
    serializer.Serialize(person);

[2017-09-26 14:27] Mike-EEE commented on #125
Hey @FaustoNascimento thanks for reporting this. Apologies for the delay here as I have been on vacation.  I will make this a priority and will aim to look into this in the next day or so.

[2017-09-26 21:19] Mike-EEE commented on #125
OK this was due to how we're using the native `XmlReader` and extracting the value from that.  I have checked in a fix.  @wojtpl2 I noticed we haven't pushed Alpha 7 yet.  Were we supposed to?  I forget. 😆 Last I remember I was going to work on v2.0 documentation, which I hope to start up tomorrow and have done next week.

I am thinking we should get this fix in with an Alpha 7 push when you find

[2017-09-27 12:42] FaustoNascimento commented on #125
@Mike-EEE great that it's been fixed, but I'm curious why other properties of an object would also be set to null even if the XML says something else?

I mean I can understand a property of an object being set to its type's default value is the XML is empty, but why would this affect other properties in the object, even if the XML has "proper values" for it?

[2017-09-27 12:49] FaustoNascimento commented on #125
Also, how would your change in code account for manually generated XML where someone wrote something like:

`<Married/>`
or...
`<Married></Married>`
?

Bearing in mind that `Married` is a bool value it should default to `false`. Or an int... or any other object type that's either not nullable or is nullable but the default value is not a null.

Clearly if the XML is generated by the serializer thi

[2017-09-27 13:23] wojtpl2 commented on #125
It should work in the same way like in standard `XMLSerializer`.

[2017-09-27 13:23] Mike-EEE commented on #125
Ah fair questions.  I appreciate them. :)  In this case, we were running into an edge condition specifically with an empty string.  Basically when we were calling `XmlReader.Read`, it would end up calling it twice in the case of an empty string, instead of once.  This would essentially forward the cursor on the document graph one extra position, and throw the rest of the reading off for the remain

[2017-09-27 13:39] Mike-EEE commented on #125
Agreed, @wojtpl2 ... The conversion code is intact from v1, so that should all still work as expected.  Unfortunately, I do not see the tests that I thought I had brought over from v1, so I will add a new issue to track this for v2 release.

As always, if something doesn't work as expected please let me know (preferably via PR/commit with broken test) and I will certainly look into it. 👍

[2017-09-27 13:41] Mike-EEE opened #126 "Conversion Tests"
Thought I had a suite of conversion tests from v1, but could only find [this one](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/v2.0.0/test/ExtendedXmlSerializer.Tests/ExtensionModel/Content/ConverterAlterationsExtensionTests.cs#L36).

The goal is to ensure "warm n' fuzzies" around how values are converted and ensure they are 1:1 to both v1 and classic `XmlSerializer` behavior.

(From disc

[2017-09-27 15:49] Mike-EEE commented on #125
FWIW I was wrong about the `<Married />` tag example.  **All** empty tags with no values are treated the same, both in EXS and classic `XmlSerializer`.  That is, they all throw an `InvalidOperationException`.  I have added a test to our test suite to demonstrate/validate/verify this.

[2017-09-28 11:53] FaustoNascimento commented on #125
Understand this is different from what the `XmlReader`/`XmlSerializer` does, but would you consider adding something to ensure that when XML like `<Married />` or `<Married></Married>` is found and it can't cast into the desired type it just takes the type's default value (which it what already happens when the tag is not present, so basically this is just a change to say that instead of throwing

[2017-09-28 13:19] Mike-EEE opened #127 "Enable Implicitly Described Default Values"
Add simple extension to enable implicitly described default values in hand-written XML.

So a boolean value such as:

`<Married />` or `<Married></Married>` would result in `false` (rather than throw a format exception). and an integer value such as `<Count />` or `<Count></Count>` would result in `0`.

Suggested implementation would be `new ConfigurationContainer().EnableImplicitlyDefinedDefaultV

[2017-09-28 13:19] Mike-EEE commented on #125
Ah!  No you are right.  This is a great opportunity for an extension.

Maybe something like `new ConfigurationContainer().EnableImplicitlyDefinedDefaultValues()` that would essentially catch the exception thrown and return the default value in this case.

I have captured this in #127.

[2017-09-28 13:22] Mike-EEE commented on #125
I have also just now pushed the changes for #127, so this is in the latest commit.  @wojtpl2, if @FaustoNascimento signs off on this, we can push Alpha 7. 👍

[2017-09-28 14:18] thomasjoscht opened #128 "Don't serialize empty collections and dummy objects"
Hey,

how could change serialization of empty lists? My classes often uses (Observable)Collections for storing objects in properties. For avoiding NullReferenceExceptions accessing the list it will be preinitialized in Constructor. Therefore the property have a value which will be serialized. But it contains no useful information. Therefore I would avoid property tag in XML.

How could I configure

[2017-09-28 17:47] Mike-EEE commented on #128
Hi @thomasjoscht thank you for your questions here.

To start with the empty lists, if the property is writable, we need to signify in some way that an object is required (or expected) upon deserialization.  It would be possible to make it always force a create, even if there is none, but that might be a little more work.

We do support read-only collection properties.

So you could do something l

[2017-09-28 18:01] Mike-EEE commented on #124
OK... looking into this now.  Are we using `ExtendedXmlSerializer.Documentation` at all now anymore?  Can we remove this?

[2017-09-29 06:35] wojtpl2 commented on #124
`ExtendedXmlSerializer.Documentation` generate api documentation
https://extendedxmlserializer.github.io/doc-v2.0.0/html/42fa4a74-3f63-fbac-9bcd-6f0f4552c82a.htm

`ExtendedXmlSerializer.DocGenerator` generate user documentation:
http://extendedxmlserializer.readthedocs.io/en/v2.0.0/

We should have `Quick Start` section with information how to migrate to `ExtendedXmlSerializer` from `XmlSerializer

[2017-09-29 08:11] thomasjoscht commented on #128
Hi @Mike-EEE,

thanks a lot for your answers.  This is awesome!

Most part of my code could be changed to readonly collection properties. So your approach will work. Sometimes it could be that read-only is not possible in special circumstances, f.e. the collection property itself has some setter behaviour like NotifyPropertyChanged or the class is used by other libraries requiring setter like EF.

[2017-09-29 09:45] Mike-EEE commented on #128
Cool, @thomasjoscht!  Glad things will work for you as-is.  However, I do think having the ability to emit-per-type would be valuable.  It is actually something that was part of the original vision of this v2 work, so I should probably add it.  Shouldn't take more than today.  Then @wojtpl2 should be able to get a NuGet Alpha 7 push out for you. :)

In the meantime, you can always try cloning the

[2017-09-29 09:46] Mike-EEE commented on #124
OK cool.  I have it understood now. :)  And I am in agreement with the Quick Start.  I will try to get some work committed in over the weekend, and then we can see about generating the many documents/pages. 👍

[2017-09-29 12:45] thomasjoscht opened #129 "Bad debug performance with circular references"
Hey, I encounter currently a performance limitation using ExtendedXmlSerilizer.csproj as project reference in my solution. There are thrown soooo many CircularReferencesDetectedException which are all logged in Visual Studio Debugger leading to incredible bad performance. My (extremely simplified) object graph looks like:

Class A
- Collection property of class B
- Collection property of class C

[2017-09-29 12:53] Mike-EEE commented on #129
Whoaaaaaaa... are you able to work around this for the time being by turning off exception messages in the output window?

And to be sure, you have enabled references by calling the `EnableReferences` method during the container configuration, correct?

If we cannot turn off those messages, I might have to consider another design here.

[2017-09-29 13:21] thomasjoscht commented on #129
I'm just calling `new ConfigurationContainer().EnableReferences().Create()` for creation of IExtendedXmlSerializer. Without calling `EnableReferences()` the exceptions will not be catched automatically and my program doesn't work at all. I've tried several things to only EnableReferences on specific members, but problem still persists. The `CircularReferencesDetectedException` is a normal case for

[2017-09-29 15:06] Mike-EEE commented on #129
Ok, just making sure about your configuration setup, so you are indeed configured correctly.

My thought (more like hope lol) is that this is due to the csproj reference.  Now that you have it built (undoing the commenting of `throw new CircularReferencesDetectedException` that is 😄), try removing the csproj and referencing the bin/ExtendedXmlSerializer.dll directly from disk and see if this still

[2017-09-29 18:27] thomasjoscht commented on #129
I've done some further tests. Referencing (debug) builded dll directly does also not work. Also removing ExtendedXmlSerializer project from solution does not work.

At least I've tested 2.0.0 alpha 6 version from Nuget. With Nuget version problem does not happen. I think problem with VS Debugger lies on some settings in VS (only user code debugging or so on) because exception throw and caught does

[2017-09-29 18:44] Mike-EEE commented on #129
Indeed, I think you are right with the Just My Code reference.  Since there is a pdb, it thinks it is "your" code and treats it as such.

You mention the Debug build generates the messages still.  Did you get a chance to try the Release build, by chance?  I think this will address the problem as there are no pdb's (or should not be 😄), and will avoid the issue that you are experiencing.

The excep

[2017-09-29 19:29] thomasjoscht commented on #129
You are right. Changing build type to Release will solve this. Then the project could also be part of my solution (until new 2.0.0 alpha 7 ist published). I think builded as Release hides the exception from VS debugger.

I will create a sample scenario where this will happen. But it could take time to mid of next week because I'm little busy this weekend.

[2017-09-29 21:28] Mike-EEE commented on #129
OK cool.   We're all learning a lot here, for sure. :)  Sounds like we have you out of performance mayhem for now, which is the important part.

[2017-10-03 10:59] thomasjoscht commented on #129
Hey, I've created a MS Unit Test class for this problem. The reason why the exceptions occur, which will lead to the performance lag of debugger is that I use a class type multiple times in multiple properties. Have a look at Table class and Scripts properties of the sample. The exception hints to Connection which will be handled as Ref by ExtendedXmlSerializer.

[code]

[2017-10-03 11:17] Mike-EEE commented on #129
Awesome!  Thank you for taking the time to put this together.  I am in agreement with you that the references as shown here should not trigger what you are experiencing.  Now, before we do instance (runtime)-based reference checking (again, of which it doesn't appear we are encountering here), we do static circular reference checking.  This is done regardless of whether you have references enabled

[2017-10-03 15:54] Mike-EEE commented on #129
OK @thomasjoscht I was able to use your test to duplicate the problem easily on my machine.  Unfortunately, it is difficult to write a test around this without a bunch of work.  But I did manage to put in a fix for now, essentially only throwing the exception once per serialization.  Please try pulling the latest code and verify that it is fixed on your machine.  Thanks again for pointing this out

[2017-10-03 16:33] thomasjoscht commented on #129
Thanks @Mike-EEE, your patch seems to work. My app seems to work now in debug mode. Back to initial request of empty collections: A nuget alpha7 will be nice ;-)

[2017-10-03 16:47] Mike-EEE commented on #125
I am going to assume that is a "yes" from @FaustoNascimento. :)  We will look into getting Alpha 7 pushed ASAP.

[2017-10-03 16:48] Mike-EEE commented on #129
Hah!  Fair enough.  We were waiting to hear back on another issue, but plenty of time has passed.  @wojtpl2 please feel free to deploy Alpha 7 when you have the chance. 👍

[2017-10-04 13:07] wojtpl2 commented on #129
I've published alpha7 https://www.nuget.org/packages/ExtendedXmlSerializer/2.0.0-alpha7
Thanks for your job!

[2017-10-18 19:11] Mike-EEE commented on #126
Tests have been added for this task.

[2017-10-18 19:11] #126 closed

[2017-10-18 19:12] Mike-EEE commented on #129
Alright, closing this issue now.  Please feel free to open a new one in case you still have any issue that remains.  Thanks again for your input, @thomasjoscht!

[2017-10-18 19:12] #129 closed

[2017-10-18 19:13] Mike-EEE commented on #128
This issue should be resolved now.  Please feel free to add a comment if not and we will take it from there.

[2017-10-18 19:13] #128 closed

[2017-10-18 19:13] Mike-EEE commented on #127
This has been addressed with the latest versions.

[2017-10-18 19:13] #127 closed

[2017-10-18 19:14] Mike-EEE commented on #125
This has been fixed in the latest versions.  Please feel free to comment on this issue (or open another issue) if there is any outstanding/expected work if not. Thanks again for your participation, @FaustoNascimento!

[2017-10-18 19:14] #125 closed

[2017-10-18 19:15] Mike-EEE commented on #124
This item has been completed with a first draft.  If there is anything outstanding regarding this issue, please feel free to open a new issue and we will take it from there.

[2017-10-18 19:15] #124 closed

[2017-10-18 19:15] Mike-EEE commented on #105
This should now be addressed.  Please feel free to comment/reopen if not and we will proceed from there.

[2017-10-18 19:15] #105 closed

[2017-10-18 19:16] Mike-EEE commented on #109
This issue has been addressed.  Please feel free to open a new issue if there is anything remaining/expected that persists.

[2017-10-18 19:16] #109 closed

[2017-10-18 19:18] Mike-EEE opened #130 "LAUNCH V2!!!!!!!!!!!!"
OK Mr. @wojtpl2!  The day that we have been awaiting is FINALLY here!  All items have been accounted for with v2.  Please give the documentation a review, and if everything looks OK to you, feel free to merge `master` with `v2.0.0` and get this sucker launched. 😄 😄 😄

[2017-10-19 06:39] Mike-EEE commented on #130
Ahhh... I just realized that the documentation is already posted:
http://extendedxmlserializer.readthedocs.io/en/v2.0.0/

Durp!  And the formatting is off for a lot of the new examples.  Let me try fixing that first.  I will post here once done.

[2017-10-19 06:53] wojtpl2 commented on #130
Documentation looks great! Really great job. Today I would like to try again v2 in my project and if every things be ok, I'll publish v2. I'll let you know.

[2017-10-19 08:04] Mike-EEE commented on #130
Cool.  I got the formatting fixed (I hope 👼), and added a section for implicit typing.  We are good from my side. 👍

Also... I've been using v2 in my side project and it has been wonderful, if I do say so myself. 😄

[2017-10-19 09:00] wojtpl2 commented on #130
Serializer and deserializer works but I have small issues. I'll create two new issues .

[2017-10-19 09:05] wojtpl2 opened #131 "EnableDeferredReferences extension don't work"
[code]
Section have reference to building. But buildings can exists without Sections.

I keep all elements in one List<IElement>.

EnableDeferredReferences was added in #87 and its not work properly.

[2017-10-19 09:08] wojtpl2 opened #132 "Improve of Fluent API"
I can't configure may serializer in this way:
[code]

I have to do like below. Without use Fluent API.
[code]

[2017-10-19 09:11] wojtpl2 commented on #132
[code]
Don't work to.

[2017-10-19 09:32] Mike-EEE commented on #131
Ah, OK.  Is it possible to get a failing test committed so I can take a look into this one?

[2017-10-19 09:55] Mike-EEE commented on #132
Alright, for this one, as mentioned Fluent API isn't perfect.  However, there is an overload for `Member` to pass in a configuration delegate.  There wasn't one for `Type`, so I just added it and provided examples here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/v2.0.0/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue132Tests.cs

Hope that is sufficient for now. 👼

[2017-10-19 10:24] wojtpl2 opened #133 "Improve of namespaces"
For configuration:
[code]

I need tree namespaces:
[code]

It is not a bag, but nice to have ;)
What do you think?

[2017-10-19 10:25] wojtpl2 commented on #131
OK I'll try to create failing test.

[2017-10-19 10:37] Mike-EEE commented on #133
No that is fair feedback.  I did try to group extension methods with their extensions, but for the core/built-in functionality we can consolidate them into one file.

I went ahead and did that.  Now, `IExtendedXmlSerializer` is in `ExtendedXmlSerializer.ExtensionModel.Xml` because at some point we were discussing `ExtendedXmlSerializer.ExtensionModel.Json` and that might still be done in the futur

[2017-10-19 13:54] wojtpl2 commented on #132
Honestly it is not good solution. We should do this in this version becase it is important for user. We are on the second place.

I tried do this today and I thing it doesn't seem very hard.

TypeConfiguration<T> should inhered from ConfigurationContainer
and
MemberConfiguration<T, TMember> should inhered from TypeConfiguration<T>

Or we can expose my fluent API as proxy with your interall API.

[2017-10-19 14:03] Mike-EEE commented on #132
Ahhh since I've already tried twice now to address the fluent API, and it is still not sufficient, I have no problem with you taking over the story to make sure it is done right. :)  I am not the happiest with it, either... so, feel free to fix it if you have a better idea of how it should be done. 👍

[2017-10-24 07:55] wojtpl2 commented on #131
I've added failing test.

[2017-10-24 09:02] Mike-EEE commented on #131
Cool... I went ahead and fixed it.  It will work for now, but it is not a good long-term solution.  I can see extensions being grouped together based on usage rather than just an ordered list.  It's all part of the configuration API, so maybe in v3 with a clean sweep at some point, we can fix this too. 👼

[2017-10-24 09:07] Mike-EEE commented on #132
So I am thinking of this more.  Would this be OK for v2?

[code]

Essentially making the `IRootContext` the type container instead of the `IConfigurationContainer`.

[2017-10-24 09:09] Mike-EEE commented on #132
Actually, if we do that, I could add an extension method to get rid of having to do `Root`.   Lemme do that real quick and see how you like it. :)

[2017-10-24 09:45] Mike-EEE commented on #132
Alright... check it out now.  I made it a little better.  Not perfect, but hopefully it will suffice for v2.  Again if you can think of a better way, please feel free to do so.

[2017-10-24 12:57] wojtpl2 commented on #132
I did fluent api in your code :sunglasses: But I need about one week to improve it.

[2017-10-24 16:26] Mike-EEE commented on #132
Haha!  Very good, then.  Should have done that sooner hehe.  At the very least we have a backup plan here in the meantime.

[2017-10-25 11:50] wojtpl2 commented on #132
I've pushed first version of improvement of API. I would like to improve it but currently it works 😄 You can look. I'm open to comments and suggestions.

There is documentation for FluentAPI:
https://github.com/wojtpl2/ExtendedXmlSerializer/tree/FluentAPI#fluent-api

There is a real example:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/FluentAPI/samples/ExtendedXmlSerializer.Samples/Fluen

[2017-10-25 12:03] wojtpl2 commented on #132
In code you can find:
((ISource<MemberInfo>)@this).Get()

It is to change.
MemberConfiguration inherit also from ISource<MemberInfo> and it have Get() method.
TypeConfiguration inherit also from ISource<TypeInfo> and it have also Get() method.

Currently MemberConfiguration inherit form TypeConfiguration and it contains two implementation of Get() method. It is the reason way I need this cast.

[2017-10-25 12:06] Mike-EEE commented on #132
Awesome!  That looks great!  Let me get latest and see if I can smooth that over.

[2017-10-25 13:28] Mike-EEE commented on #132
Alright... I like what you did. :)  I did some adjustments around the class hierarchy as some inheritance was not necessary. Things are a bit cleaner now and all tests are passing.  FWIW I did try going down the same path as you did, but got stuck with all of the generics.  Making use of the `AsInternal` was the key trick. 👍

Anyways, check it out and see what you think now.

[2017-10-25 16:40] Mike-EEE commented on #132
Reading over this again, I see that you want to have a class hierarchy like this:

`IConfigurationContainer`
`ITypeConfiguration` : `IConfigurationContainer`
`IMemberConfiguration` : `ITypeConfiguration`

I did remove this chain, not because I don't think that is a good idea, but mostly out of confusion.  We can put it back in if you'd like.  From my take, I would like to keep the amount of inheri

[2017-10-26 06:42] wojtpl2 commented on #132
In my solution I can do this:
[code]
In your don't.

I think that hierarchy is very important.
`IConfigurationContainer`
`ITypeConfiguration` : `IConfigurationContainer`
`IMemberConfiguration` : `ITypeConfiguration`

It means that 'ITypeConfiguration' have all functions (extensions) from 'IConfigurationContainer'.
'IMemberConfiguration' have all functions (extensions) from 'ITypeConfiguration'.
Fo

[2017-10-26 07:09] Mike-EEE commented on #132
Ah... yeah, that's a good point.  The reason the above doesn't work is that the extension method `UseEncryptionAlgorithm` expects an `IConfigurationContainer` when it could be an `IContext`.  I have [fixed this and committed it](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/FluentAPI/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue132Tests.cs#L28-L39) so that this works now.

Also, I

[2017-10-26 11:00] wojtpl2 commented on #132
It isn't good yet.
Currently it works:
[code]
But this doesn't work:
[code]
OnlyConfiguredProperties it is only example. All Extension for type should work for member.

In my opinion, the easiest way is to do it is create hierarchy:
`IMemberConfiguration<T, TMember>` : `ITypeConfiguration<T>`

[2017-10-26 12:02] Mike-EEE commented on #132
Ah... no you are correct, there is a missing element here.  As I mentioned earlier, I have a problem with inheriting `IMemberConfiguration` from `ITypeConfiguration` (think `MemberInfo` : `TypeInfo` in reflection... doesn't make sense, it's the other way around).  However, they both do need to have access to the owning/parent type's members (or other information).  This is the same as .NET's refle

[2017-10-26 13:44] wojtpl2 commented on #132
Good idea with `IMetadataContext<T>'.
It looks good but I need more time. I'll check it tomorrow.

[2017-10-27 08:15] wojtpl2 commented on #132
It still doesn't work.
[code]

I think that you to mach think about patterns and best practises. It is for us. Not we for it.
I agree that MemberInfo shouldn't inherit form TypeInfo in reflection. But we design API to configuration. We don't think about Member and Type but about MemberConfiguration and TypeConfiguration. In this case MemberConfiguration have to have interface TypeConfiguration.

#

[2017-10-27 08:16] wojtpl2 commented on #132
I pushed failing test to repo.

[2017-10-27 08:25] Mike-EEE commented on #132
Ahhh OK!  Not a problem.  All good points.  I have no problem rolling back to e72511a59ea181e0bdbbae0c667149211e6a7fc4 and keeping the existing tests to make sure that they continue to work, too. :)  Is that something that is easy to do?  I would do it but my git is not too good.  It will take me a while to figure out, and I've already made a mess as it is. ;)

[2017-10-27 08:37] wojtpl2 commented on #132
but if you want you can try fixing it. You don't have to revert your
changes if you know that you can fix it.

On Oct 27, 2017 10:25, "Mike-EEE" <notifications@github.com> wrote:

[2017-10-27 08:40] Mike-EEE commented on #132
Haha yeah I can definitely look into it.  An old friend used to always say "the greatest feature of any product is existence."  Or "Done is better than Perfect"... same difference. :)  I will see if I can address the issues above and if not, then we can revert.

Also, I agree that `Parent.Root.Parent.Parent.Root` is terrible.  I will see if I can internalize this instead.

[2017-10-27 09:13] wojtpl2 commented on #132
'Parent.Root.Parent.Parent.Root' In my code didn't working too. I wanted to move it to "internal" interface.

[2017-10-30 08:22] wojtpl2 commented on #132
Hi. Did you have time to look into it ?
If we do it, I'll publish v2.0.0.

[2017-10-30 10:47] Mike-EEE commented on #132
Ahhh sorry this weekend was a busy one for me.  I have this on my plate for this morning, and end of today at the latest. 👍

[2017-10-30 15:28] Mike-EEE commented on #132
Alright... I fixed the extension methods, but the `IContext` hierarchy is really involved. :(  I could probably fix it but it would take some time.  I'm more apt to get v2 out the door and live with the blemish (and fix it for another version) than try to spend more time around it.

If you do find more problems with the extension methods, please let me know.  I think we should get that addressed f

[2017-10-31 08:47] wojtpl2 commented on #132
Still it is not good solution.
[code]
I don't like your solution. The better way is inheritance:
`IConfigurationContainer`
`ITypeConfiguration` : `IConfigurationContainer`
`IMemberConfiguration` : `ITypeConfiguration`
Than you don't need duplicate code like your approach. This:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/acea32c3ba555193a63222da934e8232b6d6a1af/src/ExtendedXmlSerializer/

[2017-10-31 10:05] Mike-EEE commented on #132
Yeah no doubt it is not perfect, just trying to get to Done. ;)  I feel I have put enough time into it at this point.  Let's switch back to https://github.com/wojtpl2/ExtendedXmlSerializer/commit/e72511a59ea181e0bdbbae0c667149211e6a7fc4 but keep the tests intact?

[2017-10-31 10:12] wojtpl2 commented on #132
We can save your work on another branch and let's swich back to previous
changes with keep the tests. I hope the tests will passed ;)
If everything will be ok we can publish version 2.0. What do you think? It
will be good ?

2017-10-31 11:05 GMT+01:00 Mike-EEE <notifications@github.com>:

[2017-10-31 10:14] Mike-EEE commented on #132
Yeah, that sounds good to me!  I am no Fluent API expert so should have just left it alone.  I will never learn! Haha.  But yeah, we don't have to worry about saving the work.  I think we should do another complete refresh/rewrite for v2.5 (or v3).  Just make sure I steer clear of it. ;)

[2017-11-01 08:13] Mike-EEE opened #134 "Parameterized Content Does Not Work with Dictionary<>"
Tracking down an ugly bug I found this morning.  Will update this issue once fixed (hopefully).  Please don't launch v2 until I get it fixed.

[2017-11-01 09:20] Mike-EEE commented on #134
OK this has been addressed.  The problem is with native dictionary objects.  There is a hard check right now specifically for this type and to bypass it if so.  If someone wants to use [one of the parameterized constructors](https://msdn.microsoft.com/en-us/library/6918612z%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396) at some later date, then we will have to revisit this issue.  Worth noting th

[2017-11-01 09:20] #134 closed

[2017-11-02 07:53] wojtpl2 commented on #132
Can you revert your changes and marge FluentAPI branche to v2.0.0 branch?

[2017-11-02 07:54] wojtpl2 commented on #134
Thanks!

[2017-11-02 07:56] Mike-EEE commented on #132
Oh! My bad... yeah I thought you were going to do that.  I am not too good with Git, but I can give it a shot.  It might take me a little while, though.

[2017-11-06 07:43] Mike-EEE commented on #132
OK I created a new branch from e72511a59ea181e0bdbbae0c667149211e6a7fc4, merged in the tests, and pushed it as `ConfigurationAPI`.  There appears to be errors though, so maybe I didn't do it correctly?  It has been pushed so please take a look at it to see if you can address it.

[2017-11-06 08:08] wojtpl2 commented on #132
Ok I'll check. Thanks!

[2017-11-07 13:12] wojtpl2 commented on #132
I fixed it. I did not merge it with v2.0.0 because I want to improve it a bit.

[2017-11-07 13:13] wojtpl2 commented on #132
There is commit https://github.com/wojtpl2/ExtendedXmlSerializer/commit/6396fb985128c5555dc6b0260965d78a13370831

[2017-11-07 13:18] Mike-EEE commented on #132
Ok great.  The fluent API is all yours now. :)

[2017-11-07 13:22] wojtpl2 commented on #132
Ok

[2017-11-09 08:44] SuperJMN opened #135 "Compatibility with the standard XML Serializer attributes"
I'm using the pre-release version of v2. I noticed that the standard serializer works for me, but your Extended one does not. I think it's because I'm adorning classes and properties with attributes like this:

[code]

[2017-11-09 09:13] Mike-EEE commented on #135
Boh, thanks for reporting this @SuperJMN.  We do have [a test that verifies](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/v2.0.0/test/ExtendedXmlSerializer.Tests/ContentModel/Members/MemberSerializationsTests.cs#L104) that `XmlRootElementAttribute` does work as far as translating the element name to the emitted document (and read back in).  When you say that it doesn't work, is it this as

[2017-11-15 04:48] Mike-EEE commented on #131
This should now be addressed.  Please let me know if there is anything further on this issue that needs to be addressed/implemented.

[2017-11-15 04:48] #131 closed

[2017-11-15 04:49] Mike-EEE commented on #132
This should be addressed for now.  For next version we will open a new issue for this story.

[2017-11-15 04:49] #132 closed

[2017-11-15 04:50] Mike-EEE commented on #130
v2 is launched.  Congratulations @wojtpl2 ! ! ! 🎉

[2017-11-15 04:50] #130 closed

[2017-11-15 08:56] wojtpl2 opened #136 "Update documentation on CodeProject"
https://www.codeproject.com/Articles/1121574/Extended-XML-Serializer-for-NET

[2017-11-15 09:18] wojtpl2 opened #137 "Connect web page in all places"
Connect web page
https://extendedxmlserializer.github.io/
to:
* all builds: https://www.nuget.org/packages/ExtendedXmlSerializer/
* github
* stackoverflow

[2017-11-15 09:20] wojtpl2 opened #138 "Update documentation on Stackoverflow"
https://stackoverflow.com/users/4809321/wojtpl2?tab=answers

[2017-11-15 09:22] wojtpl2 opened #139 "Update Api Doc"
Update https://extendedxmlserializer.github.io/doc-v2.0.0/html/42fa4a74-3f63-fbac-9bcd-6f0f4552c82a.htm

[2017-11-15 09:30] wojtpl2 commented on #130
Congratulation for you @Mike-EEE. You have 96% of autorship of version 2.
![image](https://user-images.githubusercontent.com/17333903/32828626-f1b7bcba-c9ef-11e7-82da-043a4be4f4ea.png)

[2017-11-15 09:36] Mike-EEE commented on #130
Oh man. 👼 I didn't mean to, it just happened! 😆

[2017-11-15 09:40] wojtpl2 commented on #130
I don't care about it. You did great job!

I've added you to authors section on Nuget.
![image](https://user-images.githubusercontent.com/17333903/32829064-39886142-c9f1-11e7-9818-d4fc1bbacf55.png)

[2017-11-15 09:41] Mike-EEE commented on #130
Cool!  Happy to see this is finally released.  I can start telling my friends about it! 😄

[2017-11-15 09:51] wojtpl2 commented on #130
Yes of course. Please give me feedback.

[2017-11-15 11:01] wojtpl2 opened #140 "Question about xml namespaces"
I have model like this:
[code]
and then I serialize object:
[code]
xml look like:
[code]

The namespace on model element `xmlns:exs="https://extendedxmlserializer.github.io/v2"` is correct, isn't it? Why Example doesn't have this namespace?

[2017-11-15 11:02] wojtpl2 commented on #140
It is example from https://stackoverflow.com/a/39633618/4809321

[2017-11-15 12:07] Mike-EEE commented on #140
Ah, because of the interface that is `Example.Model`.  Since it is not a concrete type, but an abstract/interface one, we inject the `exs:type` attribute at the level at which it occurs, so that it will properly deserialize when it is read back in during deserialization.

If you want this to be at the root, you can make use of [optimized namespaces](https://github.com/wojtpl2/ExtendedXmlSerializer

[2017-11-15 12:13] wojtpl2 commented on #140
Ok, now I understand.
Thanks

[2017-11-15 12:13] #140 closed

[2017-11-21 10:42] wojtpl2 commented on #136
I've added CodeProject article generator.
There is a result https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/CodeProject.html

Article on Code project is updated. I wait for publish.

[2017-11-21 10:42] #136 closed

[2017-11-21 11:07] wojtpl2 commented on #136
There is updated article:
https://www.codeproject.com/Articles/1121574/Extended-XML-Serializer-for-NET

[2017-11-21 17:54] KoVaLL opened #141 "Null serialization creates <Null /> node ignoring property name instead of using xsi:nil="true""
When serializing property with null value, the serializer creates
`<Null xmlns="https://extendedxmlserializer.github.io/v2"/>`
node ignoring the property name.

Example output:
[code]

Repro:
[code]

This leads us to situation where serializer does not preserve the null value if there is custom default value defined, even if it`s being forced to serialize it.

[code]

Newtonsoft.Json handles this

[2017-11-21 18:19] Mike-EEE commented on #141
Hey thanks for the kind words @KoVaLL, it is very much appreciated.  And also thanks for providing the test.  I am looking into this now.  This definitely looks like a bug and it should be emitting `<Name><Null xmlns="https://extendedxmlserializer.github.io/v2"/></Name>` as you suggest.  As for attributes, if it were up to me it would always emit it with a markup extension such as `Name="{exs:Null

[2017-11-21 20:35] KoVaLL commented on #141
Thanks for very quick reaction.
I`ve added pull request #142 with tests for this issue as I think it should behave. Open for discussion.

I do not recommend differentiating <Name /> and <Name><Name/> as, If I understand the standard correctly, those are equivalents. It will probably make no difference for other serializers.
Personally I think <Name xsi:nil="true"/> is the correct way to indicate n

[2017-11-21 21:05] Mike-EEE commented on #141
Certainly open to discussion. :)  Part of the reason for not utilizing `xsi:nil="true"` is that it would introduce and emit another namespace in the document, and if you know anything about the gripes of XML is that it can be a little verbose and chatty with how its documents are constructed.

I will admit that EXS isn't a strictly standards-based XML serializer.  We have tried as much as possible

[2017-11-21 21:32] KoVaLL commented on #141
By 'no matter what' in the comment I meant that it doesn't matter what `EmitBehavior` you use those tests fail and the null is badly serialized or omitted. After deserialization the null value is not preserved regardless `EmitBehavior` used.

I understand the breaking changes concern, but null serialization, outside of collection element aspect, currently seems flawed anyway.

[2017-11-21 21:34] Mike-EEE commented on #141
Nope, I stand corrected.  While `<Name />` is emitted as `null` and `<Name></Name>` is emitted as `string.Empty`, `<Name />` still gets read in as an empty string.  So we will indeed require a marker of some sort to denote a null value in this case.  `xsi:nil="true"` will only be emitted when `EmitBehavior.Always` is set, which is a non-default value.  So, it shouldn't impact documents when used w

[2017-11-21 21:34] Mike-EEE commented on #141
Indeed.  I am with you now.  I will look into this accordingly.

[2017-11-21 23:29] Mike-EEE commented on #141
Alright I believe I have addressed the issue, but the tests are not passing though they seem to be.  I believe it might be due to the `EmitBehavior` being used.  Posted a question in the file.  My gitness isn't too good so it will take some time for me to merge your changes... should be some time tomorrow.

BTW, you have my permission to name my tests any time. :)  Much better than I could ever do

[2017-11-22 18:52] KoVaLL commented on #141
The billion dolar mistake is probably underestimated - seems like we will never pay it off :)
I corrected the test - it was my mistake. Sorry. Please note `xsi:nil="true"` may also need to be emitted when EmitBehavior.Assigned is used, 'clean' object value is not null and the property has been assigned with null. Same story if `EmitWhen(x => ... )` returns true and forces to serialize null value.

[2017-11-22 19:05] Mike-EEE commented on #141
Cool.  Yes, there's a lot going on here and I am glad to be exploring it now rather than later.  We accomplished a lot in getting v2 released but as I mentioned there are some gaps, and this is a good one to examine.  I do have `xsi:nil="true"` being emitted now.  I believe everything behaves now as you describe but only the tests will tell. :)

There is, however, another bug that was exposed with

[2017-11-22 19:37] KoVaLL commented on #141
Happy Thanksgiving!
Actually we don`t celebrate it in Europe in Poland :)
Do not rush. Thanksgiving is a time for family, not coding.

[2017-11-26 17:05] Mike-EEE commented on #141
Alright, I got this sucker committed for you to check out.  I left a comment on the PR, but please move any additional comments here going forward as I will be deleting that PR (again, not the best with Git and just lazified it, copy/pasting. 🤓).

[2017-11-26 18:22] Mike-EEE opened #143 "Optional Double Parameter Not Passed in Correctly"
Found this recently and will fix.

[2017-11-26 18:23] Mike-EEE opened #144 "Extended Dictionary Not Passed into Parameter Correctly"
Found this recently and will fix.

[2017-11-27 00:15] Mike-EEE commented on #144
This is now fixed in the latest codez.

[2017-11-27 00:15] #144 closed

[2017-11-27 00:15] Mike-EEE commented on #143
This is now fixed in the latest codez.

[2017-11-27 00:15] #143 closed

[2017-11-28 10:08] frjonsen commented on #128
I would like to ask to revisit this issue. I have a project with a large amount of objects containing ICollections. These are defaulted, when the objects are constructed, to new List<T>(), which makes me unable to use the EmitBehaviors that are included. Potentially I could setup configuration for each and every member, using .EmitWhen, but that would make for a large amount of configuration. Fort

[2017-11-28 11:24] Mike-EEE opened #145 "Add Type-Level Emit Specifications"
As per https://github.com/wojtpl2/ExtendedXmlSerializer/issues/128#issuecomment-347474653

[2017-11-28 11:25] Mike-EEE commented on #128
Cool @frjonsen thanks for  pinging back regarding this.  We're ramping up for 2.1 in the near future.  I think this is possible to do for this release.  I've added it to our list as a new issue:

https://github.com/wojtpl2/ExtendedXmlSerializer/issues/145

Please feel free to add additional feedback there. :)

[2017-11-28 16:24] KoVaLL commented on #141
Hi Mike,
Thanks for handling this so quickly. Now it behaves as I think is appropriate. Maybe except attributes but that can be isolated and marked as improvement. Can`t wait to see it released since it handles all my real cases.

I would recommend going through some docs regarding git and github to master the pull request feature. Just coping the files manually looks easier from ones perspective,

[2017-11-28 22:37] Mike-EEE commented on #141
Boh!  Sorry about that haha.  I guess I was a little confused on how the sourcing worked on that.  That is, if I accepted the PR, it would break the build with the broken tests.  That is a CI no-no.  So does that mean I create a new branch and then try to merge the PR from there?  At that point in questioning I figured copy/paste was a much more viable (easier) option. ;)

Speaking of CI, you can

[2017-11-28 23:56] AQuentin2033 opened #146 "Readonly Fields"
I have been through the documentation but cannot find an example of how to do the following:

Given the class:
[code]

`var p = new Plane(4.33);`

How do I serialize this as <Plane Length="4.33" /> ?  I explicitly do not want the Rows to get serialized and the Length must be as an attribute.

Thanks

[2017-11-29 23:30] Mike-EEE commented on #146
Hi @AQuentin2033 thanks for writing in.  Looks like you have two concerns here.  One is that you are using parameterized constructors, which are indeed supported but require you to enable them in the container.  The 2nd concern is member configuration, which is also supported.  Here is the code to get you started:

[code]

I've also added this as a passing test to our suite [here](https://github.c

[2017-11-30 09:03] KoVaLL commented on #141
Unfortunately, in my organization,  it's not possible to download any
binary through unapproved channell. I will have to wait till bugfixes are
released as v2.0.1 on nuget.org

28.11.2017 11:37 PM "Mike-EEE" <notifications@github.com> napisał(a):

[2017-11-30 11:45] SuperJMN opened #147 "'The type initializer for 'ExtendedXmlSerializer.ContentModel.Reflection.PartitionedTypeCandidates' threw an exception.'"
Hi guys!

I'm getting this exception when executing from a Windows 10 Universal Application (UWA).

The steps to reproduce are:

1. Create a Windows Universal project targeting **Windows Fall Creators Update (16299)**. Set the minimum version to the same.
2. Open the automatically generated MainWindow.xaml.cs
3. Put this code

[code]
4. Run it. The exception will be thrown.

I hope this helps!

[2017-11-30 11:47] SuperJMN commented on #135
Sorry, but I'm not able to use the serializer right now, so I cannot explain what's the problem until https://github.com/wojtpl2/ExtendedXmlSerializer/issues/147 is fixed :(

I will close it for now.

[2017-11-30 11:47] #135 closed

[2017-11-30 11:59] Mike-EEE commented on #147
OK cool... thanks for submitting this, @SuperJMN.  Taking a look into this now.

[2017-11-30 12:03] AQuentin2033 commented on #146
Thanks Mike, I am however getting something odd happen when I try the following:

[code]
using the configuration

[code]

This results in `<Master><A>1</A></Master>` instead of what I am trying to achieve which is  `<Master><SubItem X="1" /></Master>`

Do I need to add something special to the configuration because the member is a struct/class?

[2017-11-30 12:13] Mike-EEE commented on #146
Structs are treated like classes and are supported.  That A shouldn't be emitted at all, as it is a readonly property and we ignore those by default.  Maybe there's something funny on with the `Ignore` on a readonly property in this case.  I'll check it out and let you know. 👍

[2017-11-30 12:41] Mike-EEE commented on #147
Ah you know what... I just figured this out.  This project is currently set to .NET Standard 1.6, and I do not believe UWP supports that.  It only supports .NET Standard 2.0.  I will have to get with @wojtpl2 on this to figure out the best solution to fix this, and if we can support .NET Standard 2.0.

[2017-11-30 12:45] SuperJMN commented on #147
That is really strange! The rule of thumb is that if something supports a .NET Standard of version x, then it should support any version lower than x. I mean, UWP supports 2.0, so it should support any version under 2.0, since they are subsets of the standard 😊

Please, check it with @wojtpl2<https://github.com/wojtpl2>. Maybe I’m wrong! It’s my default state 😝

________________________________
De

[2017-11-30 13:19] Mike-EEE commented on #147
Ah well for starters I tried creating a new UWP project and then added my local ExtendedXmlSerializer project and got the following:

![2017-11-30_0817](https://user-images.githubusercontent.com/2931376/33432697-ff7bee30-d5a6-11e7-83b1-9db399517808.png)

But now thinking about it... you are correct.  What you describe is the case for .NET Standard 1.x ... is the same for 2.0?  It was such a signif

[2017-11-30 13:29] SuperJMN commented on #147
Aha! Presumably, you cannot add the reference because you aren’t targeting to the required build. Check that you are targeting Fall Creators Update (and the minimum version, as well). Otherwise, it won’t be able use .NET Standard libraries over 1.3 (if I remember well).

________________________________
De: Mike-EEE <notifications@github.com>
Enviado: Thursday, November 30, 2017 2:19:20 PM
Para: w

[2017-11-30 13:39] Mike-EEE commented on #147
Indeed... I have set both version above as you suggest.  But now thinking about this... EXS is not a strictly 1.x project.  We actually support both `net45;netstandard1.6`, which might be leading to this issue?  If I change this to `netstandard2.0` I am able to add the project.  Unfortunately I now get compile errors that return no results:
[code]

I will look further into this.

[2017-11-30 14:19] Mike-EEE commented on #147
Well found the culprit for the above: https://github.com/JamesNK/Newtonsoft.Json/issues/1423

I was able to get the project to compile as .NET Standard 2.0, but when I run it, I get the following in Visual Studio:

![2017-11-30_0918 1](https://user-images.githubusercontent.com/2931376/33435203-916d7ad6-d5af-11e7-9785-48efe9efd9b0.png)

So it looks like it's a win32 exception we are causing?  UWP i

[2017-11-30 17:45] SuperJMN commented on #147
Can you publish the branch that you're using so I can try to see if it Works On My Machine®? :)

[2017-11-30 19:41] Mike-EEE commented on #147
YOUR WISH IS MY COMMAND:
https://github.com/Mike-EEE/ExtendedXmlSerializer/tree/netstandard20

:)

[2017-11-30 21:43] SuperJMN commented on #147
![image](https://user-images.githubusercontent.com/3109851/33456454-c95776fc-d61f-11e7-8fe7-79e9fbbbd853.png)

This is what I'm getting :( I don't have a clue of what's going on there!

[2017-11-30 22:19] Mike-EEE commented on #147
Whoohoo!  Easy fix.  And we can get rid of compiler directives, to boot!  I just committed the fix to the branch.  Get latest now and see how it treats you.  FWIW, `AppDomain` works everywhere now, not just in Windows.

[2017-12-01 06:25] Mike-EEE commented on #147
Alright, I've updated the remaining projects and they are in master now.  I do not think upgrading to .NET Standard 2.0 introduces any significant problems and in fact reduces complexity and dependencies in our code.  @wojtpl2 will have to make the final decision on this of course and we can open another dedicated issue if there is a problem.  In the meantime you can find the .NET Standard 2.0 ver

[2017-12-01 06:25] #147 closed

[2017-12-01 07:45] AQuentin2033 opened #148 "Add Support for Configuration Profiles"
Hi,

I have a few dozen types in a custom library and I would like to offer support for users of ExtendedXmlSerializer without explicitly adding a reference to it from my library.  Is it possible to generate a configuration with all the type specific settings for the library and provide this (binary or xml) configuration to the library user in a single initialization step? (instead of pages of flu

[2017-12-01 09:10] Mike-EEE commented on #148
Haha... a configuration for the configuration?  An XML for the XML?  A DREAM WITHIN A DREAM??? :)  Sure, it's an open source project, anything is possible. 😄

I just read that link.  That's a cool concept for sure.  Essentially you're creating configuration profiles which are applied to a set of types and then one of these profiles is applied to a `ConfigurationContainer` so that you don't have to

[2017-12-01 12:58] SuperJMN opened #149 "Complex scenario: How do I configure constructor injection?"
Given this simple classes:

[code]

If a try to serialize an instance of Rectangle, then the Background property will serialized as:

[code]

So it seems that EXS doesn't work well with custom structs.

[2017-12-01 13:04] Mike-EEE commented on #149
Is that the *exact* definition of your struct?   In order for the serializer to write the values (assuming default behavior), the properties must have setters. :)

[2017-12-01 13:12] Mike-EEE commented on #149
Oh I see (I think)... are you saying that you expect the background to be empty and not emitted at all?

[2017-12-01 13:31] Mike-EEE commented on #149
Ah OK so to enable parameterized content, you can enable this by following the example here:
https://github.com/wojtpl2/ExtendedXmlSerializer#parameterized-members-and-content

Please note that I used this article to base it from:
http://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html

This just so happens to be my favorite part about this serializer. :)

[2017-12-01 17:01] Mike-EEE commented on #149
I spoke with @SuperJMN on Skype and this solved his woes.  Happy to see this work for you, my man!  Please feel free to create another issue if you run into any additional troubles.

[2017-12-01 17:01] #149 closed

[2017-12-03 22:14] SuperJMN opened #150 "Bad serialization of string in RTF format"
Hi fellows!

I've tried to serialize a text in RTF format and the resulting serialization was a bad-formed XML.

The string I've tried to serialize is this:

**{\rtf1\fbidis\ansi\ansicpg1252\deff0\nouicompat\deflang3082{\fonttbl{\f0\fnil Segoe UI;}}
{\colortbl ;\red0\green0\blue0;}
{\*\generator Riched20 10.0.16299}\viewkind4\uc1
\pard\tx720\cf1\f0\fs23 Sample Text\par
}**

I contains lot of brace

[2017-12-04 09:40] Mike-EEE commented on #150
Oh man... yeah we haven't done any of this sort of stuff yet. :)  I will look into this for you, @SuperJMN !

[2017-12-04 12:03] dodyg opened #151 "How do you implement the deserialization?"
Do you use XmlReader or do you use DOM?

Will this library suitable to deserialize complex XML schema such as Open NDC Schema (http://www.iata.org/whatwedo/airline-distribution/ndc/Pages/schema-download2.aspx)?

[2017-12-04 14:06] Mike-EEE commented on #146
As an update, I tracked this down to the `EnableParameterizedContent` call.  Hope to have a fix here in the next day or so when I can find the time.

[2017-12-04 21:38] Mike-EEE commented on #151
Hi @dodyg this project uses `XmlWriter` and `XmlReader` for its serialization/deserialization purposes.  As for XML schemas, that is a good question.  I would say that this project is more meant and designed to serialize/deserialize POCO's (plain ol' CLR objects) rather than to deal with data documents.  It might be possible to create a POCO that represents your data document and use it for serial

[2017-12-05 10:56] SuperJMN commented on #150
Hey Mike! it may be possible to configure serialization/deserialization on a per-member basis, like converters. It would be useful as a workaround. For instance, I would write a Text property that is a RTF-formatted string to Base64, and convert back on deserialization.

The other option I see is to have some configuration options also for members inside a Type, that allows it to be serialized as

[2017-12-05 10:59] wojtpl2 commented on #150
@SuperJMN Could you provide code example how you serialize RTF text?
You mean:
[code]

Do you know if it is supported by standard XmlSerializer?

[2017-12-05 11:11] wojtpl2 commented on #150
CDATA should also be supported.
Standard XmlSerializer support `XmlCDataSection`. There is example:
https://social.msdn.microsoft.com/Forums/en-US/6f59a2c0-2f70-4f19-9210-c675bbdce48d/cdata-serialization-with-xmlserializer?forum=asmxandxml

We can create also configuration for it. Example:
[code]
Or something like that. @Mike-EEE What do you think?

[2017-12-05 11:18] wojtpl2 commented on #148
It is great idea. We can create similar solution like Autofac:
http://autofaccn.readthedocs.io/en/latest/configuration/xml.html

[2017-12-05 11:29] Mike-EEE commented on #150
Yeahar... I like where this is going.  Essentially create an `RtfConverter` which is then applied to members via a `Cdata` extension method.  I got some client work that has popped up for me this week, but I should be able to take a look at this starting tomorrow. 👍   FWIW, I am keeping this categorized as a bug as the `XmlWriter` should be emitting data as CDATA automatically.  So we aren't wired

[2017-12-05 11:35] Mike-EEE commented on #148
Yeah the problem though is that we're basically requiring at least two `ConfigurationContainer`'s now: 1 for configuration and 1 (or more) for object graphs.  We do NOT want to load XML documents and parse them element by element (and/or attribute by attribute) because that is exactly what EXS is meant to avoid.  I think the best way of doing this is to have a (properly configured) `ConfigurationC

[2017-12-05 12:12] dodyg commented on #151
OK thanks for the clarification.

[2017-12-05 12:12] #151 closed

[2017-12-05 17:47] SuperJMN commented on #150
Halt the machines! It seems that there is a bug in the component that generated the RTF! I'm working to see what's going on. It seems that it's nothing to do with EXS.

[2017-12-05 17:54] Mike-EEE commented on #150
Woohoo... those are the kind of problems I like. ;)  Please feel free to re-open if it is indeed connected here to EXS.

[2017-12-06 13:03] SuperJMN commented on #150
OK, guys, this is REALLY strange. It keeps happening!

I have prepared a minimum scenario that reproduces the issue. Please, take a look. Clone the repo: https://github.com/SuperJMN/RtfIssue. It's UWP ready to run.

Write some text, click on Save. It can happen 2 things:

1. An exception is thrown
2. The file is written, but in a corrupted state

I'm now sure that it's a problem with EXS because i

[2017-12-06 13:21] Mike-EEE commented on #150
Ahhh ok cool!  Thanks for the repro... and repo. 😆   I will aim to take a look at this today or by tomorrow for sure.

[2017-12-06 13:23] SuperJMN commented on #150
OK! Don't forget to check me at Skype if you need anything! Best regards :)

[2017-12-07 08:41] Mike-EEE commented on #141
Ah, as it will be another week or so before we release v2.1, another path you could try is to fork this repo locally and add the csproj directly to your SLNs, FWIW. :)

[2017-12-07 08:43] Mike-EEE commented on #146
OK @AQuentin2033 I got this addressed.  Please note that we follow the rules as [outlined here](http://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html), so that was causing some additional issues.  I did manage to get a test that [demonstrates expected output](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/b6bcf76f2d959799b7a1fb8e35b23d8a33b8a679/test/ExtendedXmlSer

[2017-12-07 08:48] Mike-EEE commented on #100
Just got bit with this w/ #146.  The extensibility framework is a pretty decent first stab, but there are indeed chances that all extensions will not align properly.  It's not too difficult to fix these (missed) alignments, but it would be nice to have improvements in the framework (maybe at a later date/rewrite/version) that do account for this in an elegant way.  More of a pipeline-type orchestr

[2017-12-07 11:44] Mike-EEE commented on #150
Alright, there's a "workaround" here:
https://stackoverflow.com/a/32888973/3602057

But I don't like that.  I think the `CData` method described above is much better.  We'll pipe it through this bad boy here:
https://msdn.microsoft.com/en-us/library/system.xml.xmlwriter.writecdata(v=vs.110).aspx

[2017-12-07 11:54] wojtpl2 commented on #138
I've updated 2 articles
https://stackoverflow.com/a/39633002/4809321
https://stackoverflow.com/a/39633618/4809321

[2017-12-07 22:19] AQuentin2033 commented on #146
Thanks Mike!

[2017-12-11 17:07] michidk opened #152 "The serializer for type 'System.Collections.ObjectModel.ReadOnlyCollection`1 could not be found."
Hello,

Today I looked back into my old game engine project which is using your xml serialize. It improved a lot and a lot of features which I wished for, are now implemented. Great! And congratulations for the release of v2 🎉 !

XMLSerializer is runs perfect and I already use the new features. But I have still one issue:
I have a class `GameObject : IEnumerable<GameObject>` [same issue without in

[2017-12-11 19:08] michidk commented on #152
I just noticed that I do have ReadyOnlyCollections in my class. but they are annotated with [XmlIgnore]!
[code]

Renaming them fixed the issue. So I guess I just found a bug?

[2017-12-11 19:11] michidk opened #153 "Implicit typing for whole namespace"
Hey,
I am currently using this: `container.EnableImplicitTyping(typeof(Scene), typeof(Model), typeof(Mesh), typeof(Material), typeof(GameObject));` to keep my xml file clean. Is there a way to do this for a whole namespace/project instead of for every single type?

[2017-12-12 20:25] Mike-EEE commented on #152
Ah thanks for reporting this @michidk.  I have been slammed with Real World work but I should start getting issues from this repo attended to starting tomorrow.  I will let you know what I find. :)

[2017-12-12 20:31] Mike-EEE commented on #153
This is certainly possible.  Right now we allow a `params Type[] parameter` for that call.  We could allow a type of `IEnumerable<Type>` that allows you to pass in a class that inherits from this interface and then use the results of this for the types used.  We would then provide an `AssemblyTypes` or `NamespaceTypes` class that could help facilitate this.

[2018-01-03 12:55] Mike-EEE commented on #146
Happy New Year. :) Closing this issue as the latest code addresses it to the best of our understanding.  Please feel free to comment here and/or re-open a new issue if there is something not captured and needs to be addressed. Thank you!

[2018-01-03 12:55] #146 closed

[2018-01-11 10:36] joehmchan opened #154 "Using multiple custom serializers for complex type"
First of all, thank you for your good work and I found this library useful.
I ran into a situation that needs to implement multiple custom serializers.

[code]

If I got a customer serializer for both ParentType and ChildType, how do parent serializer ask ChildTypeSerializer to handle obj.Child property based on the type?

[2018-01-11 12:53] wojtpl2 commented on #154
Good question! It should be supported.

[2018-01-12 15:53] Mike-EEE commented on #154
Indeed, this is a component from v1 that has carried over into v2.  I am taking a look into overriding member-based serialization for #150 ... I'll see if I whip something up for this as well.

[2018-01-17 09:11] joehmchan opened #155 "System.Reflection.AmbiguousMatchException is thrown"
System.Reflection.AmbiguousMatchException is thrown when 'Multiple custom attributes of the same type found.'

Here is the class definition.
[code]

It seems like multiple XmlElementAttribute decorations causing the issue.

[2018-01-17 09:43] Mike-EEE commented on #155
Great, thanks for reporting this @joehmchan.  I am wrestling with Real Life/Work at the moment but hope to be back on this project in the next week or so to start tackling these issues. 😄

[2018-01-17 12:37] joehmchan commented on #154
@Mike-EEE, the reason I hitting this issue is that some of the class string members need to be wrapped by CData tag. It turns out that writing custom serializer is the only way to do so.

Sorry for my limited understanding on the whole project's source codes. Probably it is better to write extension method to tackle that issue.

[2018-01-17 12:43] joehmchan commented on #155
Yes, thanks for your help. I think the serializer creator should do special handling to XmlChoiceIdentifierAttribute

[2018-01-17 12:46] Mike-EEE commented on #154
Ah!  Well then, fixing #150 will address your ills here.  There is indeed a lot of code within this project.  I got a little crazy at times last year putting it together. 👼 I would probably make some different design decisions today but it took going through then to get to now.  Such is the nature of software, and life for that matter! 😄

The CDATA issue is actually pretty involved, because it wil

[2018-01-17 12:47] Mike-EEE commented on #155
I am embarrassed to admit that I have not even heard of that attribute before. 😮 I will have to check it out.

[2018-01-22 23:43] esso23 opened #156 "Deserialization issue"
Hello there!
I'm having an issue trying to make this library to work and would appreciate some help.

I have an XML like this:
[code]
it is a part of a larger XML, but i need just this one Element and I send it to the Deserialize method as text.
The class looks like this:

[code]

I tried all sorts of initialization of the serializer, but I think this should be the correct one (according to doc):

[2018-01-23 07:20] Mike-EEE commented on #156
Hi @esso23 thanks for writing in.  The primary issue is that it appears that you are using the string from an `XmlElement` rather from a serialized object.  Try first creating your `DbD2Object` and call the serializer's `Serialize` method to create the string.  Calling `Deserialize` on that should get you the results that you are expecting.  Hopefully. 😄

[2018-01-23 11:56] esso23 commented on #156
Hi @Mike-EEE , thanks for the reply, but I think I don't understand. The XML itself is the serialized object and I need to deserialize the XML into a C# object. I don't create `DbD2Object` in my code at any point, I need it to be created from the received XML using deserialization. I cannot call the serialize method as there is nothing to serialize. Am I missing something?

[2018-01-23 12:04] Mike-EEE commented on #156
Ah, OK.   Thanks for the information @esso23.

FWIW the typical expected workflow is serialize the object graph with the serializer, storing (or sending it) and then deserializing it with the same type of serializer.  When you say that you are receiving it, how is it being sent?  Or rather, how is it being serialized then sent? :)

Are you able to serialize/deserialize this XML with the classic `X

[2018-01-23 12:28] esso23 commented on #156
I am receiving this XML from an external source so I have no control over the serialization of the XML. It's just some 3rd party application.

I am able to serialize and deserialize using standard XmlSerializer.
[code]

The reason why I want to use this library is that the standard serializer cannot handle the DateTimes in XML, so the deserialization fails at that point. I may also need some other

[2018-01-23 12:38] Mike-EEE commented on #156
This is actually a good point here.  We do offer implicit typing:

https://github.com/wojtpl2/ExtendedXmlSerializer#implicit-namespacestyping

But we do not apply it unless it's explicit.  What we could do for the `Serialize`/`Deserialize` methods is include that for the type that is being requested.  So for this scenario it *should* deserialize just fine.

Try modifying your configuration contain

[2018-01-23 13:00] esso23 commented on #156
Well, now the deserialization works (which makes me really happy :D), but it fails with the exact same exception as the standard XmlSerializer:
[code]
So I created a IConverter<> like this:
[code]
And my registration looks like this:
[code]

But the converter is only called for the `DbD2Object` itself and for enums. Is there any way how to make the library call it for deserialization of DateTime a

[2018-01-23 13:27] Mike-EEE commented on #156
Boo... this just got complicated, LOL.  The reason why your converter isn't working is that there is already a converter that is registered via the `WellKnownConverters` class that handles the `DateTime` type.  We only expose `Register` and `Unregister`, assuming that you are using custom types that are not well-known.  We are obviously in error with this thinking. 😉

What we need to do is add a `

[2018-01-24 17:11] Mike-EEE opened #157 "Nullable Structs Cause Exception if Converter is Not Found"
Found this issue and will have a fix for it soon.  Essentially an exception is thrown when a nullable (struct) type does not have a converter easily found for it.

[2018-01-25 14:24] esso23 commented on #156
Hello @Mike-EEE. Thanks for the advice, I managed to make it work. I based my solution on your suggestion and the code now keeps only one converter per type.
I gotta be honest though. Your code is kinda complicated (for me) and I'm not very confident about making a pull request.
Do you have any plans on implementing this in near future?

[code]

[2018-01-25 16:24] Mike-EEE commented on #156
Coooool thanks for the update @esso23!  Yeah I will be the first to admit our fluent api/configuration integration is a mess.  It really needs a do over from scratch, something we have on our minds for v3.  The other consideration is that we wanted to keep everything as internal as possible for v2 and expose it as we need it as we went along.

I think in this case what we should do is expose all t

[2018-01-25 16:59] esso23 commented on #156
Thanks for the reply @Mike-EEE .
Giving me the tools to micro-manage things on the inside would be amazing. Imho, people who choose to use this library instead of standard XmlSerializer want exactly that - because with default XmlSerializer you either use what it gives you or you write the whole code for serialization/deserialization yourself.
Solution you propose sounds great!

[2018-01-25 18:59] Mike-EEE commented on #156
Yeah technically there isn't anything stopping you from simply copying/pasting the code as it is now into your own namespace and changing the code you need, but that is a hassle.  I can understand the need to keep things internal (especially at the start), but ideally you do want to expose components over time.  The classic `XmlSerializer` has a lot to account for so it's not so easy for them to f

[2018-01-25 22:01] Mike-EEE commented on #156
Alright @esso23 you should be set to go here.  I've updated the converter registrations to utilize a component we already had within our code, which was taken from the classic .NET Framework (`KeyedByTypeCollection`) and ensures that items that are added are keyed by their type and only get added once.  This should throw any errors in case there are two objects with the same type, but it also remo

[2018-01-25 22:09] Mike-EEE commented on #157
Just checked in a fix.  If only they could all be this easy. 😛

[2018-01-25 22:09] #157 closed

[2018-01-25 23:34] Mike-EEE commented on #150
Hey @SuperJMN sorry for the delay here but I have FINALLY got a solution for you here.  You can now configure string-based members with the `Verbatim` method and it will configure that member for CData-based writing.  You can see some examples of this here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue150Tests.cs

You can get the

[2018-01-26 09:39] Mike-EEE commented on #150
FWIW I just verified that this works as expected for the UWP sample.  Well, as much that UWP can "work" as expected. ;)

Here is the emitted XML now:

[code]

[2018-01-26 09:40] Mike-EEE commented on #150
This made me realize that we should have a `VerbatimAttribute` so that you can apply it to properties and it will automatically register it as a verbatim property.  I will work on that now.

[2018-01-26 10:30] Mike-EEE commented on #150
Alright.  I've implemented `VerbatimAttribute`.  Please let me know if you run into any additional issues here and we will re-open this item.

[2018-01-26 10:33] Mike-EEE commented on #156
Going to close this issue now.  Please let me know if there are any further problems you find with it and we will reopen it.  Please also feel free to open a new issue altogether if you feel that is more appropriate. 👍

[2018-01-26 10:33] #156 closed

[2018-01-26 10:36] Mike-EEE commented on #133
Going to close this issue now as it seems that it has been addressed.  Please let me know if I have this mistaken!

[2018-01-26 10:36] #133 closed

[2018-01-26 10:42] Mike-EEE commented on #141
Hey @KoVaLL I am **really** sorry on the delay for this!  I am working on the bugs now for v2.1 and should be done today.  @wojtpl2 would we be able to release v2.1 today?  We can put the enhancements in v2.2 and have v2.1 be bugs-focused.  When I fix the other two remaining bugs I will update this thread to let you know it is OK to deploy.

[2018-01-26 11:58] wojtpl2 commented on #141
@Mike-EEE We can release v2.1 today, but I need release notes. Could you prepare it?

[2018-01-26 13:05] Mike-EEE opened #158 "Release v2.0.1"
OK I am going to title this one v2.0.1 as it is mostly a bug-fix release.  v2.1 will include the enhancements.

Release notes:
This is primarily a quality update and addresses the following issues in GitHub:
https://github.com/wojtpl2/ExtendedXmlSerializer/issues?q=is%3Aissue+label%3Abug+milestone%3Av2.0.1+is%3Aclosed
- Nullable Structs Cause Exception if Converter is Not Found #157
- Deserializat

[2018-01-26 13:06] Mike-EEE commented on #141
Alright... I have #158 created.  I will post there when I am ready on my side.

[2018-01-26 13:16] wojtpl2 commented on #150
We should also support Verbatim in POCO class (without attribute). What do you think about it:
[code]

In documentation should be description about it.

[2018-01-26 13:53] Mike-EEE commented on #152
Next stop on my apology tour. 😄 I just checked in a fix for this bug @michidk and sorry it took so long!  There was an issue in how we were resolving fields and properties.  If they had the same name then it would select the property instead.  This is now fixed and can be accessed using our preview feed immediately:
https://www.myget.org/F/wojtpl2/api/v3/index.json

We're also aiming to have a new

[2018-01-26 14:43] Mike-EEE commented on #150
Oops!  Sorry that wasn't clear, we do have that here, in the tests from above: 😄
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue150Tests.cs#L56

[2018-01-26 15:01] Mike-EEE commented on #155
OK @joehmchan I have checked in a fix for this.  This should unblock you if you are looking to serialize items without an exception. 😄   You can find this at our preview feed here:
https://www.myget.org/F/wojtpl2/api/v3/index.json

I did look into `XmlChoiceIdentifierAttribute` and boy this will take some further discussion.  Keep in mind that v2 (current version) was taking from v1, and I am sure

[2018-01-26 15:05] wojtpl2 commented on #155
V1 didn't support multiple attributes and System.Xml.Serialization.XmlChoiceIdentifierAttribute.

[2018-01-26 15:05] Mike-EEE opened #159 "Support for XmlChoiceIdentifierAttribute / Runtime Member Naming?"
Please see:
https://github.com/wojtpl2/ExtendedXmlSerializer/issues/155#issuecomment-360807673

Basically wanting to feel the temperature on this and how important/valuable it is to the community.

[2018-01-26 15:06] Mike-EEE commented on #155
OK good to know.  That was my impression as well, @wojtpl2.

I've created a new item/discussion for this and we can continue this conversation there:
https://github.com/wojtpl2/ExtendedXmlSerializer/issues/159

Closing this item as it has been addressed/unblocked from throwing an exception.  Please feel free to reopen or open a new issue of there is any further issues that you find.

[2018-01-26 15:06] #155 closed

[2018-01-26 15:34] Mike-EEE commented on #150
Alright I have added documentation for this feature and have pushed the tags.  Hopefully a new version of Nuget will appear shortly. :)  Please feel free to reopen if there are any additional issues!

[2018-01-26 15:34] #150 closed

[2018-01-26 15:35] Mike-EEE commented on #158
Alright, I have pushed the 2.0.1 tag and it should be on its way to nuget.  It hasn't refreshed yet but I will have my eye on it and reopen this issue if it doesn't update.

[2018-01-26 15:35] #158 closed

[2018-01-26 15:36] Mike-EEE commented on #152
This should be on its way to nuget and will be available shortly.  Please feel free to comment on this thread if there are any additional issues.

[2018-01-26 15:36] #152 closed

[2018-01-26 15:37] Mike-EEE commented on #141
Alright, you can now find this available here:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if you run into any additional issues!

[2018-01-26 15:37] #141 closed

[2018-01-26 15:37] Mike-EEE commented on #158
Woohoo here it is:
https://www.nuget.org/packages/ExtendedXmlSerializer/

[2018-01-26 15:38] Mike-EEE commented on #139
Ping.  Please feel free to close this if it is completed. 😄

[2018-01-26 15:38] Mike-EEE commented on #138
Ping.  Please feel free to close this if it is completed. 😄

[2018-01-26 15:39] Mike-EEE commented on #137
I am pretty sure this is done, but just to be sure. :)

[2018-01-27 14:34] pvlgk opened #160 "Problem with installing nuget package"
While trying to install nuget package I receive an error:
_Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'ExtendedXmlSerializer 2.0.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For

[2018-01-27 16:37] Mike-EEE commented on #154
Alright, I've just committed an improvement that addresses this and a couple of other issues around registering serializers around types.  The best example of this is here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue154Tests.cs#L50-L64

You can now reference a type as the serializer, and that type can hold registered dependenci

[2018-01-27 19:36] Mike-EEE commented on #160
Hm... sorry to hear you're experiencing problems here @pvlgk.  I just now tried to install it as a sanity test in my side project and it worked OK.  The only thing I can think of is that we're using .NET Standard 2.0, but I am pretty sure that works fine in Visual Studio 2015.  I am not as familiar with this, but maybe @wojtpl2 might be able to help you out here.

[2018-01-27 22:30] Mike-EEE commented on #145
Alrighty, I've created a first rough draft of this here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue145Tests.cs

@frjonsen you might be interested in checking this out and providing feedback.

The preview feed from which this can be found is here:
https://www.myget.org/F/wojtpl2/api/v3/index.json

[2018-01-28 12:42] Mike-EEE commented on #153
Alright @michidk I have a first draft of this for you to check out.  You can see an example here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue153Tests.cs#L13-L21

There are several methods now, but in your case, it should be something like:

[code]

Assuming all the types you mention above are in the same namespace as `Scene`.

[2018-01-28 18:46] Mike-EEE commented on #148
OK check this out:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue148Tests.cs

Super simple example here.  I started designing this, and thought: do we need an external file format at all?  Ultimately, in that example above, the file gets compiled into a particular type of configured container.  The same can be accomplished by usin

[2018-01-29 09:07] ondrasvoboda commented on #160
I have similar error in VS2017:
_You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain any assembly references or content files that are compatible with that framework._

[2018-01-29 09:14] Mike-EEE commented on #160
Boo.  The only thing I can think of is that the library that I am installing mine into is a .NET Standard 2.0 library.  So there might be something with installing it into framework-based projects.  We'll look into this and hopefully have a new release for you soon.

[2018-01-29 15:54] AQuentin2033 commented on #148
Hi Mike,

Not sure I am following exactly but if I understand for my library (which for simplicity I will call Glibrary)
  - I would create a separate assembly referencing ExtendedXMLSerializer and Glibrary
  - create a class which implements IConfigurationProfile and provides the serialization rules for Glibrary
Then either:
   - provide that assembly as an optional extension to Glibrary users
or

[2018-01-29 17:01] Mike-EEE commented on #148
Cool, thank you for providing more context around this.  A couple considerations here.

1. If you make your deliverable a nuget package (either on nuget or in a private package feed within your organization), ExtendedXmlSerializer (and all of its dependencies) automatically come along for the ride.  So your users would then reference this package (e.g. `Glibrary.Serialization`) really that is the

[2018-01-29 18:16] Mike-EEE commented on #148
4. If EXS is not the bottleneck we should be able to make an extension that provides `ISerializationSurrogate*` support no problem, btw.  Actually since I am all caught up with everything else on my plate I will start working on that now. 😉

[2018-01-29 18:18] Mike-EEE opened #161 "Support for ISerializationSurrogate"
As per https://github.com/wojtpl2/ExtendedXmlSerializer/issues/148#issuecomment-361289941

[2018-01-29 18:53] Mike-EEE commented on #148
FWIW @AQuentin2033 I just added a new `ConfiguredSerializer` that improves further on the above.  You can see an example here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue148Tests.cs#L38-L46

Essentially now boiled down to:
`var serializer = new Serializer();`

Where `Serializer` would be your extended serializer pointing to a c

[2018-01-29 19:10] Mike-EEE commented on #160
Just curious here... do you run into the same problem when installing our nuget package from our preview feed?
https://www.myget.org/F/wojtpl2/api/v3/index.json

[2018-01-29 19:37] Mike-EEE commented on #161
Alright @AQuentin2033 I have been checking this out.  In #148 you state:

Can you add a little more context around this? I cannot seem to find `ISerializationSurrogateProvider` on the interwebs.  Also, you mention these are attributes, but are interfaces, correct?  I am wanting to make sure we support the right workflow here.  From what I can tell you create a new `SurrogateSelector` and then regi

[2018-01-29 22:32] AQuentin2033 commented on #148
Thanks for being so responsive Mike, let me try and answer.

1 -  So far I have very few users of the library who actually want to use xml serialization (only 1 request so far) so I don't really want to add a dependency for the vast majority who don't need it.   Same reason I don't want to add all the Xml tags in the various classes to have it serialize correctly using the .net framework Xmlserial

[2018-01-29 23:32] AQuentin2033 commented on #161
laugh, yes its not so obvious, took me a while to get my head around what the framework people intended with it.  Let me try and explain

### [ISerializationSurrogateProvider](https://msdn.microsoft.com/en-us/library/system.runtime.serialization.iserializationsurrogateprovider(v=vs.110).aspx)
This is a .net standard 2.0/.net 4.7.1 interface
First a user passes an implementation of ISerializationSu

[2018-01-30 07:12] pvlgk commented on #160
There is no problem with version 1.5. But any version above 2.0 causes problem described here.

[2018-01-30 07:25] Mike-EEE commented on #148
Coooool @AQuentin2033 ... the goal being here to show/demonstrate to all that XML is still open for business and can be used to serialize anything easily while maintaining the integrity and structure of your existing classes. 😉 #MakeXMLGreatAgain heh heh.

[2018-01-30 07:34] Mike-EEE commented on #161
WOW... thank you for taking the time to thoroughly explain all of that @AQuentin2033.  I am in full agreement that `ISerializationSurrogateProvider` is the much better option.  I am of course apt to support it as not only is a more current/up-to-date implementation, but also (and because of this) makes more sense. 😉 I will look into seeing if I can make this work on our side.  If it is structured

[2018-01-30 08:39] Mike-EEE commented on #161
OK @AQuentin2033 check it out:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue161Tests.cs

Please take a look over that and see if that is what you are expecting.  Please also verify that my passing of types to `GetObjectToSerialize` and `GetDeserializedObject` are as expected here:
https://github.com/wojtpl2/ExtendedXmlSerializer/

[2018-01-30 08:47] Mike-EEE commented on #160
Hmmm... alright that sucks.  My recommendation at this point is to create a .NET Standard 2.0 class library in your project, add the published ExtendedXmlSerializer nuget package there, and then reference this project to your target application project(s).  That *should* work for you in the interim while we get this squared away.  Hopefully sometime today. 😄

[2018-01-30 09:43] wojtpl2 commented on #160
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/src/ExtendedXmlSerializer/ExtendedXmlSerializer.csproj#L12

We should change it to:
<TargetFrameworks>netstandard2.0;net45</TargetFrameworks>
And use #if net45.
Of course if we want to support .net 4.5.

[2018-01-30 11:44] Mike-EEE commented on #160
Ahhhh bummer!  I was under the impression that .NET Standard 2.0 supports 4.0 and above... turns out it is 4.6.1 and above:

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

 😦  😦  😦

[2018-01-30 12:01] Mike-EEE commented on #160
Alright... This actually isn't too bad.  In fact it "just works" without having to use the dreaded `ifdef`'s.  The only thing it is complaining about is the new `ISerializationSurrogateProvider` support from #161.  Let me think about this a bit...

[2018-01-30 12:05] Mike-EEE commented on #160
OK I am apt to create a new csproj called `ExtendedXmlSerializer.Integration` and put the `ISerializationSurrogateProvider` in there, along with any future functionality/extensions that are not found in 4.5.  That sound good, @wojtpl2?  The only downside is that it would require another nuget package, correct?

[2018-01-30 12:18] Mike-EEE commented on #160
Alright I have checked in a potential fix for this problem.  Please get latest and let me know how it looks to you along with any thoughts/concerns/feedback.

[2018-01-30 12:23] Mike-EEE commented on #161
Just a heads up here @AQuentin2033... we had some problems with this issue to get .NET 4.5 support (#160) into our NuGets.  We've introduced a new project (`ExtendedXmlSerializer.Integration`) that contains the functionality here but it does not have a NuGet package just yet.  Once we have that added you'll be able to check this out.

[2018-01-30 13:58] AQuentin2033 commented on #160
I agree with @wojtpl2 I think multitageting is the right way to handle lower framework support.  Using 2 nuget packages is way uglier than a few #ifdef - sorry Mike

[2018-01-30 14:13] Mike-EEE commented on #160
Haha yeah?  I am in the minority here huh.  Not the first time. 😄  Keep in mind that you would not add a reference to both `ExtendedXmlSerializer` and `ExtendedXmlSerializer.Integration`, but simply `ExtendedXmlSerializer.Integration` (as it will auto-include `ExtendedXmlSerializer` for you).

Well I will say and admit that it seems a little overkill to step aside from one `#ifdef` (well actually

[2018-01-30 14:16] Mike-EEE commented on #161
Great!  Glad to hear that.  I am taking care of that curveball right now and should have a new build that takes care of this soon.

[2018-01-30 14:17] AQuentin2033 commented on #160
Actually in this particular case you could leave your code clean and create your own copy of ISerializationSurrogateProvider in the System.Runtime.Serialization namespace wrapped in an #56

... just a thought

[2018-01-30 15:01] Mike-EEE commented on #160
The problem is that we do want to use .NET Standard2.0... `ISerializationSurrogateProvider` works fine for `.netcoreapp2.0`, too... go figure.

The other problem I am encountering is now that we have a net45 build, our tests (in net471) are picking up the net45 and not the netstandard2.0 (which is 4.6.1 and above).

I tried doing this:

[code]

... but no dice.  Any guidance/suggestions here would

[2018-01-30 15:06] AQuentin2033 commented on #160
unit tests in VS only look at the first framework in the list - so the order should be
`<TargetFrameworks>netstandard2.0;net45</TargetFrameworks>`

[2018-01-30 15:23] AQuentin2033 commented on #160
Not sure I follow your first statement tho,
.netcoreapp2.0 and .net471 are both runtimes which support .netstandard 2.0.  So if the library includes a conditional compilation it will apply for any runtime which references it
what I was suggesting was to have in your library
[code]
This way if the library is complied with .netstandard2.0 it will not include it and use the one provided by the framew

[2018-01-30 15:42] Mike-EEE commented on #160
Right... I agree.  But what I am encountering is that if my `TargetFrameworks` in ExtendedXmlSerializer.csproj is such:

[code]

When ExtendedXmlSerializer.Tests.csproj resolves this, it chooses `net45` rather than `netstandard2.0`.  I have to configure `TargetFrameworks` in my ExtendedXmlSerializer.csproj as such to make this work:

[code]

[2018-01-30 16:08] Mike-EEE commented on #160
OK I have committed a new version with passing tests now in .NET4.5, .NET4.7.1, and .NET Core 2.0.  I am still perplexed about this issue I am experiencing and will create a new question on StackOverflow to see what's up.

@wojtpl2 we can deploy a new version to NuGet if you would like.  `2.0.2`?

[2018-01-30 16:31] Mike-EEE commented on #160
FWIW, StackOverflow opened here:
https://stackoverflow.com/questions/48526219/is-there-a-way-to-force-a-project-reference-to-net-standard-project-to-a-specif

Let's hope I don't get too many downvotes. 😉

[2018-01-31 07:57] Mike-EEE commented on #160
Woohoo!  We got an answer and I got a fix checked in, so now we only build .NET 4.5 and .NET Standard 2.0, and test (successfully) on .NET 4.5, .NET 4.7.1, and .NET Core 2.0. 😄

[2018-01-31 09:01] AQuentin2033 commented on #160
Nice! Can you make that a new nuget package? I would like to try and add it into at least 1 project this week if I can

[2018-01-31 09:17] Mike-EEE commented on #160
I am thinking we will release something to the main feed today.  You can of course use the preview feed here, which has the latest built for you already:
https://www.myget.org/F/wojtpl2/api/v3/index.json

[2018-02-01 06:50] Mike-EEE commented on #160
Hey @wojtpl2 would it be possible to publish a new nuget today?  If I understand correctly, I actually have the keys to do this, correct?  The steps are:

1. Update all versions in all csproj files
2. Create tag.
3. Push with tags

Let me know and I will give this a shot. :)

[2018-02-01 07:39] wojtpl2 commented on #160
You can see all thinks to change in commit: https://github.com/wojtpl2/ExtendedXmlSerializer/commit/300a0413584802879311e604dcb57e6b17948d50

You have to change in all csproj:
`<VersionPrefix>2.0.1</VersionPrefix>`
`<Version>2.0.1</Version>`

And
[code]
in ExtendedXmlSerializer.csproj
https://github.com/wojtpl2/ExtendedXmlSerializer/commit/300a0413584802879311e604dcb57e6b17948d50#diff-802233c775e8

[2018-02-01 09:28] Mike-EEE opened #162 "Release 2.1.13"
This issue serves as the destination for the version `2.1.x` launch, serving as a list of fixes and feature additions/adjustments.  Please feel free to add a comment for any discussion or to open a new issue in this repo if you have found an issue you would like for us to investigate.

New Features:
- Enable exception reporting for members #214
- Upgraded to .NET Core 2.1 #210
- Classic list suppo

[2018-02-01 10:11] Mike-EEE commented on #160
Woohoo!  Looks like it worked:
https://www.nuget.org/packages/ExtendedXmlSerializer/

Please let me know if there are any outstanding issues and if so, please bring them up in the thread here:
https://github.com/wojtpl2/ExtendedXmlSerializer/issues/162

Closing this issue as it has been resolved.

[2018-02-01 10:11] #160 closed

[2018-02-01 10:12] Mike-EEE commented on #161
Closing this issue as it has been deployed in 2.1.0:
https://github.com/wojtpl2/ExtendedXmlSerializer/issues/162

Please feel free to open an issue if you encounter any further problems.

[2018-02-01 10:12] #161 closed

[2018-02-01 10:12] wojtpl2 commented on #162
Great idea with this: https://github.com/wojtpl2/ExtendedXmlSerializer/commit/8eb6020f111847941ff1874986e9c24dc09ab5aa#diff-802233c775e8a749803978227a02cdb6R26

[2018-02-01 10:12] Mike-EEE commented on #154
Closing this issue as it has been deployed in 2.1.0: #162

Please feel free to open an issue if you encounter any further problems

[2018-02-01 10:12] #154 closed

[2018-02-01 10:13] Mike-EEE commented on #153
Closing this issue as it has been deployed in 2.1.0: #162

Please feel free to open an issue if you encounter any further problems

[2018-02-01 10:13] #153 closed

[2018-02-01 10:14] Mike-EEE commented on #148
Closing this issue as it has been deployed in 2.1.0: #162

Please feel free to open an issue if you encounter any further problems.

[2018-02-01 10:14] #148 closed

[2018-02-01 10:14] Mike-EEE commented on #145
Closing this issue as it has been deployed in 2.1.0: #162

Please feel free to open an issue if you encounter any further problems.

[2018-02-01 10:14] #145 closed

[2018-02-01 10:15] Mike-EEE commented on #159
Since there has been no contributions or expressed interest in this subject, I will be closing this issue for now.  Please feel free to add a comment if interested and we will explore it in more detail at that time.

[2018-02-01 10:15] #159 closed

[2018-02-01 10:16] Mike-EEE commented on #162
Hehe cool yeah?  Simplifies it and also makes it easier to contain any mistakes. :)

[2018-02-01 10:36] wojtpl2 commented on #162
I have a problem during installation of version 2.1.0:
[code]

Can you check it?

[2018-02-01 10:40] wojtpl2 commented on #162
We shouldn't use
`<PackageReference Include="Newtonsoft.Json" Version="11.0.1-beta1" />`
We should use the lowest possible version.. Currently users have to update theirs Newtonsoft.Json to newer version.

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/src/ExtendedXmlSerializer/ExtendedXmlSerializer.csproj#L52

[2018-02-01 10:46] Mike-EEE commented on #162
Boh!  I'll look into this right now.

[2018-02-01 10:57] Mike-EEE commented on #162
Alright I just pushed `2.1.1`.  Should be deployed to nuget soon.  Turns out we didn't even need that dependency after the move to .NET Standard 2.0.

[2018-02-01 13:03] wojtpl2 commented on #162
It works now. Thanks!

[2018-02-03 18:32] Mike-EEE opened #163 "Enable Thread Protection"
Found an issue with current serialization/deserialization.  Currently we do not have any thread protection (locking) when and object is serialized/deserialized.  This causes problems when the `RecursionAwareContents` is called as it maintains state when resolving a serializer.  The idea here is to create an extension that creates a decorated serializer that does a lock before calling the inner ser

[2018-02-03 19:30] Mike-EEE commented on #163
This is now addressed.

[2018-02-03 19:30] #163 closed

[2018-02-03 19:33] Mike-EEE opened #164 "Remove Dependencies on Selector"
Remove dependency on the `Selector` class and instead register dependent components via the decorator pattern.  This makes it easier to extend if needed.

[2018-02-05 10:37] wojtpl2 opened #165 "Build improvements"
1. Add props files to keep version in one place.
2. Make JetBrains.Annotations reference as private assert
3. Remove lagacy projects from build.sh1 script. These projects are no longer developed.

[2018-02-05 10:44] wojtpl2 commented on #165
Idea of props file is from corefx repo. eg: https://github.com/dotnet/corefx/blob/master/src/System.AppContext/dir.props

Now you can change version in https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/dir.props

There is article about props file: https://www.thomaslevesque.com/2017/09/18/common-msbuild-properties-and-items-with-directory-build-props/

Eg: Int this file you can add nuge

[2018-02-05 10:46] wojtpl2 commented on #165
JetBrains.Annotations now is marked like private asserts. There is information about it https://stackoverflow.com/questions/46401170/should-jetbrains-annotations-be-declared-as-a-private-asset-in-my-csproj-files?rq=1

[2018-02-05 10:47] #165 closed

[2018-02-05 11:31] Mike-EEE commented on #165
COOL!  I know that was a thorn in your side. 😄

[2018-02-05 12:01] Mike-EEE commented on #164
Primary concerns are addressed now.

[2018-02-05 12:01] #164 closed

[2018-02-05 12:04] Mike-EEE opened #166 "Simplify Formatting and Serialization Model"
- Update FormatWriter so that it does not have an `Instance` property (eliminates boxing)
- Introduce Generic-based serializers
- Improve how members and collections (composites) are composed and visited
- Improve and standardize how serializers are created and utilized.
- Eliminate boxing as much as possible, or entirely altogether (will help with performance).

[2018-02-08 14:27] SuperJMN opened #167 "Serialization Exception in UWP"
Hello! I'm here to create a new separated issue because it still fails:

As you may remember, I created the simple project for you to see it failing. I don't really know if it's completely related to EXS or with EXS + UWP or just UWP, but it's failing in the simplest scenario and it's driving me crazy. Could you, please, take a look? Thanks!

Clone this: https://github.com/SuperJMN/RtfIssue

## St

[2018-02-08 16:13] Mike-EEE commented on #167
Boo... that sucks as I did try this on your UWP app and it worked just fine.  I wonder what it could be.  I will look into this now.

[2018-02-08 17:32] Mike-EEE commented on #167
So, despite my copying the text from UWP I cannot reproduce this bug in tests, unfortunately.  I was able to reproduce it from the UWP application.  It does appear that `0x00` is a character that ends the file, which is why you see the text run out.  [In this answer](https://stackoverflow.com/a/8170810/3602057) the suggestion is to use base64 characters, which can be achieve by calling our `Encryp

[2018-02-08 19:50] Mike-EEE commented on #167
OK!  I have a new extension method for you, @SuperJMN ... try using `WithValidCharacters` after the `Verbatim` call.  This will apply an alteration on that member.  You can also use this on the container and it will apply it on every `string` it encounters.  This basically strips out all invalid characters leaving only valid XML characters in the string.

You can try the latest here:
https://www.m

[2018-02-08 22:54] SuperJMN commented on #167
WOW WOW WOW!!    WOOORRKS!! You're the man!
🥇

[2018-02-08 22:54] #167 closed

[2018-02-08 22:57] Mike-EEE commented on #167
Woohoo!  Glad something works.  Somewhere. 😄

[2018-02-09 10:54] pvlgk opened #168 "Serialization of empty string as nil"
Is it possible to serialize empty string as nil value. Let's take the object like this:

var myBook = new Book(){ Author = "John S.", ISBN = null };

I'd like to have:

`<Book>
  <Author>John S.</Author>
  <ISBN nil="true"/>
</Book>`

Is it possible to achieve such a result with ExtendedXmlSerializer?

Regards.

[2018-02-13 11:02] #168 closed

[2018-02-13 11:06] pvlgk opened #169 "Namespaces in nullable nodes"
Test code:

            var config = new ConfigurationContainer().EnableImplicitTyping(typeof(Book));
            config.Emit(EmitBehaviors.Always);
            var serializer = config.Create();
            Book book = new Book()
            {
                Author = "Jack London",
                Title = "The Call of the Wild",
                ISBN = null
            };

            var contents

[2018-02-13 14:02] Mike-EEE commented on #169
Cool @pvlgk thank you for sharing.  If I am not mistaken, that would make `nil` within the namespace of the default namespace, which is undefined in the document.  As I understand it, `http://www.w3.org/2001/XMLSchema-instance` must be declared as a namespace within the document element order so that its attributes can be recognized as such when being read in by a supporting serializer.  I would b

[2018-02-14 11:13] pvlgk commented on #169
Understood. Another question. Is it possible to control  which attribute is serialized and which is not?
In a standard solution, I achieve this with the help of propert  ShouldSerialize...
        public int? NoOfPages { get; set; }

        public bool ShouldSerializeNoOfPages
        {
            get
            {
                return NoOfPages.HasValue;
            }
        }

[2018-02-14 11:22] Mike-EEE commented on #169
You can make use of the `EmitWhen` call, which keeps your POCO plain by keeping attributes out of the picture. 😆

[code]

Should do the trick for you... let me know if you run into any problems @pvlgk!

[2018-02-21 18:09] hobohak opened #170 "Serializing a 3D-Array (Type double)"
Hello,

there seems to be an issue serializing 3D-array type double.

I set up a simplified example.
Console Application / Install Extension with Install-Package ExtendedXmlSerializer -Version 2.1.1

**Code Structure**
1. main
2. public class (target for serialization)
3. static helper class to handle se-/deserialization by file

**Logic:**
Create simple object > Initialize 1D,2D and 3D Array > Se

[2018-02-21 18:35] Mike-EEE commented on #170
Wow that is amazing that it made it that far. 😆 ... That is definitely one type that I don't think we've ever expected to support.  I will definitely look into this.  Do you know if it's supported by the classic XmlSerializer?  I wonder if Xaml would serialize this, too...

Looks like we're serializing OK, just not deserializing.

[2018-02-21 19:50] Mike-EEE commented on #170
Doesn't look like the classic serializer supports this... but is that a surprise? ;)

https://stackoverflow.com/questions/30798205/net-xmlserializer-and-multidimensional-arrays

[2018-02-21 19:51] hobohak commented on #170
Quick answer \o/

Yes it does -> No error thrown with those static functions
[code]

[2018-02-21 20:15] Mike-EEE commented on #170
Haha... oh wow.  That IS surprising.  Guess I misunderstood the StackOverflow question as it seemed it wasn't possible/supported.  I did just clear some time to check it out and yes indeed it works as advertised.  No hiding now. 😉  I will be looking into this.

[2018-02-21 20:17] hobohak commented on #170
Thank you :+1:

[2018-02-22 07:15] Mike-EEE commented on #170
Aha!  I figured out my disconnect.  What we are serializing above is actually a [jagged array](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/arrays/jagged-arrays), not a [multi-dimensional array](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/arrays/multidimensional-arrays).  Multi-dimensional arrays are not supported by XmlSerializer, while jagged arrays are.

[2018-02-22 10:44] Mike-EEE commented on #170
OK @hobohak ... got first draft support for jagged arrays for you.  You can try them out here:

https://www.myget.org/F/wojtpl2/api/v3/index.json

Multidimensional arrays do not work yet but I should have them by EOD.  We'll see how I do. ;)

[2018-02-22 17:16] hobohak commented on #170
Hey @Mike-EEE thanks for your efforts.

I have included the myget feed and installed ExtSer. from there (v2.1.2 (latest stable). More up to date options were not available. What am I doing wrong?

Have modified the code slightly for MultiArray to test but not possible b/c of that (at least I think :) )

**Adapted main**
[code]

**Person Multi**
[code]

[2018-02-22 17:37] Mike-EEE commented on #170
OK I just added support for multi-2D.  Only because there was [an example of how to do it](https://stackoverflow.com/a/1183019/3602057). 😉 There doesn't seem to be a lot of support out there around this scenario, as "multidimensional" ends up with 2D, and not 3D.  Of course, there are up to 32-D if necessary.  So I just kept it to 2D for now, and made it easy to add 3D (or more).

If you are inter

[2018-02-22 17:38] Mike-EEE commented on #170
Also, as for the feed, there is only one version that is available, the latest.  So what you installed was the latest.  If you do a refresh, you should see an update with the latest changes.

[2018-02-22 17:45] hobohak commented on #170
Ok, thank you. I'll check in spare time for the pr.

[2018-02-22 17:52] Mike-EEE commented on #170
Cool... lemme know if you run into any problems and I'll help you out. 👍

[2018-02-23 12:04] umutesen opened #171 "How to prevent capacity element from the rendered xml?"
The following element is added for all properties of type list, what's the point?

`<Capacity>4</Capacity>`

[2018-02-23 14:07] umutesen commented on #119
The link to example does not seem to show how to exclude the capacity from the rendered xml. Can you provide an example?

[2018-02-23 14:23] umutesen opened #172 "Serialize List of objects without Root Element?"
Consider the following classes:
[code]
The desired output is the following xml:
[code]
Serilizing an instance of a course object generates xml with Students as wrapper element. I tried adding `[XmlElement("Student")]` to the collection property but it did not work. It still generates a wrapping Students element.

The generated xml also has the following namespaces, even though I enabled implicit t

[2018-02-23 15:18] Mike-EEE commented on #171
Hey @umutesen thanks for asking this.  We actually have a pretty robust member selection system but unfortunately the configuration API doesn't work with it very well at present.  For v3 it should be a lot better.

To keep members from emitting their values, you basically have to [add a `MemberInfo` to a blacklist.](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/3ad1aa16835f3309300f72d05e73

[2018-02-23 15:19] Mike-EEE commented on #170
Hey @hobohak not to be fickle. :)  But I was thinking of this and it should be really easy to implement.  Hopefully you haven't started on this and I can have something for you soon.

[2018-02-23 15:25] Mike-EEE commented on #119
Hey @umutesen ... linking you to #171 in case anyone else is wondering. 😄

[2018-02-23 15:44] Mike-EEE commented on #172
Looks like we're 1 for 2 here, @umutesen.  [I have added an example](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/f86e707fe9020c9fcb8800e47c44e632a249de71/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue172Tests.cs) showing implicit typing working as expected.  My hunch is that you did not add the `List<Student>` which was adding all those attributes for you.

The other one is tricki

[2018-02-23 17:08] Mike-EEE commented on #170
Hey @hobohak check out the latest version now... It supports **ALL** 32-dimension arrays. 😄

[2018-02-23 19:16] hobohak commented on #170
Haha! :) No I wanted to shuffle on the weekend! But you were quicker :+1:

Think I found something else though. If I have a  an element like a view in an interface. If inherited classes have a more specific viewelement like a label with a concrete parser it seems to serialize correctly, but not reverse.

I will check, if I can reproduce in simple example and post as a different topic, all right?

[2018-02-23 19:36] hobohak commented on #170
Ok, I checkd the build from ur myget feed.
And it fails the following test Case:

using Microsoft.VisualStudio.TestTools.UnitTesting;
using UnitTestXML.Helper;
using static UnitTestXML.Helper.DeSerialize;
**Result**
- Jagged Passes
- Multi fails
---------------
ErrorMessage:
_Message: Test method UnitTestXML.ExtendenXMLTestLocal.MultiArray threw exception:
System.InvalidCastException: Das Objekt d

[2018-02-23 19:48] Mike-EEE commented on #170
Boh!  It's not emitting the mapping information in members.  I'll look into that now.

Yeah for sure if you find another issue post the data like you have here (in another issue would probably be best!) and we'll see if we can figure out. 😄

[2018-02-23 20:17] hobohak opened #173 "Serialization of generic object with double[] information fails."
Hi,
I found an issue and tried to simplifiy it.

Lets say you have a BaseClass storing a property as type object.
Then you have a class deriving from the baseclass which handles the object as a specific type like a string or double[].

The Serialization suceeds but the Deserialization result is different.

- string-> passes
- double[] fails.

_Message: Test method UnitTestXML.ExtendenXMLTestLocal.

[2018-02-23 20:56] Mike-EEE commented on #173
Ok cool... thanks for submitting this.  Checking this out now.

[2018-02-23 20:57] hobohak commented on #173
Okay it seems to not retrieve the ConstructorInfo correctly based on type:System.Double[].
Dunno if this helps though.
DefaultActivator.cs
[code]

[2018-02-23 20:57] Mike-EEE commented on #170
Alright @hobohak ... got a fix in for you.  Try it now. 🤞

[2018-02-23 21:17] Mike-EEE commented on #173
Indeed... the last commit fixed that problem, now there's another one. 😆 ... checking it out now.

[2018-02-23 21:19] Mike-EEE commented on #173
Doh... NM, that *is* the problem, lol.  This seems to be a bug prior to the array work.  Nice find. 🤓

[2018-02-23 21:25] hobohak commented on #173
(: I am sorry.

Oh btw.-> StandardXML couldn't even serialize  :grin:

[2018-02-23 21:39] Mike-EEE commented on #173
Hehe... you're helping the quality of the product.  Can hardly fault you for that.

And yeah... StandardXML can't serialize a lot.  Hence the reason for this project for the most part. 😉 I actually started out helping when XmlSerilalizer couldn't serialize interfaces, doh.  No problem with that now, however, hehe.

Alright, I found the issue.  It's a bit of a hack, but I'm rewriting the entire rea

[2018-02-24 19:49] hobohak commented on #173
Hey @Mike-EEE  I have forked and  tested the code.  The tests passes! You do a fantastic job. Even Newtonsoft json fails handling this.

:heart:

[2018-02-24 21:28] Mike-EEE commented on #173
Ahhhhh thank you for that @hobohak ... that really means a lot.  Glad we could work it out. 👍

[2018-02-26 09:34] umutesen commented on #172
Thank you for creating an example, however, the example seems to test against an output that has `<Students></Students>` wrapper element. I only require the individual students to be shown without a wrapping `<Students></Students>` element. Please refer to the desired output in my question.

I am looking forward to the v3 release! :)

[2018-02-26 09:34] #171 closed

[2018-02-26 09:49] Mike-EEE commented on #172
Indeed, what I meant by being 1 for 2, @umutesen.  Meaning we can accommodate for one of your requests at the moment (implicit typing) but not the other (default content). 😄

[2018-02-26 10:01] #172 closed

[2018-02-26 11:47] umutesen opened #174 "Serializer does not respect the XmlEnum attribute"
Suppose I have the following enum:

[code]

When I serialize an object with a property of the above enum, the selected value is not the `Name` property specified in the `XmlEnum` attribute.

e.g. for ServiceList, I expect the serializer to generate "Service List", but it generates ServiceList. Do I need to use another attribute?

[2018-02-26 13:08] Mike-EEE commented on #174
Ahh the conflict. You are actually increasing document size by utilizing this, but on the other hand we do strive to be as compatible with the classic serializer where possible -- for better or for worse. 😄  This was an easy fix and you can try it out here:

https://www.myget.org/F/wojtpl2/api/v3/index.json

Please let us know if you find any additional issues.  The easier to fix, the better. 😉

[2018-02-26 13:58] umutesen commented on #174
I am aware that the document size will increase, however, I will be submitting the XML to an external web service, which requires the enum values to match their schema...

Anyway, the project had reference to the `AspCore` package, changing that to the full package on MyGet solved the issue ☺️

Thank you for your help, it is much appreciated.

[2018-02-26 13:58] #174 closed

[2018-02-26 15:41] Mike-EEE commented on #174
OK with you... there is always XSLT as well.  More work but the "right" way of doing it.

Also, just to be sure here, are you saying this `AspCore` reference was in our nuget/sources or with your own project.  I want to make sure we're not mucking something up inadvertently.

[2018-02-26 16:12] umutesen commented on #174
The reference to `ExtendedXmlSerializer.AspCore` was in my project, obtained from `nuget.org` feed.

I uninstalled it from my project and installed `ExtendedXmlSerializer` package from `myget` feed.

Hope this helps.

[2018-02-26 17:23] Mike-EEE commented on #174
Ah, yes indeed... that is from v1.x. :)  Great, thanks for the info and glad we could get you setup up correctly. 👍

[2018-02-27 12:39] umutesen commented on #99
I am getting this error when deserializing an XML string with version 2.1.2:

`An attempt was made to load a type with the fully qualified name of 'http://namespace/file.xsd:myMessage', but no type could be located with that name.`

XML:

[code]
Class:

[code]

Call to the serializer:

`_xmlSerializer.Deserialize<MyMessage>(xml)
`

[2018-02-27 12:55] umutesen opened #175 "Xml Deserialization Error"
I am getting this error when deserializing an XML string with version 2.1.2:

An attempt was made to load a type with the fully qualified name of 'http://namespace/file.xsd:myMessage', but no type could be located with that name.

XML:

[code]
Class:

    // <remarks />
    [Serializable]
    [XmlType(AnonymousType = true, Namespace = "http://namespace/file.xsd")]
    [XmlRoot("myMessage", Namespa

[2018-02-27 14:02] Mike-EEE commented on #175
Ahhh that's a good point.  In v1.x we supported `XmlRootAttribute` but only in name, not the namespace.  This should be easy enough to fix.  Thank you for reporting it.  Would it be possible to get `MyElementType`'s definition just to be sure?

[2018-02-27 14:30] umutesen commented on #175
Thank you for your response. Here is `MyElementType` class:

    /// <remarks />
    [XmlType(Namespace = "http://namespace/file.xsd")]
    public class MyElementType
    {
        /// <remarks />
        [XmlAttribute("uniqueId")]
        public string UniqueId { get; set; }
    }

[2018-02-27 14:41] umutesen commented on #175
It would be quite helpful to indicate which `XML` attributes are supported in the documentation 😃

[2018-02-27 15:19] hobohak commented on #170
Sorry, have been sick fo a couple of days. Have tested the code with n-multidimensional array and it passes the tests. I am using code contributed bt Saeeduddin on so / see below to Loop through n-Array and fill up with values (slightly adapted). With this I was able to randomly to more testcases and they all pass.

**Code from Saeeduddin to fill multiArray**
[code]

**Adapted Initialization**
[co

[2018-02-27 15:58] Mike-EEE commented on #175
hah!  Well TBH our focus has been mostly on object graph serialization in the XML format, rather than being XML-standards compliant or sticking strictly to the specification.  We do certainly strive for sticking to the specification but we're aiming to breathe new life into XML while also supporting legacy scenarios within reason.  There are items such as #159 that no longer seem applicable.  Most

[2018-02-27 16:05] Mike-EEE commented on #175
Alright, got the list of attributes updated in our readme.  You can check them out at the repo root.
https://github.com/wojtpl2/ExtendedXmlSerializer

[2018-02-27 16:13] Mike-EEE commented on #170
Woohoo!  That's awesome.  TBH I am amazed it even works, haha.  Figured there must be a reason why it wasn't supported in the classic XmlSerializer.  I got to learn a little bit about arrays to boot. 😉

For version 3 I am thinking of enabling formatting support for arrays that have elements with a registered converter, so that it will emit them as one string instead of many elements.   for example

[2018-02-27 19:09] hobohak commented on #170
Shall I close the issue?

[2018-02-27 19:10] hobohak commented on #173
Shall I close this issue?

[2018-02-27 19:21] Mike-EEE commented on #170
Sure... I guess I am being a little sloppy with open issues.  Guess we can take care of that now. 😆

[2018-02-27 19:21] #170 closed

[2018-02-27 19:22] Mike-EEE commented on #173
Yes, let's!

[2018-02-27 19:22] #173 closed

[2018-02-27 20:50] umutesen commented on #175
Thank you for your prompt reply. I think you have been very successful in your aim to breathe new life into XML by supporting interface type serialization - you saved me a lot of hassle! 😄

Is the latest version available on the myget feed?

I tried cloning the repo and referencing a release build on my local machine but I am getting the following error in my project:

`The located assembly's mani

[2018-02-27 21:23] Mike-EEE commented on #175
Indeed, our CI/CD kicks in and the MyGet feed gets updated with each commit... for better or for worse. 😆

Hmm... strange... does it say which assembly it's having this issue?

[2018-02-27 21:24] Mike-EEE commented on #175
You could also try adding the .csproj to your SLN and see if that mitigates it as well.

[2018-02-27 23:48] umutesen commented on #175
Here is the stack trace from the exception I got when referencing the dll:

[code]

I added the .csproj file to the solution and it fixed the above issue but I would like to use the nuget package from myget feed. I did not see an update in the nuget package manager even though the published date was today. I removed the package and installed it again but I am still getting the original exception:

[2018-02-28 05:55] Mike-EEE commented on #175
OK cool.  The suggestion to add the csproj was to eliminate possible factors.  I am actually not too familiar with ASP.NET Core, but everything should "just work" without any issues.

Obviously there is a reference issue.  I hate these. 😉  I am assuming you have cleared all your caches/solution/bin/obj folders and have done a "Clean -> Rebuild"?

 @wojtpl2 might be able to provide additional sugge

[2018-02-28 09:57] umutesen commented on #175
I just created a new unit test project, got the latest version from MyGet and created the following test to isolate the issue,

[code]

Test result:

[code]

[2018-02-28 10:44] Mike-EEE commented on #175
Boh!  Yeah that's a minor detail isn't it. 😛 ... We're still emitting clr-namespaces.  Actually my "fix" didn't a darn thing except make sure it reads metadata haha.  I will look into this.  We'll have to use some sort of type registration mechanism but in the case where you specify the type explicitly during deserialization we'll hook into that and get the type(s) from there.

[2018-02-28 10:59] umutesen commented on #175
I should've supplied that test from the start, sorry about that 😄

I removed all namespaces and it still seems to throw the issue
[code]

`System.InvalidOperationException: An attempt was made to load a type with the fully qualified name of 'myMessage', but no type could be located with that name.`

Is this expected behavior?

[2018-02-28 12:36] Mike-EEE commented on #175
Actually you did provide the test earlier, I just didn't use it. 👼  ... but the problem here is identity resolution, obviously.  It might help to make use of the `Serialize` method to see how it is emitted, first.  CLR types are emitted with a Xaml-esque namespace attribute unless their assembly is registered as a root identity (e.g `sys` or `exs`).  So we do a good job (now) of accounting for nam

[2018-02-28 17:35] Mike-EEE commented on #175
OK @umutesen I think I finally have something for you... FOR REALZ THIS TIME.  😆  The only consideration now is that you have to include a call to `InspectingType<T>` where `T` is the root type of your model.  It will traverse the entire graph and collect all referenced types from the property types.  Additionally, if for some reason it doesn't catch the type you are looking for, there is a `Inspe

[2018-02-28 20:03] umutesen commented on #175
Hi, thank you for the update 👍 Just checked myget and the version number is still the same. I reinstalled it but I am not getting the `InspectingType<T>` option. Am I missing something?

[2018-03-06 13:51] wojtpl2 commented on #175
We can publish new version 2.1.2. @Mike-EEE What do you think? Can you provide me release node?

[2018-03-06 18:18] Mike-EEE commented on #175
For sure @wojtpl2 ... looks like d4d99cc633217f473a9e32e0fb7042892f6369f3 is the winner here. 👍

[2018-03-07 12:30] wojtpl2 commented on #175
I've just published version 2.1.2.

[2018-03-07 13:59] Mike-EEE commented on #175
Woohoo, great.  Thank you @wojtpl2!  I have updated #162 with all of the new issues/features as well.  Closing this issue for now.  Please feel free to comment if this issue persists in any way, or feel free to open a new issue altogether if you feel that is appropriate.

[2018-03-07 13:59] #175 closed

[2018-03-07 14:00] Mike-EEE commented on #169
Alright, sounds like we got this issue solved for you.  Please feel free to comment if you have any additional questions and we'll re-open it for you. 👍

[2018-03-07 14:00] #169 closed

[2018-03-13 13:49] wojtpl2 opened #176 "Serialize subclass as baseclass"
Serialize subclass as baseclass doesn't work.

[2018-03-13 13:53] wojtpl2 commented on #176
I've created Issue176.cs.

[2018-03-13 14:23] Mike-EEE commented on #176
OK cool... I'll check this out now. :)

[2018-03-13 16:10] Mike-EEE commented on #176
Hm... it says I closed it?  Please verify on your end and close it if it works for you. 👍

[2018-03-20 09:57] hobohak opened #177 "Question: Properly write to file, Deserialize from file."
Hello,

while using ExtendedXmlSerializer I run into outofmemory exceptions once in a while.
Currently I am using this the following function to serialize an object to file.:
[code]

I found out that the WriteToXmlFunction crashes from time to time, so I considered to write to a Streamwriter.  Looking up the Extension-Class I checked the possible Serialize-Methods:
[code]

So I started to try it b

[2018-03-20 10:28] Mike-EEE commented on #177
Yeah it's a little trickier if you do it manually, @hobohak. 😄  Since it's a stream you will have to ensure it's flushed before it's disposed.  Try this out and see how it works for you:

[code]

Let me know if you run into any further issues in using this.

[2018-03-20 11:28] hobohak commented on #177
Hi @Mike-EEE,

Thanks. I honestly did not know that the Flush() is important here. Should't this be the task of the using statement?

Anyways, I executed all unittests (in my project) for serialization and your adaption works.
I will do some performance tests to check if I get rid of the memory overflow but this is on another plate :plate_with_cutlery: :smile:

For completeness, the full code of t

[2018-03-20 12:35] Mike-EEE commented on #177
Cool!  Yes I have said before that streams have not been a strongpoint of mine.  I am not sure why this is not handled in the dispose either, so I share your confusion. 😉

Please let us know if you think EXS is responsible for that overflow.  That would really suck! LOL.  But if you find a good stacktrace or something, please let us know.  Closing this issue for now.  Thanks again!

[2018-03-20 12:35] #177 closed

[2018-03-20 18:06] wojtpl2 commented on #176
Is still does not work.

[2018-03-20 18:10] wojtpl2 commented on #176
In this case ShouldBeEquivalentTo does not work at all. They have the same problem. I'm going to create issue in their repo.

[2018-03-20 18:37] Mike-EEE commented on #176
Ah ok... I'll check it out.  Please note that I upgraded to latest FluentAssertions in v3 branch.  There are breaking changes around `ShouldBeEquivalentTo`.

[2018-03-20 20:03] wojtpl2 commented on #176
I've created issues in FluentAssertions repo:
https://github.com/fluentassertions/fluentassertions/issues/807

In our case, we should always use `RespectingRuntimeTypes` options.:
[code]

[2018-03-21 10:56] Mike-EEE commented on #176
AH... yes, that is a goooooood point.  I will try to get to this today.  If not, tomorrow. 😄

[2018-03-22 11:29] Mike-EEE commented on #176
WOW... what a rough adventure.  Fortunately in v3 I have already laid down the groundwork to entirely re-write this entire structure and it's sooooooo much better.  In any case I am making due with what we have here in v2 and I think it's all working as expected now.  Tests are passing, etc.  But please of course feel free to add more tests if it's not working as expected with another scenario. 👍

[2018-03-22 11:32] Mike-EEE commented on #176
Hmmm looks like we have a build error @wojtpl2:

[code]

[2018-04-10 11:39] madben2000 opened #178 "Migration error or misunderstanding"
Having following nested class structure serialized:
public class MainClass
{
public SubClass Foo {get;set;}
}

public class SubClass
{
public SubSubClass Bar {get;set;}
}

public class SubSubClass
{
public string Type {get;set;}
}

Now SubSubClass is changed (Type -> Name), SubSubClassMigration added.
Trying to deserialize with:
var serializer = new ConfigurationContainer().ConfigureType<SubSubCla

[2018-04-10 12:18] Mike-EEE commented on #178
Hi @madben2000 thanks for writing in.  The migration story/functionality is something that was pulled in from v1, and we didn't really get to put much effort into it for v2.  I am not that familiar with it, but if you provide the code for the migration I could take a look into it when I get a chance.  Also, @wojtpl2 might be able to answer your question as he was the one that wrote the v1 version

[2018-04-10 12:26] wojtpl2 commented on #178
Hi @madben2000 It should work. Please provide the code or whole example as pull request with failing test.

There is working example:
https://github.com/wojtpl2/ExtendedXmlSerializer/tree/master/samples/ExtendedXmlSerializer.Samples/MigrationMap

[2018-04-11 06:10] madben2000 commented on #178
@wojtpl2 , @Mike-EEE please see https://github.com/madben2000/ExtendedXmlSerializer Issue178Tests.cs

[2018-04-12 10:04] Mike-EEE commented on #178
Do you see anything obvious here, @wojtpl2 ?

[2018-04-16 12:01] madben2000 commented on #178
@wojtpl2, @Mike-EEE Did my example help you? Any ideas/solutions?

[2018-04-16 13:35] Mike-EEE commented on #178
Ah yeah I was going to take a look into it after I heard back from @wojtpl2 (or didn't hear back, as the case may be 😆), @madben2000.  Since this is a v1 extension I am not too familiar with it.  I basically made sure that it worked and the tests passed for the migration over to v2.

If we don't hear anything end of day then I shall start probing around for you.  In the meantime, have you consider

[2018-04-16 20:36] wojtpl2 commented on #178
I don`t have time this week. Maybe in next. I`ve seen the code and this
example should work. We have some bug in our code. This migration need to
be used in list and maybe it is the problem? Mike can you check?

On Mon, Apr 16, 2018, 15:38 Mike-EEE <notifications@github.com> wrote:

[2018-04-17 05:13] madben2000 commented on #178
@wojtpl2 If you give me a hint what you mean with

then I could also try to debug it further

[2018-04-17 06:29] Mike-EEE commented on #178
OK Mr. @madben2000 I super appreciate your persistence/patience and apologize for the delay.  I just checked in a fix you should now be able to run those tests and maybe find the next problem 😆.  There were two issues, one of which was how we were creating subtrees from the migration, and then another from how migrations coordinated with references.  Good find on both!  Please get the latest from

[2018-04-17 06:34] Mike-EEE commented on #176
Looks like tests are passing now.  Closing this issue accordingly.  Please reopen/create a new issue if something is still not working as expected.

[2018-04-17 06:34] #176 closed

[2018-04-17 06:35] Mike-EEE commented on #100
Going to close this issue as it will be handled better by v3.  Or should be. 😄

[2018-04-17 06:35] #100 closed

[2018-04-17 10:06] wojtpl2 commented on #178
@Mike-EEE Big thanks!
Was my response helpful?

[2018-04-17 13:19] Mike-EEE commented on #178
Woohoo!  Glad to hear @madben2000.  😄

@wojtpl2 indeed your point set me in the right direction.  We were supporting single elements but not entire trees... but we do now. 🤓

Going to close this issue now.  If you have any additional unexpected behavior please feel free to open an issue here and we'll take a look at it.

[2018-04-17 13:19] #178 closed

[2018-04-23 13:15] SuperJMN commented on #167
Hey @Mike-EEE! It seems that these changes haven't made to the NuGet package yet. I've installed the package from both NuGet.org and this feed (https://www.myget.org/F/wojtpl2/api/v3/index.json), and the GetValidCharacters method is missing:

![image](https://user-images.githubusercontent.com/3109851/39128843-28cb22d2-4709-11e8-940e-791b08405beb.png)

[2018-04-23 13:30] wojtpl2 commented on #167
I've released version 2.1.3 on Myget.
https://www.myget.org/feed/wojtpl2/package/nuget/ExtendedXmlSerializer/2.1.3
Can you check now?

[2018-04-23 13:41] SuperJMN commented on #167
Working now! Thank you @wojtpl2 !

[2018-04-23 14:56] Mike-EEE commented on #167
I have noticed that there is a caching issue with versions.  You may have to clear out your `.nuget/packages` folder (or just the EXS directories) and try it that way.  I think it's because of the way our preview feed has a version, and then with how the version that is downloaded from the official nuget feed.  We might look into decorating our preview feed with `-preview` or some such nomenclatur

[2018-04-27 07:14] wojtpl2 commented on #178
This issue was released in version 2.1.3. Release notes: #162

[2018-04-27 07:15] wojtpl2 commented on #176
This issue was released in version 2.1.3. Release notes: #162

[2018-05-05 06:11] mjalil opened #180 "Custom Serialization for a property but not the class of the property"
Hello Devs,
    I need a way to customize serialization of a property in a class but not customize serialization of property class everywhere.
like this:

    public class Foo
    {
        public Bar Bar1{get; set;} // <= just need to customize serialization of this
        public Bar Bar2{get; set;} // <= this should not be custom serialized
    }
another issue is i don't know how to extend Exte

[2018-05-05 11:48] Mike-EEE commented on #180
Hey @mjalil thanks for checking out our repo here.  When you say customize the serialization, what are you looking to achieve exactly? Modify the input/output?

Extending the serializer for v2 is a little undocumented at this point, although there are a myriad examples in the code base, of course. For v3 we'll be a little more open about it, but you should be able to do anything you would like wit

[2018-05-07 07:17] mjalil commented on #180
Hi @Mike-EEE ,
Sorry for late response. I can not comment from my pc, it is a security limitation in our company( 😣).
I dived into the code and found out how should I write an expression for it, just when you were writing the above guide.I checked that example with my code and was same.

Thanks

[2018-05-07 07:17] #180 closed

[2018-05-07 07:30] mjalil opened #181 "Exception on deserialization of IDictionary"
Hi there,
I wrote a unit test against version 2.1.3 that show the exception:
[code]

the result `test.xml` is as below :
[code]
the serializer can not deserialize `Map` property

[2018-05-07 09:04] Mike-EEE commented on #181
Wow that is strange @mjalil thanks for that.  It seems we have an issue with using `XmlReader`s directly.  If you create an `XmlReader` using our `XmlReaderFactory` it works OK.  I have created an example for you here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue181Tests.cs

That should get you unblocked for now.  I'll see if I

[2018-05-07 09:41] mjalil commented on #181
thanks @Mike-EEE
XmlReaderFactory worked. I stepped into debug and see a  XmlNameSpaceManager that could not resolve `sys` namespace to its uri. in XmlReaderFactory a NameTable is created that I don't create when I use `XmlReader.Create`. this may help to find out the root cause

[2018-05-07 15:27] Mike-EEE commented on #181
Alright, awesome.  Thank you for pointing out this issue @mjalil.  It's kind of embarrassing, TBH. 😄 All of our testing has been geared towards `XmlReader`s that have been created via the `XmlReaderFactory` but we never tested the VERY OBVIOUS SCENARIO of creating them as traditionally done via the `XmlReader.Create`.  Luckily all the components used to do this were internal and this has been addr

[2018-05-08 07:38] wojtpl2 commented on #181
We should create documentation for extension methods. Our documentation is really poor :wink:

[2018-05-08 12:35] chucker opened #182 "Dynamically ignore members"
I'm trying to only emit certain properties as elements in certain situations. For example:

[code]

With classic `XmlSerializer`, I can accomplish this with the commented-out `ShouldSerialize*` members. This doesn't appear to be supported by `ExtendedXmlSerializer`. Instead, [this comment](https://github.com/wojtpl2/ExtendedXmlSerializer/issues/169#issuecomment-365573872) suggests using `EmitWhen`

[2018-05-08 13:35] Mike-EEE commented on #182
Boh... thanks for pointing this out @chucker.  It's sort of funny that I absolutely hate the `ShouldSerialize`* magic string/definition conventions but I never put in a suitable replacement. 😆  It's technically an enhancement but really it's a bug.  I will try to have something for you by EOD today to remedy this.

[2018-05-09 10:16] chucker commented on #182
Hey,

are you sure you published it? I added the feed and only see v2.1.3, even with 'Include prerelease' enabled and Package source set to your feed.

As for the German (yup, it's German), I apologize for not translating. It's basically an enum of different date/time representations: when set to "Tag", it refers to a specific day; when set to "Monat", it refers to a month (i.e. a range of ~30 day

[2018-05-11 15:39] mjalil opened #183 "How to develop an extention that : makes implicit all namespaces and emit type attribute only for interface properties"
In early versions of the project there was a `type` attribute that preserve the concrete type of an interface property. I need such that attribute. Also I don't care about xml namespaces. Indeed I prefer to have no namespaces at all

[2018-05-11 15:43] Mike-EEE commented on #183
Hi @mjalil we have indeed moved the v1 `type` to `exs:type` in v2. It is used for properties that are interfaces as you are describing.

Are you having trouble serializing an object by chance?  We should be able to serialize anything you have, so if you have something that is having trouble please share it if you can and I will do my best to help you with it.

[2018-05-11 16:26] mjalil commented on #183
Hey @Mike-EEE,
No trouble in serialization.
I know and saw the `exs:type`attribute. but I need to rename it to something else like `x-type` and embed the namespaces and assembly in it instead of a namespace. Indeed I need to have an assembly qualified type name in the `x-type`. Let me describe my needs with a sample xml.
[code]
Notice that there is no namespaces at all. Just in `x-type` attribute

[2018-05-11 17:59] Mike-EEE commented on #183
Alright, well I am not sure we will be able to help you with `x-type` with our current version. You could conceivably take our output and run it through XSLT to get what you are looking for.

I just checked in a sample for you seen here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue183Tests.cs

It produces results somewhat close

[2018-05-14 11:30] chucker commented on #182
Sorry, hadn't gotten a chance to test it. It works as expected.

Regarding the package, I had to remove it from the local package cache _and_ make sure the custom feed was listed _before_ nuget.org (makes sense, but someone else may overlook this part). Is there a reason you aren't simply giving the package its own pre-release version, like `2.1.4-issue182`? That would fix the caching/precedence i

[2018-05-14 12:51] Mike-EEE opened #184 "Improve Preview Feed Experience"
Per https://github.com/wojtpl2/ExtendedXmlSerializer/issues/182#issuecomment-388785324 it would be useful to append packages with a suffix or some identifier that differentiates it from existing versions so that new downloads and subsequent installs are successful.

[2018-05-14 12:53] Mike-EEE commented on #182
Sweet!  Glad to hear that works.  As for our release experience.  It has popped up a few times, but [now we have an issue to track it](https://github.com/wojtpl2/ExtendedXmlSerializer/issues/184). 😄

Please let us know if there are any further issues and we will take a look into it.  Thanks again for bringing this to our attention!  Closing for now.

[2018-05-14 12:53] #182 closed

[2018-05-14 12:54] Mike-EEE opened #185 "Improve/Add Documentation Around Serialize/Deserialize Extensions Methods"
As per https://github.com/wojtpl2/ExtendedXmlSerializer/issues/181#issuecomment-387313484 these methods could use a little <3.  I'll go through and get these fleshed out a bit.

[2018-05-26 16:11] Mike-EEE commented on #185
Alright, I have added examples for classical serialization/deserialization, and for the `XmlWriterSettings`/`XmlReaderSettings` overrides for these as well.  That should cover this.  If there are any other methods that need more context please let me know and I will take a look at them. 👍

[2018-05-26 16:11] #185 closed

[2018-05-26 16:12] Mike-EEE commented on #183
I will be closing this issue for now.  Please let me know if you have any additional questions/discussion around this and I will be happy to re-open it for you.

[2018-05-26 16:12] #183 closed

[2018-05-26 16:13] Mike-EEE commented on #181
Alright, I believe this issue has been resolved.  If not, please let me know if you have any concerns/questions and we will take it from there. 👍

[2018-05-26 16:13] #181 closed

[2018-05-26 16:15] Mike-EEE commented on #166
Closing this for now as this has been moved to [Super.NET](https://github.com/SuperDotNet/Super.NET) and this project will be using the serializer from there once completed.

[2018-05-26 16:15] #166 closed

[2018-05-26 16:18] Mike-EEE commented on #137
I believe this has been completed and will be closing this for now.  Please let me know if I have misunderstood!

[2018-05-26 16:18] #137 closed

[2018-05-26 16:18] Mike-EEE commented on #139
I believe everything is updated in regards to this issue.  Please let me know if that is not the case and we will reopen. 👍

[2018-05-26 16:18] #139 closed

[2018-05-26 16:19] Mike-EEE commented on #138
This is complete as far as I understand... please feel free to re-open if this is not the case.

[2018-05-26 16:19] #138 closed

[2018-06-01 20:43] dbeattie71 opened #186 "Question"
Is it possible to implement a solution similar to: [155](https://github.com/wojtpl2/ExtendedXmlSerializer/issues/155#issuecomment-360807673) without using XmlElementAttribute?  I know 155 has the choice attribute but in my case I haven't been using that.  I've just decorated the property with XmlElementAttribute and the possible types the property can be.

I've looked at Issue 180 also trying to u

[2018-06-02 10:19] Mike-EEE commented on #186
Hi @dbeattie71 thanks for writing in and asking about this.

I am trying to better understand what you are facing here.  Are you concerned about the extra namespace attribute(s) -- `exs` in this case?

Also, it would be valuable to know if you have encountered a scenario where the default serialization did not work and/or what you do not like about the current serialization result.  That is, if it

[2018-06-02 13:17] Mike-EEE commented on #186
So I want to walk you through your serialization, @dbeattie71 as I am interested in this topic as of late.

As above, you have this as (with the quotes corrected for XML syntax compliance):

[code]

The first thing to note is that there is no `SubjectRequest.SomeInterface` property.  So you would need to specify it as such:

[code]

Conceivably, we could now use the implicit types to serialize the

[2018-06-02 15:34] dbeattie71 commented on #186
The `exs` isn't a big deal as I have some code that removes namespaces.  Adapted from [https://github.com/BizTalkComponents/ManageMessageNamespace](url).  The docs for the request I'm building are here [http://www.byallaccounts.net/manuals/dataconnect/dataconnect_v4_ultra_user_guide.pdf](url).  For some reason if the request is sent with any namespace info, it gets rejected.  Possibly because they

[2018-06-02 16:45] Mike-EEE commented on #186
Ah OK cool thank you for those links and for the pointer to ChoETL.  I'll check it out. 😄

I think I see now what you're driving at.  I have checked in an example here:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue186Tests.cs

You could possibly simply set the name.  However, that is a static name and there isn't at present a way

[2018-06-02 17:36] dbeattie71 commented on #186
Thanks, that makes sense.  I didn't think about xslt, that may be more flexible.  I've also seen people set an ignored property to what they want the element name to be and then use `XmlAttirubteOverrides` to set the ElementName to the property.  I might play with that and extensions and see what I can come up with.

[2018-06-02 18:41] Mike-EEE commented on #186
Yeah for sure.  Sorry I can't be much more help ATM.  The v2 codebase is pretty much set in stone until v3 unless it's a pretty obvious feature that can be handled by an extension.  In this case we're sort of tied up because of the attributes and namespacing.  Please do let us know what you find.  FWIW we do not make use `XmlAttributeOverrides` in our current implementation but _most_ attributes d

[2018-06-02 19:43] dbeattie71 commented on #186
No problem, thanks.  I enjoy looking through the code and figuring out how things work.

[2018-06-19 22:21] rbigbie commented on #175
I must be doing something wrong, because I am not sure what I need to do to consume the fix as stated above. I receive the same message "An attempt was made to load a type with the fully qualified name of 'Foo', but no type could be located with that name." I read through this thread, but in this thread it is not explained on how to use `InspectingType<T>().` And I do not see it in the documentati

[2018-06-20 04:56] Mike-EEE commented on #175
Hi @rbigbie thanks for checking in and sorry about the documentation.  Unfortunately this issue is what we have right now, and the documentation "lives" in the unit test which you can find here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue175Tests.cs

(Basically when a new issue is reported, it gets its own testing class with w

[2018-06-28 09:17] eluchsinger opened #187 "AspNetCore Output Formatter"
How can I use the version 2 of this serializer with Asp.Net Core (2.1)?

With the normal serializer, I would add an `OutputFormatter` and everything works out of the box. There is an ASP.Net Core NuGet package, but I don't know if it's deprecated?

Is there any documentation about how to add your serializer as an `OutputFormatter`?

[2018-06-28 11:24] eluchsinger opened #188 "UseOptimizedNamespaces never finishes"
When I try using the `UseOptimizedNamespaces()` extension method, the serialization of the objects never finishes.

This is how I do the serialization inside a custom `OutputFormatter`:

[code]

Am I doing something wrong or is this a known problem? I could not find an issue that describes this problem.

[2018-06-28 11:28] eluchsinger commented on #187
I created an own `OutputFormatter` that I can register in the `Startup.cs` file:

[code]

And in the `Startup.cs` under `ConfigureServices`:

[code]

[2018-06-28 11:28] #187 closed

[2018-06-28 14:52] Mike-EEE commented on #187
Cool.  Thank you @eluchsinger for sharing!  Glad you were able to figure it out. :)  I think this was a v1 concern where we had different additional assemblies for different environments and scenarios.  For v2 we removed these to simplify our release.  Well, simplified it for _us_ at least. 😆

[2018-06-28 14:54] Mike-EEE commented on #188
Weird.  Is this with a particular object or all objects?  Also, are you able to serialize this object(s) in a unit test, by chance?

[2018-06-28 18:17] eluchsinger commented on #188
I do not have a Unit Test. Maybe I can tell you more next week.

[2018-07-07 10:05] eluchsinger commented on #188
I have not been able to reproduce the bug with a unit test using this repo. It must have to do something with the code around the serialization. I will open a new issue, if I can narrow down the bug.

[2018-07-07 10:05] #188 closed

[2018-07-07 11:42] Mike-EEE commented on #188
ok cool... let us know if you find anything else and we'll look into it for you, @eluchsinger. 👍

[2018-07-10 07:32] eluchsinger commented on #188
@Mike-EEE To be honest, I think it's a performance bug or something. My memory usage grows by 3 when I use that method and then the garbage collector starts running pretty often. Maybe it falls into an endless loop or something?
I don't have time to do any further tests here or narrow down where the problem lies, because I would have to reproduce the data structure. Just saying this so it's noted

[2018-07-18 15:08] fdrobidoux opened #189 "Document ConfigurationContainer, Type, and Member Extension Methods"
I'm really enjoying this library, and I've been using it with not too much effort in my current Windows Forms app I'm making for my self-teachings in VB.NET.

However, it took me a while to realize how this whole thing works; I thought I could just create a `ConfigurationContainer`, include the reference to a static function in each of my models with references to their super-class's static functi

[2018-07-20 15:12] fdrobidoux commented on #189
Thanks for the quick reply!

I understand your situation, and I can see why you'd want to focus on v3 rather than work on documentation for v2. No pressure, man.

I'll be monitoring the advancements of the project, and I'll keep on using v2 as best I can in the meantime.

Have a good one!

[2018-08-02 15:00] ddrdoubled opened #190 "Circular Reference Detection does not respect XmlIgnoreAttribute"
Seems when detecting Circular References [XmlgnoreAttribute] is not respected.

[2018-08-02 15:26] Mike-EEE commented on #190
Boh... got a nifty test to show this off?  Are you saying that a field with `XmlgnoreAttribute` applied to it is still getting emitted?

[2018-08-02 15:40] ddrdoubled commented on #190
Hi sorry, it is actually a different issue, please try to serialize TestClass, it seems reference equality within same level throwns Circular Reference Exception:
public class TestClass
{
		public TestClass()
		{
			Id = 1;
            var test = new TestClass2();
            Test1 = test;
            Test2 = test;
		}

		public int Id { get; set; }

        public TestClass2 Test1 { get; set; }

[2018-08-02 15:44] Mike-EEE commented on #190
Ah, correct.  You will need to [enable references](https://github.com/wojtpl2/ExtendedXmlSerializer#object-reference-and-circular-reference) if they exist in your object graph. :)

[2018-08-02 15:54] ddrdoubled commented on #190
ok, but that means i have to add a lot of configuration to my serialization. XmlSerializer works pretty smoothly with this, is it difficult to change default behaviour?

[2018-08-02 16:24] Mike-EEE commented on #190
Ah sorry for the confusion @ddrdoubled ... not much configuration is necessary if you are simply wanting to enable references.  [Here is a file](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/7aba7571c10b998b51e8bf879fa632746e6abb82/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue190Tests.cs) that shows you what is necessary, using your objects provided above.

Please let me know if yo

[2018-08-03 06:51] ddrdoubled commented on #190
Test case still throws Exception, this time "null reference exception no constructor" for Class2. Did your test file run through?

[2018-08-03 09:39] Mike-EEE commented on #190
Oh, are you saying the tests that I provided are throwing an error?  They [passed on my machine](https://desu-usergeneratedcontent.xyz/g/image/1328/50/1328508781464.png) and [through CI](https://ci.appveyor.com/project/wojtpl2/extendedxmlserializer/build/258/tests), so they *seem* to work. 😂

If you are using another test with instructions that differ from the ones provided, please feel free to sh

[2018-08-03 10:27] ddrdoubled commented on #190
That's strange, sorry to bother you: i am using this test:
var dataContract = new TestClass();
var xmlSerializer = new ConfigurationContainer().EnableReferences().Create();
var fileName = Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments) + "//Test.xml";
FileStream file = File.Create(fileName);
xmlSerializer.Serialize(file, swapTradeDataContract);
file.Close();

TestClass and TestCla

[2018-08-03 10:54] ddrdoubled commented on #190
It is the EnableReferences() which throws already the exception

[2018-08-03 10:55] ddrdoubled commented on #190
Entry Point is here:
public static IRootContext EnableReferences(this IRootContext @this)
		{
			@this.EnableRootInstances().With<ReferencesExtension>();
			return @this;
		}

[2018-08-03 10:58] ddrdoubled commented on #190
Null Reference Exception is thrown here ( constructor is null) in class DefaultActivators

NewExpression Reference(Type parameter, TypeInfo typeInfo)
		{
			var constructor = _locator.Get(typeInfo);
			var parameters = constructor.GetParameters();
			var result = parameters.Length > 0
				? Expression.New(constructor, parameters.Select(Selector))
				: Expression.New(parameter);
			return result;

[2018-08-03 12:31] Mike-EEE commented on #190
Are you saying the exception is being thrown at `EnableReferences`?  From eyeballing it, you are serializing `swapTradeDataContract` which is not defined in the presented code, not that I can see.  What happens when you change that to `dataContact` instance?

It might be best to provide a PR with the failing test and I can take a look at it from there. 👍

[2018-08-03 15:10] ddrdoubled commented on #190
yes the exception is already thrown by EnableReferences(). Sorry for the swapTradeDataContract i have corrected it.

[2018-08-03 15:35] justeff opened #191 "Namespace / XmlType"
Found this XML Serializer by accident :)
I'm a bit playing with it and struggled with some different behaviours regarding to XmlSerilaizer.

[code]
1) If I don't use an explicit name for XmlType, I would expect the class name _Test_ and not _Program-Test_. Is this a desired behaviour?

2) How can I change the default namespace?. I would expect _xmlns="http://test.org/schema/test"_ but get _xmlns="

[2018-08-03 16:25] Mike-EEE commented on #190
Well, that is interesting.  Are you able to run the tests from the repo here alright?  If you can submit a PR with the failing test I will take a look into it.

[2018-08-03 16:46] Mike-EEE commented on #191
Hey @justeff welcome aboard. :)  We actually do enable both of your requests.  The tricky part about nested classes is that of course you need to have some way of resolving its name.  However, if you specify the `XmlTypeAttribute.TypeName` property we will honor that and the `Namespace` if you make use of the `InspectType` extension method.

I just now [made an example here](https://github.com/woj

[2018-08-03 17:38] justeff commented on #191
Awesome :) TypeName was also an easy & obvious solution for me. Just noticed the difference behaviour to the MS solution, but _InspectingType_ .... haven't read anything about it in the Docs haha. Thank you very much :)

[2018-08-03 20:28] Mike-EEE commented on #191
Yeah, our documentation is a bit of [a sore topic right now](https://github.com/wojtpl2/ExtendedXmlSerializer/issues/189).  I've done a sweep of it but it really deserves its own story.  I've dedicated myself to answering questions like this manually until then.  With any luck it will spur me to write a few more lines of words in there. 😉

In any case, if you have any other questions/issues, pleas

[2018-08-03 20:28] #191 closed

[2018-08-06 09:57] justeff opened #192 "AnonymousType"
It seems like that XmlTyp(AnonymousType = true) is not supported.

[code]

I want to prevent <B><ElementB>TextB</ElementB></B> and just get <ElementB>TextB</ElementB> inside ClassA. Is there another way to achieve this? I have to say, I don't like the standard Xml Serializer solution, because if I need a class C which should have Class B fully inside and not just his members, then I have to create

[2018-08-06 12:34] Mike-EEE commented on #192
Ah... well, unfortunately, we do not offer anything out of the box.

Now, if there is only one property you need this for per class, then you could create an extension that could make a content property ala Xaml's [`ContentPropertyAttribute`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.markup.contentpropertyattribute).

This is of course something that I have been meaning to do becaus

[2018-08-06 14:13] justeff commented on #192
Well, you do not need to apologize :), I thought about making my own Xml Serializer after I created my own XSD code generator, but I guess it would be better to help you with your framework. I only have 2 rare cases where I would need this option. In the UML model, I have an aggregation and in the XSD file it's just a group reference and I thought it would be nice to hide the XSD definition from t

[2018-08-06 15:14] justeff commented on #192
Another question, are XML types supported like:

[code]

[2018-08-06 15:28] Mike-EEE commented on #192
Ah cool... sure if you manage to build an extension we will gladly accept and review any PRs you have. :)  Do note that v2 (current version) is pretty much in release mode.  We do have a v3 planned but it's pretty much a rewrite.

As for XML types... we do have our own system and derive it from CLR types, or the types defined in the member, if that makes sense.

[2018-08-06 16:13] justeff commented on #192
Do you have an example for the XML types?

Because  _[XmlText(DataType = "dateTime")] public DateTime Value { get; set; } = DateTime.Now;_ and         _[XmlText(DataType = "date")] public DateTime Value { get; set; } = DateTime.Now;_ is not working for me. I would expect different output streams.

[2018-08-06 16:31] Mike-EEE commented on #192
Ah, so what I was saying is that we have our own type system in this regard.  We always emit by default the value of a `DateTime` instance based on its registered converter, which is the result of `XmlConvert.ToDateTime`.  You can see this [here](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/src/ExtendedXmlSerializer/ContentModel/Conversion/DateTimeConverter.cs).

So, by default, al

[2018-08-07 23:56] justeff commented on #192
What's about [XmlText]? Seems like I have to stick with the standard XmlSerializer? :(

[2018-08-08 06:32] Mike-EEE commented on #192
I guess I am not too familiar with `XmlText`.  Are you looking to format your `DateTime` in a specific way?  This can be done with extensions but there is nothing built yet for it, I'm afraid.

[2018-08-08 06:48] Mike-EEE commented on #192
Ah alright... so it seems that this is indeed a mechanism to pull in content from an element and assign it to a property on a class.  Much like `ContentPropertyAttribute` as denoted earlier.  I am assuming the `dateTime` formats from the `DataType` property are used to properly read it in.

So what this is IMO is a ContentProperty, which could be read in via metadata (classic `XmlTextAttribute`) o

[2018-08-08 09:02] justeff commented on #192
Yeah, a content property and no it's not DateTime, most of the time it's just a string oder List<string>. I have over 300 generated classes and about 70 of them use this kind of property. So using is no soultion for me and XmlText or XmlTextAttribute is not working, The property is treated like a regular element property ... hmm. YAX can handle this, but it has problems with collections of base cl

[2018-08-08 09:40] Mike-EEE commented on #192
OK @justeff I ACCEPT YOUR CHALLENGE!!! 😆  Well, more like I feel your pain.  I myself have been spending the past week going through and _trying_ to get all my identities aligned between GOOG and MSFT... and there is not a single chat solution that I am happy with between the two.  This is especially perplexing as GOOG has like 5 different chat applications and each one of them does something good

[2018-08-08 11:39] justeff commented on #192
Just realized, list string makes no sense for me. The XML is standardized, if I get it from an external source it will be just one big string haha. I need only a content property then :)

[2018-08-08 12:28] Mike-EEE commented on #192
OK COOL... let's see what I can do. 👍

[2018-08-08 15:12] Mike-EEE commented on #192
Alright... I checked this out and I think I have a reasonable path forward here.  I've got some tasks that I have to wrap up for today, but I am going to aim to have this available for you by EOD tomorrow if that works for you.  Assuming there aren't any super-gotchas that impede the path, that is. 😇

[2018-08-08 16:51] justeff commented on #192
Thank you Mike, you don't need to hurry up, I'll use XmlSerializer to get my stuff done and maybe I can switch to this framework later on and benefit from peformance gains :) Have a good day.

[2018-08-08 20:05] Mike-EEE commented on #192
OK cool... maybe I will push it to the weekend then. 😇  I'm getting ready to switch out my hyper-v server to a Windows 10 install and that is going to take a little time.  In either case, I will certainly keep this thread updated.

[2018-08-14 21:51] lordmampf opened #193 "How to call the IExtendedXmlSerializer from IExtendedXmlCustomSerializer?"
Hello ;)

Thanks for your great library. I just found it and started to implement an ExtendedXmlCustomSerializer.
I want to serialize a property with the default IExtendedXmlSerializer class.
Something like a recursive call.

I read Issue #154. And tried this code:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue154Tests.cs#L174-L18

[2018-08-16 14:27] Mike-EEE commented on #193
Hello. 😁

Sorry for the delay here.  I had some major environmental issues to deal with this past week.

The problem you present is indeed a tricky one.  I am not very happy with how to deal with it in v2.  I am better with how it is progressing (or has progressed) in v3.

However, there are several ways to go about this and I have provided examples here:
https://github.com/wojtpl2/ExtendedXmlSeri

[2018-08-16 14:29] Mike-EEE commented on #150
Holy moly!  Have I been in a rabbit hole.  I am just now getting my environment back online and being able to attend to this.  I hope to have this resolved today or tomorrow.  We'll see how I do. 😛

[2018-08-16 14:30] Mike-EEE commented on #192
Holy moly! Have I been in a rabbit hole. I am just now getting my environment back online and being able to attend to this. I hope to have this resolved today or tomorrow. We'll see how I do. 😛

[2018-08-18 20:14] lordmampf commented on #193
Hello ;)

Wow! Thank you very much.
There is no delay, when you answer so fast ;)

I was able to get the Serializer running ;) Thanks for your example.

The only thing I changed:
https://github.com/wojtpl2/ExtendedXmlSerializer/blob/14ed5908649abdf0ab09332324a9b67c7da40c5b/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue193Tests.cs#L77
to
`var result = typeof(RandomType).IsAssignableFrom(para

[2018-08-18 21:34] lordmampf opened #194 "Exception when deserializing List with generic classes"
Hello ;)

I think there is something wrong.
Could you please review my unit test ?

Thanks!

[code]

[2018-08-19 08:11] Mike-EEE commented on #193
OK great!  That's a good point.  We should be using a specification there.  I have gone ahead and updated the example to do this.  Let me know if you have any further questions/issues here and we'll revisit.  Happy to see this worked for you. 👍  Closing for now.

[2018-08-19 08:11] #193 closed

[2018-08-19 08:28] Mike-EEE commented on #194
Weird... the generic parameter type is not being emitted.  Taking a look at this now.  Thank you for reporting this. 👍

[2018-08-19 09:49] lordmampf commented on #193
I just detected another small issue ;)

The `Adapt` extension and the `GenericSerializerAdapter` class are not public.
So I made some small modifications and reflection to get it run in another project ;)

Yesterday I played around with your unit tests only :P

[2018-08-19 10:03] Mike-EEE commented on #194
Very nice find, @lordmampf.  Got any others? 😂

I have deployed a fix to our preview feed.  Please try it out and let me know if you have any issues.  If it works for you then we can deploy to NuGet.

https://www.myget.org/F/wojtpl2/api/v3/index.json

[2018-08-20 11:26] wojtpl2 commented on #194
@Mike-EEE Great job! I don't see any problem. You can create a new build if you like or I can do it. Please let me know if I should do it.

[2018-08-20 14:48] Mike-EEE commented on #194
OK cool... nope, I should get some experience in that. :D  I went ahead and pushed `2.1.4`.  Let's hope it works! 😂  Closing this issue for now.

[2018-08-20 14:48] #194 closed

[2018-08-22 21:14] Mike-EEE commented on #192
Whew... brutal.  Alright.  this sums up how I feel about taking this (self-imposed) challenge:

![](https://i.imgur.com/Q81RPrp.gif)

😛

I got a rough draft in there for you to check out.  I'm not exactly happy with it, however.  It's a poor attempt at mimicking the classic serializer and it is fragile at best.  Unit tests pass but I doubt it will hold up to an actual real world scenario.

The goo

[2018-08-25 05:54] 1342886192 opened #195 "Provide a binary library"
the whole project complied by vs2017, anyone can provide a binary library supported .net 4.0 without have to complied the source code? the library is simple to use and support previouse version ide that is so good!

[2018-08-25 07:49] Mike-EEE opened #196 "Improve Parameterized Content"
Currently the specification used for parameterized content is fixed to the rules specified here:
https://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html

Ideally, we would like to make it so that any specification can be used, in the case that someone has diverting requirements.

[2018-08-25 08:15] Mike-EEE commented on #195
Hey @1342886192 thanks for writing in and the kind words. :)

Unfortunately we are pegged to 4.5 as .NET Standard 2.0 supports that as a minimum framework version. :(

Do note, though, that Visual Studio Community 2017 is free.  :D

https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&rel=15

[2018-08-25 08:25] Mike-EEE commented on #186
Closing this issue for now.  Please do not hesitate to add a new issue or to comment here if you have further thoughts/questions/concerns about this issue/project. :)

[2018-08-25 08:25] #186 closed

[2018-08-27 01:17] 1342886192 commented on #195
Hey @Mike-EEE thank you for your response, any you provide a binary library support for .net 4.5?

Visual Studio Community 2017 is too big to complied the library.

you can send me an email: 1342886192@qq.com.

thank you :)

[2018-08-27 05:53] Mike-EEE commented on #195
Which development environment do you have. @1342886192?  Does it have nuget?  It's easier to use NuGet if you have it.

[2018-08-27 05:57] 1342886192 commented on #195
thank you!
good job!
have a nice day!

[2018-08-27 12:45] Mike-EEE commented on #195
Hehe sure thing.  Those are the problems I like to have. :)  Please let me know if you have any further questions/issues and feel free to either comment here or open a new issue.  Closing this issue for now.

[2018-08-27 12:45] #195 closed

[2018-08-27 13:32] gimi87 opened #197 "Private properties/classes and attributes from System.Attribute/ComponentModel"
Hello :)

I am trying to serialize/deserialize for example `System.Windows.Forms.Button` as below:
[code]
This causes an `System.InvalidOperationException` with:
[code]
OK. Some classes have no parameterless constuctor. Let's build an empty serializers to prevent Cursor/Font to throw an exception:
[code]
and extend the call:
[code]
This causes an `System.InvalidOperationException` with:
[code]
The

[2018-08-27 14:43] Mike-EEE opened #198 "Improve Version Support"
We have a VersionConverter for v3 but not v2.  Add a quick converter for System.Version that allows users to serialize this as a simple string and back.

[2018-08-27 16:44] Mike-EEE commented on #197
Wow... very ambitious, @gimi87. 😆

I took a look at this.  The irony is that objects such as `Cursor` and other WinForms elements make use of serialization constructors, but when you point the classic `XmlSerializer` at it, it throws up. 😮

So in our case we need a clear way to easily avoid types that cannot be serialized outright.  You can use the custom serializers like above.  However, if I und

[2018-08-28 04:33] CameronAM opened #199 "Namespaces and xsd:date formatting"
Given this class:
[code]
I can use the following configuration:
[code]

...to get this result:

[code]
However, the result I really want to get is this:
[code]
Note that the namespace is explicitly applied to the root element, and the date has been formatted to include the a timezone offset.

Do you have any suggestions for getting the preferred output, generically, over a full suite of similar cl

[2018-08-28 11:42] gimi87 commented on #197
Thank you. It lets me avoid the exceptions. But... I have another weird situation.
Assume that I have classes:
[code]
Look at the listing below:
[code]
That creates long XML listing:
[code]
From https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.button?redirectedfrom=MSDN&view=netframework-4.7.2 the inheritance is:
Object -> MarshalByRefObject -> Component -> Control -> ButtonBase ->

[2018-08-28 11:56] Mike-EEE commented on #199
Hey @CameronAM it looks like we were 1-out-of-2 here.  The custom date formatting is currently possible.  However, the prefix registration was not.  I have gone ahead and added very basic support for this and you can see this in action here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/f3df7b7fd2dafb82c595db42d27690eff070b767/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue199Tests.

[2018-08-28 16:36] Mike-EEE commented on #197
Alright @gimi87 I believe I got the issue addressed with `Ignore`.  You can find the latest version here on our preview feed:
https://www.myget.org/F/wojtpl2/api/v3/index.json

[2018-08-29 08:25] gimi87 commented on #197
That `Emit` extension was close to the solution (I will use it in another part of application, thanks), but the latest commit solved my problem with `Ignore` method. I can now hide properties precisly and show them back when I want.

But... I ended with another situation with `System.Reflection.AmbiguousMatchException`. Look at the classes:
[code]
and the listing:
[code]
This causes an `System.Ref

[2018-08-29 11:01] gimi87 commented on #197
Thank you for your patience. Yes... it can be a workaround, but not a good solution, because I have to remember to `Ignore` modified properties.
Look... I prepared a sketch where you can look at the next `System.ArgumentException` 😃
Classes/interfaces:
[code]
and the call:
[code]

[2018-08-29 14:06] Mike-EEE commented on #197
Oh man... I'M GETTING MY WORKOUT HERE COACH!!! 😂

Relatively easy to resolve the properties.  I *think* it works? 🤔 😁

Please try from the preview feed.

Also, if you find another issue (or I should say _when_ you do 😆) please create a new issue so we can track it there. 👍

[2018-08-29 15:07] gimi87 commented on #197
Thank you. Very, very much. The problem has been solved. You are the god 😃!

[2018-08-29 15:13] Mike-EEE commented on #197
Woohoo!  I am kinda relieved to hear that?! LOL.  No, it's good.  It's a challenge but most importantly it improves quality.  Thank you for your efforts!  I will be closing this now and releasing `2.1.6`.  Please feel free to open another issue of course if you encounter another issue. 👍

[2018-08-29 15:13] #197 closed

[2018-08-29 15:18] Mike-EEE commented on #198
This is in `2.1.6`.

[2018-08-29 15:18] #198 closed

[2018-08-30 01:10] CameronAM commented on #199
Thanks @Mike-EEE - I was struggling to figure out how to get the custom formatting working in the cases I needed, and managed to figure out a workaround using the standard XmlSerializer.

[2018-09-03 12:19] Mike-EEE opened #200 "Improve Metadata Specifications"
Make it a bit easier/accessible (pun? 😆) to supply specifications for members to be included during selection.  In this case demonstrate private setters which are excluded by default.

[2018-09-10 14:08] bpaczkowski opened #201 "Issue deserializing List<object> with null value"
I have the following example class:

[code]

Serializing it generates the following xml:

[code]

When deserializing it I get the following exception:

[code]

ExtendedXmlSerializer version: 2.1.6

[2018-09-10 18:06] Mike-EEE commented on #201
Wow!  I am SHOCKED that this happens!  I thought for sure we had already addressed this but in looking back it is for properties and not collections, doh!

I just now checked in a fix.  Please get the latest from our preview feed here:
https://www.myget.org/F/wojtpl2/api/v3/index.json

Let me know if everything is OK and I will push 2.1.7. :)

Thanks for reporting this. 👍

[2018-09-10 19:15] bpaczkowski commented on #201
2.1.6 is the newest on that nuget feed. It shows it as updated today a few hours ago, but the fix doesn't seem to be in that version. Are you sure you pushed the correct dll? 🙂

[2018-09-10 19:31] Mike-EEE commented on #201
Ah you might be running into #184.  Try clearing out your local nuget copy of the `ExtendedXmlSerializer` in your `.nuget/packages` and try again.  It *should* get you the right package.  It's basically a caching issue we are running into with the preview feed.

[2018-09-11 01:01] Mike-EEE commented on #199
Alrighty, closing this issue for now.  Please let me know if you have any other questions/issues and I will do my best to help you out. 👍

[2018-09-11 01:01] #199 closed

[2018-09-11 01:01] Mike-EEE commented on #200
Addressed in `2.1.7`

[2018-09-11 01:01] #200 closed

[2018-09-11 01:02] Mike-EEE commented on #201
OK... I've pushed `2.1.7`.  It should be public here in the next hour.  Please let me know if you run into any problems and I will help out to see what's wrong.  Closing this issue for now.

[2018-09-11 01:02] #201 closed

[2018-09-11 05:54] bpaczkowski commented on #201
Clearing the cache indeed worked. The reported issue is also fixed, thanks for the quick response!

[2018-09-12 00:32] CameronAM commented on #199
:+1:

[2018-09-12 14:26] FaustoNascimento opened #202 "Documentation: Further explain how EnableReferences() works"
There's a small section in the readme about how `EnableReferences()` works, but the sole example shows the usage of an `Id` property at the class level but at the same time there's an overload for `EnableReferences()` that accepts no parameters.

I *would expect* that when the overload with no parameters is called that `ExtendedXmlSerializer` automatically creates an internal ID for the object, bu

[2018-09-12 14:35] FaustoNascimento opened #203 "EnableReferences() requires public empty ctor even with EnableParameterizedContent() extension"
Take the following class:

    public class Person
    {
        public Person(string name)
        {
            Name = name;
        }

        public string Name {get; set;}

        public Person Mother {get; set;}

        public Person Father {get; set;}
    }

When attempting:

    using (var xmlWriter = XmlWriter.Create(path, new XmlWriterSettings { Indent = true }))
    {
        var seri

[2018-09-13 12:19] FaustoNascimento opened #204 "Make FrameworkExtensions public"
Trying to create a `ISerializerExtension` as per #196 and in accordance to the [test for the same issue](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue196Tests.cs).

The problem is  the test makes usage of `IServiceRepository.RegisterWithDependencies<TFrom, TTo>()` which lives in the `static class FrameworkExtensions` - and that i

[2018-09-13 16:46] Mike-EEE commented on #202
Heya @FaustoNascimento thank you for writing in.  Indeed we have a bit of a documentation deficiency here.  Our repo here with issues has been picking up the slack as we get developers asking questions, so I have tried to assist with filling out the blanks as they occur.  I myself hate writing documentation but enjoy typing to an actual human being (wait, you are real, right? 😆) so we get what we

[2018-09-13 17:08] Mike-EEE commented on #203
Very close here.  We follow the protobuf rules as [outlined here](https://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html).  This requires that all arguments are read-only and match the same name as their properties.

With the following class:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/e3c45917b49cd595012c6da80dae62441e3e4cf0/test/ExtendedXmlSerializer.Tests/Re

[2018-09-13 17:17] Mike-EEE commented on #204
Good point. :)  We basically have everything sealed and are unsealing things on a case-by-case basis.  I've gone ahead and done this and will push 2.1.8 soon.

[2018-09-13 20:00] FaustoNascimento commented on #203
Dope! Yeah ... guess sometimes you just need to take a step back and look at it from a different angle. I was so sure that the problem was coming from `EnableReferences()` that I never even contemplated the fact that it was because the property referenced in the ctor had a `public setter` ... sigh... let me test this out when I get to the office tomorrow and I'll close this issue if it works.

[2018-09-17 09:15] FaustoNascimento opened #205 "Discussion Around Parameterized Content"
Given the class...

    public class Person
    {
        private IList<Person> _friends = new List<Person>();

        public Person(string name)
        {
            Name = name;
        }

        public Person()
        {
        }

        public string Name { get; set; }

        public IList<Person> Friends
        {
            get => _friends;
            set => _friends = value ?? throw

[2018-09-17 12:49] FaustoNascimento commented on #205
Just did some further tests: if I remove the empty ctor and the `public setter` on `Name` then the deserialized `snoopy` has a name, but still no friends. Also tried making `Friends` an auto-property with no default value (not that I would expect that to have an impact on it) but snoopy is still friendless - `snoopy.Friends == null` after deserialization, no matter what.

[2018-09-17 12:57] FaustoNascimento commented on #205
It appears to me that the deserializer is *only* ever calling the appropriate ctor and never attempting to set the values of the properties with a (public) setter.

If instead of the above class I use the following:

    public class Person
    {
        public Person(string name, IList<Person> friends)
        {
            Name = name;
            Friends = friends ?? new List<Person>();

[2018-09-17 16:04] Mike-EEE commented on #205
Nice find @FaustoNascimento. For some context, the parameterized content was a passing thought/neat idea when I put it in for v2 initially.  It was never meant to be a "first class" feature of v2 but it ended up being that way. :)  We're also running into the issue of numerous extensions that are "just added" but really do not know about each other.  For the most part this has (amazingly) worked,

[2018-09-19 03:41] Mike-EEE commented on #205
Ah btw @FaustoNascimento the preview feed is here:
https://www.myget.org/F/wojtpl2/api/v3/index.json

:)

Let me know if you run into any further questions/problems/issues and I will help you out here. 👍

[2018-09-19 03:43] Mike-EEE commented on #204
Closing this now as this has been deployed.  Please let me know if you have any further questions/requests around this and I will take a look into it.

[2018-09-19 03:43] #204 closed

[2018-09-19 08:11] jonassix opened #206 "ArrayOfType"
Hi,

I want to deserialize a List. This is my xml structure

[code]

My class is named TravelFile And i try to deserialize like this.

[code]

I tried different approaches, including implementing a custom serializer how ever, i keep running against the same error.
``System.InvalidOperationException: 'An attempt was made to load a type with the fully qualified name of 'ArrayOfTravelFile', but no ty

[2018-09-19 09:54] FaustoNascimento commented on #205
@Mike-EEE ok, I've tested it and ... while it's looking better, `snoopy` still has no `Friends`.

Using the following class (which is as close to the actual class I've got as it gets):

    public class Person
    {
        public Person(string name)
        {
            Name = name;
        }

        public string Name { get; set;  }

        public IList<Person> Friends { get; set;  } = new Li

[2018-09-19 09:56] FaustoNascimento commented on #205
FYI, even if I remove `Extend(WritableParameterizedContentExtension.Default)` and also remove the public setter from `Name`, snoopy is still friendless.

[2018-09-19 11:37] Mike-EEE commented on #206
Wow @jonassix thanks for writing in and reporting this.  I took some time to check this out and I am indeed surprised that this doesn't work as we do have `EnableClassicMode` which is supposed to be conformant for scenarios such as these.

We could (and should) provide this functionality for classic mode, but doing so now will break those who are using it.  That is, currently classic mode is seria

[2018-09-19 11:47] Mike-EEE commented on #205
Ah.. are you able to make the code from the passing test work, @FaustoNascimento?  What is the difference where it stops working for you?

[2018-09-19 11:55] FaustoNascimento commented on #205
The difference is that you have a `ctor` that accepts `List<People>`, I don't :)

[2018-09-19 11:55] Mike-EEE commented on #205
Ah  I see it.  Make sure you have `friends` passed in as an argument:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/1dc8192ce257a199fc71e06243d96e74dff71d99/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue205Tests.cs#L63-L67

Also, going to post the rules here from the [aforementioned source](https://blog.marcgravell.com/2011/08/automatic-serialization-whats-in-tuple.html), for compl

[2018-09-19 12:28] Mike-EEE commented on #206
Ah here's a mention of `EnableImplicitTyping`:
https://github.com/wojtpl2/ExtendedXmlSerializer#implicit-namespacestyping

If this case we're not exactly using it as what that was designed for, but that's OK. 😆

You will have to add other types that are used as well, so `Participant`:
[code]

We also offer type locators that you can use to find all types in an assembly/namespace:

[code]

[2018-09-19 12:36] FaustoNascimento commented on #205
And while this could be fixed with further extensions, because like you said they don't know about each other it feels to me like it would make more sense to pass some (optional) parameters to `EnableParameterizedContent()` describing how it should behave.

[2018-09-19 12:40] Mike-EEE commented on #205
You lost me at the public setter. 😉

Both the referenced source and EXS (as well as protobuf, the source of the source, lol) all expect and use immutable objects and construction by default.

FWIW this can be solved by using the following class definition along with the writable properties extension:

[code]

And yes, the great thing about having an extension-based framework is that you can make e

[2018-09-19 12:46] FaustoNascimento commented on #205
Sure, but I still need to create a ctor with all properties referenced in my class. And some of my classes have 20+ properties with public setters and I have over 30 classes affected.

It would be easier to just make an empty public ctor, although that also defeats the purpose ...

[2018-09-19 12:51] jonassix commented on #206
This unfortunatly does not work.
[code]

It remains null.

Also i wil convert this code to be able to handle all of my classes using generics. not just TravelFile.
So this means i'll have to use reflections to find all parameters and then add them as type param in the EnableImplicitTyping part.
It's okay if i have to do this but i'm a bit supprised.

the function .EnableImplicitTyping(new PublicTy

[2018-09-19 13:04] Mike-EEE commented on #206
Ah ok I am a little confused here.  Are you saying you are wanting to deserialize generic types? That isn't supported by the classic serializer as far as I know.  Or is that why you are here? 😂

As for your problem with serialization, let's see if you can spot the problem:

[code]

:)

I have also committed code with passing test demonstrating the type collection/builder as well. 👍

[2018-09-19 13:11] Mike-EEE commented on #205
Hey don't look at me @FaustoNascimento I only followed and implemented the rules as I happened to like and agree with them. 😂

Also FWIW, generating constructors is a snap with ReSharper.

Otherwise, this is obviously would a great scenario to leverage an extension to see if you can get it to do what you need.  If there are any classes/impediments that you encounter let me know so I can get them r

[2018-09-19 13:12] Mike-EEE commented on #206
Boooo... I got the wrong issue #!  here's the commit:
https://github.com/wojtpl2/ExtendedXmlSerializer/commit/e63b45c69ebf18a809fc934b097be45e73a4e39f

[2018-09-19 13:13] Mike-EEE commented on #205
Disregard the commit for #205 above.  I am not too good with Git.  Obviously. 😂

[2018-09-19 13:35] jonassix commented on #206
:p sure, i copy pasted it wrong. But i can assure you that's not the issue.

[code]

but now i receive the original exception again. I asume, my publicNestedTypes is wrong, because if drill through i get a count of 0

.

With generics i meant, that i will create a Generic Deserialize method so i can define it's type at run time.

[2018-09-19 14:12] FaustoNascimento commented on #205
So how would I serialize/deserialize a `FileInfo` or a `FileStream` objects for example? Neither has an empty public ctor and they both have properties with public setters :)

[2018-09-19 14:35] Mike-EEE commented on #206
Ah I see your pain @jonassix !

Check it out:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/efd659835fd9aace055aca90773e1d4654ddf066/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue206Tests.cs#L16-L36

BETTER ??? 😁

[2018-09-19 14:36] Mike-EEE commented on #206
FWIW you will have to try it from our preview feed here:
https://www.myget.org/F/wojtpl2/api/v3/index.json

[2018-09-19 14:45] Mike-EEE commented on #205
This is a workaround for the rules outlined above, but mostly a demonstration of how the extensions work.  The point/value showing how to work around the rules above if you need to do so.

You can try using the `EnableAllConstructors` extension method which will use private constructors, if you wish. :)

[2018-09-19 14:56] FaustoNascimento commented on #205
I understand that, but the workaround does not work (as expected). I haven't quite understood how the extensions work to be honest, which is why I'm asking how to do it with an extension.

[2018-09-19 15:05] jonassix commented on #206
Damn you work fast. Just tried it unfortunatly the same error.

You are passing Issue206Tests instead of TravelFile as a type. That is something i cannot do. I only have type TravelFile.

What am i doing wrong?

[code]

`System.InvalidOperationException: 'An attempt was made to load a type with the fully qualified name of 'ArrayOfTravelFile', but no type could be located with that name.'

`

[2018-09-19 16:06] FaustoNascimento commented on #205
This might be a different issue altogether, but it doesn't feel like creating own extensions is really that easy because pretty much all interfaces and classes used in the creation of extensions are `internal`.

So if I wanted to create my own version of `ParameterizedMembersExtension` by removing/modifying some of the `Register()` or `Decorate()` calls, I can't.

[2018-09-19 16:14] FaustoNascimento commented on #203
Ok, this can be closed as the issue was completely different than the one advertised and as you said it's intended.

[2018-09-19 16:14] #203 closed

[2018-09-19 16:31] FaustoNascimento commented on #205
Just a thought but ... how about creating 3 extensions for non-empty ctors?

Not going to try to name them, 'cause I suck at that but ...

- One extension that follows the rules of protobuf-net to the letter (the current one)
- One extension that is slightly looser and simply demands that properties set via the ctor have no public setter
- One extension that just doesn't care about public setters

[2018-09-19 16:43] Mike-EEE commented on #206
Outside of a test environment it is different. :)  Try:

[code]

CROSSING FINGERS @jonassix 🤞😂

[2018-09-19 17:01] Mike-EEE commented on #205
It's not _the_ workaround, it's **a** workaround. :) And it does work for how it's intended.  We have now entered into another territory where it does seem more extensions are required.  As such...

Indeed this is an open source project and those extensions are all possible.  Well, one (the first one) is more than that, it's already DONE. 😂  So it sounds like having two extensions made.

As for in

[2018-09-19 18:51] FaustoNascimento commented on #205
Apologies, wasn't aware of this, thought that while you were working towards v3, that v2 was still being actively maintained and improved (rather than just bug fixing).

Well, not quite. Redesigning my classes is not really an option (having an empty private ctor is an option but it feels like dodging the problem rather than fixing it). But I don't see it as this project blocking me. I've always h

[2018-09-19 19:30] Mike-EEE commented on #205
Yep all of the above, LOL.  The intent was to continue to maintain but not introducing anything too disruptive.  Major features are in and complete.  Luckily everything that has been requested has not required significant work and has gone in pretty smoothly.

TBH I am a bit conflicted about encouraging custom extension development.  I would like to see this grow with a community around it, but v3

[2018-09-19 20:07] FaustoNascimento commented on #205
This issue is resolved and can be closed, yes. Although could you explain exactly what the extension WritableParameterizedContentExtension (as per #196) does?

It seems to me like it just allows public setters on properties set by the ctor, but not sure if that's the case?

[2018-09-19 20:26] Mike-EEE commented on #205
Ah, so what that extension does in particular is demonstrate how to register the necessary components to override the default specification used by parameterized content, in this case allowing writable/settable properties (as this is not allowed in the default rules listed above).

That allows this (default requirements):

[code]

To be this:

[code]

[2018-09-19 20:50] FaustoNascimento commented on #205
Ahh I see. It *allows* properties with setters them (as in, no exception thrown), but *doesn't* map them when deserializing. `Name` gets set through the ctor but if I had another property with a public setter and kept the single parameter ctor when deserialized that property's value would be lost (which is what we saw with the snoopy example above).

Ok, issue closed, opening a feature request for

[2018-09-19 20:50] #205 closed

[2018-09-19 20:52] FaustoNascimento commented on #202
If you find some time, adding some more stuff to the readme about circular dependencies would be great, other than that pretty happy with the explanation given and the issue can be closed.

[2018-09-19 20:57] FaustoNascimento opened #207 "[Feature Request] Add (more) extensions for parameterized constructors"
As discussed in #205, would be nice if there were a couple more extensions for controlling how serialization/deserialization occurs when dealing with mutable objects that do not have a public/private empty ctor.

I suggest the following:

- One extension that follows the rules of protobuf-net to the letter (currently implemented one)
- One extension that is slightly looser and simply demands that

[2018-09-20 05:11] Mike-EEE commented on #202
YOU HAVE INSPIRED ME @FaustoNascimento !!! 😆

Check it out:
https://github.com/wojtpl2/ExtendedXmlSerializer/wiki/How-Circular-References-Are-Handled

Closing for now.  Please feel free to continue here with any additional comments.

[2018-09-20 05:11] #202 closed

[2018-09-20 06:51] jonassix commented on #206
that works, but no participants.
I've added an xml file.

[2018-09-20 07:32] jonassix commented on #206
Here you can find the full class library.
[TravelNote.Migrator.Core.zip](https://github.com/wojtpl2/ExtendedXmlSerializer/files/2400170/TravelNote.Migrator.Core.zip)

[2018-09-20 07:34] jonassix commented on #206
you will see stuff like XmlStringDateOfBirth, that is to be able to handle badly formed datetimes.
One of the reasons i want to use this project 😋

[2018-09-20 08:53] Mike-EEE commented on #206
I feel your pain. 😆  So I am looking into this and the issue is that there are elements in the Xml which are not accounted for by the class definition.  For instance, `TravelFile` has a `FileStatus` which is not in the class definition.

We should totally handle this gracefully (and thought we did), but we do not at the moment.  I am looking into this now.  For the time being, however, ensure all

[2018-09-20 09:10] FaustoNascimento commented on #207
Umm... I can't help but move away from this thought that the currently implemented parameterized constructors extension's logic is wrong.

Firstly, because it feels (to me) like the difference between:

`new ConfigurationContainer().Create()`

and

`new ConfigurationContainer().EnableParameterizedContent().Create()`

is that the second allows parameterized constructors. That's it. It's called `Ena

[2018-09-20 09:36] jonassix commented on #206
in my class TravelFile, i have a Enum FileStatus, In The xml i have a string that matches the enum.
How should i handle this?
Maybe it's just me, but finding the correct info in the documention is not that easy 😄

Thanks for looking in to this. Much appreciated.

[2018-09-20 09:38] wojtpl2 commented on #207
How about .Property(p => p.PropStr).SetConstructorParametrName("paramStr").

czw., 20 wrz 2018 o 11:10 FaustoNascimento <notifications@github.com>
napisał(a):

[2018-09-20 09:40] Mike-EEE commented on #207
Yep... nodding along.  To re-iterate this was a "simple" (or cool) idea I had to implement and showcase the extension (along with the "Xamlness" functionality) and it's now taken a life of its own. 😆

The rules do exist to ensure immutability and also to simplify class design.  Classes have less characters and resulting "features" to worry about and to account for, which is one of the tenants of i

[2018-09-20 09:41] FaustoNascimento commented on #207
That feels like a good alternative, happy with that!

[2018-09-20 09:45] Mike-EEE commented on #206
Ah!  No you're right.  I had it taken out on my side. :)  The enum should "just work"...

Actually now looking at it, it should all work.  Let me look into this a little further and flesh out the model here and then update you.

[2018-09-20 10:15] Mike-EEE commented on #206
Alright, now I am really confused.  I was able to make this work with a passing test here:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/147ec024f50e211837c66fde6b3e403ed26fb865/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue206TestsExtensive.cs#L21-L115

The only thing I can think of is perhaps you have a cached assembly?  We have a deployment issue currently with #184.

Try deleti

[2018-09-20 10:20] Mike-EEE commented on #206
If you still cannot get it to work, please create a simple repo somewhere here on GitHub and I will then download and take a look into it.

[2018-09-20 10:27] Mike-EEE commented on #206
Ah!  Found it.  I actually had some elements removed.  There appears to be something with the Dates used.  Looking into this now.

[2018-09-20 10:56] jonassix commented on #206
Okay, Let me know if i still have to provide a repo.

[2018-09-20 11:09] Mike-EEE commented on #206
Ah no worries I believe it had to do with the Ignore attribute.  I've got
Real Life to attend to for a few hours here and I'll get back to it.
 We're close! Hang in the there!  😅

On Thu, Sep 20, 2018, 6:56 AM jonassix <notifications@github.com> wrote:

[2018-09-20 11:39] FaustoNascimento commented on #207
But this is not something a library such as this should enforce. Someone might have genuine reasons for needing something outside of that rule set. You're basically saying "the library *can do this*, but because we think this is bad class design, we prevent you from doing it unless you create your own extensions."

Then just make a `EnableParameterizedContent()` that all it does is `return this.En

[2018-09-20 12:51] Mike-EEE commented on #207
Oh?  You have the magic EXS token of lore that dictates what EXS is _supposed_ to be?  Well then, let's make you the owner of this repo! 🤣  Last I checked, this is @wojtpl2's repo and it's his final say one what this library _should_ enforce.

(Also I did read your edit and I did mean the "rules" to mean the protobuf-origin rules that the parameterized content feature follows).

As opposed to a ty

[2018-09-20 13:07] FaustoNascimento commented on #207
You're twisting my words. I said *a library such as this*, as in a library that aims to cater for multiple different scenarios.

**without an extension model** -- exactly my point, so that would be a limitation at the project level, similar to what happens with XmlSerializer.

But you said already that classes required for extensions are internal and that you'd rather be the one to create/modify e

[2018-09-20 13:50] Mike-EEE commented on #207
The point being that you are presuming a great deal here about what the expectations here are.  What makes you say that we are aiming to cater for multiple different scenarios?  The extensions are but one aspect of this project.  For me, being able to serialize interfaces was a good start. 😆

Some are and some aren't.  In any case you are free to unseal them in your local fork or you can request t

[2018-09-20 14:13] Mike-EEE commented on #206
WHEW... ok.  [I think I finally got it](https://i.kym-cdn.com/photos/images/original/000/954/660/350.jpg). 😛

There was an issue with parsing null values which was not accounted for with our parsers.

I even got you local Xml `DateTime` parsing while I was at it.  Check it out:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/38208b3a2a476b99651227f41085c9b17119638d/test/ExtendedXmlSerialize

[2018-09-20 14:16] Mike-EEE commented on #206
Man that formatting looks nothing like my machine:

![](https://i.imgur.com/rOqY4PF.png)

[2018-09-20 15:13] jonassix commented on #206
Hmm, weird, i don't have DateTimeConverter. But i can see it in your repo.
Am i missing a Library?

the only one i have is ExtendedXmlSerializer v2.1.8.0 , runtime version v4.0.30319

[2018-09-20 15:17] jonassix commented on #206
Lol, just saw in your source code that your class is not public.
So i can't do Register(DateTimeConverter.Local)

[2018-09-20 15:42] Mike-EEE commented on #206
I hate to ask and I apologize as this is going to be an inconvenience between deployments here, but [did you try clearing out your cache](https://www.youtube.com/watch?v=nn2FB1P_Mn8)?  The problem is that if you have a 2.1.8 already on disk, and you get the "latest" from our preview feed, it says it gets it, but it's really not.  The reason why I suspect this is now the problem is [that DateTimeCo

[2018-09-20 15:43] Mike-EEE commented on #206
I guess I should say... every deployment made to our preview feed until we deploy 2.1.8 is going to say is 2.1.8 if that makes sense.

[2018-09-20 15:59] jonassix commented on #206
maybe, just did a reinstall. Perhaps there is some lag. Cause when i looked at the code. it was not public.
now it is.
still dont have it though. instead of providing a repo. I've created a full project for you with your library.
[TravelFileFormatGeneratorTEMP.zip](https://github.com/wojtpl2/ExtendedXmlSerializer/files/2402072/TravelFileFormatGeneratorTEMP.zip)

I used the nuget reinstall command.

[2018-09-20 16:16] Mike-EEE commented on #206
OH!  I totally forgot to leave out a verrrrrrrrrrrry important detail! Haha...

You need to update your class files.  You basically have to get rid of the attributes and all that DateTime handling :)

Check them out now:

[code]

[2018-09-21 06:47] jonassix commented on #206
Alright. That works! Thanks man! And now i can begin using this library 👍

[2018-09-21 10:51] bpaczkowski opened #208 "Is ExtendedXmlSerializer thread safe?"
I have a single static instance of IExtendedXmlSerializer defined like so: `new ConfigurationContainer().Create()`. It is used in multiple threads. I haven't had any problems with it, but I wanted to make sure that this is the intended and safe way to use it, can someone confirm or deny this? I don't see it mentioned in the docs and readme, I only found one vague issue comment [here](https://githu

[2018-09-21 11:47] Mike-EEE commented on #206
Woohoo!  You have no idea how happy that makes me. 😆  That was a rough one!  But worth it.  I think the feeling was when we got v2 done that we wanted to cater to legacy scenarios but the focus was more on having an object-graph serializer that utilized the Xml format.  Now that the dust has settled a bit we're able to tackle these sorts of addendums, granted that they are easy enough to do. :)

I

[2018-09-21 11:47] #206 closed

[2018-09-21 12:17] Mike-EEE commented on #208
It *should* be. :)  Your profile picture is perfect for my assessment, @bpaczkowski. 😆

FWIW I had a problem once with initialization so I added an `EnableThreadProtection` extension method (and extension, of course).  Here it is in action:

https://github.com/wojtpl2/ExtendedXmlSerializer/blob/afe70bb87188072c94b31f3f0151991faabf9d59/test/ExtendedXmlSerializer.Tests/ReportedIssues/Issue208Tests.c

[2018-09-21 15:04] bpaczkowski commented on #208
But theoretically `EnableThreadProtection` is not needed? I think locking the serializer would result in a performance degradation.

From my testing it would seem that ExtendedXmlSerializer stores some state internally even between instances of ExtendedXmlSerializer, is that correct? The way I tested is the first parsing of an xml after starting a process is the longest, all further parsing is an

[2018-09-21 16:46] Mike-EEE commented on #208
It _totally_ does!  Haha.  I do not think it is needed except for some scenarios where you might have a race condition with creating a serializer.  Technically that is not the concern of EXS and could be handled outside of it.  It's probably why I haven't really mentioned it until now, either.

And yes there is a lot of caching mechanisms that are employed so that sounds about accurate.  Most are

[2018-09-21 17:30] bpaczkowski commented on #208
Ahh I see. The serializer is created statically so I guess that shouldn't be a problem. Thanks for the prompt response.

That "long story" was an interesting read :wink:

I do have another totally unrelated question. Is the big performance degradation when using `UseOptimizedNamespaces` expected? Not a very good example, but recently we had a migration that required parsing and serializing back a

[2018-09-21 18:40] Mike-EEE opened #209 "OptimizeNamespaces Sounds Slow"
Per https://github.com/wojtpl2/ExtendedXmlSerializer/issues/208#issuecomment-423613958

[2018-09-21 18:43] Mike-EEE commented on #208
Haha I honestly am so burnt out over that whole ordeal.  I had about 10% of the energy required to even force myself to write anything remotely close to it.  It's cool now as I have a much better perspective when diving into performance and have the tooling needed to weed out false positives, etc.  But still.  THE BURN OMG NEW TOPIC PLEASE.

WOW... that does sound suspicious.  To be certain we do

[2018-10-03 16:37] Mike-EEE commented on #209
Alright @bpaczkowski,  I _finally_ got some time to take a look at this.  Turns out (speaking of caching 😅) that we were improperly building a cache plan for the condition/specification that determined when to build the identity list from the root instance.  The result was _always_ returning true so it was building the identity list with each and every call for an `XmlWriter` identity.  That means

[2018-10-03 16:38] Mike-EEE commented on #208
Closing this for now as I believe we answered the driving question here.  Please feel free to comment further and we can re-open if need be.

[2018-10-03 16:38] #208 closed

[2018-10-03 16:40] Mike-EEE opened #210 "Upgrade to .NET Core 2.1"
Wow... 2.0 is already EOL:
https://github.com/dotnet/announcements/issues/86

[2018-10-03 19:34] Mike-EEE commented on #210
I am thinking this should bump us up to `2.2.0`.  What do you think, @wojtpl2 ?

[2018-10-04 17:01] bpaczkowski commented on #209
Sorry I wasn't of more help... I can confirm that on 2.1.9 `UseOptimizedNamespaces` is much much faster than before. Performance overhead of OptimizedNamespaces at the moment according to my test is about 25%, which is a "little" less than >12000% like it was before 😄.

[2018-10-04 17:46] Mike-EEE commented on #209
Woohoo!  That's great news @bpaczkowski.  Super glad to hear that is working better for you and SUPER DUPER glad that it's less than 12,000% (!) 😆

I will see if I can get this out into the field soon. 👍

[2018-10-04 19:29] Mike-EEE commented on #210
I thought about this a bit more and it seems incongruent to have 2.2.0 for EXS and 2.1 for .NET Core.  So, `2.1.10` it is. 😁

However... I just noticed that nuget hasn't updated since 2.1.6!  Is there something wrong with the deployment or did I do something in error again? :(

[2018-10-04 20:02] wojtpl2 commented on #210
No. This time it is my fault. key from nuget was expired. Tomorrow I'll try
to fix it.

On Thu, Oct 4, 2018, 21:29 Mike-EEE <notifications@github.com> wrote:

[2018-10-05 08:44] wojtpl2 commented on #210
I've updated Nuget keys. Can you try move tag v2.1.10
<https://github.com/wojtpl2/ExtendedXmlSerializer/releases/tag/v2.1.10>
?

czw., 4 paź 2018 o 22:02 wojtpl2 <wojtpl2@gmail.com> napisał(a):

[2018-10-05 08:52] wojtpl2 commented on #210
I think that library should be created in as low as posible version. Then many user can use it.
Almost every library is created in the same way. Eg: https://www.nuget.org/packages/Newtonsoft.Json/
Newtonsoft.Json is available for .net Standard 1, 1.3 and 2. All feature with are unavailable in 1 are in `#ifdef`.